{extend name="layout/layout" /}

{block name="cssOrcrsipt"}
<link rel="stylesheet" href="/static/weixin/css/answer-details.css">
{/block}

{block name="main"}
<div class="wl-top">
    <i class="iconfont icon-back_light" onclick="redream.toReferer()"></i>
    我的问答
</div>
<div class="wl-answer-details">
    <div class="wl-title">
        就让牛股题主虎泸沽湖塔伊尔哦汤普森突破图片就节后途虎去我婆婆
    </div>
    <div class="wl-huida"><span class="wl-mehuida"><i class="iconfont icon-combinedshapecopy2"></i>我要回答</span>3个回答 <i class="iconfont icon-back_left-copy"></i></div>
</div>
<div class="wl-user-name">
    <div class="wl-answers-top">
        <img src="http://172.16.100.85:81/head/e0691a27d8871e6b46f1de6cb0332553.png" alt="" onerror="this.src ='/static/image/user/tou.png'">
        <div class="wl-answers-name">
            <dt>上海人民美容整形医院</dt>
        </div>
        <span class="wl-read">阅读 2</span>
    </div>
    <div class="wl-conter">
        就让牛股题主虎泸沽湖塔伊尔哦汤普森突破图片就节后途虎去我婆婆
    </div>
    <div class="wl-establish">创建于2019-12-12</div>
</div>
<div class="reply-comments">
    <div class="wl-reply-top">
        评论 10
    </div>
    <div class="wl-answers-top">
        <img src="http://172.16.100.85:81/head/e0691a27d8871e6b46f1de6cb0332553.png" alt="" onerror="this.src ='/static/image/user/tou.png'">
        <div class="wl-answers-name">
            <dt>上海人民美容整形医院</dt>
        </div>
    </div>
    <div class="wl-conter wl-conter1">
        就让牛股题主虎泸沽湖塔伊尔哦汤普森突破图片就节后途虎去我婆婆
        <div class="wl-establish">刚刚</div>
    </div>
</div>

<div class="marsk-container">
    <div class="tkyy_con">
        <textarea name="" id="wl-pincontent"></textarea><span class=" iconfont icon-fabu"></span>
    </div>
</div>
<ul class="wl-reply-footer">
    <li class="wl-pinglun"><i class="iconfont icon-combinedshapecopy2 wl-write"></i> 写评论...</li>
    <li><i class="iconfont icon-pinglun1 wl-comment-icon"></i><span class="wl-reply-num">12</span></li>
    <li><i class="iconfont icon-dianzan2 wl-comment-icon"></i></li>
    <li><i class="iconfont icon-web__bitebiyoujiantou wl-comment-icon"></i></li>
</ul>
{/block}

{block name="script"}
<script src="/static/js/functions.js"></script>
<script>
    $(".wl-pinglun").click(function (event) {
        event.stopPropagation(); //停止事件冒泡
        $(".marsk-container").toggle();
        $('#wl-pincontent').focus();
    });

    //点击空白处隐藏弹出层
    $(".marsk-container").click(function (event) {
        var _con = $('.tkyy_con'); // 设置目标区域
        if (!_con.is(event.target) && _con.has(event.target).length == 0) {
            $('.marsk-container').hide(); //淡出消失
        }
    });
    $('textarea').keydown( function(e) {
        var key = window.event?e.keyCode:e.which;
        if(key.toString() == "13"){
            return false;
        }
    }).on('input', function () {
        this.style.height = (this.scrollHeight) + 'px';
    });
</script>
{/block}