<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="applicable-device" content="pc,mobile">
    <link rel="stylesheet" href="/static/css/detailsDoctor.css">
    <link rel="stylesheet" href="/static/css/iconfont.css">
    <title>Title</title>
</head>
<body style="background: white">
<header>
    <div class="wl-top">
       <i class="iconfont icon-back_light" style="font-size: 25px;position: absolute;left: 10px;top: 1px;"  onClick="redream.toReferer()"></i>
        医生资料
    </div>
</header>
<main>
    <div class="wl-rongyu">名字: <span>金发少年</span></div>
    <div class="wl-rongyu">职称: <span>主治医师</span></div>
    <div class="wl-rongyu">擅长项目: <span>眼科整形</span></div>
    <div class="wl-yishenjian">医生简介：</div>
    <div class="wl-jianjie">
        <div>医生荣誉医生荣誉医生荣誉医
            生荣誉医生荣誉医生荣誉医生荣誉医生荣誉医生荣誉医生荣誉
        </div>
        <p style="margin-top: 20px">个人经历:</p>
        <div style="margin-top: 5px">医生荣誉医生荣誉医生荣誉医
            生荣誉医生荣誉医生荣誉医生荣誉医生荣誉医生荣誉医生荣誉生
            荣誉医生荣誉医生荣誉医生荣誉医生荣誉医生荣誉医生荣誉
        </div>
        <p style="margin-top: 20px">擅长项目:</p>
        <div style="margin-top: 5px">眼部整形、鼻部整形、胸部整形、眼部整形、鼻部整形
        </div>
    </div>

</main>

</body>
<script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/functions.js" type="text/javascript" charset="utf-8"></script>
<script>

</script>
</html>