<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="applicable-device" content="pc,mobile">
    <link rel="stylesheet" href="/static/css/detailsDoctor.css">
    <link rel="stylesheet" href="/static/css/iconfont.css">
    <link rel="stylesheet" href="/static/css/function.css">
    <title>{:config('conf.title')} - 医生资料</title>
</head>
<body style="background: white">
<header>
    <div class="wl-top">
       <i class="iconfont icon-back_light" style="font-size: 25px;position: absolute;left: 10px;top: 1px;"  onClick="redream.toReferer()"></i>
        医生资料
    </div>
</header>

<main>
    <div class="wl-rongyu">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名: <span>{$info['doctor_info']['real_name']}</span></div>
    <div class="wl-rongyu">岗位职称: <span>{$info['doctor_info']['duties']}</span></div>
    <div class="wl-rongyu">擅长项目: <span>{$info['doctor_info']['speciality']}</span></div>
    <div class="wl-yishenjian">简介：</div>
    <div class="wl-jianjie">
        {$info['doctor_info']['doctor_profile']}
    </div>
</main>

</body>
<script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/functions.js" type="text/javascript" charset="utf-8"></script>
</html>