<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="applicable-device" content="pc,mobile">
    <link rel="stylesheet" href="/static/weixin/css/details_hospital.css">
    <link rel="stylesheet" href="/static/weixin/css/iconfont.css">
    <title>{:config('conf.title')} - 医院认证</title>
</head>
<body style="background: white">
<header>
    <div class="wl-top">
        <i class="iconfont icon-back_light" style="font-size: 25px;position: absolute;left: 10px;top: 1px;"  onClick="redream.toReferer()"></i>
        医院资料
    </div>
</header>
<main>
    <div class="wl-rongyu">医院名称: <span>{$info['hospital_name']}</span></div>
    <div class="wl-rongyu">医院性质: <span>{$info['type']}</span></div>
    <div class="wl-rongyu">擅&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;长: <span>{$info['speciality']}</span></div>
    <div class="wl-rongyu">成立时间: <span>{$info['founding_time']}</span></div>
    <div class="wl-rongyu">医院规模: <span>{$info['hospital_scale']}</span></div>
    <div class="wl-yishenjian">简介：</div>
    <div class="wl-jianjie">
        <div>{$info['profile']}</div>
    </div>
</main>

</body>
<script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/functions.js" type="text/javascript" charset="utf-8"></script>
<script>

</script>
</html>