{extend name="layout/layout" /}

{block name="cssOrcrsipt"}
<!--<link rel="stylesheet" href="/main.css">-->
<link rel="stylesheet" href="/static/weixin/css/diary_user.css">
<link rel="stylesheet" href="/static/plugin/mescroll/mescroll.min.css">
<link rel="stylesheet" href="/static/plugin/layui/css/layui.css">
<style>

</style>
{/block}

{block name="main"}
{include file="layout:header" /}

<div class="wl-body">
    <header>
        <div class="wl-liebiao">
            <ul>
                <a href="/weixin/index/index"><li>推荐</li></a>
                <a href=/weixin/shop/haveGood""><li>有好货</li></a>
                <a href="/weixin/index/diaryUser"> <li class="actice" >日记</li></a>
            </ul>
        </div>
    </header>
    <!--这里编写主体内容-->
    <div class="wl-diary-center  mescroll" id="container">
        <div id="container-list">

        </div>
        <div style="clear: both"></div>
    </div>

</div>

{include file="layout/footer" /}
{/block}

{block name="script"}
<script src="/static/plugin/layui/layui.all.js"></script>
<script src="/static/plugin/mescroll/mescroll.min.js" charset="utf-8"></script>
<script id="templateList" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
    <div class="wl-diary-top" data-id="{{item.id}}">

        <dl>
            {{#if(item.after_imgs.length > 0){ }}
                <img src="{{item.after_imgs[0]}}" alt=""  class="wl-diary-img">
            {{# } }}

            {{#if(item.after_imgs.length == 0){ }}
                <img src="{{item.before_imgs[0]}}" alt=""  class="wl-diary-img">
            {{# } }}
        </dl>
        <dt>{{item.title}}</dt>
        <dd>
            <img src="{{item.portrait}}" alt=""  onerror='this.src="/static/image/user/tou.png"'>
            <span><span class="wl-diary-name">{{item.nickname}}</span></span>
        </dd>
        <div style="clear: both"></div>
    </div>

    {{#  }); }}
</script>
<script>
    var listObj = {
        searchList: function (page, successCallback, errorCallback) {
            $.ajax({
                url: '/weixin/api/getDiaryList',
                type: 'post',
                data: {page: page.num, page_size: page.size},
                dataType: 'json',
                success: function (res) {
                    successCallback(res.data.rows);
                }
            });
        },
    };
    var mescroll = new MeScroll("container", {
        down:{auto:true},
        up: {
            clearEmptyId: "container-list",
            page: {num: 0,size: 20},
            htmlNodata: '<p class="upwarp-nodata">-- 已加载全部 --</p>',
            isBounce: false,
            noMoreSize: 16,
            empty: {
                icon: "/static/weixin/shop/image/tuoian.png",
                tip: "亲,没有您要找的商品~", //提示
            },
            callback: function(page){
                listObj.searchList(page,function(curPageData){
                    mescroll.endSuccess(curPageData.length);
                    layui.laytpl(templateList.innerHTML).render(curPageData, function(html){
                        $('#container-list').append(html);
                    });
                }, function(){
                    mescroll.endErr();
                });
            }
        }
    });
    $(document).on('click','.wl-diary-top',function () {
        window.location.href ='/weixin/shop/diary?id='+$(this).data('id');
    })
</script>
{/block}