{extend name="layout/layout" /}
{block name="cssOrcrsipt"}
    <link rel="stylesheet" href="/static/css/doctor.css">

    <link rel="stylesheet" href="//at.alicdn.com/t/font_890503_haekiko2b0f.css">
{/block}
    <style>
        .href{cursor: pointer}
    </style>
<!--<body style="background: #EEEEEE">-->
<!--<main  id="cus-container">-->
    <!--<div id="cus-container-list">-->

    <!--</div>-->
<!--</main>-->
<!--</body>-->

{block name="main"}

<!--这里编写主体内容-->

<main  id="cus-container" style="background: #EEEEEE;padding-bottom: 100px;height: 100%">
    <div id="cus-container-list">

    </div>
</main>
{include file="layout/footer" /}
{/block}
{block name="script"}
<script id="demo" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
            <div class="wl-conter href cus-to-doctor-details" data-uid="{{item.user_id}}">
                <div class="wl-toux"><img src="{{item.portrait}}" onerror="this.src ='/static/image/user/tou.png'" width="41" height="41"></div>
                <div style="position: relative"><span class="wl-biao"></span></div>
                <div class="wl-pingjia">
                    <dl>{{item.real_name}}</dl>
                    <dd>
                        {{#  if(item.hospital_name != null){ }}
                        {{ item.hospital_name}}
                        {{#  } }}
                    </dd>
                    <dt><i class="iconfont icon-xingji"></i>
                        <i class="iconfont icon-xingji"></i>
                        <i class="iconfont icon-xingji"></i>
                        <i class="iconfont icon-xingji"></i>
                        <i class="iconfont icon-xingji"></i>
                        <span style="margin-left: 8px">评价 <span style="padding: 0 3px 0 0px">|</span></span>
                        <span>{{item.case_num}}案例<span style="padding: 0 3px 0 3px;">|</span></span>
                        <span style="margin-top: 1px">{{item.article_num}}文章</span>
                    </dt>
                    <span class="iconfont icon-back_left-copy wl-renzheng" style="font-size: 25px;color: #AAAAAA"></span>
                </div>
            </div>
    {{#  }); }}
</script>

<script type="text/javascript">

    var myObj = {
        doctor:{
            listData: {
                loading: false,
                ini: false,
                page: 0,
                page_total: 1,
                page_size: 15,
            },
            template:function(data){
                var head_img      =  (data.portrait == null) ? '':data.portrait;
                var hospital_name =  (data.hospital_name == null) ? '':data.hospital_name;
                return ;
            },
            loadList: function (me) {
                if (myObj.doctor.listData.loading) {
                    return false;
                }

                myObj.doctor.listData.page++;
                if (myObj.doctor.listData.ini == true) {
                    if (myObj.doctor.listData.page > myObj.doctor.listData.page_total) {
                        me.resetload();
                        return false;
                    }
                }

                $.ajax({
                    url: "/weixin/api/getDoctorList",
                    type: 'post',
                    data: {page: myObj.doctor.listData.page, page_size: myObj.doctor.listData.page_size},
                    dataType: 'json',
                    beforeSend: function () {
                        myObj.doctor.listData.loading = true;
                    },
                    complete: function () {
                        myObj.doctor.listData.loading = false;
                    },
                    success: function (res) {
                        if (res.code == 200) {
                            if ( myObj.doctor.listData.ini == false) {
                                myObj.doctor.listData.ini = true;
                                myObj.doctor.listData.page_total = res.data.page_total;
                                $('#cus-container-list').html('');
                            }

                            // $.each(res.data.rows,function(k,val){
                            //     $('#cus-container-list').append(myObj.doctor.template(val));
                            // });
                            layui.laytpl(demo.innerHTML).render(res.data.rows, function(html){
                                $('#cus-container-list').append(html);
                            });
                            if ( myObj.doctor.listData.page >=  myObj.doctor.listData.page_total) {
                                me.noData();
                            }
                        }
                        me.resetload();
                    }
                });
            }
        }
    };

    $('#cus-container').dropload({
        scrollArea: window,
        loadUpFn: function (me) {
            myObj.doctor.listData.loading = false;
            myObj.doctor.listData.ini = false;
            myObj.doctor.listData.page = 0;
            myObj.doctor.listData.page_total = 1;
            myObj.doctor.loadList(me);
        },
        loadDownFn: function (me) {
            myObj.doctor.loadList(me);
        }
    });


    $(document).on('click','.cus-to-doctor-details',function(){
        window.location.href = '/weixin/index/doctorDetails/uid/'+$(this).data('uid');
    });
</script>
{/block}
