{extend name="layout/layout" /}
{block name="cssOrcrsipt"}
    <link rel="stylesheet" href="/static/weixin/css/doctor.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_890503_haekiko2b0f.css">
    <link rel="stylesheet" href="/static/plugin/mescroll/mescroll.min.css">
<style>
    body{
        background: #f8f8f8;
    }
</style>
{/block}


{block name="main"}

<!--这里编写主体内容-->
<div id="container"  class="mescroll">
    <div id="container-list" ></div>
</div>
{include file="layout/footer" /}
{/block}
{block name="script"}
<script src="/static/plugin/layui/layui.all.js"></script>
<script src="/static/plugin/mescroll/mescroll.min.js" charset="utf-8"></script>
<script id="demo" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
            <div class="wl-conter href cus-to-doctor-details" data-uid="{{item.user_id}}">
                <div class="wl-toux"><img src="{{item.portrait}}" onerror="this.src ='/static/image/user/tou.png'" width="41" height="41"></div>
                <div style="position: relative"><span class="wl-biao"></span></div>
                <div class="wl-pingjia">
                    <dl>{{item.real_name}} <span class="wl-the-title">{{ item.duties}}</span></dl>
                    <dd>
                        擅长项目:
                        {{#  layui.each(item.speciality, function(index2, item2){ }}
                            <span>{{ item2 }}&nbsp;&nbsp;</span>
                        {{#  }); }}
                    </dd>
                    <dt><i class="iconfont icon-xingji"></i>
                        <i class="iconfont icon-xingji"></i>
                        <i class="iconfont icon-xingji"></i>
                        <i class="iconfont icon-xingji"></i>
                        <i class="iconfont icon-xingji"></i>
                        <span style="margin-left: 8px">评价 </span><span style="padding: 0 3px 0 0px">|</span>
                        <span>{{item.case_num}}案例</span><span style="padding: 0 3px 0 3px;">|</span>
                        <span style="margin-top: 1px">{{item.article_num}}文章</span>
                    </dt>
                    <span class="iconfont icon-back_left-copy wl-renzheng" style="font-size: 25px;color: #AAAAAA"></span>
                </div>
                <div style="clear: both"></div>
            </div>
    {{#  }); }}
</script>

<script type="text/javascript">
    $(document).on('click','.cus-to-doctor-details',function(){
        window.location.href = '/weixin/index/doctorDetails/uid/'+$(this).data('uid');
    });
    var mescroll = new MeScroll("container", {
        down:{auto:true},
        up: {
            clearEmptyId: "container-list",
            page: {num: 0,size: 20},
            htmlNodata: '<p class="upwarp-nodata">-- 已加载全部 --</p>',
            isBounce: false,
            noMoreSize: 10,
            // empty: {
            //     icon: "/static/weixin/shop/image/tuoian.png",
            //     tip: "亲,没有您要找的商品~", //提示
            // },
            callback: function(page){
                listObj.searchList(page,function(curPageData){
                    mescroll.endSuccess(curPageData.length);
                    layui.laytpl(demo.innerHTML).render(curPageData, function(html){
                        $('#container-list').append(html);
                    });
                }, function(){
                    mescroll.endErr();
                });
            }
        }
    });

    var listObj = {
        searchList: function (page, successCallback, errorCallback) {
            var data = $.extend({}, {page: page.num, page_size: page.size});
            $.ajax({
                url: "/weixin/api/getDoctorList",
                type: 'post',
                data: data,
                dataType: 'json',
                success: function (res) {
                    successCallback(res.data.rows);
                },
            });
        },
    };
</script>
{/block}
