<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="applicable-device" content="pc,mobile">
    <link rel="stylesheet" href="/static/css/doctor_certificate.css">
    <link rel="stylesheet" href="/static/css/iconfont.css">
    <title>医生证件</title>
</head>
<body style="background: #F2F2F2">
<header>
    <div class="wl-top">
        <i class="iconfont icon-back_light" style="font-size: 25px;position: absolute;left: 10px;top: 1px;"  onClick="redream.toReferer()"></i>
        医生证件
    </div>
</header>
<main>
<div class="wl-nei1">
    <p >医生资格证件</p>
    <div class="wl-tupian">
        <img src="{$info['qualification']}" alt="" width="100%" >
    </div>
</div>
    <div class="wl-nei1">
        <p >医生执业证</p>
        <div class="wl-tupian">
            <img src="{$info['practice_certificate']}" alt="" width="100%">
        </div>
    </div>
</main>

</body>
<script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/functions.js" type="text/javascript" charset="utf-8"></script>
<script>

</script>
</html>