<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="applicable-device" content="pc,mobile">
    <link rel="stylesheet" href="/static/css/doctor_details.css">
    <link rel="stylesheet" href="/static/css/iconfont.css">
    <title>Title</title>
</head>
<body style="background-color:#F2F2F2;padding-bottom: 150px">
<header>
    <div class="wl-top">
        <div class="wl-top-neirong">
            <div class="wl-top-touxiang" onclick="redream.href('/weixin/user/detailsDoctor')">
                <img src="/static/image/user/tou.png" alt="" width="71" height="71">
            </div>
           <div class="wl-top-yisheng">
                <dl class="iconfont icon-yishengrenzheng" style="font-size: 20px;color: #7DB0E8"></dl>
                <dd>医生名称</dd>
                <dt><button>＋加好友</button></dt>
            </div>
            <div class="wl-top-anli">
                <div class="wl-am">
                    <div style="width: 170px;margin: 0 auto">
                        <span><i class="iconfont icon-anli" style="font-size: 18px;color: #7DB0E8;float: left"></i><span style="float: left">&nbsp;368案例</span></span>
                        <span><i class="iconfont icon-ziliao" style="font-size: 18px;color: #7DB0E8;float: left"></i><span style="float: right">&nbsp;165文章</span></span>
                    </div>
                    <div style="clear: both"></div>
                </div>
            </div>
            <div class="wl-top-yishneg">
                 <dl data-href="/weixin/index/detailsDoctor/uid/{$uid}">
                     <dd class="iconfont icon-wenjian" style="font-size: 45px;color: #7DB0E8;"></dd>
                     <dt>医生资料</dt>
                 </dl>
                <dl  data-href="/weixin/index/doctorCertificate/uid/{$uid}">
                    <dd class="iconfont icon-zhengjian"  style="font-size: 25px;color: #7DB0E8;"></dd>
                    <dt>医生证件</dt>
                </dl>
                <dl  data-href="/weixin/index/honor/uid/{$uid}">
                    <dd class="iconfont icon-rongyu"  style="font-size: 25px;color: #7DB0E8;"></dd>
                    <dt>医生荣誉</dt>
                </dl>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
</header>
<main>
<div class="wl-con-top">
    <div class="wl-jiu">
        <img src="/static/image/user/tou.png" alt="" width="40" height="40" style="float: left">
        <dl  class="wl-yiyuan">
            <dd>医院名称</dd>
            <dt>所在医院名称所在医院名称</dt>
        </dl>
        <dl style="float: right">
            <span class="iconfont icon-yiyuanrenzheng" style="font-size: 25px;color: #7DB0E8"></span>
            <span class="iconfont icon-back_left-copy" style="font-size: 30px;color: #AAAAAA"></span>
        </dl>
    </div>
    <div class="wl-jiu" style="line-height: 42px">
      <i class="iconfont icon-dingwei" style="font-size: 30px;float: left;color: #7DB0E8;margin-left: 5px"></i>
        <dl  class="wl-yiyuan" style="margin-left: 15px">
            <dd >江宁路818号</dd>
        </dl>
        <dl style="float: right">
            <span class="iconfont icon-back_left-copy" style="font-size: 30px;color: #AAAAAA"></span>
        </dl>
    </div>
    <div style="clear: both"></div>
</div>
    <div>
        <p class="wl-biaoti">我的文章</p>
        <div class="wl-nei1">
            <div class="wl-neirong1">
                我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容
            </div>
            <div class="wl-neirong2">
                <img src="" alt="" width="128" height="90">
            </div>
        </div>
        <div class="wl-nei1">
            <div class="wl-neirong1">
                我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容
            </div>
            <div class="wl-neirong2">
                <img src="" alt="" width="128" height="90">
            </div>
        </div>
    </div>
</main>

<footer>
    <div class="wl-foot" style="max-width: 750px">
        <dl onclick="redream.href('/weixin/index/index')" class="dianji">
            <dd> <i class="iconfont icon-home_light" style="font-size: 25px"></i></dd>
            <dt>首页</dt>
        </dl>
        <dl class="dianji"  onclick="redream.href('/weixin/index/doctor')">
            <dd><i class="iconfont icon-yishengtubiao" style="font-size: 25px;"></i></dd>
            <dt  >医生</dt>
        </dl>
        <dl class="dianji" onclick="redream.href('/weixin/index/hospital')">
            <dd><i class="iconfont icon-chakanyiyuan" style="font-size: 25px;"></i></dd>
            <dt >医院</dt>
        </dl>
        <dl onclick="redream.href('/weixin/user/main')" class="dianji">
            <dd><i class="iconfont icon-my_light" style="font-size: 25px"></i></dd>
            <dt>我的</dt>
        </dl>
    </div>
</footer>
</body>
<script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/dropload.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/functions.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    var myObj = {
        uid:{$uid},
    };
</script>
</html>