<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="applicable-device" content="pc,mobile">
    <link rel="stylesheet" href="/static/css/doctor_details.css">
    <link rel="stylesheet" href="/static/css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/static/css/dropload.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/demo.css"/>
    <title>医生简介</title>
    <style>
        .ckgd{
            width: 100%;
            min-height: 40px;
            line-height: 40px;
            text-align: center;
            color: #222222;
            font-size: 16px;
        }

        .href{cursor: pointer}

        .isfollow{background-color: #CCCCCC !important;color: white;}
        input,button,a {
            outline:0 none !important; blr:expression(this.onFocus=this.blur());
        }
    </style>
</head>
<body style="background-color:#F2F2F2;padding-bottom: 150px">
<header>
    <div class="wl-top">
        <div class="wl-top-neirong">
            <div class="wl-top-touxiang" onclick="redream.href('/weixin/user/detailsDoctor')">
                <img src="{$info['doctor_info']['portrait']}" onerror="this.src='/static/image/user/tou.png'" width="71" height="71">
            </div>
           <div class="wl-top-yisheng">
               <div style="position: relative"><dl class="iconfont icon-renzheng1 wl-renz" style="font-size: 30px;color: #7DB0E8"></dl></div>
                <dd>{$info['doctor_info']['real_name']}</dd>
                <dt><button  id="click-to-follow" data-isFollow="{$isFollow}" class="{$isFollow == 1?'isfollow':''}"   > {$isFollow == 1?'<i class="iconfont icon-check"></i>已关注':'＋关注'}</button></dt>
            </div>
            <div class="wl-top-anli">
                <div class="wl-am">
                    <div style="width: 170px;margin: 0 auto">
                        <span><i class="iconfont icon-anli" style="font-size: 18px;color: #7DB0E8;float: left"></i><span style="float: left">&nbsp;{$statistics['type_3']['total']}案例</span></span>
                        <span><i class="iconfont icon-ziliao" style="font-size: 18px;color: #7DB0E8;float: left"></i><span style="float: right">&nbsp;{$statistics['type_1']['total']}文章</span></span>
                    </div>
                    <div style="clear: both"></div>
                </div>
            </div>
            <div class="wl-top-yishneg">
                 <dl data-href="/weixin/index/detailsDoctor/uid/{$uid}" class="href cus-click-href">
                     <dd class="iconfont icon-wenjian" style="font-size: 45px;color: #7DB0E8;"></dd>
                     <dt>医生资料</dt>
                 </dl>
                <dl  data-href="/weixin/index/doctorCertificate/uid/{$uid}" class="href cus-click-href">
                    <dd class="iconfont icon-zhengjian"  style="font-size: 25px;color: #7DB0E8;"></dd>
                    <dt>医生证件</dt>
                </dl>
                <dl  data-href="/weixin/index/honor/uid/{$uid}/type/2" class="href cus-click-href">
                    <dd class="iconfont icon-rongyu"  style="font-size: 25px;color: #7DB0E8;"></dd>
                    <dt>医生荣誉</dt>
                </dl>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
</header>

<main>
    {if (count($info['hospital_info']) > 0)}
        <div class="wl-con-top">
            <div class="wl-jiu href click-to-hospital-details" data-href="/weixin/index/hospitalDetails/uid/{$info['hospital_info'][0]['uid']}">
                <img src="{$info['hospital_info'][0]['portrait']}" onerror="this.src='/static/image/user/tou.png'" width="40" height="40" style="float: left">
                <div style="position: relative"><dl class="iconfont icon-renzheng1 wl-renz1" style="font-size: 20px;color: #F19149"></dl></div>
                <dl  class="wl-yiyuan">
                    <dd>{$info['hospital_info'][0]['hospital_name']}</dd>
                    <dt>{$info['hospital_info'][0]['profile']} </dt>
                </dl>
                <dl style="float: right;margin-top: 5px">
                    <span class="iconfont icon-back_left-copy" style="font-size: 25px;color: #AAAAAA"></span>
                </dl>
            </div>

            <div class="wl-jiu" style="line-height: 42px">
                <i class="iconfont icon-dingwei" style="font-size: 25px;float: left;color: #7DB0E8;margin-left: 5px"></i>
                <dl  class="wl-yiyuan" style="margin-left: 15px">
                    <dd >{$info['hospital_info'][0]['address']}</dd>
                </dl>
                <dl style="float: right;margin-top: 2px">
                    <span class="iconfont icon-back_left-copy" style="font-size: 25px;color: #AAAAAA"></span>
                </dl>
            </div>

            <div style="clear: both"></div>
        </div>
    {/if}

    <div id="wl-box" style="display: none">
        <p class="wl-biaoti">我的文章</p>
        <div class="wl-conter">

        </div>
        <p class="ckgd" onclick="objClass.recommend.loadList()" id="cus-recommend-loading-btn">查看更多</p>
    </div>
</main>

<footer>
    <div class="wl-foot" style="max-width: 750px">
        <dl onclick="redream.href('/weixin/index/index')" class="dianji">
            <dd> <i class="iconfont icon-home_light" style="font-size: 25px"></i></dd>
            <dt>首页</dt>
        </dl>
        <dl class="dianji"  onclick="redream.href('/weixin/index/doctor')">
            <dd><i class="iconfont icon-yishengtubiao" style="font-size: 25px;"></i></dd>
            <dt  >医生</dt>
        </dl>
        <dl class="dianji" onclick="redream.href('/weixin/index/hospital')">
            <dd><i class="iconfont icon-chakanyiyuan" style="font-size: 25px;"></i></dd>
            <dt >医院</dt>
        </dl>
        <dl onclick="redream.href('/weixin/user/main')" class="dianji">
            <dd><i class="iconfont icon-my_light" style="font-size: 25px"></i></dd>
            <dt>我的</dt>
        </dl>
    </div>
</footer>
</body>
<script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/dropload.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/functions.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">

    $(document).on('click','.cus-click-href',function(){
        window.location.href = $(this).data('href');
    });

    $(document).on('click','.click-to-article',function(){
        window.location.href = '/weixin/article/articleDetails/id/' +$(this).data('id');
    });

    $(document).on('click','.click-to-hospital-details',function(){
        window.location.href = $(this).data('href');
    });

    $('#click-to-follow').on('click',function(){
        if($(this).data('isfollow') != 1 && $(this).data('isfollow') != 0){
            redream.showTip('不能关注自己');
            return false;
        }
        objClass.follow.clickFollow($(this));
    });

    var objClass = {
        uid:{$uid},
        recommend:{
            conf:{
                loading: false,
                ini: false,
                page: 0,
                page_total: 1,
                page_size: 3,
            },
            template:{
                template1:function(data,thumbnail){
                    return   '<div class="wl-nei1 href click-to-article" data-id="'+ data.id +'" >'+
                                '<div class="wl-neirong1">' +data.title+'</div>'+
                                '<div class="wl-neirong2">'+
                                   '<img src="'+thumbnail+'" alt="" width="128" height="90">'+
                                '</div>'+
                              '</div>'
                },
                template2:function(data,thumbnail){
                    return   ' <div class="wl-wenzhnga  href click-to-article" data-id="'+ data.id +'">' +
                                    '<div class="wl-deml">' +data.title+'</div>'+
                                    '</div>'+
                               '</div>';
                },
            },
            loadList:function(){

                if(objClass.recommend.conf.loading){
                    return false;
                }

                objClass.recommend.conf.page++;
                if(objClass.recommend.conf.page > objClass.recommend.conf.page_total){
                    $('#cus-recommend-loading-btn').text('没有了');
                    return false;
                }

                $.ajax({
                    url: "/weixin/Article/getUserPublishArticle",
                    type: 'post',
                    data: {user_id: objClass.uid,page: objClass.recommend.conf.page, page_size: objClass.recommend.conf.page_size},
                    dataType: 'json',
                    beforeSend: function () {
                        objClass.recommend.conf.loading = true;
                        $('#cus-recommend-loading-btn').text('加载中...');
                    },
                    complete: function () {
                        objClass.recommend.conf.loading = false;
                        $('#cus-recommend-loading-btn').text('查看更多');
                    },
                    success: function (res) {
                        if (res.code == 200) {
                            if (objClass.recommend.conf.ini == false) {
                                objClass.recommend.conf.ini = true;
                                objClass.recommend.conf.page_total = res.data.page_total;
                                if (res.data.page_total == 0) {
                                    $('#wl-box').hide();
                                } else {
                                    $('#wl-box').show();
                                }
                            }

                            $.each(res.data.rows, function (k, val) {
                                var thumbnail = '';
                                if(val.thumbnail != '' && val.thumbnail != undefined){
                                    var obj  = $.parseJSON(val.thumbnail);
                                    thumbnail = obj.img_1;
                                    $('.wl-conter').append(objClass.recommend.template.template1(val,thumbnail));
                                }else{
                                    $('.wl-conter').append(objClass.recommend.template.template2(val));
                                }

                            });
                        }
                    }
                });
            },

        },
        follow:{
            followLoading:false,
            clickFollow:function(obj){
                if(objClass.follow.followLoading){
                    return false;
                }

                var type =  obj.data('isfollow') == 0 ? 1 : 2;
                $.ajax({
                    url: "/weixin/api/followUser",
                    type: 'post',
                    data: {uid: objClass.uid,type:type},
                    dataType: 'json',
                    beforeSend: function () {
                        objClass.follow.followLoading = true;
                    },
                    complete: function () {
                        objClass.follow.followLoading = false;
                    },
                    success: function (res) {
                        if (res.code == 200) {
                            if(obj.data('isfollow') == 0){
                                obj.addClass('isfollow').html('<i class="iconfont icon-check"></i>已关注').data('isfollow',1);
                            }else if(obj.data('isfollow') == 1){
                                obj.removeClass('isfollow').html('+ 关注').data('isfollow',0);
                            }
                        }else if(res.code == 401){
                            redream.showTip(res.msg);
                        }else{
                            redream.showTip('操作失败');
                        }
                    }
                });
            }
        },

    };

    objClass.recommend.loadList();
</script>
</html>