<!DOCTYPE html>
<html lang="en">
	<head>
		<!--  <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta name="viewport" content="target-densitydpi=device-dpi, width=750px, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta content="telephone=no" name="format-detection" />
		<link rel="stylesheet" type="text/css" href="/static/css/home_page.css" />
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_890503_bqq4ljep3ij.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/iconfont.css"/>
		<title>用户中心</title>
		<script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/rem.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="con">
			<div class="wx-top">
			<a href="" class="tb"></a>用户名称</div>
		<div class="wx-t1">
			<img src=""/>
			<div class="wx-wen">
				<dl>
				   	<dt>99</dt>
					<dd>文章</dd>
				</dl>
				<dl>
				   	<dt>99</dt>
					<dd>视频</dd>
				</dl>
					<dl>
				   	<dt>99</dt>
					<dd>案例</dd>
				</dl>
				<dl>
				   	<dt>99</dt>
					<dd>问答</dd>
				</dl>
				<button id="btn">申请认证</button><button id="btn1">编辑资料</button>
			</div>
		</div>
			<div class="one-1" style="height: 380px;border-bottom: 10px solid #EEEEEE;">
				<div class="wx-name" style="border:none;">
					<img src="" alt="" /class="wx-tou">
					<dl class="wx-yh">
						<dt style="font-size:0.28rem;color: #1D1D1D;font-weight: bold;">用户名称</dt>
						<dd style="font-size:0.24rem;color: #898989;">发布时间</dd>
					</dl>
					<span class="wx-rig"></span>
				</div>
				<div class="wx-nei1">
					<dl>
						<dt style="font-size: 0.34rem;color: #1F1F1F;margin-left: 36px;">我是内容内我是我是内容内通透我是内容内通透我是内容内通透通透</dt>
						<dd><img src="" alt="图片" /></dd>
					</dl>
				</div>
				<ul class="wx-fen">
					<li><span><i class="iconfont icon-share_light " id="cc"></i></span></li>
					<li style="margin-left: 100px;"><span class="iconfont icon-comment_light" id="cc"></span><span id="ee">445</span></li>
					<li style="margin-left: 100px;"><span class="iconfont icon-appreciate_light"id="cc"></span><span id="ee">445</span></li>
				</ul>
			</div>
		<div class="one-2" style="padding-top:20px;height: 1150px;border-bottom: 10px solid #EEEEEE;">
			<div class="wx-name">
					<img src="" alt="" /class="wx-tou">
					<dl class="wx-yh" >
						<dt style="font-size:0.28rem;color: #1D1D1D;font-weight: bold;">用户名称</dt>
						<dd style="font-size:0.24rem;color: #898989;">发布时间</dd>
					</dl>
					<span class="wx-rig"></span>
				</div>
				<p class="on1">我是内容内我是我是内容内通透我是内容内通透我是内容内通透通透</p>
				<div class="on1-img">
					<img src="" alt="" style="margin-right: 4px;"/>
					<img src="" alt="" style="margin-right: 4px;"/>
					<img src="" alt=""  />
					<img src="" alt="" style="margin: 4px 4px 0px 0px;"/>
					<img src="" alt="" style="margin: 4px 4px 0px 0px;"/>
					<img src="" alt="" style="margin-top: 4px;"/>
					<img src="" alt="" style="margin: 4px 4px 0px 0px;"/>
					<img src="" alt="" style="margin: 4px 4px 0px 0px;"/>
					<img src="" alt="" style="margin-top: 4px;"/>
					
				</div>
				<ul class="wx-fen">
					<li><span><i class="iconfont icon-share_light " id="cc"></i></span></li>
					<li style="margin-left: 100px;"><span class="iconfont icon-comment_light" id="cc"></span><span id="ee">445</span></li>
					<li style="margin-left: 100px;"><span class="iconfont icon-appreciate_light"id="cc"></span><span id="ee">445</span></li>
				</ul>
		</div>
		<div class="ont-3" style="height: 360px;padding-top:20px;border-bottom: 10px solid #EEEEEE;">
			<div class="wx-name" >
					<img src="" alt="" /class="wx-tou">
					<dl class="wx-yh">
						<dt style="font-size:0.28rem;color: #1D1D1D;font-weight: bold;">用户名称</dt>
						<dd style="font-size:0.24rem;color: #898989;">发布时间</dd>
					</dl>
					<span class="wx-rig"></span>
				</div>
				<p class="on1">我是内容内我是我是内容内通透我是内容内通透我是内容内通透通透</p>
				<ul class="wx-fen">
					<li><span><i class="iconfont icon-share_light " id="cc"></i></span></li>
					<li style="margin-left: 100px;"><span class="iconfont icon-comment_light" id="cc"></span><span id="ee">445</span></li>
					<li style="margin-left: 100px;"><span class="iconfont icon-appreciate_light"id="cc"></span><span id="ee">445</span></li>
				</ul>
		</div>		<div class="ont-3" style="height: 360px;padding-top:20px;border-bottom: 10px solid #EEEEEE;">
			<div class="wx-name" >
					<img src="" alt="" /class="wx-tou">
					<dl class="wx-yh">
						<dt style="font-size:0.28rem;color: #1D1D1D;font-weight: bold;">用户名称</dt>
						<dd style="font-size:0.24rem;color: #898989;">发布时间</dd>
					</dl>
					<span class="wx-rig"></span>
				</div>
				<p class="on1">我是内容内我是我是内容内通透我是内容内通透我是内容内通透通透</p>
				<ul class="wx-fen">
					<li><span><i class="iconfont icon-share_light " id="cc"></i></span></li>
					<li style="margin-left: 100px;"><span class="iconfont icon-comment_light" id="cc"></span><span id="ee">445</span></li>
					<li style="margin-left: 100px;"><span class="iconfont icon-appreciate_light"id="cc"></span><span id="ee">445</span></li>
				</ul>
		</div>		<div class="ont-3" style="height: 360px;padding-top:20px;border-bottom: 10px solid #EEEEEE;">
			<div class="wx-name" >
					<img src="" alt="" /class="wx-tou">
					<dl class="wx-yh">
						<dt style="font-size:0.28rem;color: #1D1D1D;font-weight: bold;">用户名称</dt>
						<dd style="font-size:0.24rem;color: #898989;">发布时间</dd>
					</dl>
					<span class="wx-rig"></span>
				</div>
				<p class="on1">我是内容内我是我是内容内通透我是内容内通透我是内容内通透通透</p>
				<ul class="wx-fen">
					<li><span><i class="iconfont icon-share_light " id="cc"></i></span></li>
					<li style="margin-left: 100px;"><span class="iconfont icon-comment_light" id="cc"></span><span id="ee">445</span></li>
					<li style="margin-left: 100px;"><span class="iconfont icon-appreciate_light"id="cc"></span><span id="ee">445</span></li>
				</ul>
		</div>		<div class="ont-3" style="height: 360px;padding-top:20px;border-bottom: 10px solid #EEEEEE;">
			<div class="wx-name" >
					<img src="" alt="" /class="wx-tou">
					<dl class="wx-yh">
						<dt style="font-size:0.28rem;color: #1D1D1D;font-weight: bold;">用户名称</dt>
						<dd style="font-size:0.24rem;color: #898989;">发布时间</dd>
					</dl>
					<span class="wx-rig"></span>
				</div>
				<p class="on1">我是内容内我是我是内容内通透我是内容内通透我是内容内通透通透</p>
				<ul class="wx-fen">
					<li><span><i class="iconfont icon-share_light " id="cc"></i></span></li>
					<li style="margin-left: 100px;"><span class="iconfont icon-comment_light" id="cc"></span><span id="ee">445</span></li>
					<li style="margin-left: 100px;"><span class="iconfont icon-appreciate_light"id="cc"></span><span id="ee">445</span></li>
				</ul>
		</div>		<div class="ont-3" style="height: 360px;padding-top:20px;border-bottom: 10px solid #EEEEEE;">
			<div class="wx-name" >
					<img src="" alt="" /class="wx-tou">
					<dl class="wx-yh">
						<dt style="font-size:0.28rem;color: #1D1D1D;font-weight: bold;">用户名称</dt>
						<dd style="font-size:0.24rem;color: #898989;">发布时间</dd>
					</dl>
					<span class="wx-rig"></span>
				</div>
				<p class="on1">我是内容内我是我是内容内通透我是内容内通透我是内容内通透通透</p>
				<ul class="wx-fen">
					<li><span><i class="iconfont icon-share_light " id="cc"></i></span></li>
					<li style="margin-left: 100px;"><span class="iconfont icon-comment_light" id="cc"></span><span id="ee">445</span></li>
					<li style="margin-left: 100px;"><span class="iconfont icon-appreciate_light"id="cc"></span><span id="ee">445</span></li>
				</ul>
		</div>
		</div>

	</body>
<script type="text/javascript">
$(function(){
	
		$(window).scroll(function () {
     var scrollTop = $(this).scrollTop();//滚动条在Y轴上的滚动距离。
     var scrollHeight = $(document).height();//内容可视区域的高度加上溢出（滚动）的距离。
     var windowHeight = $(this).height();//内容可视区域的高度。
     //滚动条到底部的条件即为scrollTop + clientHeight == scrollHeight。
     if (scrollTop + windowHeight == scrollHeight) {
         //业务逻辑代码
     }
});
})
</script>
</html>