<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="applicable-device" content="pc,mobile">
    <link rel="stylesheet" href="/static/css/doctor_certificate.css">
    <link rel="stylesheet" href="/static/css/iconfont.css">
    <title>{:config('conf.title')} - 荣誉证书</title>
</head>
<body style="background: white">
<header>
    <div class="wl-top">
        <i class="iconfont icon-back_light" style="font-size: 25px;position: absolute;left: 10px;top: 1px;"  onClick="redream.toReferer()"></i>
        荣誉证书
    </div>
</header>
{if ( count($info) == 0)  }
    <main>
        <div class="wl-norongy">
            <p class="iconfont icon-zhengshu " style="font-size: 80px;color: #7DB0E8;margin-top: 80px"></p >
            <p style="color: #999999;font-size: 12px;margin-top: 20px">该{$type == 1?'医院':'医生'}还没有上传荣誉证书哦！</p >
        </div>
    </main>
{else /}
    <main>
        {foreach $info as $vo }
        <div class="wl-nei1">
            <p >{$type == 1?'医院':'医生'}荣誉证件</p>
            <div class="wl-tupian">
                <img src="{$vo['img_url']}" alt="" width="100%" >
            </div>
        </div>
        {/foreach}
    </main>
{/if}
</body>
<script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/functions.js" type="text/javascript" charset="utf-8"></script>
</html>