{extend name="layout/layout" /}
{block name="cssOrcrsipt"}
    <link rel="stylesheet" href="/static/css/hospital.css">

{/block}
<style>
    .href{cursor: pointer}
</style>
{block name="main"}
<!--这里编写主体内容-->
<main  id="cus-container"  style="background: #EEEEEE;padding-bottom: 100px;height: 100%">
    <div id="cus-container-list">

    </div>
</main>
{include file="layout/footer" /}
{/block}
{block name="script"}
<script id="demo" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
    <div class="wl-conter href cus-to-href" data-uid="{{item.user_id}}">
        <div class="wl-toux"><img src="{{item.portrait}}" onerror="this.src ='/static/image/user/tou.png'" width="41" height="41"></div>
        <div style="position: relative"><span class="wl-biao1"></span></div>
        <div class="wl-pingjia">
            <dl>{{item.hospital_name}}</dl>
            <dd>医院类型:
                {{#  if(item.type != null){ }}
                {{item.type}}
                {{#  } }}
            </dd>
            <dt><i class="iconfont icon-xingji"></i>
                <i class="iconfont icon-xingji"></i>
                <i class="iconfont icon-xingji"></i>
                <i class="iconfont icon-xingji"></i>
                <i class="iconfont icon-xingji"></i>
                <span style="margin-left: 8px">评价 <span style="padding: 0 3px 0 0px">|</span></span>
                <span>{{item.case_num}}案例<span style="padding: 0 3px 0 3px;">|</span></span>
                <span style="margin-top: 1px">{{item.article_num}}文章</span>
            </dt>
            <span class="iconfont icon-back_left-copy wl-renzheng" style="font-size: 25px;color: #AAAAAA"></span>
        </div>
    </div>
    {{#  }); }}
</script>

<script type="text/javascript">
    var myObj = {
        doctor:{
            listData: {
                loading: false,
                ini: false,
                page: 0,
                page_total: 1,
                page_size: 15,
            },
            template:function(data){
                var head_img      =  (data.portrait == null) ? '':data.portrait;
                var type =  (data.type == null) ? '':data.type;

            },
            loadList: function (me) {
                if (myObj.doctor.listData.loading) {
                    return false;
                }

                myObj.doctor.listData.page++;
                if (myObj.doctor.listData.ini == true) {
                    if (myObj.doctor.listData.page > myObj.doctor.listData.page_total) {
                        me.resetload();
                        return false;
                    }
                }

                $.ajax({
                    url: "/weixin/api/getHospitalList",
                    type: 'post',
                    data: {page: myObj.doctor.listData.page, page_size: myObj.doctor.listData.page_size},
                    dataType: 'json',
                    beforeSend: function () {
                        myObj.doctor.listData.loading = true;
                    },
                    complete: function () {
                        myObj.doctor.listData.loading = false;
                    },
                    success: function (res) {
                        if (res.code == 200) {
                            if ( myObj.doctor.listData.ini == false) {
                                myObj.doctor.listData.ini = true;
                                myObj.doctor.listData.page_total = res.data.page_total;
                                $('#cus-container-list').html('');
                            }

                            // $.each(res.data.rows,function(k,val){
                            //     $('#cus-container-list').append(myObj.doctor.template(val));
                            // });
                            layui.laytpl(demo.innerHTML).render(res.data.rows, function(html){
                                $('#cus-container-list').append(html);
                            });
                            if ( myObj.doctor.listData.page >=  myObj.doctor.listData.page_total) {
                                me.noData();
                            }
                        }
                        me.resetload();
                    }
                });
            }
        }
    };

    $('#cus-container').dropload({
        scrollArea: window,
        loadUpFn: function (me) {
            myObj.doctor.listData.loading = false;
            myObj.doctor.listData.ini = false;
            myObj.doctor.listData.page = 0;
            myObj.doctor.listData.page_total = 1;
            myObj.doctor.loadList(me);
        },
        loadDownFn: function (me) {
            myObj.doctor.loadList(me);
        }
    });


    $(document).on('click','.cus-to-href',function(){
        window.location.href = '/weixin/index/hospitalDetails/uid/'+$(this).data('uid');
    });
</script>
{/block}