<?php if(count($rows) > 0):?>
        <?php foreach($rows as $val):?>
                <?php if($val['type'] == 1):?>
                        <?php if($val['thumbnail']):?>
                            <?php $thumbnail = json_decode($val['thumbnail'],true); if(count($thumbnail) > 1): ?>
                                <div class="wx-b2 cus-article-href" data-id="{$val['id']}" data-type="{$val['type']}">
                                    <p class="wx-n2"   >{$val['title']}</p>
                                    <p class="img">
                                        <?php foreach($thumbnail as $_v):?>
                                            <img src="{$_v}" alt=""/>
                                        <?php endforeach;?>
                                    </p>
                                    <p class="wx-n3" >
                                        <span class="yh">{$val['nickname']? $val['nickname'] : $val['mobile']}</span>
                                        <!--<span class="ck">999+</span>-->
                                        <span class="pl">
                                            <?php if($val['comment_count'] == 0):?>
                                            <?php elseif($val['comment_count'] >= 1000 ):?>
                                                999+
                                            <?php else:?>
                                            {$val['comment_count']}
                                            <?php endif;?>
                                        </span>
                                    </p>
                                </div>
                            <?php else:?>
                                <div class="wx-b3 cus-article-href" data-id="{$val['id']}" data-type="{$val['type']}">
                                    <div style="height: auto;margin-top: 20px;">
                                        <p class="wx-bn1">{$val['title']}</p>
                                        <img src="{$thumbnail['img_1']}" />
                                    </div>
                                    <p class="wx-n3" >
                                        <span class="yh">{$val['nickname']? $val['nickname'] : $val['mobile']}</span>
                                        <!--<span class="ck">999+</span>-->
                                        <span class="pl">
                                            <?php if($val['comment_count'] == 0):?>
                                            <?php elseif($val['comment_count'] >= 1000 ):?>
                                                999+
                                            <?php else:?>
                                            {$val['comment_count']}
                                            <?php endif;?>
                                        </span>
                                    </p>
                                </div>
                            <?php endif;?>
                        <?php else:?>
                            <div class="wx-n1 cus-article-href" data-id="{$val['id']}" data-type="{$val['type']}">
                                <p class="wx-n2">{$val['title']}</p>
                                <p class="wx-n3">
                                    <?php if($val['is_top'] == 1):?><span class="zd">置顶</span><?php endif;?>
                                    <span class="yh">{$val['nickname']? $val['nickname'] : $val['mobile']}</span>
                                    <!--<span class="ck">999+</span>-->
                                    <span class="pl">
                                        <?php if($val['comment_count'] == 0):?>
                                        <?php elseif($val['comment_count'] >= 1000 ):?>
                                                999+
                                        <?php else:?>
                                        {$val['comment_count']}
                                        <?php endif;?>
                                    </span>
                                </p>
                            </div>
                        <?php endif;?>
                <?php elseif($val['type'] == 2): $thumbnail = json_decode($val['thumbnail'],true); ?>
                        <div class="wx-b1 cus-article-href" data-id="{$val['id']}" data-type="{$val['type']}" >
                            <p class="wx-n2">{$val['title']}</p>
                            <video src="{$val['video_url']}" controls="controls"  poster="{$thumbnail['img_1']}"></video>
                            <p class="wx-n3"><span class="yh">{$val['nickname']? $val['nickname'] : $val['mobile']}</span>
                                <!--<span class="ck">999+</span>-->
                                <span class="pl">
                                    <?php if($val['comment_count'] == 0):?>
                                    <?php elseif($val['comment_count'] >= 1000 ):?>
                                        999+
                                    <?php else:?>
                                        {$val['comment_count']}
                                    <?php endif;?>
                                </span>
                            </p>
                        </div>
                <?php elseif($val['type'] == 3):?>
                <?php elseif($val['type'] == 4):?>
                <?php elseif($val['type'] == 5):?>
                <?php endif;?>
        <?php endforeach;?>
<?php endif;?>