<!DOCTYPE html>
<html lang="en">
<head>
    <!--  <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=750px, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/dropload.css"/>
    <title>主页</title>
    <style>
        .wkf{
            display: none;
            position: fixed;
            top: 565px;
            left: 256px;
            width: 240px;
            height: 56px;
            line-height: 56px;
            text-align: center;
            background: #0FD6DD;
            color: #FFFFFF;
            font-size:0.28rem;
            border-radius:10px ;
        }
    </style>

</head>
<body style="background: #ffffff;">
<div class="con" >

    <?php if(!is_weixin()):?>
    <div class="wx-top">
        <a href="/weixin/user/main" class="topa"></a>
    </div>
    <?php endif;?>


    <ul class="biao">
        <li style="margin-left: 50px;"><a href="">推荐</a></li>
        <li><a href="">文章</a></li>
        <li><a href="">视频</a></li>
        <li><a href="">案例</a></li>
        <li><a href="">问答</a></li>
        <li style="margin-right: 36px;"><a href="">其它</a></li>
    </ul>


			<div id="cus-container" style="min-height: 300px;">
				<div id="wx-wz">
			
				</div>
			</div>
<!--    <div  onclick="objClass.loadList()" style="font-size: 34px;text-align: center;height: 50px;line-height: 50px;"> 加载更多</div>-->
</div>
</body>
<script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/functions.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/rem.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/dropload.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    var objClass = {
        listData:{
            loading:false,
            ini:false,
            page:0,
            page_total:1,
            page_size:15,
        },

        //相关推荐数据加载
        loadList:function(me){
            if(this.listData.loading){
                return false;
            }

            this.listData.page++;
            if(this.listData.ini == true){
                if(this.listData.page > this.listData.page_total){
                    me.resetload();
                    return false;
                }
            }
            $.ajax({
                url:"/weixin/index/getArticleList",
                type:'post',
                data:{type:0,page:this.listData.page,page_size:this.listData.page_size},
                dataType:'json',
                beforeSend:function(){
                    objClass.listData.loading = true;
                },
                complete:function(){
                    objClass.listData.loading = false;
                },
                success:function(res){
                    if(res.code == 200){
                        if(objClass.listData.ini == false){
                            objClass.listData.ini = true;
                            objClass.listData.page_total = res.data.page_total;
                            $('#wx-wz').html('');
                        }
                        $('#wx-wz').append(res.data.conetnt);
                        if(objClass.listData.page >= objClass.listData.page_total){
		                    me.noData();
                        }
                    }
                    me.resetload();
                }
            });
        },

    };
    
    
 	$('#cus-container').dropload({
        scrollArea : window,
        loadUpFn:function(me){
        	objClass.listData.loading = false;
        	objClass.listData.ini = false;
        	objClass.listData.page = 0;
        	objClass.listData.page_total = 1;       
        	objClass.loadList(me);
        },
        loadDownFn : function(me){
            objClass.loadList(me);
        }
    });
    
//  setTimeout(function(me){
//      objClass.loadList(me);
//  },500);

    // $(document).on('click','.cus-article-href',function(){
    //     if($(this).data('type') == 1){
    //         window.location.href = '/weixin/article/articleDetails/id/'+ $(this).data('id');
    //     }
    // });

    function clickHref(id){
        window.location.href = '/weixin/article/articleDetails/id/'+ id;
    }
</script>

</html>
