{extend name="layout/layout" /}
{block name="cssOrcrsipt"}
<link rel="stylesheet" href="/static/weixin/css/index2.css">
<link rel="stylesheet" href="/static/plugin/mescroll/mescroll.min.css">
{/block}

{block name="main"}
    {include file="layout:header" /}
    <div class="wl-body">
        <div class="wl-liebiao">
            <ul>
                <li class="actice" onclick="redream.href('/weixin/index/index')">推荐</li>
                <li onclick="redream.href('/weixin/index/diaryUser')" >日记</li>
                <li onclick="redream.href('/weixin/index/inquiry')" >问答</li>
                <li onclick="redream.href('/weixin/shop/haveGood')">有好货</li>
            </ul>
        </div>

        <div id="container"  class="mescroll">
            <div id="container-list" ></div>
        </div>

    </div>
<div style="clear: both"></div>
    {include file="layout/footer" /}
{/block}

{block name="script"}
<script src="/static/plugin/layui/layui.all.js"></script>
<script src="/static/plugin/mescroll/mescroll.min.js" charset="utf-8"></script>
<script id="templateList" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
    {{#  if(getImgNum(item) == 1){ }}
            <div  class="wl-neirong  to-datail-href"  data-id="{{  item.id }}"  data-type="{{  item.type }}">
                <div class="wl-nei1">{{  item.title }}</div>
                <div class="wl-nei2">
                    <ul>
                        {{#  if(item.is_top == 1){ }}
                            <li class="wl-zhiding">置顶</li>
                        {{#  } }}
                        <li  data-uid="{{item.user_id}}">{{ item.nickname }}</li>
                        <li><span class="wl-jleft">{{ item.hits }}</span>浏览</li>
                        <li><span class="wl-jleft">{{ item.comment_count }}</span>评论</li>
                    </ul>
                </div>
            </div>
        {{#  } }}

        {{#  if(getImgNum(item) == 2){ }}
            <div  class="wl-neirong  to-datail-href"  data-id="{{  item.id }}"  data-type="{{  item.type }}" >
                <div class="wl-nei1">
                    {{  item.title }}
                </div>
                <div class="wl-nei6">
                    {{ showImg(item.thumbnail,getImgNum(item))}}
                </div>
                <div class="wl-nei2">
                    <ul>
                        {{#  if(item.is_top == 1){ }}
                        <li class="wl-zhiding">置顶</li>
                        {{#  } }}
                        <li  data-uid="{{item.user_id}}">{{ item.nickname }}</li>
                        <li></span><span class="wl-jleft">{{ item.hits }}</span>浏览</li>
                        <li><span class="wl-jleft">{{ item.comment_count }}</span>评论</li>
                    </ul>
                </div>
            </div>
        {{#  } }}

        {{#  if(getImgNum(item) == 3){ }}
            <div  class="wl-neirong  to-datail-href"  data-id="{{  item.id }}"  data-type="{{  item.type }}">
                <div class="wl-nei5">
                    {{  item.title }}
                </div>
                <div class="wl-left-img">
                    {{ showImg(item.thumbnail,getImgNum(item))}}
                </div>
                <div class="wl-nei2">
                    <ul>
                        {{#  if(item.is_top == 1){ }}
                        <li class="wl-zhiding">置顶</li>
                        {{#  } }}
                        <li  data-uid="{{item.user_id}}">{{ item.nickname }}</li>
                        <li><span class="wl-jleft">{{ item.hits }}</span>浏览</li>
                        <li><span class="wl-jleft">{{ item.comment_count }}</span>评论</li>
                    </ul>
                </div>
            </div>
        {{#  } }}

        {{#  if(getImgNum(item) == 4){ }}
            <div  class="wl-neirong  to-datail-href"  data-id="{{  item.id }}"  data-type="{{  item.type }}" >
                <div class="wl-nei1">
                    {{  item.title }}
                </div>
                <div class="wl-nei3">
                    {{ showImg(item.thumbnail,getImgNum(item))}}
                </div>
                <div class="wl-nei2">
                    <ul>
                        {{#  if(item.is_top == 1){ }}
                        <li class="wl-zhiding">置顶</li>
                        {{#  } }}
                        <li  data-uid="{{item.user_id}}">{{ item.nickname }}</li>
                        <li><span class="wl-jleft">{{ item.hits }}</span>浏览</li>
                        <li><span class="wl-jleft">{{ item.comment_count }}</span>评论</li>
                    </ul>
                </div>
            </div>
        {{#  } }}
    {{#  }); }}
</script>
<script src="/static/weixin/viewjs/index/index.js"></script>
{/block}