<!DOCTYPE html>
<html lang="en">
	<head>
		<!--  <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta name="viewport" content="target-densitydpi=device-dpi, width=750px, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta content="telephone=no" name="format-detection" />
		<link rel="stylesheet" type="text/css" href="/static/css/index.css" />
		<title>主页</title>
        </style>
		<script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/rem.js" type="text/javascript" charset="utf-8"></script>
	
	</head>

	<body>
		<div class="con">
			<div class="wx-top">
			<a href="" class="topa"></a>		
			</div>
			<ul class="biao">
				<li style="margin-left: 34px;"><a href="">标题</a></li>
				<li><a href="">标题</a></li>
				<li><a href="">标题</a></li>
				<li><a href="">标题</a></li>
				<li><a href="">标题</a></li>
				<li style="margin-right: 36px;"><a href="">标题</a></li>
			</ul>
			<div class="wx-n1">
				<p class="wx-n2">我是内容我是内容我是内容我是内我是内容我是内容我是内容我是内容容</p>
				<p class="wx-n3"><span class="zd">置顶</span><span class="yh">用户名称</span><span class="ck">999+</span><span class="pl">999+</span></p>
			</div>
			<div class="wx-b1">
				<p class="wx-n2">我是内容我是内容我是内容我是内我是内容我是内容我是内容我是内容容</p>
				<video src="http://118.24.1.228/static/video/temp_uuid_bc61402ee690058717dcb40f5203ada3.mp4" controls="controls"  poster="/static/image/index/bg1.png"></video>
				<p class="wx-n3"><span class="yh">用户名称</span><span class="ck">999+</span><span class="pl">999+</span></p>
			</div>
			<div class="wx-b2">
				<p class="wx-n2">我是内容我是内容我是内容我是内我是内容我是内容我是内容我是内容容</p>
				<p class="img"><img src="" alt="" style="margin-right: 3px;"/><img src="" alt=""style="margin-right: 3px;"/><img src="" alt="" /></p>
				<p class="wx-n3" ><span class="yh">用户名称</span><span class="ck">999+</span><span class="pl">999+</span></p>
			</div>
			<div class="wx-b2">
				<p class="wx-n2">我是内容我是内容我是内容我是内我是内容我是内容我是内容我是内容容</p>
				<p class="img"><img src="" alt="" style="margin-right: 3px;"/><img src="" alt=""style="margin-right: 3px;"/><img src="" alt="" /></p>
				<p class="wx-n3" ><span class="yh">用户名称</span><span class="ck">999+</span><span class="pl">999+</span></p>
			</div>
			<div class="wx-b3">
				<div style="height: 150px;margin-top: 20px;">
					<p class="wx-bn1">我是内容我是内容我是内容我是内我是内内容我是内容我是内容容</p>
				<img src=""/ >
				</div>
				<p class="wx-n3" ><span class="yh">用户名称</span><span class="ck">999+</span><span class="pl">999+</span></p>
			</div>
		</div>
	</body>
</html>