{extend name="layout/layout" /}

{block name="cssOrcrsipt"}
<link rel="stylesheet" href="/static/weixin/css/inquiry.css">
{/block}

{block name="main"}
<header>
    {include file="layout:header" /}
    <div class="wl-liebiao">
        <ul>
            <a href="/weixin/index/index"><li>推荐</li></a>
            <a href="/weixin/index/diaryUser"> <li >日记</li></a>
            <a href="/weixin/index/inquiry"> <li class="actice">问答</li></a>
            <a href="/weixin/shop/haveGood"><li>有好货</li></a>
        </ul>
    </div>
</header>
<main>
    <div class="wl-answers-notice">
        <!--<div class="wl-notice-login"> <a href=""#>马上登录</a>,参与问答</div>-->
        <div class="wl-notice-user">
            <img src="" alt="" onerror="this.src ='/static/image/user/tou.png'">
            <div class="wl-user-notice">
                <dl>无用回</dl>
                <dt>回答10<i class="iconfont icon-yuandian"></i>提问10</dt>
            </div>
            <div> <span class="wl-me-answers">我的问答<i class="iconfont icon-back_left-copy"></i></span></div>

        </div>
        <div style="clear: both"></div>
        <ul class="wl-answers-answer">
            <li><i class="iconfont icon-xiugaiziliao wl-answer"></i>答题</li>
            <li><i class="iconfont icon-icon_tiwen wl-questions "></i>提问</li>
        </ul>
        <div style="clear: both"></div>
    </div>

<div class="wl-list-answers">
    <div class="wl-answers">
    <div class="wl-answers-list">
        <div class="wl-answers-title">
            除了基本补偿费用；土地补偿.安置费.地上附属物以及青苗费以外，
            还有一个按时签协搬迁奖励，只要米能够签协及时按时搬迁，原则上会给予不少于18000元的奖励。
        </div>
        <div class="wl-user-notice1">  <dt>回答10<i class="iconfont icon-yuandian"></i>提问10</dt></div>
    </div>
</div>
    <div style="clear: both"></div>
    <div class="wl-answers">
        <div class="wl-answers-list">
            <div class="wl-answers-top">
                <img src="" alt="" onerror="this.src ='/static/image/user/tou.png'">
                <div class="wl-answers-name">
                    <dt>上海薇琳医疗美容医院</dt>
                    <span class="wl-answers-Icon"></span>
                </div>
            </div>
            <div class="wl-answers-title">
                除了基本补偿费用；土地补偿.安置费.地上附属物以及青苗费以外，
                还有一个按时签协搬迁奖励，只要米能够签协及时按时搬迁，原则上会给予不少于18000元的奖励。
            </div>
            <div class="wl-user-notice1">  <dt>刚刚<i class="iconfont icon-yuandian"></i>回答10</dt></div>
        </div>
    </div>
    <div style="clear: both"></div>
    <div class="wl-answers">
        <div class="wl-answers-list">
            <!--<div class="wl-answers-top">-->
            <!--<img src="" alt="" onerror="this.src ='/static/image/user/tou.png'">-->
            <!--<div class="wl-answers-name">-->
            <!--<dl> 范德萨打算</dl>-->
            <!--&lt;!&ndash;<dt>刚刚 <i class="iconfont icon-yuandian"></i>10回答</dt>&ndash;&gt;-->
            <!--</div>-->
            <!--</div>-->
            <div class="wl-answers-title">
                除了基本补偿费用；土地补偿.安置费.地上附属物以及青苗费以外，
                还有一个按时签协搬迁奖励，只要米能够签协及时按时搬迁，原则上会给予不少于18000元的奖励。
            </div>
            <div class="wl-user-notice1">  <dt>回答10<i class="iconfont icon-yuandian"></i>提问10</dt></div>
        </div>
    </div>
    <div style="clear: both"></div>
    <div class="wl-answers">
        <div class="wl-answers-list">
            <div class="wl-answers-top">
                <img src="" alt="" onerror="this.src ='/static/image/user/tou.png'">
                <div class="wl-answers-name">
                    <!--<dl> 范德萨打算</dl>-->
                    <dt>上海薇琳医疗美容医院</dt>
                    <span class="wl-answers-Icon"></span>
                </div>
            </div>
            <div class="wl-answers-title">
                除了基本补偿费用；土地补偿.安置费.地上附属物以及青苗费以外，
                还有一个按时签协搬迁奖励，只要米能够签协及时按时搬迁，原则上会给予不少于18000元的奖励。
            </div>
            <div class="wl-user-notice1">  <dt>回答10<i class="iconfont icon-yuandian"></i>提问10</dt></div>
        </div>
    </div>
    <div style="clear: both"></div>
    <div class="wl-answers">
        <div class="wl-answers-list">
            <!--<div class="wl-answers-top">-->
            <!--<img src="" alt="" onerror="this.src ='/static/image/user/tou.png'">-->
            <!--<div class="wl-answers-name">-->
            <!--<dl> 范德萨打算</dl>-->
            <!--&lt;!&ndash;<dt>刚刚 <i class="iconfont icon-yuandian"></i>10回答</dt>&ndash;&gt;-->
            <!--</div>-->
            <!--</div>-->
            <div class="wl-answers-title">
                除了基本补偿费用；土地补偿.安置费.地上附属物以及青苗费以外，
                还有一个按时签协搬迁奖励，只要米能够签协及时按时搬迁，原则上会给予不少于18000元的奖励。
            </div>
            <div class="wl-user-notice1">  <dt>回答10<i class="iconfont icon-yuandian"></i>提问10</dt></div>
        </div>
    </div>
    <div style="clear: both"></div>
    <div class="wl-answers">
        <div class="wl-answers-list">
            <!--<div class="wl-answers-top">-->
            <!--<img src="" alt="" onerror="this.src ='/static/image/user/tou.png'">-->
            <!--<div class="wl-answers-name">-->
            <!--<dl> 范德萨打算</dl>-->
            <!--&lt;!&ndash;<dt>刚刚 <i class="iconfont icon-yuandian"></i>10回答</dt>&ndash;&gt;-->
            <!--</div>-->
            <!--</div>-->
            <div class="wl-answers-title">
                除了基本补偿费用；土地补范德萨发第三方ds范德萨
            </div>
            <div class="wl-user-notice1">  <dt>回答10<i class="iconfont icon-yuandian"></i>提问10</dt></div>
        </div>
    </div>
    <div style="clear: both"></div>
</div>
</main>
{include file="layout/footer" /}
{/block}

{block name="script"}
<script src="/static/js/functions.js"></script>
<script src="/static/plugin/layui/layui.all.js"></script>
{/block}