<!DOCTYPE html>
<html lang="en">
	<head>
		<!--  <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta name="viewport" content="target-densitydpi=device-dpi, width=750px, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta content="telephone=no" name="format-detection" />
        <title>用户登录</title>
        <link rel="stylesheet" type="text/css" href="/static/plugin/layer_mobile/need/layer.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/login.css" />
        <style>
            .code-hui{
                color: #cccccc !important;
            }
        </style>
		<script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>

		<script src="/static/js/rem.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body style="background-color: #fff;">
			<div class="con">
				<div class="wx-top">
				<a href="loginReister.html" style="float: right;font-size: 0.24rem;color: #fff;" class="yj">立即注册</a>
					<div class="wx-reg">
						<div class="top">
				<span id="one" >手机号快捷登录</span>
				<span id="two">账号密码登录</span>
			</div>
			<div class="xia">
				<div class="one">
						<p><input id="mobile1"  type="text" name="phone" placeholder="请输入你的手机号" maxlength="11" onkeyup = "value=value.replace(/[^\d]/g,'')"><button id="code-btn" onclick="objClass.sendSms()">获取验证码</button></p>
						<p style="margin-top: 40px;"><input id="sms_code"   maxlength="6"  placeholder="请输入你收到的验证码" onkeyup = "value=value.replace(/[^\d]/g,'')" style=" width: 555px;"></p>
						<button id="btn" style="margin-top: 100px;" onclick="objClass.submitOne()">登录</button>
				</div>
				<div class="two">
						<p><input id="mobile2" type="text"  placeholder="请输入手机号" maxlength="11" onkeyup = "value=value.replace(/[^\d]/g,'')" style=" width: 555px;"></p>
						<p style="margin-top:40px;"><input id="password"  placeholder="请输入密码" maxlength="18" type="password" style=" width: 555px;"></p>
						<button id="btn1" style="margin-top: 100px;" onclick="objClass.submitTwo()">登录</button>
						<a href="backpwd.html" style="float: right;color: #7DB0E8;font-size：0.26rem;margin-top: 30px;margin-right: 20px;">找回密码</a>
				</div>
			</div>
			</div>
					<!--<p class="weixin"><a href="/weixin/index/otherLogin?platform=weixin" class="qian"><img src="/static/image/reg/wx.jpg" width="80px" height="80px"/ style="float: left;margin-left: 100px;margin-left: 20px;"/><span style="margin-left: 30px;"> <<微信授权登录</span></a></p>-->
			</div>
		</div>
	</body>
<script src="/static/plugin/layer_mobile/layer.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/verification-code.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
var codeObj = new VerificationCode('code-btn','获取验证码','code-hui');
codeObj.run();

var  objClass = {
    oneLoading:false,
    twoLoading:false,
    sendSmsCode:false,
    checkMobile:function(mobile){
        var reg_phone = /^[1][3,4,5,7,8][0-9]{9}$/;
        return reg_phone.test(mobile);
    },
    submitOne:function(){
        var mobile = $('#mobile1').val();
        var sms_code = $('#sms_code').val();

        if(!this.checkMobile(mobile)){
            layer.open({content: '手机号格式不正确！',skin: 'msg',time: 2});
            return false;
        }

        if(sms_code == ''){
            layer.open({content: '请填写验证码！',skin: 'msg',time: 2});
            return false;
        }

        if(!this.oneLoading){
            $.ajax({
                url:"/weixin/index/codeLogin",
                type:'post',
                data:{mobile:mobile,sms_code:sms_code},
                dataType:'json',
                beforeSend:function(){
                    objClass.oneLoading = true;
                },
                complete:function(){
                    objClass.oneLoading = false;
                },
                success:function(res){
                    if(res.code == 200){
                        layer.open({type: 2,content: '登录中...',time:4});
                        setTimeout(function(){
                            window.location.href = '/weixin/user/main';
                        },2000);
                        return false;
                    }else if(res.code == 301){
                        layer.open({content: '请求参数错误',skin: 'msg',time: 2});
                        return false;
                    }else if(res.code == 302){
                        layer.open({content: '验证码错误',skin: 'msg',time: 2});
                        return false;
                    }else if(res.code == 303){
                        layer.open({content: '验证码已过期',skin: 'msg',time: 2});
                        return false;
                    }else if(res.code == 304){
                        layer.open({content: '用户不存在',skin: 'msg',time: 2});
                        return false;
                    }else {
                        layer.open({content: '登录失败',skin: 'msg',time: 2});
                        return false;
                    }
                }
            });
        }
    },
    submitTwo:function(){
        var mobile = $('#mobile2').val();
        var password = $('#password').val();
        if(!this.checkMobile(mobile)){
            layer.open({content: '手机号格式不正确！',skin: 'msg',time: 2});
            return false;
        }
        if(!objClass.twoLoading){
            $.ajax({
                url:"/weixin/index/postLogin",
                type:'post',
                data:{mobile:mobile,password:password},
                dataType:'json',
                beforeSend:function(){
                    objClass.twoLoading = true;
                },
                complete:function(){
                    objClass.twoLoading = false;
                },
                success:function(res){
                    if(res.code == 200){
                        layer.open({type: 2,content: '登录中...',time:4});
                        setTimeout(function(){
                            window.location.href = '/weixin/user/main';
                        },2000)
                        return false;
                    }else if(res.code == 301){
                        layer.open({content: '请求参数错误',skin: 'msg',time: 2});
                        return false;
                    }else if(res.code == 302){
                        layer.open({content: '用户不存在',skin: 'msg',time: 2});
                        return false;
                    }else if(res.code == 303){
                        layer.open({content: '用户密码填写错误',skin: 'msg',time: 2});
                        return false;
                    }else{
                        layer.open({content: '登录失败',skin: 'msg',time: 2});
                        return false;
                    }
                }
            });
        }
    },
    sendSms:function(){
        var mobile = $('#mobile1').val();
        if(!this.checkMobile(mobile)){
            layer.open({content: '手机号格式不正确！',skin: 'msg',time: 2});
            return false;
        }

        if(codeObj.checkTime()){
            return false;
        }

        if(!this.sendSmsCode){
            $.ajax({
                url:"/weixin/index/sendQuickLoginSmsCode",
                type:'post',
                data:{mobile:mobile},
                dataType:'json',
                beforeSend:function(){
                    objClass.sendSmsCode = true;
                },
                complete:function(){
                    objClass.sendSmsCode = false;
                },
                success:function(res){
                    if(res.code == 200){
                        layer.open({content: '发送成功',skin: 'msg',time: 2});
                        codeObj.sendSmsCode();
                        return false;
                    }else if(res.code == 301){
                        layer.open({content: '请求参数错误',skin: 'msg',time: 2});
                        return false;
                    }else if(res.code == 302){
                        layer.open({content: '该手机号未注册',skin: 'msg',time: 2});
                        return false;
                    }
                }
            });
        }
    }
};

$('.eye').click(function () {
      $(this).parent().find("input").attr('type', function (_, attr) {
         return attr === 'password' ? 'text' : 'password'
      })
});

$(function(){
    $(".one").show();
    $(".top span").eq(0).addClass("se");
    var index=0;

    $("span").click(function(){
        index=$(this).index();
        $(".xia div").eq(index).show().siblings().hide();
        $(".top span").eq(index).addClass("se").siblings().removeClass("se")
    });

    FastClick.attach(document.body);
});
$(function(){
    $('.one input').on('.one input ',function(){
        if(($.trim($('#mobile1').val())!=="")&&($.trim($('#sms_code').val())!=="")){
        $('#btn').css({'background':'#7DB0E8'});
    }else{
        $('#btn').css({'background':'#EBEBEB'});
         }
    });

    $('.two input').on('.two input ',function(){
        if(($.trim($('#mobile2').val())!=="") && ($.trim($('#password').val())!=="")){
            $('#btn1').css({'background':'#7DB0E8'});
        }else{
            $('#btn1').css({'background':'#EBEBEB'});
        }
    });
});
</script>
</html>