{extend name="layout/layout" /}

{block name="css"}
<link rel="stylesheet" href="/pc/layui/css/layui.css"  media="all">
<style>
    #from-img-box{
        margin-top: 20px;
    }
    #from-img-box > div{
        float: left;
        margin-left: 5px;
        width: 100px;
        height: 120px;
    }

    #from-img-box > div:first-child{
        margin-left: 0px;
    }
    #from-img-box > div > img{
        width: 100px;
        height: 100px;
        border: 1px solid #f2f2f2;
    }

    .icon-i{
        background: #f3eef0;
    }

    .icon-i i:hover{
        color:#0b97c4 !important;
    }

    .icon-i i:nth-child(1){
        color: #0b93d5;font-size: 18px;font-weight: bold;cursor: pointer;
    }

    .icon-i i:nth-child(2){
        color: #0b93d5;font-size: 18px;font-weight: bold;margin-left: 20px;cursor: pointer;
    }

    .icon-i i:nth-child(3){
        color: #0b93d5;font-size: 18px;font-weight: bold;margin-left: 18px;cursor: pointer;
    }

    #remoteUrl{ime-mode: disabled !important;background-color: #cccccc;}

    #categoryList th{
        color:#00c0ef;
    }

    #categoryList .layui-badge{
        cursor: pointer;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 5px;
        margin-top: 5px;
    }

    .select{
        background: #00a65a !important;
        color: white !important;
    }
</style>
{/block}

{block name="main"}
<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="home-icon fa fa-home"></i> <a href="#">主页</a></li>
        <li><a href="#">商品模块</a></li>
        <li class="active">添加商品</li>
    </ul>
</div>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-box1" data-toggle="tab">商品(项目)信息</a></li>
                    <li><a href="#tab-box2" data-toggle="tab">商品(项目)详情</a></li>
                    <li><a href="#tab-box3" data-toggle="tab">购买须知</a></li>
                </ul>
                <div class="tab-content" style='min-height: 500px;'>
                    <div class="tab-pane active" id="tab-box1">
                        <form class="form-horizontal " onsubmit="return false;" id="fr-goods">
                            <div class="box-body">
                                <div class="form-group">
                                    <label  class="col-sm-1 control-label">商品名称</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="fr-good-name" placeholder="商品名称">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-1 control-label">搜索关键词</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="fr-search-words" placeholder="商品搜索关键词">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-1 control-label">商品分类</label>
                                    <div class="col-sm-10" style="padding-top: 5px;">
                                        <input type="hidden" value="" id="fr-category">
                                        <span class="layui-btn layui-btn-xs" onclick="objClass.choiceCategory()">  <i class="layui-icon layui-icon-add-1"></i> 选择分类</span>
                                        <span id='categoryList-select'></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-1 control-label">商品信息</label>
                                    <div class="col-sm-10">
                                        <div class="box box-danger">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">基础信息</h3>
                                            </div>
                                            <div class="box-body">
                                                <table class="table table-bordered">
                                                    <tbody>
                                                    <tr style="color: #0b97c4">
                                                        <th>市场价格</th>
                                                        <th>销售价格</th>
                                                        <th>预付价格</th>
                                                        <th>到付价格</th>
                                                        <th>预约名额</th>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="text" class="form-control" style="width: 150px;"  id="fr-market_price" /></td>
                                                        <td><input type="text" class="form-control" style="width: 150px;" id="fr-sell_price"></td>
                                                        <td><input type="text" class="form-control" style="width: 150px;" id="fr-prepay_price"></td>
                                                        <td><input type="text" class="form-control" style="width: 150px;" id="fr-topay_price"></td>
                                                        <td><input type="text" class="form-control" style="width: 150px;" id="fr-store_nums"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-1 control-label">是否上架</label>
                                    <div class="col-sm-10">
                                        <div class="layui-input-block" style="margin-left: 0px;" >
                                            <input type="radio" name="status" value="1" title="是"> 是
                                            <input type="radio" name="status" value="2" checked>  否
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-1 control-label">手术医生</label>
                                    <div class="col-sm-2">
                                        <select class="form-control" id="fr-doctor-id">
                                            <option value="">请选择医生</option>


                                            {foreach $doctorOrHospitalList['doctor'] as $vo }
                                                <option value="{$vo['doctor_id']}">{$vo['real_name']}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-1 control-label">手术医院</label>
                                    <div class="col-sm-2">
                                        <select class="form-control" id="fr-hospital-id">
                                            <option value="">请选择医院</option>
                                            {foreach $doctorOrHospitalList['hospital'] as $vo }
                                                <option value="{$vo['hospital_id']}">{$vo['hospital_name']}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-1 control-label">商品图片</label>
                                    <div class="col-sm-10">
                                        <div style="position: relative;cursor: pointer">
                                            <div class="layui-btn layui-btn-sm layui-btn-normal" style="color: white;position: absolute;top: 0;z-index: 1;">
                                                    <i class="layui-icon" ></i>商品图片
                                            </div>
                                            <input type="file" name="goodsFile" style="position: absolute;top: 0;z-index: 2;width: 87px;opacity: 0;"  id="fr-upload-goodsimg"  />
                                        </div>

                                        <div class="layui-inline layui-word-aux" style="margin-left: 100px;padding-top: 5px;top: 5px;">
                                                每张图片最大限制在2M以内，最多可添加6张
                                        </div>

                                        <div id="from-img-box">

                                        </div>
                                    </div>
                                </div>

                                <div class="box-footer clearfix" style="padding-left: 146px;">
                                    <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left" onclick="objClass.releaseGoods()">发布商品</a>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane" id="tab-box2">
                        <div class="box-body">
                            <textarea id="editor_id" name="content" style="width:99% !important;height:300px;background: white;"></textarea>

                            <div class="box-footer clearfix" style="padding-left: 0px;">
                                <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">发布商品</a>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="tab-box3">
                        <form class="form-horizontal " onsubmit="return false;" id="fr-instructions">
                            <div class="box-body">
                                <div class="form-group">
                                    <label  class="col-sm-1 control-label">购买有效期</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" placeholder="有效期多少天">
                                    </div>
                                    <div class="col-sm-3">
                                        商品购买日起 xxx 内有效
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-1 control-label">预约提示信息</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="fr-search-words" placeholder="商品搜索关键词">
                                    </div>
                                </div>



                                <div class="box-footer clearfix" style="padding-left: 146px;">
                                    <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left" onclick="objClass.releaseGoods()">发布商品</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script id="demo" type="text/html">
    <div style="min-width: 700px;min-height: 100px;" id="categoryList">
        <div class="layui-row layui-col-space1">
            <table class="table table-bordered">
                <tbody>
                    <tr id="cus-category-tr-1">
                        <th width="100" >一级分类</th><td id="cus-category-1"></td>
                    </tr>
                    <tr id="cus-category-tr-2">
                        <th>二级分类</th><td id="cus-category-2"></td>
                    </tr>
                    <tr id="cus-category-tr-3">
                        <th>三级分类</th><td id="cus-category-3"></td>
                    </tr>
                    <tr id="cus-category-tr-4">
                        <th>四级分类</th><td id="cus-category-4"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>

{/block}

{block name="js"}
    {js href="/pc/layui/layui.all.js" /}
    <script charset="utf-8" src="/static/plugin/kindeditor/kindeditor-all.js"></script>
    <script charset="utf-8" src="/static/plugin/kindeditor/lang/zh-CN.js"></script>
    <script type="text/javascript">
        KindEditor.ready(function (K) {
            // https://blog.csdn.net/qxl2012/article/details/78052128
            K.allowImageRemote = false;
            window.editor = K.create('#editor_id', {
                cssPath: '/static/plugin/kindeditor/plugins/code/prettify.css',
                resizeMode : 1,
                items : [
                    'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
                    'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                    'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                    'superscript', 'clearhtml', 'quickformat', 'selectall', '|',
                    'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                    'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'table', 'hr', 'pagebreak',
                    'anchor', 'link', 'unlink'
                ],
                uploadJson: '/index/upload/editUploadImgFile',
                allowFileManager: false,
                allowImageRemote:true,
                syncType:'auto',
                afterCreate: function () {
                    var self = this;
                    self.sync();
                }
            });

            window.editor.sync();
        });

        $(document).on('focus','#remoteUrl',function(){
            $(this).prop("readonly","readonly");
            $(this).parent().hide();
        });

        var objClass = {
            uploadLoading:false,
            categoryList:[],
            loading:false,
            uploadGoodsImg:function(formData){
                if(this.uploadLoading == false){
                    $.ajax({
                        url: '/seller/shopApi/uploadGoodImg',
                        type: 'POST',
                        cache: false,
                        data: formData,
                        processData: false,
                        contentType: false,
                        dataType: "json",
                        beforeSend:function(){
                            objClass.uploadLoading = true;

                            var html = '<div class="from-img-divs" style="background-color: #f2f2f2;" id="from-img-uploadimg">' +
                                    '<p align="center" style="margin-top: 30px;">' +
                                        '<i class="layui-icon layui-icon-loading layui-icon layui-anim layui-anim-rotate layui-anim-loop" style="font-size: 20px;"></i>' +
                                    '</p >' +
                                    '<br />' +
                                    '<p align="center" style="color: #CCCCCC">上传中...</p>' +
                                '</div>';

                            $('#from-img-box').append(html);
                        },
                        complete:function(){
                            objClass.uploadLoading = false;
                            $('#from-img-uploadimg').remove();
                        },
                        success: function (res) {
                            if(res.code == 200){
                                var html = '<div class="from-img-divs">' +
                                        '<img src="'+res.data.img+'" data-goodimgid="'+res.data.img_id+'"  class="fr-imgs-val" >' +
                                        '<div class="icon-i">' +
                                            '<i class="layui-icon layui-icon-left fr-move-left" title="左移动"></i>' +
                                            '<i class="layui-icon layui-icon-close fr-move-close" title="删除"></i>' +
                                            '<i class="layui-icon layui-icon-right fr-move-right" title="右移动"></i>' +
                                        '</div>' +
                                    '</div>';
                                $('#from-img-box').append(html);
                            }else{
                                layer.msg(res.msg);
                                $('#fr-upload-goodsimg').val('');
                            }
                        }
                    });
                }
            },
            tdMove:function(flag,obj){
                if(this.uploadLoading){
                    return false;
                }

                var div = $(obj).parent().parent(); //获取到触发的tr
                if(flag =="left"){    //向上移动
                    if($(div).prev().html()==null){ //获取tr的前一个相同等级的元素是否为空
                        return false;
                    }else {
                        $(div).insertBefore($(div).prev()); //将本身插入到目标tr的前面
                    }
                }else if(flag == 'right'){
                    if($(div).next().html()==null){
                        return false;
                    }else {
                        $(div).insertAfter($(div).next()); //将本身插入到目标tr的后面
                    }
                }
            },
            releaseGoods:function(){
                window.editor.sync();
                var data = {
                    name                :$.trim($('#fr-good-name').val()),
                    search_keyword      :$.trim($('#fr-search-words').val()),
                    category            :$('#fr-category').val(),
                    market_price        :parseFloat($('#fr-market_price').val()),
                    sell_price          :parseFloat($('#fr-sell_price').val()),
                    prepay_price        :parseFloat($('#fr-prepay_price').val()),
                    topay_price         :parseFloat($('#fr-topay_price').val()),
                    store_nums          :parseInt($('#fr-store_nums').val()),
                    status              :$('input[name="status"]:checked').val(),
                    doctor_id           :$('#fr-doctor-id').val(),
                    hospital_id         :$('#fr-hospital-id').val(),
                    img_ids             :'',
                    content             :$('#editor_id').val()
                };



                var img_num = 0;
                $.each($('.fr-imgs-val'),function(k,v){
                    data.img_ids +=  ','+ $('.fr-imgs-val')[k].dataset.goodimgid;
                    img_num++;
                });

                if(data.name == '') {
                    layer.msg('商品名称不能为空');
                }else if(data.category == ''){
                    layer.msg('请选择商品所在分类');
                }else if(data.market_price == ''){
                    layer.msg('市场价格不能为空');
                }else if(data.prepay_price == ''){
                    layer.msg('预付价格不能为空');
                }else if(data.topay_price == ''){
                    layer.msg('到付价格不能为空');
                }else if(data.store_nums == ''){
                    layer.msg('预约名额不能为空');
                }else if(data.doctor_id == ''){
                    layer.msg('请选择手术医生');
                }else if(data.hospital_id == ''){
                    layer.msg('请选择手术医院');
                }else if(img_num == 0){
                    layer.msg('请上传商品预览图片');
                }else if(objClass.loading == false){
                    var loading = layer.msg('提交中，请稍等...', {icon: 16,shade: 0.01,time:0});
                    $.ajax({
                        url: '/seller/shopApi/releaseGoods',
                        type: 'POST',
                        data: data,
                        dataType: "json",
                        beforeSend:function(){
                            objClass.loading = true;
                        },
                        complete:function(){
                            objClass.loading = false;
                            layer.close(loading);
                        },
                        success: function (res) {
                            if(res.code == 200){
                                layer.msg('提交成功...', {icon: 1});
                                setTimeout(function(){
                                    window.location.href = '/seller/shop/index'
                                },2000)
                            }else{
                                layer.msg(res.msg);
                            }
                        }
                    });
                }
            },
            choiceCategory:function(){
                var index = layer.open({
                    type: 1,
                    title:'选择分类',
                    area: ['800px', '400px'],
                    skin: 'layui-layer-rim', //加上边框
                    content: demo.innerHTML
                    ,btn: ['添加', '取消'],
                    yes:function(){
                        $('#categoryList-select').html('');

                        var val = '';
                        $.each($('.select'),function(k,v){
                             val += ','+ $('.select')[k].dataset.id;
                            $('#categoryList-select').append('<span class="layui-badge layui-bg-blue" data-id="'+ $('.select')[k].dataset.id +'" >'+ $('.select')[k].innerText +'</span>&nbsp;&nbsp;');
                        });

                        $('#fr-category').val(val);
                        layer.close(index);
                    }
                });

                this.ajaxLloadingCategory(1,0);
            },
            ajaxLloadingCategory:function(hierarchy,pid){
                $.ajax({
                    url: '/seller/shopApi/getCategoryList',
                    type: 'POST',
                    data:{category_id:pid},
                    dataType: "json",
                    success: function (res) {
                        if(res.code == 200){
                            var hierarchy2 = parseInt(hierarchy) + 1;
                            $.each(res.data.rows,function(k,v){
                                $('#cus-category-'+hierarchy).append('<span class="layui-badge layui-bg-gray click-find-category" data-findid="'+ hierarchy2 +'"  data-pid="'+ v.id+'"  data-id="'+ v.id +'">'+ v.name +'</span>');
                            });
                        }
                    }
                });
            },
        };

        $(document).on('click','.click-find-category',function(){
            if($(this).data('findid') == 2){
                $('#cus-category-2,#cus-category-3,#cus-category-4').html('');
            }else if($(this).data('findid') == 3){
                $('#cus-category-3,#cus-category-4').html('');
            }else if($(this).data('findid') == 4){
                $('#cus-category-4').html('');
            }
            $(this).addClass('select').siblings().removeClass('select');
            objClass.ajaxLloadingCategory($(this).data('findid'),$(this).data('pid'));
        });

        $('#fr-upload-goodsimg').on('change',function(){
            var formData = new FormData($('#fr-goods')[0]);
            objClass.uploadGoodsImg(formData);
        });

        $('#from-img-divs').on('from-img-divs');

        $(document).on('click','.fr-move-left',function(){
            objClass.tdMove('left',$(this));
        }).on('click','.fr-move-close',function(){
            var _this = $(this);
            var index = layer.confirm('您确定要删除图片吗？', {
                btn: ['删除','取消'] //按钮
            }, function(){
                _this.parent().parent().remove()
                layer.close(index);
            });
        }).on('click','.fr-move-right',function(){
            objClass.tdMove('right',$(this));
        });
    </script>
{/block}