{extend name="layout/layout2-main" /}

{block name="css"}
<link rel="stylesheet" href="/static/plugin/layui/css/layui.css"  media="all">
{/block}

{block name="main"}
<section class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-xs-12">
            <div class="tabs-container nav-tabs-custom">
                <ul class="nav nav-tabs" id="my-tab-status">
                    <li class="active" data-status="0"><a href="#tab-box1" data-toggle="tab">全部订单</a></li>
                    <li data-status="1"><a href="#tab-box1" data-toggle="tab">待支付</a></li>
                    <li data-status="2"><a href="#tab-box1" data-toggle="tab">待消费</a></li>
                    <li data-status="3"><a href="#tab-box1" data-toggle="tab">已完成</a></li>
                    <li data-status="4"><a href="#tab-box1" data-toggle="tab">退款</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-box1" class="tab-pane active">
                        <div class="panel-body">
                            <table class="layui-hide" id="cus-data-table" lay-filter="test"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{/block}

{block name="js"}
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm btn-refresh-bg" onclick="objClass.reload()"><i class="layui-icon layui-icon-refresh-3"></i></button>
    </div>
</script>

{js href="/static/plugin/layui/layui.all.js" /}
{js href="/static/seller/js/shop_goodsorder.js" /}
<script>

</script>
{/block}
