{extend name="layout/layout2-main" /}

{block name="css"}
<link rel="stylesheet" href="/static/plugin/layui/css/layui.css"  media="all">
{/block}

{block name="main"}
    <div class="row white-bg" id="cus-breadcrumb">
        <div class="col-sm-4">
            <ul class="breadcrumb">
                <li><a ><i class="fa fa-home"></i> 主页</a></li>
                <li>商品管理</li>
                <li>商品列表</li>
            </ul>
        </div>
    </div>
    <section class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox">
            <div class="ibox-title white-bg" style="border-top: 3px solid #f58d8d">
                <h5>商品列表</h5>
            </div>
            <div class="ibox-content">
                <table id="table-list" ></table>
            </div>
        </div>
    </section>
{/block}

{block name="js"}
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm btn-refresh-bg" onclick="objClass.reload()" ><i class="layui-icon layui-icon-refresh-3"></i></button>
        <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" onclick="objClass.add()"><i class="layui-icon layui-icon-add-1" ></i>添加商品</button>
        <button type="button" class="layui-btn layui-btn-sm layui-btn-warm" onclick="objClass.upperShelf()">申请上架</button>
        <button type="button" class="layui-btn layui-btn-sm layui-btn-danger" onclick="objClass.lowerShelf()">下架</button>
    </div>
</script>
{js href="/static/plugin/layui/layui.all.js" /}

{js href="/static/seller/js/shop_index.js" /}
<script type="text/javascript">


</script>
{/block}
