<footer class="wl-footer">
    <a href="/weixin/index/index">
        <div class="wl-foot">
            {if (checkFooter('/weixin/index/index')) }
                <dl class="iconfont icon-home_fill_light xian" style="font-size: 25px;"></dl>
                <dd class="xian">首页</dd>
            {else /}
                <dl class="iconfont icon-home_light" style="font-size: 25px;"></dl>
                <dd >首页</dd>
            {/if}
        </div>
    </a>
    <a href="/weixin/index/doctor">
        <div class="wl-foot">
            {if (checkFooter('/weixin/index/doctor')) }
            <dl class="iconfont icon-yishengsshixin xian" style="font-size: 25px;"></dl>
            <dd class="xian">医生</dd>
            {else /}
            <dl class="iconfont icon-yishengkkongxin" style="font-size: 25px;"></dl>
            <dd >医生</dd>
            {/if}
        </div>
    </a>
    <!--<a href="/weixin/shop/index">-->
        <!--<div class="wl-foot">-->
            <!--<dl class="iconfont icon-shoplight" style="font-size: 25px;color: #000000"></dl>-->
            <!--<dd>商城</dd>-->
        <!--</div>-->
    <!--</a>-->
    <a href="/weixin/index/hospital">
        <div class="wl-foot">
            {if (checkFooter('/weixin/index/hospital')) }
            <dl class="iconfont icon-yiyuan3 xian" style="font-size: 25px;"></dl>
            <dd class="xian">医院</dd>
            {else /}
            <dl class="iconfont icon-chakanyiyuan" style="font-size: 25px;"></dl>
            <dd >医院</dd>
            {/if}
        </div>
    </a>
    <a href="/weixin/user/main">
        <div class="wl-foot">
            {if (checkFooter('/weixin/user/main')) }
            <dl class="iconfont icon-my_fill_light xian" style="font-size: 25px;"></dl>
            <dd class="xian">我的</dd>
            {else /}
            <dl class="iconfont icon-my_light" style="font-size: 25px;"></dl>
            <dd >我的</dd>
            {/if}
        </div>
    </a>
</footer>