<footer class="wl-footer">
    <a href="/weixin/index/index">
        <div class="wl-foot">
            <dl class="iconfont icon-home_light" style="font-size: 25px;color: #000000"></dl>
            <dd>首页</dd>
        </div>
    </a>
    <a href="/weixin/index/doctor">
        <div class="wl-foot">
            <dl class="iconfont icon-yishengtubiao" style="font-size: 25px;color: #000000"></dl>
            <dd>医生</dd>
        </div>
    </a>
    <a href="/weixin/index/hospital">
        <div class="wl-foot">
            <dl class="iconfont icon-chakanyiyuan" style="font-size: 25px;color: #000000"></dl>
            <dd>医院</dd>
        </div>
    </a>
    <a href="/weixin/user/main">
        <div class="wl-foot">
            <dl class="iconfont icon-my_light" style="font-size: 25px;color: #000000"></dl>
            <dd>我的</dd>
        </div>
    </a>
</footer>