<link rel="stylesheet" href="/static/plugin/layui/css/layui.css"  media="all">
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-box1" data-toggle="tab">添加管理员</a></li>
                </ul>
                <div class="tab-content" style='min-height: 500px;'>
                    <div class="tab-pane active" id="tab-box1">
                        <form class="form-horizontal " onsubmit="return false;" id="fr-goods">
                            <div class="box-body">
                                <input type="hidden" value="{$data.id}" id="fr-admin_id">
                                <div class="form-group">
                                    <label  class="col-sm-1 control-label">管理员名称</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="fr-admin-username" placeholder="请输入管理员名称"  value="{$data.username}"  />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-1 control-label">管理员密码</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="fr-admin-password" maxlength="16" placeholder="请输入管理员密码"  value=""  />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-1 control-label">商品状态</label>
                                    <div class="col-sm-10" style="padding-top: 8px;">
                                        <div class="layui-input-block" style="margin-left: 0px;" >

                                            <label  style="font-weight:normal;cursor: pointer">
                                                <input type="radio" name="status" value="10" title="是" {eq name="data.status|default='1'" value="10"}checked{/eq} checked> 启用
                                            </label>
                                            &nbsp;&nbsp;&nbsp;
                                            <label  style="font-weight:normal;cursor: pointer">
                                                <input type="radio" name="status" value="0" {eq name="data.status|default='1'" value="0"}checked{/eq}>  已禁用
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer clearfix" style="padding-left: 146px;">
                                    <button type="submit" class="btn btn-success btn-embossed" onclick="objClass.releaseAdmin()">提交数据</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/static/admin/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/js/functions.js"></script>
<!-- layui -->
<script src="/static/plugin/layui/layui.all.js"></script>
<script>
    var objClass = {
        loading:false,
        releaseAdmin:function () {
            var data = {
                id       : $('#fr-admin_id').val(),
                username : $('#fr-admin-username').val(),
                password : $('#fr-admin-password').val(),
                status   : $('input:radio:checked').val(),
            };
            if(data.username == ''){
                layer.msg('管理员名称不能为空');
            }else if(data.username.length<5 || data.username.length>16){
                layer.msg('管理员名称格式不正确');
            }else if(!redream.checkPassword(data.password)){
                layer.msg('管理员密码格式有误');
            }else if(objClass.loading == false){
                var loading = layer.msg('提交中，请稍等...', {icon: 16,shade: 0.01,time:0});
                $.ajax({
                    url: '/admin/admin/releaseAdmin',
                    type: 'POST',
                    data: data,
                    dataType: "json",
                    beforeSend:function(){
                        objClass.loading = true;
                    },
                    complete:function(){
                        objClass.loading = false;
                        layer.close(loading);
                    },
                    success: function (res) {
                        if(res.code == 200){
                            layer.msg('提交成功...', {icon: 1});
                            setTimeout(function(){
                                window.location.href = '/admin/admin/index'
                            },2000)
                        }else{
                            layer.msg(res.msg);
                        }
                    }
                });
            }
        }
    }
</script>