<link rel="stylesheet" href="/static/plugin/layui/css/layui.css">
<section  class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">新增管理员</h3>
                </div>
                <form role="form" id="infoLogoForm" enctype="multipart/form-data" onsubmit="return false;">
                    <div class="box-body">
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="id" id="id" value="{$data.id}">
                        </div>
                        <div class="form-group">
                            <label for="username">管理员名称</label>
                            <input type="text" class="form-control" id="username" placeholder="请输入管理员" value="{$data.username}">
                        </div>
                        <div class="form-group">
                            <label for="password">密码</label>
                            <input type="password" class="form-control" id="password" maxlength="16" placeholder="请输入密码" value="">
                        </div>
                        <div class="form-group">
                            <label>状态</label>
                            <input type="radio" name="status" value="10" {eq name="data.status|default='1'" value="10"}checked{/eq} checked>启用
                            <input type="radio" name="status" value="0" {eq name="data.status|default='1'" value="0"}checked{/eq}>禁用
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" >提交</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
</section>
<script src="/static/admin/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/js/functions.js"></script>
<!-- layui -->
<script src="/static/plugin/layui/layui.js"></script>
<script>
    $('.btn').click(function () {
        var id = $('#id').val();
        var username = $('#username').val();
        var password = $('#password').val();
        var status = $('input:radio:checked').val();
        if(username == "" || username == null ){
            alert('用户名不能为空！');
            return false;
        }
        if(!redream.checkPassword(password)) {
            alert('密码格式有误！');
            return false;
        }
        var BtnData = {
            id:id,
            username:username,
            password:password,
            status:status,
        };
        $.ajax({
            url:"/admin/admin/releaseAdmin",
            data:BtnData,
            type:"POST",
            dataType:"json",
            success:function (data) {
                if(data.code == 200){
                    window.location.href = '/admin/admin/index';
                }else{
                    alert('新增失败');
                }
            }
        })
    })
</script>