
<link rel="stylesheet" href="/static/plugin/layui/css/layui.css"  media="all">

<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="home-icon fa fa-home"></i> <a href="/admin/index/index">主页</a></li>
        <li><a href="#">管理员模块</a></li>
        <li class="active">管理员列表</li>
    </ul>
</div>

<section class="content" >
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">管理员列表</h3>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="">
                            <button type="button" class="btn  btn-flat" onclick="objClass.reload()"><i class="layui-icon layui-icon-refresh-3" ></i>刷新</button>&nbsp;
                            <button type="button" class="btn  btn-flat" onclick="objClass.add()"><i class="layui-icon layui-icon-add-1" ></i>添加管理员</button>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table id="table-list" lay-filter="admin" ></table>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <!--<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
</script>
{js href="/static/plugin/layui/layui.all.js" /}
<script type="text/javascript">
    layui.table.render({
        elem: '#table-list'
        ,id:'tab-reload'
        ,url: '/admin/admin/getAdminList' //数据接口
        ,page: true
        ,request: {
            pageName: 'page' //页码的参数名称，默认：page
            ,limitName: 'page_size' //每页数据量的参数名，默认：limit
        }
        ,parseData: function(res){ //res 即为原始返回的数据
            return {
                "code": res.code, //解析接口状态
                "msg": res.msg, //解析提示文本
                "count": res.data.total, //解析数据长度
                "data": res.data.rows //解析数据列表
            };
        }
        ,cols: [[ //表头
            {field: 'id', title: 'ID', fixed: 'left',width:120},
            {field: 'username', title: '管理员姓名'},
            {field: 'status', title: '管理员状态',templet:function (res) {
                    if(res.status == 0){
                        return '<span class="label label-danger" lay-event="end">已禁用</span>';
                    }else if(res.status == 10){
                        return '<span class="label label-success" lay-event="show">已启用</span>';
                    }
                }},
            {field: 'created_at', title: '添加时间',sort:true},
            {field: 'updated_at', title: '修改时间'},
            {fixed: 'right', title:'操作', toolbar: '#barDemo', width:150},
        ]]
    });
    layui.table.on('tool(admin)',function (obj) {
        var data = obj.data;
        var id = data.id;
        if (data.status == 0 || data.status == 10){
            $.ajax({
                url:'/admin/admin/update',
                data:{id:id,status:data.status},
                type:"POST",
                dataType:"json",
                success:function (data) {
                    if(data.code == 200){
                        window.location.reload();
                    }else{
                        layer.msg('修改失败');
                    }
                }
            })
        }else if(obj.event === 'edit'){
            window.location.href = "/admin/admin/newAdmin/id/"+id;
        }
    });
    var objClass = {
        reload:function(){
            layui.table.reload('tab-reload', {
                page: {
                    curr: 1
                }
                ,where: {
                    key: {

                    }
                }
            });
        },
        add:function(){
            window.location.href = '/admin/admin/newAdmin';
        }
    };
</script>
