@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    list-style-image: none;
    list-style-type: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
input{
    outline:none;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}

body {
    position: relative;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

body {
    font-family: "思源黑体 CN";
    color: #221815;
    background: white;
    margin: 0 auto;
    min-width: 1200px;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: block;
}
.demo{
    width: 180px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    position: absolute;
    top: 70px;
    background: #7DB0E8;
    color: white;
}
.wl-fabiaoio{
    width: 180px;
    height: 60px;
    color: #333333;
    background: #ffffff;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    position: absolute;
    top: 0;
}

.wl-xianshi-neirong{
    width: 90%;
    min-height: 200px;
    margin: 0 auto;
}
.wl-all-title{
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #333333;
    font-size: 14px;
}
.wl-all-neirong{
    width: 100%;
    min-height: 120px;
    padding: 10px 0 10px 0 ;
}
.wl-all-left{
    width: 135px;
    height: 98px;
    float: left;
}
.wl-all-left img{
    width: 135px;
    height: 98px;
    float: left;
}
.wl-all-center{
    width: 560px;
    height: 98px;
    overflow: hidden;
    float: left;
    padding: 0 15px 0 15px;
}
.wl-all-right{
    width: 150px;
    height: 98px;
    color: #A0A0A0;
    padding-top: 10px;
    font-size: 14px;
    float: left;
    text-align: center;
}
.wl-all-center dl{
    width: 95%;
    font-size: 16px;
    min-height: 20px;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.wl-all-center dt{
    width: 60px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    background: #FFFAF5;
    color: #FEB091;
    font-size: 13px;
    margin: 5px 0 5px 0;
}
.wl-all-center dd{
    color: #A0A0A0;
    font-size: 13px;
    margin-top: 8px;
}
.layui-box{
    margin-top: 20px!important;
    float: right;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em{
    background: #7DB0E8!important;
}
.layui-laypage>a:first-child:hover{
    color:  #7DB0E8!important;
}
.layui-laypage>a:last-child:hover{
    color:  #7DB0E8!important;
}
