@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    list-style-image: none;
    list-style-type: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px;
    outline:none;

}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    /*font: inherit;*/
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}
/*select {*/
    /*!*清除select默认样式*!*/
    /*!*appearance:none;*!*/
    /*!*-moz-appearance:none;*!*/
    /*!*-webkit-appearance:none;*!*/
    /*!*-ms-appearance:none;*!*/

    /*border:1px solid #CCC;*/
    /*!*自定义箭头的样式，记得背景一定要加 白色或其他*!*/
    /*!*ie下,原默认的箭头样式还是会显示，所以这里把自定义的样式给去除了*!*/
    /*background:#fff;*/
    /*color:#666;*/
    /*outline:none;*/
/*}*/

body {
    position: relative;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
.de{
    background: #7DB0E8;
    color: white;
}
body {
    font-family: "微软雅黑 CN";
    color: #221815;
    background: white;
}

body {
    margin: 0 auto;
    min-width: 1500px;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none !important;
}
.wl-cang1 a:active{
    text-decoration: none;
    color: black;
}
.wl-con {
    width: 100%;
    height: auto;
    position: relative;
}

.wl-top {
    width: 100%;
    height: 80px;
    background: #7DB0E8;
}



.wl-she{
    margin-top: 52px;
    float: left;
    font-size: 18px;
    margin-left: 10px;
}

.wl-xl {
    width: 30px;
    height: 30px;
    font-size: 30px;
    position: absolute;
    right: -10px;
    top: 50px;
    color: white;
}

.tab-box{
    width:1265px;
    height: 930px;
    margin: 0 auto;
    margin-top: 30px;
    z-index: 10;
}
.renzheng{
    width: 180px;
    height: auto;
    float: left;
    margin-top: 79px;
    background: white;position: relative;
}
.wl-shimin{
    width: 180px;
    height: 60px;
    color: #333333;
    display: block;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    background: white;

}
.wl-shimin1{
    width: 180px;
    height: 60px;
    color: #333333;
    display: block;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    background: white;

}
.wl-cang1 a{
    color: black;
}
.tab-box li {
    width: 180px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}
.active {
    background:#7DB0E8;
    color: #FFFFFF!important;
    font-size: 18px;
}

.tab-content div {
    float: left;
    width: 1000px;
    min-height:815px;
    color: #000;
    display: none;
    background: #FFFFFF;
    margin-left: 20px;
}
.wl-liucheng{
    float: left;
    width: 1000px;
    height: 930px;
    color: #000;
    background: #FFFFFF;
    margin-left: 20px;
}
.tab-box div.active-txt {
    display: block;
}
.wl-geren p:nth-child(1){
    width: 100%;
    height: 80px;
    line-height: 80px;
    color: #333333;
    font-size: 18px;
    border-bottom: 1px solid #F1F1F1;
    padding-left: 60px;
}
.wl-geren1 p:nth-child(1){
    width: 100%;
    height: 80px;
    line-height: 80px;
    color: #333333;
    font-size: 18px;
    border-bottom: 1px solid #F1F1F1;
    padding-left: 60px;

}
.wl-geren3 p:nth-child(1){
    width: 100%;
    height: 80px;
    line-height: 80px;
    color: #333333;
    font-size: 18px;
    border-bottom: 1px solid #F1F1F1;
    padding-left: 60px;
}
.wl-geren2 p:nth-child(1){
    width: 100%;
    height: 68px;
    line-height: 80px;
    color: #333333;
    font-size: 18px;
    border-bottom: 1px solid #F1F1F1;
    padding-left: 60px;
}
.wl-zhen{
    width: 100%;
    height: 75px;
    line-height: 80px;
    color: #333333;
    font-size: 16px;
    padding-left: 60px;
}

.wl-zhen1{
    width: 100%;
    min-height: 60px;
    line-height: 70px;
    color: #333333;
    font-size: 16px;
    padding-left: 60px;
}
.wl-zhen2{
    width: 100%;
    height: 70px;
    line-height: 80px;
    color: #333333;
    font-size: 16px;
    padding-left: 60px;
}
.wl-zhen3{
    width: 100%;
    height: 70px;
    line-height: 80px;
    color: #333333;
    font-size: 16px;
    padding-left: 60px;
}
.wl-geren{
    position: relative;
}
.wl-geren1{
    position: relative;
}
.wl-geren2{
    position: relative;
    min-height: 800px;
}
.wl-geren3{
    position: relative;
}
.wl-zhen input{
    width: 680px;
    height: 40px;
    border: 1px solid #e7e7e7;
    font-size: 14px;
    padding-left: 5px;
    margin-left: 30px;
}
.wl-zhen1 input{
    width: 680px;
    height: 40px;
    border: 1px solid #e7e7e7;
    color: #888888;
    font-size: 14px;
    padding-left: 5px;
    margin-left: 30px;
}
.wl-zhen2 input{
     width: 680px;
     height: 40px;
     border: 1px solid #e7e7e7;
     color: #888888;
     font-size: 14px;
     padding-left: 5px;
     margin-left: 30px;
 }
.wl-zhen3 input{
    width: 680px;
    height: 40px;
    border: 1px solid #e7e7e7;
    color: #888888;
    font-size: 14px;
    padding-left: 5px;
    margin-left: 30px;
}
.wl-shangc{
    width: 138px;
    height: 138px;
    border: 2px dashed #cdcdcd;
    border-radius: 25px;
    float: left;
    margin-left: 60px;
    margin-top: 25px;
    z-index: 999;
}
.wl-shangc1{
    width: 138px;
    height: 138px;
    border: 2px dashed #cdcdcd;
    border-radius: 25px;
    float: left;
    margin-left: 60px;
    margin-top: 25px;
    cursor: pointer;
}
#xiangji{
    position: absolute;
    top: 53px;
    left: 93px;
    font-size: 70px;
    color: #cdcdcd;
}
#xiangji2{
    position: absolute;
    top: 40px;
    left: 94px;
    font-size: 70px;
    color: #cdcdcd;
}

#xiangji1{
    position: absolute;
    top: 53px;
    left: 291px;
    font-size: 68px;
    color: #cdcdcd;
}
 .wl-btn{
    width: 100%;
    height: 88px;
    border-top: 2px solid #F1F1F1;
    position: absolute;bottom: 90px;
}
.wl-btn button{
    width: 130px;
    height: 45px;
    line-height: 45px;
    background:#7DB0E8;
    color: #FFfFFF;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    float: right;
    margin-top: 40px;
    margin-right: 100px;
}
.wl-zhao1{
    font-size: 14px;
    color: #cdcdcd;
    position: absolute;
    top: 109px;
    left: 101px;
}
.wl-zhao2{
    font-size: 14px;
    color: #cdcdcd;
    position: absolute;
    top: 109px;
    left: 101px;
}
.wl-zhao3{
    font-size: 14px;
    color: #cdcdcd;
    position: absolute;
    top: 108px;
    left: 101px;
}
.wl-btn1{
    width: 100%;
    height: 88px;
    border-top: 2px solid #F1F1F1;
    position: absolute;bottom: 65px;
}
.wl-btn1 button{
    width: 130px;
    height: 45px;
    line-height: 45px;
    background: #7DB0E8;
    color: #FFfFFF;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    float: right;
    margin-top: 40px;
    margin-right: 100px;
}
.wl-sc-js{
    color: #AAAAAA;
    font-size: 14px;
    position: absolute;
    top: 165px;
    left: 400px;
}
.wl-btn2{
    width: 100%;
    height: 88px;
    border-top: 2px solid #F1F1F1;
    position: absolute;bottom: 65px;
}
.wl-btn2 button{
    width: 130px;
    height: 45px;
    line-height: 45px;
    background: #7DB0E8;
    color: #FFfFFF;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    float: right;
    margin-top: 40px;
    margin-right: 100px;
}
.wl-btn3{
    width: 100%;
    height: 88px;
    border-top: 2px solid #F1F1F1;
    position: absolute;bottom: 34px;
}
.wl-btn3 button{
    width: 130px;
    height: 45px;
    line-height: 45px;
    background: #7DB0E8;
    color: #FFfFFF;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    float: right;
    margin-top: 40px;
    margin-right: 100px;
}
.wl-huoqu{
    width: 164px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FC7D7D;
    font-size: 14px;
    border: 1px solid #F1F1F1;
    float: right;
    margin-right: 104px;
    margin-top: 12px;
}
.wl-sxia{
    position: absolute;
    top: 19px;
    right: 26px;
    color: #999999;
}
.wl-xz{
    position: absolute;
    top: 2px;
    left: 14px;
}
.wl-yonghu{
    width: 100px;
    height: 30px;
    color: #FFFFFF;
    font-size: 18px;
    position: absolute;
    top: 50px;
    right: 117px;
}
.wl-zhanghao{
    width: 188px;
    min-height: 200px;
    position: absolute;
    top: 0;
    right: 500px;
    z-index: 99;
}
.wl-zhanghao p{
    text-align: center;
    width: 164px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    color: #333333;
    padding-left: 8px;
    background: white;
    margin: 0;

}

.wl-xiany{
    border: 1px solid #F1F1F1;
}
.wl-xiany:hover{
    background: #F1F1F1;
}
.wl-toux{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 0;
}
.wl-qiehuan{
    width: 1000px;
    height: 930px;
    margin-left: 200px  ;
    border: 1px solid #F1F1F1;
    background: white;
}
.wl-qiehuan .top{
    width: 100%;
    height: 70px;
    line-height: 70px;
    font-size: 18px;
    border-bottom: 2px solid  #F1F1F1;
}
.wl-qiehuan .xia{
    width: 100%;
    height: 850px;
}
.one-1{
    width: 100%;
    height: 150px;
    border-bottom: 2px solid  #F1F1F1;
    position: relative;
}
.one,.two{
    width: 840px;
    height: 848px;
    margin-left: 60px;
    display: none;

}
.top span{
    text-align: center;
    margin-left: 60px;
    display: inline-block;
}
.one-1 img{
    width: 80px;
    height: 80px;
    float: left;
    margin-top: 28px;
    border-radius: 50%;
}
.one-1 dt{
    color: #333333;
    font-size: 20px;
    position: absolute;
    top: 38px;
    left: 115px;
}
.one-1 dd{
    color: #333333;
    font-size: 14px;
    position: absolute;
    top: 72px;
    left: 115px;
    width: 580px;
    min-height: 40px;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
}
.one-1 button{
    width: 115px;
    height: 40px;
    font-size: 14px;
    color: #333333;
    border-radius: 10px;
}
.se{
    color: #7DB0E8;
}
.wl-grxx{
    width: 720px;
    height: 666px;
    float: left
}

.wl-grxx div{
    width: 100%;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #F1F1F1;
    color: #333333;
    font-size: 16px;
    padding-left: 10px;
    float: left;
}
.wl-grxx div span:nth-child(1){
    width: 100px;
    display: block;
    float: left;
    text-align: left;
}
.wl-grxx div  span:nth-child(2){
   width: 200px;
    display: block;
    float: left;
    text-align: left;
    margin-left: 80px;
}
.two-1{
    width: 839px;
    height: 260px;
    margin: 0 auto;
    border-bottom: 2px solid #F1F1F1;
    position: relative;
}
.two{
    background: white;
}
.two-1 img{
    width: 138px;
    height: 170px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;

}
.two-2{
    width: 720px;
    height: 172px;
    margin: 0 auto;
}
.two-2 div{
    width: 100%;
    height: 80px;
    line-height: 80px;
    border-bottom: 2px solid #F8F8F8 ;
    font-size: 16px;
    color: #333333;
}
.wl-zhez {
    background: #FFFFFF;
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0px;
    background: rgba(0, 0, 0, .3);
    z-index: 99999;
}
.wl-zl{
    width: 576px;
    height: 320px;
    background: white;
    margin: 0 auto;
    margin-top: 200px;
    position:relative;
}
.wl-title{
    width: 100%;
    height: 54px;
    line-height: 54px;
    background: #f7f7f7;
    color: #333333;
    font-size: 18px;
    padding-left: 40px;
}
.wl-zheh{
    width: 100%;
    height: 60px;
    line-height: 73px;
    margin-top: 7px;
}
.wl-zhes{
    width: 100%;
    height: 47px;
    line-height: 55px;
    line-height: 55px;
    z-index: 1;

}

.wl-zheh span{
    width: 100px;
    color: #333333;
    font-size: 16px;
    margin-left: 77px;
}
.wl-zhes span{
    width: 100px;
    color: #333333;
    font-size: 16px;
    margin-left: 77px;
}
.wl-zheh input {
    width: 200px;
    height: 38px;
    border:1px solid #e7e7e7;
    margin-left: 40px;
    padding-left: 12px;
    color: #888888;
    font-size: 14px;
}
.wl-zhes input {
    width: 200px;
    height: 38px;
    border:1px solid #e7e7e7;
    margin-left: 40px;
    padding-left: 12px;
    color: #888888;
    font-size: 14px;
}
.wl-zheh button{
    width: 110px;
    height: 38px;
    line-height: 38px;
    background: #FAFAFA;
    color: #333333;
    font-size: 14px;
    border:1px solid #EEEEEE;
    margin-left: 27px;
    margin-top: 5px;
    border-radius: 5px;
}
.wl-zhes button{
    width: 110px;
    height: 38px;
    line-height: 38px;
    background: #FAFAFA;
    color: #333333;
    font-size: 14px;
    border:1px solid #EEEEEE;
    margin-left: 27px;
    margin-top: 5px;
    border-radius: 5px;
}

.wl-zheque{
    width: 100%;
    height: 75px;
    border-top:2px solid #f7f7f7;
    position: absolute;bottom: 10px;
    border-radius: 5px;
}
.wl-zheque button{
    width: 125px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    background: #DDDDDD;
    color: #FFFFFF;
    font-size: 16px;
    margin: 0 auto;
    display: block;
    margin-top: 19px;

}
.wl-yzmcw{
     width: 190px;
     height: 38px;
     background: #7DB0E8;
     border: 1px solid #EEEEEE;
     text-align: center;
     line-height: 38px;
     font-size: 16px;
     color: #FFFFFF;
     margin: 0 auto;
     border-radius: 5px;
     display: none;
    margin-top: 10px;
 }
.wl-yzcg{
    width: 170px;
    height: 34px;
    background: #7DB0E8;
    border: 1px solid #EEEEEE;
    text-align: center;
    line-height: 34px;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 10px;
}
.wl-zhez1{
    background: #FFFFFF;
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0px;
    background: rgba(0, 0, 0, .3);
    z-index: 99999;
}
.wl-zl1{
    width: 576px;
    height: 325px;
    background: white;
    margin: 0 auto;
    margin-top: 200px;
    position:relative;
}
.wl-title1{
    width: 100%;
    height: 54px;
    line-height: 54px;
    background: #f7f7f7;
    color: #333333;
    font-size: 18px;
    padding-left: 40px;
}
.wl-yibang{
    width: 250px;
    height: 20px;
    margin: 0 auto;
    font-size: 14px;
    color:#888888;
    margin-top: 10px;
}
.wl-yzcg1{
    position: relative;
    width: 180px;
    height: 34px;
    background: #7DB0E8;
    border: 1px solid #EEEEEE;
    text-align: center;
    line-height: 34px;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: -140px;
    z-index: 99999;
}
.wl-zhez2{
    background: #FFFFFF;
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0px;
    background: rgba(0, 0, 0, .3);
    z-index: 99999;
}
.wl-zl2{
    width: 576px;
    height: 340px;
    background: white;
    margin: 0 auto;
    margin-top: 200px;
    position:relative;
}
.wl-gexx{
    width: 100%;
    height: 54px;
    line-height: 54px;
    background: #f7f7f7;
    color: #333333;
    font-size: 18px;
    padding-left: 40px;
}
.wl-gerenl{
    width: 173px;
    height: 260px;
}
.cd{
    width: 73px;
    height: 73px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-left: 62px;
    margin-top: 20px;
}
.dd{
    width: 73px;
    height: 23px;
    background: #7DB0E8;
    position: absolute;
    color: #FFFFFF;
    font-size: 10px;
    bottom: 0px;
    padding-top: 4px;
    text-align: center;

}
.wl-ri{
width: 300px;
height: 215px;
position: absolute;
right: 70px;
top: 80px;
}
.wl-ri input{
width: 300px;
height: 38px;
border: 1px solid #EEEEEE;
color: #888888;
}
.wl-ri p{
color: #999999;
font-size: 12px;
margin-top: 10px;
}
.wl-ri textarea{
width: 300px;
height: 70px;
border: 1px solid #EEEEEE;
margin-top: 15px;
color: #888888;
}
.wl-que1{
width: 83px;
height: 30px;
font-size: 14px;
color: #FFFFFF;
background-color: #7DB0E8;
border-radius: 5px;
margin-top: 10px;
}
.wl-que2{
width: 83px;
height: 30px;
font-size: 14px;
color:#888888;
background: #EEEEEE;
border-radius: 5px;
margin-left: 30px;

}
.wl-fabiao{
width: 180px;
height: 60px;
color: #333333;
background: #ffffff;
text-align: center;
line-height: 60px;
font-size: 18px;
position: absolute;
top: 111px;
}
.wl-liucheng{
width: 1000px;
height: 930px;
background: #FFFFFF;
}
.wl-jindu{
width: 100%;
height: 70px;
line-height: 70px;
border-bottom: 1px solid #EEEEEE;

}
.wl-jieguo{
width: 530px;
height: 410px;
margin: 0 auto;
margin-top: 134px;
text-align: center;
}
.wl-jieguo button{
width: 180px;
height: 45px;
line-height: 45px;
background: #7DB0E8;
color: white;
border-radius:5px ;
font-size: 18px;
margin-top: 150px;
}
.wl-jieguo1{
 width: 530px;
 height: 430px;
 margin: 0 auto;
 margin-top: 134px;
 color: #333333;

}
.wl-jieguo2{
width: 530px;
height: 430px;
margin: 0 auto;
margin-top: 134px;
color: #333333;
text-align: center;
}
.wl-jieguo2 button{
width: 180px;
height: 45px;
line-height: 45px;
background: #7DB0E8;
color: white;
border-radius:5px ;
font-size: 18px;
margin-top: 150px;
}
.wl-jieguo1 button{
width: 180px;
height: 45px;
line-height: 45px;
background: #7DB0E8;
color: white;
border-radius:5px ;
font-size: 18px;
margin: 0 auto;
margin-top: 100px;
margin-left: 145px;

}
.wl-nui{
width: 125px;
height: 125px;
opacity: 0;
margin: 4px;
border: 0;
border-radius:25px;
}
.wl-foot{
width: 100%;
height: 100px;
line-height: 100px;
position: absolute;
bottom: -100px;
margin: 0 auto;
text-align: center;
color: #999999;
font-size: 14px;
}
.modal-open .modal{
position: fixed;
top: 190px;
}
/*.modal-body button{*/
    /*background: #7DB0E8;*/
    /*border:1px solid #7DB0E8 ;*/
/*}*/
/*.modal-body button:hover{*/
    /*background: #7DB0E8;*/
    /*border:1px solid #7DB0E8 ;*/
/*}*/
.btn-danger{
    background: #7DB0E8!important;
    border:1px solid #7DB0E8 !important;
}
.modal-header{
    background: #f7f7f7 !important;
}
.modal-content{
    border: 0 !important;
    border-radius: 0 !important;
}
.wl-liandong{
  width: 110px;height: 40px;line-height: 35px;    border: 1px solid #F1F1F1;
    color: #888888;
}
.wl-zhen1 textarea{
    width: 72%;
    min-height: 150px;
    border: 1px solid #e7e7e7;
    margin-left: 30px;
    resize: none;
    color: #888888;
    font-size: 14px;
    padding: 5px;
}