.wl-top {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: white;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #EEEEEE;
}
.top-left {
    position: absolute;
    top: 0;
    left: 5px;
}
.top-right1 {
    position: absolute;
    top: 0;
    right: 50px;
}
.top-right {
    position: absolute;
    top: 0;
    right: 15px;
}
.wl-meili {
    width: 100%;
    min-height: 300px;
    padding: 0 10px 10px 10px;
    border-bottom: 5px solid #F2F2F2;
}
.wl-meili-top {
    width: 100%;
    min-height: 50px;
    line-height: 50px;
}
.wl-meili-left img {
    width: 27px;
    height: 27px;
    float: left;
    margin: 12px 11px 0 5px;
}
.wl-meili-left {
    width: 80%;
    height: 50px;
    float: left;
}
.wl-meili-right {
    width: 20%;
    height: 50px;
    float: right;
    color: #999999;
    font-size: 10px;
}
.wl-meili-img {
    width: 100%;
    height: 172px;
}
.wl-img-left img {
    width: 48%;
    height: 172px;
    float: left;
}
.wl-yonghu-ming {
    color: #666666;
    font-size: 13px;
}
.wl-yonghu {
    width: 25px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    background-color: #F29C9F;
    color: #FFFFFF;
    font-size: 8px;
    border-radius: 2px;
    display: inline-block;
}
.img-gao {
    height: 100px;
    margin-top: 10px;

}
.dd{
    background-color: #EEEEEE;
    padding: 8px 0 8px 8px;
    width: 100%!important;
}
.wl-img{
    width: 20%;
    height: 60px;
    float: left;
}
.wl-img img{
    width: 60px;
    height: 60px;
    background: honeydew;
}
.wl-title{
    width: 78%;
    float: left;
    min-height: 10px;
    color: #1B1B1B;
    font-size: 12px;
    padding-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}
.wl-top-title{
    color: #999999;
    font-size: 10px;
}
.wl-shang{
    margin-top: 5px;
}
.wl-goumai{
    width: 78%;
    float: left;
    min-height: 10px;
    color: #FF615C;
    font-size: 12px;
    padding: 0 8px 0 8px;
    margin-top: 8px;
}
.wl-qugoumai{
    width: 50px;
    height: 20px;
    line-height: 16px;
    text-align: center;
    float: right;
    border: 1px solid #FF615C;
    border-radius: 25px;
}
.wl-bianmei{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    border-bottom: 5px solid #F2F2F2    ;
}
.wl-bianmei-title{
    width: 100%;
    height:20px;
    line-height: 20px;
}
.wl-daoxu{
    float: right;
    color: #1D1D1D;
    font-size: 11px;
}
.wl-riji{
    color: #1D1D1D;
    font-size: 14px;
    float: left;
}
.wl-riji-neirong{
    margin-top: 25px;
    padding-left: 20px;
    border-left: 1px solid #BFBFBF;
}
.wl-riji-shuhou{
    width: 50%;
    float: left;
    color: #1D1D1D;
    font-size: 13px;
    margin-left: 20px;
    padding-top: 5px;
}
.wl-riji-title{
    padding: 5px 10px 0px 0;
    min-height: 10px;
    color: #000000;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.wl-zhong{
    position: absolute;
    top: -17px;
    left: -26px;
}
.wl-dian{
    position: absolute;
    top: -9px;
    left: -28.5px;
}
.wl-neirong-img{
    width: 100%;
    min-height: 90px;
    margin-top: 8px;
}

.wl-imgfloat{
    margin-left: 4px;
}
.wl-imgfloat1{
    margin-left: 5px;
}
.wl-zan{
    float: right;
    margin-right: 27px;
    margin-top: 6px;
    color: #999999;
    font-size: 12px;
}
.wl-pinglun{
    width: 100%;
    height: 85px;
    padding: 0 10px 0 10px;
}
.wl-pinglun-img{
    height: 32px;
    line-height: 32px;
}
.wl-pinglun-img img{
    width: 32px;
    height: 32px;
}
.wl-pinglun-top{
    height: 35px;
    line-height: 35px;
    color: #1B1B1B;
    font-size: 13px;
}
.wl-pinglun-img textarea{
    width: 80%;
    height: 26px;
    line-height: 26px;
    background: #EEEEEE;
    border-radius: 25px;
    color: #999999;
    font-size: 10px;
    padding: 0 10px 0 10px;
    margin-left: 10px;
}
.wl-pinglun1{
    width: 95%;
    min-height: 85px;
    margin: 0 auto;
    margin-top: 15px;
}
.wl-pinglun1 img {
    border-radius: 50%;
}
.wl-ping-xiang {
    width: 85%;
    float: left;
    margin-left: 10px;
    min-height: 85px;
    border-bottom: 1px solid #EEEEEE;
}
.wl-name {
    color: #7DB0E8;
    font-size: 16px;
    float: left;
}
.wl-ping-neirong {
    width: 100%;
    min-height: 20px;
    color: #6d6d6d;
    float: left;
    font-size: 13px;
    margin: 5px 0;
}
.wl-pji {
    height: 30px;
    line-height: 30px;
    color: #222222;
    font-size: 11px;
    float: left;
}
.wl-xiangguan{
    height: 30px;
    line-height: 30px;
    color: #000000;
    font-size: 13px;
    padding: 0 10px 0 10px;
    border-bottom: 1px solid #EEEEEE;
}
.wl-pl{
    border-bottom: 5px solid #EEEEEE;
}

.wl-foot-img img:nth-child(1){
    margin-top: 5px;
}
.wl-foot-img img:nth-child(2){
    margin-top: 5px;
    margin-left: 3px;
}
.wl-neirong-img img{
    border-radius: 5px;
}
.wl-tuijian{
    width: 100%;
    min-height: 100px;
    padding: 10px;
}
.wl-tui1{
    width: 49.1%;
    float: left;
}
.wl-tui1:nth-child(odd){
    margin-right: 5px;
}
.wl-tui-img img{
    width: 98%;
    height: 23.2%;
    border-radius: 5px;
    background: #EEEEEE;
}

.wl-tui-title{
    margin-top: 5px;
    min-height: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #333333;
    font-size: 13px;
}
.wl-tui-xaing{
    height: 30px;
    line-height: 30px;
    color: #333333;
    font-size: 11px;
    padding: 0 5px 0 5px;
}
.wl-tui-xaing img{
    width: 20px;
    height: 20px;
    float: left;
    margin: 5px 5px 0 0px;
}
.wl-liulan{
    float: right;
    margin-right: 5px;
}
.wl-footerzan{
    position: fixed;
    bottom: 0;
    max-width: 640px;
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-top: 1px solid #DFDFDF;
    background: white;
}
.wl-zanl{
    width: 100%;
}
.wl-zanl li{
    text-align: center;
    width: 25%;
    height: 15px;
    line-height: 15px;
    border-right: 1px solid #DFDFDF;
    float: left;
    margin-top: 15px;
    color: #999999;
    font-size: 14px;
}
.text{
    padding-right: 5px;
}
.wl-img-top{
    width: 100%;
    min-height: 100px;
    float: left;
}
.wl-img-top-left{
    width: 65.5%;
    height: 25%;
    background: #EEEEEE;
    float: left;
    margin-right: 5px;
}
.wl-img-top-right{
    width: 32.5%;
    height: 25%;
    float: left;
}
.swiper-pagination-bullet-active{
    background: red!important;
}
.swiper-pagination-bullet{
    width: 5px!important;
    height: 5px!important;
}
.wl-top-two{
    width: 100%;
    min-height: 90px;
    float: left;
}
.wl-top-two-img{
    width: 32%;
    height: 13%;
    float: left;
    margin-top: 5px;
}
.wl-top-two-img:nth-child(1){
    margin-right: 5px;
}
.wl-top-two-img:nth-child(2){
    margin-right: 5px;
}
.wl-img-top-right img:nth-child(1){
     width: 100%;
     height: 48.5%;
    background: #EEEEEE;
    outline: none;
 }
.wl-img-top-left img{
    width: 100%;
    height: 100%;
}
.wl-img-top-right img:nth-child(2){
    margin-top: 5px;
    width: 100%;
    height: 48.5%;
    background: #EEEEEE;

}
.wl-top-two-img img{
    width: 100%;
    height: 100%;
    background: #EEEEEE;
}
.wl-meili-right button{
    width: 60px;
    height: 22px;
    line-height: 22px;
    color:#7DB0E8 ;
    font-size: 12px;
    border: 1px solid #7DB0E8;
    background: white;
    border-radius: 25px;
    margin-top: 15px;
}