.wl-top{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: white;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #EEEEEE;
}
.top-left{
    position: absolute;
    top: 0;
    left: 5px;
}
.top-right{
    position: absolute;
    top: 0;
    right: 15px;
}
.top-right1{
    position: absolute;
    top: 0;
    right: 50px;
}
.img-gao{
    height: 240px;
}
.swiper-wrapper img{
    width: 100%;
}
.wl-neirong{
    width: 100%;
    margin: 0 auto;
    min-height: 100px;

}
.wl-title{
    width: 100%;
    min-height: 10px;
    color: #1B1B1B;
    font-size: 13px;
    padding-top: 10px;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    padding: 10px 10px 0 10px;
}
.wl-jiage{
    width: 95%;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #EEEEEE;
}
.wl-jiage1{
    color: #F24F4F;
    font-size: 17px;
}
.wl-quchu{
    color: #999999;
    font-size: 11px;
    text-decoration: line-through;
    margin-left: 5px;
}
.wl-zizhi{
    width: 100%;
    height: 30px;
    padding: 0 10px 0 10px;
    line-height: 27px;
    border-bottom: 5px solid #F2F2F2;
    padding-left: 35px;
    background: url("/static/weixin/shop/image/index/dianjia.png")no-repeat 7px 2px;
    background-size: 20px;
    color: #333333;
    font-size: 10px;
}
.wl-dizhi{
    width: 100%;
    height: 100px;
    border-bottom: 5px solid #F2F2F2;
}
.wl-dianhua{
    width: 95%;
    height: 56px;
    margin: 0 auto;
    border-bottom: 1px solid #F2F2F2;
}
.dianhua-left{
    width: 80%;
    height: 56px;

    float: left;
}
.dianhua-left dt{
    width: 100%;
    float: left;
    margin-top: 7px;
    position: relative;
}
.dianhua-left dt i{
    float: left;

}
.wl-lu{
    color: #999999;
    font-size: 11px;
    margin-top: 3px;
    padding-right: 30px;
}
.dianhua-right{
    margin-top: 7px;
    width: 19%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: right;
    border-left: 1px solid #EEEEEE;
}
.wl-dizhixaing{
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #333333;
    font-size: 10px;
    padding: 0 10px 0 10px;
}
.wl-yishi{
    width: 100%;
    height: 178px;
    padding: 0 15px 0 15px;
    overflow: hidden;
}
.wl-tuijian{
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #EEEEEE;
}
.wl-tuijian span:nth-child(1){
    color: #1D1D1D;
    font-size: 13px;
    float: left;
}
.wl-tuijian span:nth-child(2){
    color: #666666;
    font-size: 11px;
    float: right;
}
.wl-lunbo-yishi{
    width: 100%;
    height: 150px;
    overflow: hidden;
    display: -webkit-box;
    overflow-x: scroll;
    -webkit-overflow-scrolling : touch;
}
.wl-yishi-left{
    width: 108px;
    height: 150px;
    margin-right: 5px;
    overflow: hidden;
}
.wl-ysname{
    width: 108px;
    height: 120px;
    border: 1px solid #EEEEEE;
    position: relative;
    text-align: center;
    float: left;
    margin-right: 5px;
    margin-top: 20px;
}
.wl-tubiao{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 33px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: url("/static/image/user/lanv.png")no-repeat 0px 0px;
    background-size: 25px;
    z-index: 999999!important;

}
.wl-ysname img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
}
.wl-ysname dl{
    margin-top: 55px;
    color: #1D1D1D;
    font-size: 13px;
}
.wl-ysname dt{
    color: #333333;
    font-size: 10px;
    margin-top: 5px;
}
.wl-ysname dd{
    color: #7DB0E8;
    font-size: 10px;
    margin-top: 7px;
}

.wl-jieshao{
    width: 100%;
    min-height: 86px;
    margin-top: 10px;
    padding: 0 15px 0 15px;
    border-top: 1px solid #EEEEEE;
}
.wl-shangping{
    width: 100%;
    height: 34px;
    line-height: 34px;
    color: #1D1D1D;
    font-size: 13px;
    cursor: pointer;
}
.wl-xiang{
    width: 100%;
    height: 23px;
    line-height: 23px;
    color: #1B1B1B;
    font-size: 10px;
    background: #F6F6F6;
    border-radius: 25px;
    overflow: hidden;
}
.wl-fenshu{
    float: right;
    height: 11px;
    padding-right: 20px;
}
.wl-jie{
    float: left;
    width: 250px;
    overflow: hidden;
}
.wl-menshi{
    float: right;
    color: #666666;
    font-size: 10px;
    margin-top: 8px;
}
.wl-deji{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #F2F2F2;
}
.wl-deji li{
    width: 33.3%;
    height: 40px;
    text-align: center;
    float: left;
    color: #010101;
    font-size: 13px;
}

.content{
    width: 100%;
    min-height: 200px;
}
.wl-deji li.active {
    color: #7DB0E8;
    border-bottom: 1px solid #7DB0E8;
}
.content .wl-d {
    width: 100%;
    min-height: 200px;
    display: none;
}
.content .active {
    display: block;
}
.wl-youshi{
    width: 100%;
    min-height: 20px;
    padding: 10px;
}
.wl-bizonghe{
    color: #000000;
    font-size: 12px;
}
.wl-bineirong{
    color: #333333;
    font-size: 11px;
    margin-top: 8px;
}
.wl-img{
    border-bottom: 5px solid #F2F2F2;
}
.wl-img img{
    width: 100%;
}
.wl-xuzhi{
    width: 100%;
    min-height: 100px;
    padding: 0 10px 0 10px;
}
.wl-shangping1{
    width: 100%;
    height: 34px;
    line-height: 34px;
    color: #1D1D1D;
    font-size: 13px;

    border-bottom: 1px solid #DFDFDF;
}
.wl-shangping2{
    width: 100%;
    height: 34px;
    line-height: 34px;
    color: #1D1D1D;
    font-size: 13px;
    border-top: 5px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
}
.wl-xuzhi dl{
    width: 100%;
    height: 20px;
    line-height: 20px;
    color: #999999;
    font-size: 10px;
}
.wl-xuzhi dt{
    width: 100%;
    height: 20px;
    line-height: 20px;
    color: #000000;
    font-size: 13px;
}
.wl-gengduo{
    width: 100%;
    min-height: 100px;
    padding: 0 10px 0 10px;
}
.wl-remen{
    width: 100%;
    height: 85px;
    overflow: hidden;
    border-bottom: 1px solid #DFDFDF;
}
.wl-remen-img{
    width: 85px;
    height: 60px;
    background: darkgrey;
    margin-top: 10px;
    float: left;
}
.wl-remen-img img{
    width: 85px;
    height: 60px;
}
.wl-remen-right{
    width: 73%;
    float: left;
    padding-left: 10px;
}
.wl-remen-right dl{
    overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
    width: 200px;
    height: 20px;
    line-height: 20px;
    color: #1D1D1D;
    font-size: 14px;
    margin-top: 10px;
}
.wl-remen-right dd{
    width: 100%;
    height: 22px;
    line-height: 22px;
}
.wl-remen-right dt{
    color: #999999;
    font-size: 11px;
}
.wl-jia-right{
    float: right;
    color:#999999;
    font-size: 9px;

}
.wl-re-footer{
    max-width: 650px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: white;
    padding: 5px;
    border-top: 1px solid #DFDFDF;
}
.wl-re-footer dl{
    color: #333333;
    font-size: 10px;
    height: 22px;
    line-height: 22px;
}
.wl-re-footer dd{
    color: #333333;
    font-size: 10px;
    height: 22px;
    line-height: 22px;
}
.wl-jiage2 {
    color: #F24F4F;
    font-size: 15px;
}
.wl-yuyue{
    width:60%;
    float: left;
}
.wl-qianggou{
    width: 40%;
    height: 30px;
    line-height: 30px;
    float: left;
    background: #FF615C;
    color: #FEFEFE;
    font-size: 14px;
    text-align: center;
    border-radius: 25px;
    margin-top: 5px;
}