.wl-top{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: white;
    text-align: center;
    position: fixed;
    top: 0;
    max-width: 640px;
    border-bottom: 1px solid #EEEEEE;
    z-index: 99999!important;
}
.top-left{
    position: absolute;
    top: 0;
    left: 5px;
}
.top-right{
    position: absolute;
    top: 0;
    right: 15px;
}
.top-right1{
    position: absolute;
    top: 0;
    right: 50px;
}
.img-gao{
    height: 240px;
}
.swiper-wrapper img{
    width: 100%;
    height: 240px;
}
.wl-neirong{
    width: 100%;
    margin: 0 auto;
    min-height: 100px;

}
.wl-title{
    width: 100%;
    min-height: 10px;
    color: #1B1B1B;
    font-size: 14px;
    padding-top: 10px;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    padding: 10px 10px 0 10px;
}
.wl-jiage{
    width: 95%;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #f1f1f1;
}
.wl-jiage1{
    color: #F24F4F;
    font-size: 17px;
}
.wl-quchu{
    color: #999999;
    font-size: 11px;
    text-decoration: line-through;
    margin-left: 5px;
}
.wl-zizhi{
    width: 100%;
    height: 40px;
    padding: 0 10px 0 10px;
    line-height: 33px;
    border-bottom: 5px solid #f1f1f1;
    padding-left: 35px;
    background: url("/static/weixin/shop/image/index/dianjia.png")no-repeat 10px 6px;
    background-size: 20px;
    color: #333333;
    font-size: 12px;
}
.wl-dizhi{
    width: 100%;
    min-height: 50px;
}
.wl-dianhua{
    width: 95%;
    min-height: 56px;
    margin: 0 auto;
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 0 3px 0;
}
.dianhua-left{
    width: 80%;
    height: 56px;

    float: left;
}
.dianhua-left dt{
    width: 100%;
    float: left;
    margin-top: 5px;
    position: relative;
}
.dianhua-left dt i{
    float: left;

}
.wl-lu{
    color: #999999;
    font-size: 11px;
    margin-top: 3px;
    padding-right: 30px;
}
.dianhua-right{
    margin-top: 7px;
    width: 19%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: right;
    border-left: 1px solid #f1f1f1;
}
.wl-dizhixaing{
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #333333;
    font-size: 11px;
    padding: 0 10px 0 10px;
    border-bottom: 5px solid #f1f1f1;

}
.wl-yishi{
    width: 100%;
    height: 178px;
    padding: 0 15px 0 15px;
    overflow: hidden;
}
.wl-tuijian{
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #EEEEEE;
}
.wl-tuijian span:nth-child(1){
    color: #1D1D1D;
    font-size: 13px;
    float: left;
}
.wl-tuijian span:nth-child(2){
    color: #666666;
    font-size: 11px;
    float: right;
}
.wl-lunbo-yishi{
    width: 100%;
    height: 150px;
    overflow: hidden;
    display: -webkit-box;
    overflow-x: scroll;
    -webkit-overflow-scrolling : touch;
}
.wl-yishi-left{
    width: 108px;
    height: 150px;
    margin-right: 5px;
    overflow: hidden;
}
.wl-ysname{
    width: 108px;
    height: 120px;
    border: 1px solid #EEEEEE;
    position: relative;
    text-align: center;
    float: left;
    margin-right: 5px;
    margin-top: 20px;
}
.wl-tubiao{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 33px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: url("/static/image/user/lanv.png")no-repeat 0px 0px;
    background-size: 25px;
    z-index: 999;

}
.wl-ysname img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
}
.wl-ysname dl{
    margin-top: 55px;
    color: #1D1D1D;
    font-size: 13px;
}
.wl-ysname dt{
    color: #333333;
    font-size: 10px;
    margin-top: 5px;
}
.wl-ysname dd{
    color: #7DB0E8;
    font-size: 10px;
    margin-top: 7px;
}

.wl-jieshao{
    width: 100%;
    min-height: 86px;
    margin-top: 10px;
    padding: 0 15px 0 15px;
    /*border-top: 1px solid #EEEEEE;*/
}
.wl-shangping{
    width: 100%;
    height: 34px;
    line-height: 34px;
    color: #1D1D1D;
    font-size: 13px;
    cursor: pointer;
}
.wl-xiang{
    width: 100%;
    height: 25px;
    line-height: 25px;
    color: #1B1B1B;
    font-size: 12px;
    background: #F6F6F6;
    border-radius: 25px;
    overflow: hidden;
    padding-left: 10px;
    margin-top: 5px;
}
.wl-fenshu{
    float: right;
    min-height: 11px;
    padding-right: 15px;
}
.wl-jie{
    float: left;
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.wl-menshi{
    float: right;
    color: #666666;
    font-size: 10px;
    margin-top: 8px;
    display: none;
}
.wl-deji{
    width: 100%;
    height: 35px;
    line-height: 35px;
    background: #fbfbfb;
    display: none;
}
.wl-deji li{
    width: 33.3%;
    height: 35px;
    text-align: center;
    float: left;
    font-size: 13px;
}
.wl-deji-show{
    display: block;
    position: fixed;
    top: 40px;
    max-width: 640px;
}
.content{
    width: 100%;
    min-height: 200px;
}
.wl-deji li.active {
    color: #7DB0E8!important;
    font-size: 14px;
}
.wl-youshi{
    width: 100%;
    margin: 0 auto;
    border-bottom: 5px solid #f1f1f1;
    padding: 10px;

}
.wl-youshi img{
    width: 100%!important;
    max-width: 100%;
}
.cus-sou{
    color:#FF615C!important;
}
.wl-bizonghe{
    color: #000000;
    font-size: 12px;
}
.wl-bineirong{
    color: #333333;
    font-size: 11px;
    margin-top: 8px;
}
.wl-img{
    border-bottom: 5px solid #F2F2F2;
}
.wl-img img{
    width: 100%;
}
.wl-xuzhi{
    width: 100%;
    min-height: 100px;
    /*padding: 0 10px 0 10px;*/
    border-bottom: 5px solid #f1f1f1;
}
.wl-shangping1{
    width: 100%;
    height: 38px;
    line-height: 34px;
    color: #1D1D1D;
    font-size: 13px;
    padding: 0 10px 0 10px;
    border-bottom: 1px solid #f1f1f1;

}
.wl-shangping2{
    width: 100%;
    height: 38px;
    line-height: 34px;
    color: #1D1D1D;
    font-size: 14px;
    padding: 0 10px 0 10px;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}
.wl-xuzhi dl{
    width: 100%;
    height: 20px;
    line-height: 20px;
    color: #999999;
    font-size: 10px;
}
.wl-xuzhi dt{
    width: 100%;
    min-height: 20px;
    line-height: 20px;
    color: #000000;
    font-size: 13px;
}
.wl-gengduo{
    width: 100%;
    min-height: 100px;

}
.wl-remen{
    width: 100%;
    height: 85px;
    overflow: hidden;
    border-bottom: 1px solid #f1f1f1;
}
.wl-remen-img{
    width: 85px;
    height: 60px;
    background: darkgrey;
    margin-top: 10px;
    float: left;
}
.wl-remen-img img{
    width: 85px;
    height: 60px;
}
.wl-remen-right{
    width: 73%;
    float: left;
    padding-left: 10px;
}
.wl-remen-right dl{
    overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
    width: 200px;
    height: 20px;
    line-height: 20px;
    color: #1D1D1D;
    font-size: 14px;
    margin-top: 10px;
}
.wl-remen-right dd{
    width: 100%;
    height: 22px;
    line-height: 22px;
}
.wl-remen-right dt{
    color: #999999;
    font-size: 11px;
}
.wl-jia-right{
    float: right;
    color:#999999;
    font-size: 9px;

}
.wl-re-footer{
    max-width: 650px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: white;
    padding: 5px;
    border-top: 1px solid #f1f1f1;
}
.wl-re-footer dl{
    color: #333333;
    font-size: 10px;
    height: 22px;
    line-height: 22px;
}
.wl-re-footer dd{
    color: #333333;
    font-size: 10px;
    height: 22px;
    line-height: 22px;
}
.wl-jiage2 {
    color: #F24F4F;
    font-size: 15px;
}
.wl-yuyue{
    width:60%;
    float: left;
}
.wl-qianggou{
    width: 40%;
    height: 30px;
    line-height: 30px;
    float: left;
    background: #FF615C;
    color: #FEFEFE;
    font-size: 14px;
    text-align: center;
    border-radius: 25px;
    margin-top: 5px;
}
.marsk-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0px;
    background: rgba(0, 0, 0, .5);
    z-index: 99999;
    display: none;
}
.marsk-container1{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0px;
    background: rgba(0, 0, 0, .5);
    z-index: 99999;
    display: none;
}
.tkyy_con1 {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70%;
    background: #FFFFFF;
    margin: 0 auto;
    z-index: 99999;
    max-width: 640px;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
}
.tkyy_con {
    position: fixed;
    top: 38%;
    left: 0;
    right: 0;
    width: 70%;
    height: 135px;
    background: #FFFFFF;
    margin: 0 auto;
    border-radius: 10px;
    z-index: 99999;
    max-width: 640px;
}
.tkyy_con .dian {
    width: 100%;
    height: 85px;
    line-height: 85px;
    text-align: center;
    color: #000000;
    font-size: 18px;
    border-bottom: 1px solid #F1F1F1;
}
.quxiao {
    float: left;
    display: block;
    width: 50%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-right: 1px solid #F1F1F1;
    color: #000000;
    font-size: 18px;
}
.bd {
    float: left;
    display: block;
    width: 50%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #000000;
    font-size: 18px;
}
.padding{
    padding: 5px 10px 0 10px;
}
.wl-meili{
    width: 100%;
    min-height: 300px;
    padding: 0 10px 10px 10px;
    border-bottom: 5px solid #F2F2F2;
}
.wl-meili-top{
    width: 100%;
    min-height: 50px;
    line-height: 50px;
}
.wl-meili-left{
    width: 80%;
    height: 50px;
    float: left;
}
.wl-meili-left img{
    width: 27px;
    height: 27px;
    float: left;
    margin: 12px 11px 0 5px;
}
.wl-meili-right{
    width: 20%;
    height: 50px;
    float: right;
    color: #999999;
    font-size: 10px;
}
.wl-yonghu-ming{
    color: #666666;
    font-size: 12px;
}
.wl-yonghu{
    width: 25px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    background-color: #F29C9F;
    color: #FFFFFF;
    font-size: 8px;
    border-radius:2px;
    display: inline-block;
}
.wl-meili-img{
    width: 100%;
    height: 172px;
}

.wl-img-left img{
    width: 48%;
    height: 172px;
    float: left;
}
.wl-title{
    width: 100%;
    min-height: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
}
.wl-longxioang{
    color: #7DB0E8;
    font-size: 11px;
}
.wl-long-top{
    width: 100%;
    height: 38px;
    line-height: 38px;
}
.wl-meili-left1{
    width: 80%;
    height: 38px;
    float: left;
}
.wl-meili-right1{
    width: 20%;
    height: 38px;
    float: right;
    color: #999999;
    font-size: 11px;
}
.se{
    color: #FF615C;
    font-size: 11px;
}
.bottom{
    margin-bottom: 5px;
}
.dingwei{
    position: fixed;
    top: 0;
}
.ckgd {
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #222222;
    font-size: 14px;
}
.wl-zhezhao-title{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #F24F4F;
    font-size: 17px;
    background: url(/static/weixin/shop/image/index/dianjia.png)no-repeat 140px 13px;
    background-size: 23px;
    padding-left: 15px;
    font-family:"宋体";
}
.wl-beian{
    width: 90%;
    min-height: 70px;
    margin: 0 auto;
    padding-top: 10px;
}
.wl-beian dl{
    font-size: 15px;
    color: #F24F4F;
}
.wl-beian dt{
    font-size: 13px;
    color: #A0A0A0;
    padding-left: 25px;
    margin-top: 8px;
}
.wl-quxiao{
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 20px!important;
    color: #B5B5B5!important;
}
.wl-deji li>i{
    font-size: 12px!important;
    margin-right: 3px;
    display: none;
}
