.wl-top{
    width: 100%;
    height: 40px;
    background: #FAFAFA;
    padding-top: 7px;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999 !important;
    max-width: 640px;
    margin: 0 auto;

}
.wl-top input{
    width: 90%;
    height: 25px;
    display: block;
    background: url(/static/weixin/shop/image/index/sousuo.png)no-repeat 16px 5px #EEEEEE;
    background-size: 16px;
    border-radius: 25px;
    margin: 0 auto;
    padding: 0 20px 0 38px;
    color: #999999;
    font-size: 11px;
}
.wl-daohang{
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-top: 5px;
    border-bottom: 1px solid #f1f1f1;
    z-index: 999999 !important;
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    background: white;
    max-width: 640px;
    margin: 0 auto;
}
.wl-daohang li{
    width: 33.3%;
    height: 20px;
    line-height: 20px;
    border-right: 1px solid #f1f1f1;
    text-align: center;
    float: left;
    color: #333333;
    font-size: 13px;
}
.wl-shangping{
    width: 95%;
    min-height: 110px;
    padding: 15px 0 15px 0;
    margin: 0 auto;
    overflow: hidden;
    border-bottom: 1px solid #f1f1f1;
}
.wl-sp-img{
    width: 90px;
    height: 90px;
    float: left;
}
.wl-sp-img img{
    width: 90px;
    height: 90px;
    background: #EEEEEE;
}
.wl-xiang{
    width: 240px;
    min-height: 30px;
    float: left;
    margin-left: 10px;
    overflow: hidden;
}
.wl-title{
    min-height: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #1D1D1D;
    font-size: 13px;
    margin-bottom: 3px;
}
.wl-yiyuan{
    color: #999999;
    font-size: 11px;
    margin-top: 3px;
}
.wl-jiage{
    color: #F24F4F;
    font-size: 17px;
}
.wl-quchu{
    color: #999999;
    font-size: 11px;
    text-decoration:line-through;
    margin-left: 5px;
}
.wl-name{
    padding-right: 5px;
    border-right: 1px solid #EEEEEE;

}
.wl-meirong{
    padding-left: 5px;
}
.marsk-container {
    display: none;
    background: #FFFFFF;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0px;
    background: rgba(0, 0, 0, .5);
    z-index: 10;
}
.tkyy_con{
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    width: 100%;
    height: 70%;
    background: #FFFFFF;
    margin: 0 auto;
    overflow: hidden;
    max-width: 640px;
}
.tkyy_con2{
    position: fixed;
    top: 40%;
    left: 0;
    right: 0;
    width: 70px;
    height: 70px;
    background: #656565;
    margin: 0 auto;
    overflow: hidden;
    max-width: 640px;
    /*opacity: 0.5;*/
    border-radius: 5px;
}
.marsk-container1 {
    display: none;
    background: #FFFFFF;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0px;
    background: rgba(0, 0, 0, .5);
    z-index: 10;
}
.marsk-container2{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0px;
    z-index: 9999999!important;

}
.tkyy_con1{
    max-width: 640px;
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 10px;
    background: #FFFFFF;
    margin: 0 auto;
    overflow: hidden;
}

.wl-deji{
    width: 27%;
    float: left;
    height: 100% ;
    background: #FBFBFB;
    overflow-y:auto;
}
.wl-deji li{
    padding-left: 20px;
    height: 35px;
    line-height: 35px;
    color: #333333;
    font-size: 14px;

}
.content{
    width: 73%;
    height: 100%;
    float: left;
    overflow-y: auto;
}
.wl-deji li.active {
    background-color: #EFF7FF;
    color: #7DB0E8;
    border-left: 2px solid #7DB0E8;
}
.content .wl-d {
    width: 100%;
    padding-left: 22px;
    display: none;

}
.content .active {
    display: block;
}
.wl-chakan{
    width: 100%;
    min-height: 25px;
    line-height: 25px;
    color: #333333;
    font-size: 13px;
}
.wl-das{
    width: 100%;
}
.wl-maixian{
    padding: 0 10px 0 10px;
    width:fit-content;
    width:-moz-fit-content;
    height: 20px;
    line-height:20px;
    color: #333333;
    font-size: 12px;
    border: 1px solid #E5E5E5;
    border-radius: 25px;
    text-align: center;
    float: left;
    margin: 5px 8px 5px 0!important;
}
.wl-xiao{
    width: 90%;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    padding-left: 15px;
    border-bottom: 1px solid #f1f1f1;
    color: #333333;
    font-size: 13px;
}
.to-datail-href{
    cursor: pointer
}
.wl-touming{
    width: 30px;
    height: 30px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
}
.wl-jiazai{
    color: white;
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
}
.wl-se{
    color: #7DB0E8;
}
.wl-se1{
    color: #7DB0E8;
}
.wl-d div{
    margin: 5px 0 5px 0;
    font-size: 13px;
}
.wl-good{
    width: 40px;
    height: 120px;
    position: absolute;
    bottom: 150px;
    right: 10px;
    background: #000000;
    border-radius: 30px;
    color: white;
    opacity: 0.4;
    text-align: center;
    z-index: 1;
}
.wl-good dl{
    width: 80%;
    margin: 0 auto;
    font-size: 25px!important;
    border-bottom: 1px solid white;
    padding: 5px 0 5px 0;
}
.wl-good dd{
    font-size: 25px!important;
    padding: 5px 0 0px 0;
}
.wl-shuaxin{
    width: 80%;
    margin: 0 auto;
    font-size: 25px!important;
    border-bottom: 1px solid white;
    padding: 5px 0 5px 0;
}
.wl-haohuo {
    width: 30px;
    height: 13px;
    line-height: 13px;
    text-align: center;
    background: #F24F4F;
    color: white;
    font-size: 9px;
    display: inline-block;
    position: absolute;
    bottom: 219px;
    right: 13px;
    border-radius: 5px;
    z-index: 2;
}.wl-haohuo {
     width: 30px;
     height: 13px;
     line-height: 13px;
     text-align: center;
     background: #F24F4F;
     color: white;
     font-size: 9px;
     display: inline-block;
     position: absolute;
     bottom: 214px;
     right: 11px;
     border-radius: 5px;
     z-index: 2;
 }
#container{
    padding-bottom: 100px;
}
.wl-dingwei{
    position: fixed;bottom: 0;max-width: 640px;margin: 0 auto;width: 100%
}
input{ pointer-events: none; }
@media screen and (min-width:480px){
    .wl-sp-img{
        width: 130px;
        height: 130px;
        float: left;
    }
    .wl-sp-img img {
        width: 130px;
        height: 130px;
        background: #EEEEEE;
    }
    .tkyy_con {
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;
        width: 100%;
        height: 60%;
        background: #FFFFFF;
        margin: 0 auto;
        overflow: hidden;
        max-width: 640px;
        z-index: 999;
    }
}