.wl-top {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: white;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #EEEEEE;
}
.top-left {
    position: absolute;
    top: 0;
    left: 5px;
}
.wl-zhifu{
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding:  0 10px 0 10px;
    color: #999999;
    font-size: 11px;
}
.wl-zhifu1{
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding:  0 10px 0 10px;
    color: #999999;
    font-size: 12px;
    background: white;
    color: #1B1B1B;
}
.wl-bth {
    width: 80%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    background: #7DB0E8;
    color: white;
    border-radius: 5px;
    margin-top: 140px;
}
.wl-wancheng{
    width: 100%;
    color: #333333;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}
.wl-tanchu{
    width: 100px;
    height: 100px;
    text-align: center;
    background: black;
    opacity: 0.6;
    border-radius: 10px;
    color: white;
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;

}
.wl-zhifu-tu{
    font-size: 30px!important;
}
.wl-tanchu dl{
    margin-top: 20px;
}
.wl-tanchu dt{
    margin-top: 10px;
}
.wl-tanchu dd>i{
    font-size: 11px!important;
}
.wl-zhezhao{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: none;
}
.wl-all-right:hover{
    color: #7DB0E8!important;
}
