.wl-top {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: white;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #EEEEEE;
    max-width: 640px;
    margin: 0 auto;
}
.top-left {
    position: absolute;
    top: 0;
    left: 5px;
}
.wl-deji{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: white;
}
.wl-deji li{
    width: 25%;
    height: 40px;
    text-align: center;
    float: left;
    color: #010101;
    font-size: 13px;
}


.wl-dingdan{
    width: 100%;
    min-height: 100px;
    margin: 0 auto;
    background: #FFFFFF;
    border-bottom: 5px solid #f1f1f1;
}
.wl-xiannv {
    color: #999999;
    font-size: 13px;
    float: left;
}
.wl-jiage1 {
    color: #333333;
    font-size: 13px;
    float: right;
margin-right: -8px;
}
.wl-zonghe1 {
    width: 95%;
    height: 35px;
    margin: 0 auto;
    line-height: 35px;
    padding: 0 15px 0 10px;
    border-bottom: 1px solid #f1f1f1;
}
.wl-remen {
    width: 95%;
    height: 110px;
    padding-top: 8px;
    margin:  0 auto;
    overflow: hidden;
    border-bottom: 1px solid #f1f1f1;
}
.wl-remen-img {
    width: 72px;
    height: 72px;
    background: darkgrey;
    margin-top: 10px;
    float: left;
}
.wl-remen-img img {
    width: 72px;
    height: 72px;
}
.wl-remen-right {
    width: 73%;
    float: left;
    padding-left: 10px;
}
.wl-remen-right dl {
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    width: 240px;
    min-height: 15px;
    line-height: 17px;
    color: #1D1D1D;
    font-size: 13px;
    margin-top: 10px;
}
.wl-remen-right dt {
    margin-top: 5px;
    color: #999999;
    font-size: 11px;
}
.wl-remen-right dd {
    margin-top: 3px;
    line-height: 22px;
}

.wl-quchu {
    color: #999999;
    font-size: 11px;
}
.wl-xiangqing{
    width: 95%;
    margin: 0 auto;
    height: 44px;
    line-height: 44px;
    padding-top: 13px;

}
.wl-chakan{
    min-width: 50px;
    padding:  0 10px 0 10px;
    height: 22px;
    line-height: 22px;
    color: #616161;
    font-size: 12px;
    border: 1px solid #d6d6d6;
    text-align: center;
    float: right;
    margin-right: 15px;
    border-radius:25px;
}
.wl-zhifu{
    min-width: 50px;
    padding:  0 10px 0 10px;
    height: 22px;
    line-height: 20px;
    color: #7DB0E8;
    font-size: 12px;
    text-align: center;
    float: right;
    border-radius: 25px;
    border: 1px solid #d6d6d6;
}
.wl-deji li span{
    width: 60px;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    border: 1px solid red;
    display: block;
    text-align: center;
}
.wl-jiageo{
    color: #333333;
    font-size: 13px;
    float: right;
    margin-right: -20px;

}
.wl-zhanwu{
    width: 100%;
    min-height: 50px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30%;
}
.wl-zhanwu dl{
    font-size: 90px!important;
    color: #7DB0E8!important;
}
.wl-zhanwu dt{
    font-size: 16px!important;
    color: #666666 !important;
}
.wl-zhanwu dd{
    font-size: 11px!important;
    color: #999999!important;
}
* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -webkit-tap-highlight-color:transparent;
}
body{background-color: white}
ul{list-style-type: none}
a {text-decoration: none;color: #18B4FE;}

/*模拟的标题*/
.header{
    z-index: 9990;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 16px;
    text-align: center;
    background-color: white;
}
.header .btn-left{
    position: absolute;
    top: 0;
    left: 0;
    padding:12px;
}
.header .btn-right{
    position: absolute;
    top: 0;
    right: 0;
    padding:12px 8px;
}
.header .tip{
    margin-top: 4px;
    font-size: 12px;
    color: gray;
}
/*菜单*/
.header .nav{
    width: 100%;
    margin-top: 8px;
    height: 27px;
    border-bottom: 1px solid #ddd;
    font-size: 14px!important;
    color: #000000!important;
    max-width: 640px;
    margin: 0 auto;
}
.header .nav p{
    display: inline-block;
    width: 23%;
    padding: 5px 0;
}
.header .nav .active{
    border-bottom: 1px solid #7DB0E8;
    color: #7DB0E8;
}
/*列表*/
.mescroll{
    position: fixed;
    top: 84px;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
}
/*展示上拉加载的数据列表*/
.data-list li{
    position: relative;
    padding: 10px 8px 10px 120px;
    border-bottom: 1px solid #eee;
}
.data-list .pd-img{
    position: absolute;
    left: 18px;
    top: 18px;
    width: 80px;
    height: 80px;
}
.data-list .pd-name{
    font-size: 16px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
}
.data-list .pd-price{
    margin-top: 8px;
    color: red;
}
.data-list .pd-sold{
    font-size: 12px;
    margin-top: 8px;
    color: gray;
}
.wl-zhifu1{
    min-width: 50px;
    padding:  0 10px 0 10px;
    height: 22px;
    line-height: 20px;
    color: #7DB0E8;
    font-size: 12px;
    text-align: center;
    float: right;
    border-radius: 25px;
    border: 1px solid #d6d6d6;
    margin: 8px 20px 8px 0;

}
/*隐藏*/
.hide{display: none;}
.mescroll-empty .empty-icon{
    width: 18%!important;
    margin-top: 50px;
}
.mescroll-empty .empty-btn{
    margin-top: 40px;
    color: #7DB0E8;
    border: 1px solid #7DB0E8;
}
