.wl-top {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: white;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #EEEEEE;
}
.top-left {
    position: absolute;
    top: 0;
    left: 5px;
}
.wl-zonghe{
    width: 100%;
    min-height: 37px;
    padding: 8px 15px 0 10px;

}
.wl-xiannv{
    width: 73%;
    min-height: 30px;
    color: #999999;
    font-size: 14px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 3px;
}
.wl-xiann{
    min-height: 18px;
    color: #999999;
    font-size: 13px;
    float: left;
}

.wl-jiage1{
    width: 20%;
    color: #333333;
    font-size: 13px;
    float: right;
    text-align: center;
    padding-right: 5px;
}
.wl-zonghe1{
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding: 0 15px 0 10px;
    background: #FFFFFF;
    margin-top: 10px;
}
.wl-zonghe2{
    width:100%;
    height: 30px;
    line-height: 30px;
    padding: 0 15px 0 10px;
    background: #FFFFFF;
    margin-top: 1px;
}
.wl-xiannv1{
    color: #999999;
    font-size: 13px;
    float: left;
    padding-left: 30px;
    background: url("/static/weixin/shop/image/index/jian.png")no-repeat 2px 9px;
    background-size: 20px;
}
.wl-jiage2{
    color: #333333;
    font-size: 11px;
    float: right;

}
.wl-bjtu{
    width: 24px;
    height: 30px;
    float: right;
    background: url("/static/weixin/shop/image/index/xuan.png")no-repeat 8px 8px;
    background-size: 15px;
}
.wl-bjtu1{
    width: 24px;
    height: 30px;
    float: right;
    background: url("/static/weixin/shop/image/index/xuan1.png")no-repeat 8px 8px;
    background-size: 15px;
}
/*.active{*/
    /*background: url(/static/shop/image/index/xuan1.png)no-repeat 50px 8px;*/
    /*background-size: 15px;*/
/*}*/
.wl-youhui{
    float: right;
    text-align: right;
    padding-right: 5px;
}
.wl-youhui dl{
    height: 10px;
    color: #1B1B1B;
    font-size: 12px;
    margin-top: -5px;

}.wl-youhui dd{
     height: 10px;
    color: #999999;
    font-size: 9px;
    margin-top: 3px;
 }
 .se{
     color: #333333;
 }
 .wl-bth{
     width: 80%;
     height: 40px;
     line-height: 40px;
     text-align: center;
     margin: 0 auto;
     background: #7DB0E8;
     color: white;
     border-radius: 5px;
     margin-top: 140px;
 }