@charset "UTF-8";
* { margin: 0; padding: 0; border: 0; list-style: none; list-style-image: none; list-style-type: none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video { margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline; }
ol, ul { list-style: none; }
body{position:relative;}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { font-family: "思源黑体 CN";color:#221815;font-size: 40px}
body{max-width:750px;margin:0 auto;min-width: 320px;}
ul li{list-style-type: none;}
a{text-decoration: none;color: #221815;display: block;}
*:focus { outline: none; }
html,body{ height:100%;overflow:visible }
.con {
	width: 100%;
	min-height: 800px;
}
.add{
	position: fixed;
}
.ding {
	width: 100%;
	height: 42px;
	line-height: 82px;
	background: url(../image/reg/zj.png)no-repeat 15px 11px;
	background-size: 21px;
	border-bottom: 1px solid #F1F1F1;
}

.ding p {
	text-align: center;
	font-size: 0.34rem;
	color: #1B1B1B;
}

.wx-top {
	width: 100%;
	height: 120px;
	font-size:0.48rem;
	color: #1D1D1D;
}

.top1 {
	width: 100%;
	min-height: 30px;
	line-height: 30px;
	margin: 0 auto;
	margin-top: 10px;
	padding: 0 20px 0 20px;
	font-size: 0.35rem;
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;



}

.top2 {
	width: 670px;
	height: auto;
	margin: 0 auto;
	margin-top: 96px;
	color: #1F1F1F;
	font-size: 0.34rem;
}

.wx-name {
	width: 100%;
	height: 60px;
	margin-top: 10px;
	position: relative;
}

.wx-tou {
	width: 45px;
	height: 45px;
	display: block;
	border-radius: 50%;
	background: khaki;
	position: absolute;
	top: 6px;
	left: 30px;
}

.wx-yh {
	position: absolute;
	top: 12px;
	left: 90px;
}

.wx-rig {
	width: 80px;
	height: 30px;
	background: #7DB0E8;
	color: #FFFFFF;
	font-size: 0.26rem;
	position: absolute;
	right: 35px;
	top: 12px;
	border-radius: 5px;
}

.wx-img {
	width: 680px;
	height: 300px;
	margin: 0 auto;
	display: block;
	background: gainsboro;
}
.wx-fx{
	width: 100%;
	min-height: 40px;
}
.wx-fx button {
	width: 29%;
	height: 35px;
	line-height: 35px;
	float: left;
	margin-right: 7px;
	border: 1px solid #E0E0E0;
	border-radius: 10px;
	color: #1D1D1D;
	font-size: 0.24rem;
	background: white;

}

/*.wx-fx button:nth-child(1) {*/
	/*background: url(../image/user/dz.png)no-repeat 12px 7px;*/
	/*background-size: 20px 20px;*/
/*}*/



/*.wx-fabulous-yes{*/
    /*background: url(../image/index/dz.png)no-repeat 12px 7px !important;*/
	/*background-size: 20px;*/
/*}*/

.wx-fx button:nth-child(2) {
	padding-left: 25px;
	background: url(../image/user/pyq.png)no-repeat 10px 8px;
	background-size: 20px 20px;
}


.wx-xg {
	width: 100%;
	min-height: 34px;
	line-height: 34px;
	background: #F2F2F2;
	color: #1D1D1D;
	font-size:0.28rem;
	text-align: center;
}

.wzxq {
	width: 95%;
	min-height: 115px;
	margin: 0 auto;
	margin-left: 10px;
	position: relative;
	top: 10px;
}

.wx-x {
	width: 55%;
	min-height: 75px;
	position: absolute;
	left: 15px;
	padding-top: 10px;
}

.wx-x h3 {
	min-height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	color: #1F1F1F;
	font-size: 0.3rem;
}

.wx-x p span:nth-child(1) {
	margin-top: 10px;
	float: left;
	font-size: 0.22rem;
	color: #898989;
}

.wx-x p span:nth-child(2) {
margin-top: 10px;
    float: right;
    margin-right: 30px;
    font-size: 0.22rem;
    color: #898989;
}

.wzxq img {
	width: 35%;
	height: 80px;
	display: block;
	float: right;
	margin-right: 10px;
	background: gray;
}

.ckgd {
	width: 100%;
	min-height: 45px;
	line-height: 45px;
	text-align: center;
	color: #222222;
	font-size: 0.28rem;
}

.pl {
	width: 100%;
	min-height: 115px;
	margin: 0 auto;
	padding: 20px 0px;
	position: relative;
}

.pl img {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: gray;
	display: block;
	z-index: 999;
	position: absolute;
	left: 20px;
	top: 24px;
	z-index: 1;
}

.pin {
	width: 70%;
	min-height: 80px;
	float: right;
	margin-right: 40px;

}

.xm span:nth-child(1) {
	width: auto;
	height: auto;
	color: #7DB0E8;
	font-size: 0.3rem;
	display: block;
	margin-top: 2px;
}

.xm span:nth-child(2) {
	float: right;
	width: 90px;
	height: 40px;
	color: #1D1D1D;
	font-size: 0.24rem;
	background: gainsboro;
	padding-left: 80px;
	background: url(../image/user/dz.png)no-repeat 53px 2px;
	background-size: 20px;
	padding-top: 5px;
}

.wx-p {
	width: 70%;
	min-height: 30px;
	font-size: 0.3rem;
	color: #1F1F1F;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	position: absolute;
	top: 47px;
}



.wx-hf {
	width: 100%;
	height: 46px;
}

.hf-sj {
	display: block;
	min-width: 80px;
	max-width: 250px;
	min-height: 30px;
	line-height: 30px;
	font-size: 0.24rem;
	color: #222222;
	float: left;
	padding-right: 20px;
	position: absolute;
	top: 97px;
}

.cus-reply-btn{
	width: 16%;
	height: 20px;
	border-radius: 25px;
	background: gainsboro;
	color: #222222;
	font-size: 0.24rem;
	float: left;
	margin: 35px 0 0 88px;
}

.xs {
	width: 220px;
	height: 26px;
	color: #898989;
	font-size: 0.28rem;
	margin-left: 124px;
	margin-top: 10px;
}

.wx-foot {
	display: block;
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
	left:0;
	right: 0;
    background: white;
    padding-top: 10px;
    border-top: 1px solid rgb(242, 242, 242);
    z-index: 99999;
}

.wx-foot input {
	width: 65%;
	height: 35px;
	border-radius: 25px;
	padding-left: 41px;
	color: #040404;
	font-size: 0.26rem;
	background: url(../image/user/xpl.png)no-repeat 9px 9px;
	background-size: 20px;
	background-color: #F4F5F6;
	float: left;
	margin-left: 10px;
}

.wx-foot dl {
	position: absolute;
	top: 28%;
	right: 20%;
}

.wx-foot dt {
	position: absolute;
	top: 28%;
	right: 8%;
}

.marsk-container {
	display: none;
	background: #FFFFFF;
	position: absolute;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0px;
	background: rgba(0, 0, 0, .5);
	z-index: 99999;
}

.tkyy_con {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	margin: 0 auto;
	z-index: 1;
}

.z-top {
	width: 100%;
	height: 45px;
	line-height: 45px;
	color: #858585;
	font-size: 0.34rem;
	text-align: center;
	border-bottom: 1px solid #cccccc;
}

.wz1 {
	width: 100%;
	min-height: 15px;
	margin-top: -25px;
	margin-left: -40px;
}

.wz1 img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-top: 0px;
	margin-left: 60px;
	display: block;
	float: left;
	background: url(../image/user/bj-8.png)no-repeat 10px 10px;
	background-size: 25px;
	background: darkgray;
}


.wz2 img {
	width:25px;
	height: 25px;
	border-radius: 50%;
	margin-top: 14px;
	margin-left: 10px;
	display: block;
	float: left;
}

.wz2 {
	width: 70%;
	min-height: 150px;
	float: left;
	margin-top: -13px;
	margin-left: 111px;

}

.wz2 p:nth-child(1) {
	height: auto;
margin-top: -30px;

}
.wz4 p:nth-child(1) {
	height: auto;
	line-height: 30px;
}
.wz4{
	width: 100%;
	height: auto;
	padding: 5px 0;


}
.wz2 i {
	font-size: 0.5rem;
	color: #999999;
	margin-right: 10px;
}

.wz2 p:nth-child(2) {
	width: 100%;
	color: #1F1F1F;
	font-size: 0.27rem;
	height: auto;
}
.wz4 p:nth-child(2) {
	width: 85%;
	color: #1F1F1F;
	font-size: 0.18rem;
	/* min-height: 150px; */
	float: right;
	margin-right: 20px;
	margin-top: 10px;
	text-align: right;
}
.wz2 p:nth-child(3) {
	width: 80%;
	color: #888888;
	font-size: 0.24rem;
	height: auto;
	margin-top: 3px;
}
.wz3{
	width: 100%;
	min-height: 50px;
	background: #F0F0F0;
	padding: 5px;
}
.mp{
	text-indent:30px;
	min-height: 200px;
	margin-top: 10px;
	width: 100%;
}
.kl1 {
	width: 100%;
	height: 54px;
	position: absolute;
	bottom: 0;
	border-top: 1px solid #E5E5E5;
	background: white;
	z-index: 99999;
}
.kl1>textarea{
	margin-top: 10px;
	border-radius: 10px;
	margin-left: 10px;
	width: 78%;
	height: 35px;
	background: #E5E5E5;
	color: #888888;
	font-size: 0.28rem;
	padding: 7px 15px 0 15px;
}
.kl1>button{
	width: 13%;
	line-height: 30px;
	color: #EBEBEB;
	font-size: 0.32rem;
	background: white;
	margin-left: 15px;
	position: absolute;
	right: 3%;
	top: 21%;
	border: 1px solid #EBEBEB;
	border-radius: 5px;
}
.ovfHiden{overflow: hidden;height: 100%;}
.wl-href{
	contain: paint;
}

#cus-myshare-box {
	position: fixed;
	width: 100%;
	height: 100%;
    background: url("/static/image/index/ju1.png") no-repeat 100%;
	opacity: 0.7;
	top: 0;
	color: #ffffff;
	z-index: 9999999;
	display: block;
}
.wl-fenxiang{
	width: 220px;
	height: 280px;
	position: absolute;
	top: 26px;
	right: -60px;
}
.wl-fenxiang p{
	width: 230px;
	height: 150px;
	font-size: 0.34rem;
	color: #FFFFFF;
	text-align: center;
	position: absolute;
	right: 90px;
}
.content-picture{
	margin: 0 auto;
	float: left;
	width: 99%;
	min-height: 400px;
}
.mp img{
	width: 100%;
	min-height: 150px;
	float:left;
	margin:0 auto;
}
.wl-jilk{
	min-height: 20px;
	color: #7DB0E8;
	font-size: 0.22rem;
	line-height: 20px;
	/* height: 20px; */
	float: left;
	margin-top: 33px;
	margin-left: 11px;
}
.wl-timek{
	margin-top: 7px;
	margin-left: 20px;
	float: left;
}
.wl-namei{
	color: #7DB0E8;
	font-size: 0.23rem;
}
.wl-namep{
	font-size: 0.23rem;
	color: #8a8a8a;
	display: inline-block;
	width: 100%;
	float: left;
}
.wl-timeh{
	text-align: right;
	font-size: 0.20rem;
}
.wl-xiang{
	width: 100%;
	padding: 0 10px 0 10px;
	float: left;

}

.wl-xiang img:nth-child(1){

	float: left;
	border-radius: 50%;
	margin: 13px 0 0 10px;
}
.wl-xiaa1{
	width: 80%;
	float: right;
	margin-right: 20px;
	border-bottom: 1px solid #EEEEEE;
}
.wl-uh{
	width: 100%;
	min-height: 40px;
	line-height: 40px;
	float: left;
	padding-top: 5px;
}
.wl-das1{
	color: #7DB0E8;
	font-size: 16px;
	float: left;
}
.wl-das2{
	float: right;
	font-size: 13px;
	color:#999999 ;
}
.wl-neirnga{
	width: 100%;
	min-height: 25px;
	color: #6d6d6d;

	float: left;
	font-size: 13px;
}
.wl-neiha{
	width: 100%;
	min-height: 40px;
	line-height: 40px;
}
.wl-pji{
	height: 30px;
	line-height: 30px;
	color: #222222;
	font-size: 11px;
	float: left;
}
.wl-mjs{
	width: 17%;
	height: 20px;
	background: #F4F5F6;
	line-height: 20px;
	color: #222222;
	font-size: 11px;
	float: left;
	text-align: center;
	border-radius: 25px;
	margin-top: 5px;
	display: none;
}
.juh{
	border: 1px solid #7DB0E8;
	color: #7DB0E8;
}
