@charset "UTF-8";
* { margin: 0; padding: 0; border: 0; list-style: none; list-style-image: none; list-style-type: none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video { margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline; }
ol, ul { list-style: none; }
body{position:relative;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { font-family: "思源黑体 CN";color:#221815;font-size: 62.5%;}
body{max-width:750px;margin:0 auto;min-width: 320px;}
ul li{list-style-type: none;}
a{text-decoration: none;color: #221815;display: block;}
*:focus { outline: none; }
ul li{
    display: inline-block;
    width:31.5%;
    height: 87px;
    text-align: center;
    box-sizing: border-box;
    line-height: 87px;
    font-size: 0.28rem;
}
.wl-con{
    width: 100%;
    min-height: 900px;
}
.top{
    position: fixed;
    top: 0;
    background: #FFFFFF;
}
.xia{
    width: 100%;
    min-height: 400px;

    margin-top: 70px;
}
.wl-yonghu{
    width: 100%;
    height: 117px;
    border: 1px solid red;
    position: relative;
    top: 0px;
}
.wl-yonghu img{
    width: 72px;
    height: 72px;
    position: absolute;
    top: 18px;
    left: 34px;
}
.wl-yonghu dl{
    position: absolute;
    top: 18px;
    left: 130px;
}
.wl-neirong{
    width: 100%;
    min-height: 180px;
}
.wl-wenzhang {
    width: 400px;
    min-height: 135px;
    color: #1F1F1F;
    font-size: 0.34rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
}
.wx-fen i{
    font-size: 35px;

}
