bady{
    background: #EEEEEE!important;
}
.wl-conter{
    width: 100%;
    min-height: 50px;
    background: #FFFFFF;
    margin-bottom: 5px;
    padding-bottom: 10px;

}

.wl-conter:active{
    background: #dddddd;
}
.wl-toux{
    width: 12%;
    float: left;
    margin: 15px 0 0 15px;
}
.wl-pingjia{
    width: 80%;
    min-height: 50px;
    margin: 10px 10px 0 0 ;
    float: right;
    position: relative;
    cursor: pointer
}
.wl-pingjia dl{
    color: #1D1D1D;
    width: 50%;
    font-size: 16px;
}
.wl-pingjia dd{
    width: 70%;
    color: #898989;
    font-size: 11px;
    overflow: hidden;
}
.wl-v{
color: white;position: absolute;top: -1px; left:7px;font-size: 13px;
}
 .wl-pingjia dt{
    width: 90%;
     height: 20px;
     line-height: 20px;
     margin-top: 8px;
 }
.wl-pingjia dt>i{
color: #7DB0E8;
    float: left;
}
.wl-pingjia dt>span{
    color: #898989;
    font-size: 11px;
    float: left;
    margin-left: 5px;
}
.wl-renzheng{
position:absolute;
    top: 17px;
    right: 10px;
}
.wl-toux img{
    width: 41px;
    height: 41px;
    border-radius: 50%;
}
.wl-biao{
    position: absolute;
    top: 43px;
    left: 37px;
    width: 30px;
    height: 30px;
    background: url(/static/image/user/lanv.png)no-repeat;
    background-size: 20px;
}
.href{cursor: pointer}
.mescroll{
    padding-bottom: 60px;
}
.wl-the-title{
    color: #7DB0E8;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    display: inline-block;
    font-size: 10px;
    padding: 0 3px 0 3px;
}