/*尚未开发的样式*/
.wkf{
    display: none;
    position: fixed;
    top: 540px;
    left:0;right: 0;
    margin: 0 auto;
    width: 200px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #7DB0E8;
    color: #FFFFFF;
    font-size:20px;
    border-radius:5px ;
    z-index: 999999999999;
}

.wl-msg{
    display: none;
    margin: 0 auto;
    position: fixed;
    top: 45%;
    left: 0;
    right: 0;
    width: 300px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #7DB0E8;
    color: #FFFFFF;
    font-size:18px !important;
    border-radius:10px ;
    z-index: 9999999;
}

#fr-error-box {
    position: fixed;
    width: 80%;
    height: 38px;
    top: 0px;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 2;
    line-height: 38px;
    text-align: center;
    background-color: #fff1f1;
    border-radius: 5px 5px 5px 5px;
    color: #d4a6a6;
    margin-top: 5px;
    z-index:999999;
}
