/*尚未开发的样式*/
.wkf{
    display: none;
    position: fixed;
    top: 565px;
    left: 256px;
    width: 240px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    background: #7DB0E8;
    color: #FFFFFF;
    font-size:0.28rem;
    border-radius:10px ;
}