@charset "UTF-8";

* { margin: 0; padding: 0; border: 0; list-style: none; list-style-image: none; list-style-type: none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video { margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline; }
ol, ul { list-style: none; }
body{position:relative;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body {font-family: "思源黑体 CN";color:#221815;}
body{max-width:750px;margin:0 auto;min-width: 320px;}
ul li{list-style-type: none;}
a{text-decoration: none;color: #221815;display: block;}
*:focus { outline: none; }

.con{
	width: 100%;
	height: auto;
}
.wx-top{
	width: 100%;
	height: 80px;
	line-height: 80px;
	border-bottom: 1px solid #F1F1F1;
	text-align: center;
	color: #1B1B1B;
	font-size: 34px;
}
.tb{
	width: 70px;
	height: 70px;
	float: left;
	background: url(../image/index/f1.png)no-repeat 35px 26px;
	background-size: 19px;
}
.wx-t1{
		width: 100%;
	height: 272px;
	border-bottom: 10px solid #F4F5F6;
}
.wx-t1 img{
	width: 160px;
	height: 160px;
	border-radius: 50%;
	background: grey;
	margin-top: 44px;
	margin-left: 36px;
	float:left ;
	
}
.wx-wen{
	width: 450px;	
	height: 160px;
	float: right;
	font-size:30px;
	margin-top: 46px;
	margin-right: 36px;
}
.wx-wen dl{
	width: auto;
	height:auto ;
	text-align: center;
	float: left;
}
.wx-wen dl dt{
	color: #000000;
	font-size:38px;
	font-weight: bold;
}
.wx-wen dl dd{
	color: #000000;
	font-size: 25px;
}
.wx-wen dl:nth-child(1){
	width: 105px;
	height: 66px;
}
.wx-wen dl:nth-child(2){
	width: 105px;
	height: 66px;
}
.wx-wen dl:nth-child(3){
	width: 105px;
	height: 66px;
}
.wx-wen dl:nth-child(4){
	width: 105px;
	height: 66px;
}
#btn{
	width: 210px;
	height: 54px;
	line-height: 54px;
	text-align: center;
	color: #FFFFFF;
	font-size:30px;
	border-radius: 10px;
	background: #7DB0E8;
	margin-top: 40px;
}
#btn1{
	width: 200px;
	height: 54px;
	line-height: 54px;
	text-align: center;
	color: #7DB0E8;
	font-size: 30px;
	border-radius: 10px;
	background: #FFFFFF;
	border: 1px solid #7DB0E8;
	margin-top: 30px;
	margin-left: 25px;
}
.wx-name{
	width: 100%;
	height: 72px;
	margin-top: 25px;
	position: relative;
}
.wx-nei1 img{
	width: 255px;
	height: 180px;
	background-color: gainsboro;
	float: left;
	margin-right: 5px;
	font-size: 30px;
}
.wx-tou{
	width: 72px;
	height: 72px;
	display: block;
	border-radius: 50%;
	background: khaki;
	position: absolute;
	top: 0;
	left: 34px;
}
.wx-yh{
	position: absolute;
	top: 0px;
	left: 124px;
}
.wx-rig{
	width: 50px;
	height: 50px;
	position: absolute;
	top:10px;
	right: 36px;
	background: url(../image/user/slh.png)no-repeat center;
}
.wx-nei1{
	width: 100%;
	height: 180px;
	position: relative;
	margin-bottom: 18px;
}
.wx-nei1 dt{
	width: 402px;
	min-height: 100px;
	padding-top: 15px;
	margin: 15px 20px 22px 36px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;

}
.wx-nei1 dd{
	width: 256px;
	height: 180px;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 36px;
}
.wx-fen{
	width: 100%;
	min-height: 55px;
	line-height: 55px;
	position:absolute;
	bottom: 10px;
}
.wx-fen li{
	width: 23%;
	float: left;
/*background: fuchsia;*/
	padding-left: 70px;
}
.on1{
	width: 87%;
	min-height: 55px;
	margin: 0 auto;
	margin-top: 20px;
	font-size:32px;
	color: #1F1F1F;
	margin-left: 36px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.on1-img{
	width: 90%;
	min-height: 170px;
	margin-top: 20px;
	margin: 0 auto;
	padding-top: 10px;

}
.on1-img img{
	width: 31.2%;
	height: 148px;
	display: block;
	float: left;
	background: gray;
	margin: 0px 0px 0 7px;
font-size: 30px;
}
.cc{
	font-size: 40px!important;
	color: #999999;
	float: left;
}

.ee{
	padding-top: 1px;
	padding-left: 10px;
	height: 36px;
	float: left;
	color: #999999;
    font-size:26px;
}
.zwnr{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 970px;
	line-height: 950px;
	color: #999999;
	font-size: 34px;
	text-align: center;
	background: #FFFFFF;
}
.wl-href{
	contain: paint;
}