@charset "UTF-8";
* { margin: 0; padding: 0; border: 0; list-style: none; list-style-image: none; list-style-type: none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video { margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline; }
ol, ul { list-style: none; }
body{position:relative;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { font-family: "思源黑体 CN";color:#221815;}
body{max-width:750px;margin:0 auto;min-width: 320px;}
ul li{list-style-type: none;}
a{text-decoration: none;color: #221815;display: block;}

.wl-top{
    width: 100%;
    min-height: 298px;
    background:url("/static/image/user/bj-1.png")no-repeat;
    padding-top: 40px;
    background-size: 100% 100%;
}
.wl-top-neirong{
    width: 90%;
    min-height: 244px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
}
.wl-top-touxiang{
    width: 75px;
    height: 75px;
    border-radius: 50px;
    position: absolute;
    top: -25px;
    background: #FFFFFF;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    padding-left: 2px;
    padding-top: 2px;
}
.wl-top-yisheng{
    width: 100%;
    min-height: 60px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}
.wl-top-yisheng dd{
    margin-top: 10px;
    color: #1D1D1D;
    font-size: 14px;
}
.wl-top-yisheng button{
    width: 22%;
    height: 20px;
    line-height: 20px;
    background: #7DB0E8;
    color: #EEEEEE;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}
.wl-top-anli{
    width: 70%;
    line-height: 40px;
    border-bottom: 1px dashed #E5E5E5;
    margin: 0 auto;
}
.wl-top-yishneg{
    width: 80%;
    line-height: 30px;
    margin: 0 auto;
    margin-top: 10px;
    min-height: 30px
}
.wl-top-yishneg dl{
    width: 33%;
    float: left;
    text-align: center;
}
.wl-top-yishneg dt{
    color: #1D1D1D;
    font-size: 13px;
}
.wl-am span:nth-child(1){
    color: #1D1D1D;
    font-size: 14px;
    float: left;

}
.wl-am span:nth-child(2){
    color: #1D1D1D;
    font-size: 14px;
    float: right;
}
.wl-con-top{
    width: 100%;
    min-height: 60px;
    line-height: 60px;
    background: white;
}
.wl-con-top img{
    border-radius: 50%;
}
.wl-yiyuan{
    float: left;margin-left: 10px;width: 75%;
}
.wl-yiyuan dd{
    color: #1D1D1D;
    font-size: 14px;
}
.wl-yiyuan dt{
    color: #898989;
    font-size: 12px;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
}
.wl-top-touxiang img{
    border-radius: 50%;
}
.wl-biaoti{
    width: 100%;
    height: 27px;
    line-height: 27px;
    color: #1D1D1D;
    font-size: 14px;
    float: left;
}
.wl-nei1{
    width: 100%;
    min-height: 105px;
    background: white;
    padding: 10px;
    border-bottom: 1px solid #EEEEEE;
}
.wl-neirong1{
    max-width: 60%;
    min-height: 66px;
    float: left;
    margin-top: 10px;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:3;
    color: #1F1F1F;
    font-size: 17px;
}
.wl-neirong2{
    width: 128px;
    height: 90px;
    float: right;
    background: #EEEEEE;
}
.wl-foot {
    width: 100%;
    height: 50px;
    border-top: 1px solid #CACACA;
    position: fixed;
    bottom: 0;
    background: white;
}
.wl-foot dl {
    margin-top:4px;
    width: 20%;
    height: 50px;
    text-align: center;
    float: left;
}
.wl-foot dt {
    font-size: 11px;
    color: #000000;
    margin-top: -2px;
}
.wl-tuandui{
    width: 100%;
    min-height: 196px;
    background: white;
}
.wl-ystd{
    width: 100%;
    height: 25px;
    line-height: 25px;
    color: #1D1D1D;
    font-size: 14px;
    text-align: center;
    background: #EEEEEE;
    border-top: 1px solid #DFDFDF;
}
.wl-jihe{
    width: 30%;
    height: 130px;
    margin-top: 30px;
    margin-right: 5px;
}
.wl-biau{
    position: absolute;
    top: 24px;
    left: 57px;
    right: 0;
    z-index: 99;
    width: 30px;
    height: 30px;
    background: url(/static/image/user/lanv.png)no-repeat;
    background-size: 20px;
}
.wl-demo{
    display: -webkit-box;
    overflow-x: scroll;
    -webkit-overflow-scrolling:touch;
    padding-top: 30px;

}
.wl-xiang{
    width: 28%;
    min-height: 130px;
    background: #f4f8f8;
    position: relative;
    margin: 0 0px 0 5px;
    text-align: center;
}
.wl-xiang img {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.wl-xiang:nth-child(1){
    margin-left: 2px;
}
.wl-xiang dl{
font-size: 13px;
    color: #1D1D1D;
    margin-top: 40px;
}
.wl-xiang dt{
    font-size: 10px;
    color: #333333;
    margin-top: 5px;
}
.wl-renz{
    position: absolute;
    top: -18px;
    left: 32px;
    right: 0;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    background: url(/static/image/user/chengv.png)no-repeat;
    background-size: 30px;
}
.wl-wenzhnga{
    width: 100%;
    min-height: 30px;
    background: white;
    margin-bottom: 10px;
    border-bottom:  1px solid #EEEEEE;
}
.wl-deml{
    width: 95%;
    min-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #1F1F1F;
    font-size: 17px;
    margin: 0 auto;
    padding: 5px 0 3px 0;

}
@media screen and (min-width: 418px) {
    .wl-yiyuan dd{
        color: #1D1D1D;
        font-size: 26px;
    }
    .wl-yiyuan dt{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #898989;
        font-size: 22px;
    }
    .wl-jiu{
        height: 90px;border-bottom: 1px solid #DFDFDF;padding: 10px
    }
    .wl-jiu img{
        width: 60px;
        height: 60px;
    }
    .wl-jiu i{
        font-size: 50px;
    }
}
