@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    list-style-image: none;
    list-style-type: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}

body {
    position: relative;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

body {
    font-family: "思源黑体 CN";
    color: #221815;
    font-size: 62.5%;
}

body {
    max-width: 750px;
    margin: 0 auto;
    min-width: 320px;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #221815;
    display: block;
}

.con {
    width: 100%;
    height: auto;
    background: white;
}

.wx-top {
    width: 100%;
    height: 440px;
    background: url(../image/user/bj-1.png) no-repeat;
    position: relative;
}

.wx-img {
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 50%;
    margin: 0 auto;.wx-you
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
}

.wx-con {
    width: 680px;
    height: 215px;
    margin: 0 auto;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
}

.wx-con button {
    width: 208px;
    height: 56px;
    background-color: #FFFFFF;
    color: #7DB0E8;
    font-size: 0.34rem;
    border-radius: 10px;
    border: 0px;
}

.wx-boy {
    width: 680px;
    height: 115px;
    line-height: 100px;
    margin: 0 auto;
}

.wx-lie li {
    width: 170px;
    height: 37px;
    line-height: 37px;
    font-size: 0.24rem;
    color: #000000;
    float: left;
    text-align: center;
    margin-top: 30px;
}

.ul {
    position: fixed;
    top: 0;
    z-index: 999;
}

.wx-content {
    width: 100%;
}

.one, .two, .san {
    width: 100%;
    display: none;
    font-size: 0.32rem;
    margin-top: 25px;
}

.top span {
    text-align: center;
    width: 100px;
    height: 55px;
    font-size: 0.32rem;
    display: inline-block;
}

.se {
    border-bottom: 2px solid #7DB0E8;
    color: #7DB0E8;
}

.top {
    width: 100%;
    height: 88px;
    margin: 0 auto;
    margin-top: -34px;
}

.wx-name {
    width: 100%;
    height: 72px;
    margin-top: 25px;

    position: relative;
}

.wx-tou {
    width: 72px;
    height: 72px;
    display: block;
    border-radius: 50%;
    background: #eeeeee;
    position: absolute;
    top: 0;
    left: 34px;
}

.wx-yh {
    position: absolute;
    top: 0px;
    left: 124px;
}

.wx-rig {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 36px;
    background: url(../image/user/slh.png) no-repeat center;
}

.wx-nei1 {
    width: 100%;
    height: 180px;
    position: relative;
}

.wx-nei1 dt {
    width: 402px;
    height: auto;
    padding-top: 15px;
    margin: 26px 20px 22px 36px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.wx-nei1 dd {
    width: 256px;
    height: 180px;
    background: grey;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 36px;
}

.wx-fen {
    width: 100%;
    height: 40px;
    margin-top: 15px;
}

.wx-fen li {
    width: 60px;
    height: 40px;
    float: left;

    padding-left: 40px;
}

.wx-fen li:nth-child(1) {
    margin-left: 50px;
    background-size: 32px 32px;
}

.wx-fen li:nth-child(2) {
    margin-left: 180px;;
    background-size: 32px 32px;
}

.wx-fen li:nth-child(3) {
    margin-left: 188px;

    background-size: 32px 32px;
}

.wx-fen li span {
    color: #333333;
    font-size: 0.26rem;
}

.on1 {
    width: 644px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 0.32rem;
    color: #1F1F1F;
    margin-left: 36px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.on1-img {
    width: 100%;
    height: 750px;
    margin-top: 30px;
}

.on1-img img {
    width: 246px;
    height: 246px;
    display: block;
    float: left;
    background: gray;
}

.wx-video {
    width: 100%;
    height: 420px;
    margin-top: 30px;
}

.wx-you {
    width: 100%;
    height: 250px;
    border-bottom: 10px solid gainsboro;
    position: relative;
}

.you1 {
    width: 100%;
    height: 148px;;
    position: absolute;
    top: 20px;
}

.you1 img {
    width: 148px;
    height: 148px;
    display: block;
    background: #eeeeee;
    border-radius: 50%;
    margin-left: 36px;
}

.you1 dl {
    width: 286px;
    height: 64px;
    position: absolute;
    top: 40px;
    left: 214px;
}

.you1 dl dt {
    font-size: 0.26rem;
    font-weight: bold;
    color: #1D1D1D;
}

.you1 dl dd {
    font-size: 0.24rem;
    color: #898989;

}

.you1 button {
    width: 144px;
    height: 56px;
    line-height: 56px;
    background: #7DB0E8;
    color: #FEFEFE;
    font-size: 0.3rem;
    position: absolute;
    top: 44px;
    right: 36px;
    border-radius: 10px;
}

.fixednav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
}

.cc {
    width: 750px;
    height: 100px;
    background: white;
}

.oner > .one-1 {
    height: 750px;
    border-bottom: 10px solid #F4F5F6;
}

#ttb {
    font-size: 40px;
    color: #999999;
}

.wl-jianj {
    font-size: 0.2rem;
    color: #F1F0F0;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 580px;
    margin: 0 auto
}
.wl-href{
    contain: paint;
}