@charset "UTF-8";
* { margin: 0; padding: 0; border: 0; list-style: none; list-style-image: none; list-style-type: none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video { margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline; }
ol, ul { list-style: none; }
body{position:relative;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { font-family: "思源黑体 CN";color:#221815;font-size: 62.5%;}
body{max-width:750px;margin:0 auto;min-width: 320px;}
ul li{list-style-type: none;}
a{text-decoration: none;color: #221815;display: block;}
.con {
	width: 100%;
	height: auto;
}
.wx-top{
	width: 100%;
	height: 272px;
	border-bottom: 10px solid #F4F5F6;
}
.wx-top img{
	width: 160px;
	height: 160px;
	border-radius: 50%;
	margin-top: 50px;
	margin-left: 36px;
		float: left;
}
.wx-top p{
	width: 500px;
	margin-top: 105px;
	margin-left: 32px;
	font-size: 32px;
	float: left;
}
.wx-con{
	width: 100%;
	height: 176px;
	border-bottom: 10px solid #F4F5F6;
}
.wx-con p{
	width: 100%;
	height: 90px;
	line-height: 90px;
	border: 1px solid #F1F1F1;
	color: #000000;
	font-size: 28px;
}
.ln1{
	width: 550px;
	height: 70px;
		color: #000000;
	font-size: 28px;
}
.k1{
	width: 100%;
	height: 226px;
	border: 1px solid #F1F1F1;
	color: #000000;
	font-size: 28px;
}
.btn{
	display: block;
	margin: 0 auto;
	width: 680px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	color: #FFFFFF;
	font-size: 34px;
	background-color: #7DB0E8;
	margin-top: 130px;
	border-radius: 10px;
}
.marsk-container {
	display: none;
	background: #FFFFFF;
	position: absolute;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0px;
	background: rgba(0, 0, 0, .5);
	z-index: 10;
	}
.tkyy_con {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 255px;
	background: #FFFFFF;
	margin: 0 auto;
}

.tkyy_con button:nth-child(1) {
	width: 100%;
	height: 86px;
	text-align: center;
	font-size: 28px;
	color: #000000;
	background: white;
	border-bottom: 1px solid #F1F1F1;

	position: relative;

}

.tkyy_con button:nth-child(2) {
	width: 100%;
	height: 86px;
	text-align: center;
	font-size: 28px;
	color: #000000;
	background: white;
	border-bottom: 10px solid #F1F1F1;
}

.tkyy_con button:nth-child(3) {
	width: 100%;
	height: 90px;
	text-align: center;
	font-size: 28px;
	color: #000000;
	background: white;
}
.marsk-container1 {
	display: none;
	background: #FFFFFF;
	position: absolute;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0px;
	background: rgba(0, 0, 0, .5);
	z-index: 10;
	}
.tkyy_con1 {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 226px;
	background: #FFFFFF;
	margin: 0 auto;
	background: #F8F8F8;
	padding-top: 20px;
}
.tkyy_con1 textarea{
	width: 676px;
	height: 150px;
	background: white;
	margin: 0 auto;
	display: block;
	color: #000000;
	font-size: 28px;
}
.con-q{
	height: 40px;
	line-height: 40px;
	margin-top: 7px;
}
.con-q span{
	color: #B5B5B5;
	font-size: 22px;
	margin-left: 40px;
}
.con-q button{
	width: 80px;
	height: 40px;
	background: #7DB0E8;
	color: #FFFFFF;
	font-size: 28px;
	border-radius: 10px;
	float: right;
	margin-right: 40px;
}
.marsk-container3 {
	display: none;
	background: #FFFFFF;
	position: absolute;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0px;
	background: rgba(0, 0, 0, .5);
	z-index: 10;
	}
.tkyy_con3 {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 260px;
	background: #FFFFFF;
	margin: 0 auto;
}

.tkyy_con3 button:nth-child(1) {
	width: 100%;
	height: 86px;
	text-align: center;
	font-size: 28px;
	color: #000000;
	background: white;
		border-bottom: 1px solid #F1F1F1;

}
.tkyy_con3 button:nth-child(2) {
	width: 100%;
	height: 86px;
	text-align: center;
	font-size: 28px;
	color: #000000;
	background: white;
	border-bottom: 10px solid #F1F1F1;
}

.tkyy_con3 button:nth-child(3) {
	width: 100%;
	height: 90px;
	text-align: center;
	font-size: 28px;
	color: #000000;
	background: white;
}
.con-q{
	height: 40px;
	line-height: 40px;
	margin-top: 7px;
}
.con-q span{
	color: #B5B5B5;
	font-size: 22px;
	margin-left: 40px;
}
.con-q button{
	width: 80px;
	height: 40px;
	background: #7DB0E8;
	color: #FFFFFF;
	font-size: 28px;
	border-radius: 10px;
	float: right;
	margin-right: 40px;
}
.jianj{
	width: 100%;
	height: 245px;
	border-bottom: 10px solid #F1F1F1;
	position: relative;
}
.jianj span{
	width: 100px;
	height: 50px;
	display: block;
	color: #000000;
	font-size: 28px;
	margin-left: 36px;
	padding-top: 20px;
	float: left;
}
.jianj .zhongj{
	width: 230px;
	font-size: 22px;
	color: #B5B5B5;
	display: block;
	position: absolute;
	bottom:25px;
	left: 100px;
}
.jianj textarea{
	width: 580px;
	height: 150px;
	background: #F8F8F8;
	margin: 0 auto;
	display: block;
	color: #000000;
	font-size: 28px;
	position: absolute;
	top:20px;
	right: 30px;
}
.con-q1{
	height: 40px;
	line-height: 40px;
	margin-top: 7px;
}
.con-q1 span{
	color: #B5B5B5;
	font-size: 22px;
	margin-left: 40px;
}
.con-q1 button{
	width: 80px;
	height: 40px;
	background: #7DB0E8;
	color: #FFFFFF;
	font-size: 28px;
	border-radius: 10px;
	float: right;
	margin-right: 40px;
}