{extend name="layout/layout" /}

{block name="main"}
<section class="content">
    <div class="row">

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">销售量</span>
                    <span class="info-box-number">0</span>
                </div>
            </div>
        </div>
    </div>
</section>

{/block}