{extend name="layout/layout" /}

{block name="cssOrcrsipt"}
<link rel="stylesheet" href="/static/weixin/css/answers-me.css">
<link rel="stylesheet" href="/static/plugin/mescroll/mescroll.min.css">
{/block}

{block name="main"}
         <div class="wl-top-wenzhang">
             <div class="wl-top">
                 <i class="iconfont icon-back_light" onclick="redream.toReferer()"></i>我的问答
             </div>
             <div class="wl-daan ">
                 <div class="wl-tiwen">
                     <dl><i class="iconfont icon-wenda2"style="color:#FF615C "></i>提问({$info['inquiry_num']})</dl>
                     <dt>共{$info['inquiry_visit_num']}次浏览</dt>
                 </div>
                 <div class="wl-tiwen wl-wenda">
                     <dl><i class="iconfont icon-wenda1" style="color: #7DB0E8"></i>回答({$info['answer_num']})</dl>
                     <dt>共{$info['answer_visit_num']}次浏览</dt>
                 </div>
             </div>
             <ul class="wl-deji">
                 <li class="active">提问</li>
                 <li>回答</li>
             </ul>
             <div style="clear: both"></div>
         </div>
         <div class="wl-d active mescroll"  id="container0">
             <div id="container-list0"></div>
         </div>
         <div class="wl-d mescroll"  id="container1">
             <div id="container-list1"></div>
         </div>
{/block}

{block name="script"}
<script src="/static/js/functions.js"></script>
<script src="/static/plugin/layui/layui.all.js"></script>
<script src="/static/plugin/mescroll/mescroll.min.js" charset="utf-8"></script>
<script id="inquiryTemplate" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
    <div class="wl-answers" data-id="{{ item.id }}">
        <div class="wl-answers-list">
            <div class="wl-answers-title">{{ item.title }}</div>
            <div class="wl-user-notice1">
                <dt>{{ item.ask_time}}<i class="iconfont icon-yuandian"></i>回答{{item.answer_num}}</dt>
            </div>
        </div>
    </div>
    {{#  }); }}
</script>
<script id="answerTemplate" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
    <div class="wl-answers jump-details">
        <div class="wl-answers-list">
            <div class="wl-answers-title">{{item.title}}</div>
            <div class="wl-answer-content">{{item.content}}</div>
            <div class="wl-user-notice1">
                <dt>{{ item.answer_time }}</dt>
            </div>
        </div>
    </div>
    {{#  }); }}
</script>

<script>
    let o = {
        type:1,tabIndex:0
    };

    let mescrollArr=new Array(2);

    $(".wl-deji li").click(function () {
        o.tabIndex = $(this).index();
        o.type =  o.tabIndex + 1;
        $(this).addClass("active").siblings().removeClass("active");
        $('.wl-d').eq(o.tabIndex).addClass("active").siblings().removeClass("active");
        if(mescrollArr[o.tabIndex]==null){
            mescrollArr[o.tabIndex]= initMescroll("container"+o.tabIndex, "container-list"+o.tabIndex);
        }
    });

    $(document).on('click','.jump-details',function(){
        window.location.href = '/weixin/index/answerDetails';
    });

    mescrollArr[o.tabIndex] = initMescroll("container0", "container-list0");
    function initMescroll(mescrollId,clearEmptyId){
        return new MeScroll(mescrollId, {
            down:{auto:true,isLock:false},
            up: {
                clearEmptyId: clearEmptyId,
                page: {num: 0,size:20},
                htmlNodata: '<p class="upwarp-nodata">-- 已加载全部 --</p>',
                isBounce: false,
                noMoreSize:10,
                empty: {tip: "亲,没有您要找的商品~"},
                callback: function (page) {
                    $.ajax({
                        url: "/weixin/api/getUserInquiryAnswer",
                        type: 'get',
                        data: {page: page.num, page_size: page.size,type:o.type},
                        dataType: 'json',
                        success: function (res) {
                            mescrollArr[o.tabIndex].endSuccess(res.data.rows.length);
                            let template = o.tabIndex == 0 ? inquiryTemplate.innerHTML : answerTemplate.innerHTML;
                            layui.laytpl(template).render(res.data.rows, function (html) {
                                $('#'+clearEmptyId).append(html);
                            });
                        },
                        error: function () {
                            mescrollArr[o.tabIndex].endErr();
                        }
                    });
                },
            }
        });
    }
</script>
{/block}