{extend name="layout/layout" /}

{block name="cssOrcrsipt"}
<link rel="stylesheet" href="/static/weixin/css/answers-me.css">
<link rel="stylesheet" href="/static/plugin/mescroll/mescroll.min.css">
{/block}

{block name="main"}
    <div class="wl-top">
        <i class="iconfont icon-back_light" onclick="redream.toReferer()"></i>我的问答
    </div>
    <div>
        <div class="wl-daan">
            <div class="wl-tiwen">
                <dl><i class="iconfont icon-wenda2"style="color:#FF615C "></i>提问({$info['inquiry_num']})</dl>
                <dt>共{$info['inquiry_visit_num']}次浏览</dt>
          </div>
            <div class="wl-tiwen wl-wenda">
                <dl><i class="iconfont icon-wenda1" style="color: #7DB0E8"></i>回答({$info['answer_num']})</dl>
                <dt>共{$info['answer_visit_num']}次浏览</dt>
            </div>
        </div>
        <ul class="wl-deji">
            <li class="active">提问</li>
            <li>回答</li>
        </ul>
        <div style="clear: both"></div>
        <div class="content">
            <div class="wl-d active mescroll"  id="container">
                <div id="container-list" ></div>
            </div>
            <div class="wl-d">
                <div class="wl-answers jump-details">
                    <div class="wl-answers-list">
                        <div class="wl-answers-title">七八十年代的缝纫机，现在能值多少人民币？</div>
                        <div class="wl-answer-content">确实很厉害，意识，枪法各方面都很强，你可以去
                            看看直播确实很厉害，意识，枪法各方面都很强，你意识，枪法各方面都很强，你可
                            以去看意识，枪法各方面都很强，你可以去看可以去看看直播</div>
                        <div class="wl-user-notice1">
                            <dt>2小时前<i class="iconfont icon-yuandian"></i>回答1</dt>
                        </div>
                    </div>
                </div>
                <div class="wl-answers">
                    <div class="wl-answers-list">
                        <div class="wl-answers-title">七八十年代的缝纫机，现在能值多少人民币？</div>
                        <div class="wl-answer-content">确实很厉害，意识，枪法各方面都很强，你可以去看看直播</div>
                        <div class="wl-user-notice1">
                            <dt>2小时前<i class="iconfont icon-yuandian"></i>回答1</dt>
                        </div>
                    </div>
                </div>
                <div class="wl-answers">
                    <div class="wl-answers-list">
                        <div class="wl-answers-title">七八十年代的缝纫机，现在能值多少人民币？</div>
                        <div class="wl-answer-content">确实很厉害，意识，枪法各方面都很强，你可以去看看直播</div>
                        <div class="wl-user-notice1">
                            <dt>2小时前<i class="iconfont icon-yuandian"></i>回答1</dt>
                        </div>
                    </div>
                </div>
                <div class="wl-answers">
                    <div class="wl-answers-list">
                        <div class="wl-answers-title">七八十年代的缝纫机，现在能值多少人民币？</div>
                        <div class="wl-answer-content">确实很厉害，意识，枪法各方面都很强，你可以去看看直播</div>
                        <div class="wl-user-notice1">
                            <dt>2小时前<i class="iconfont icon-yuandian"></i>回答1</dt>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}

{block name="script"}
<script src="/static/js/functions.js"></script>
<script src="/static/plugin/layui/layui.all.js"></script>
<script src="/static/plugin/mescroll/mescroll.min.js" charset="utf-8"></script>
<script id="templateList" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
    <div class="wl-answers" data-id="{{ item.id }}">
        <div class="wl-answers-list">
            <div class="wl-answers-title">{{ item.title }}</div>
            <div class="wl-user-notice1">
                <dt>{{ item.ask_time}}<i class="iconfont icon-yuandian"></i>回答{{item.answer_num}}</dt>
            </div>
        </div>
    </div>
    {{#  }); }}
</script>
<script>
    $(".wl-deji li").click(function () {　　　　 //获取点击的元素给其添加样式，讲其兄弟元素的样式移除
        $(this).addClass("active").siblings().removeClass("active");　　　　 //获取选中元素的下标
        var index = $(this).index();
        $('.content').children().eq(index).addClass("active").siblings().removeClass("active");
    });
    $(document).on('click','.jump-details',function(){
        window.location.href = '/weixin/index/answerDetails';
    })

    var mescroll = new MeScroll("container", {
        down:{auto:true},
        up: {
            clearEmptyId: "container-list",
            page: {num: 0,size: 20},
            htmlNodata: '<p class="upwarp-nodata">-- 已加载全部 --</p>',
            isBounce: false,
            noMoreSize:10,
            empty: {
                icon: "/static/weixin/shop/image/tuoian.png",
                tip: "亲,没有您要找的商品~", //提示
            },
            callback: function(page){
                listObj.searchList(page,function(curPageData){
                    console.log(curPageData);
                    mescroll.endSuccess(curPageData.length);
                    layui.laytpl(templateList.innerHTML).render(curPageData, function(html){
                        $('#container-list').append(html);
                    });
                }, function(){
                    mescroll.endErr();
                });
            }
        }
    });

    var listObj = {
        searchList: function (page, successCallback, errorCallback) {
            var data = $.extend({}, {page: page.num, page_size: page.size});

            $.ajax({
                url: "/weixin/api/getUserInquiryAnswer",
                type: 'post',
                data: data,
                dataType: 'json',
                success: function (res) {
                    successCallback(res.data.rows);
                },
                error:function () {
                    errorCallback();
                }
            });
        },
    };
</script>
{/block}