{extend name="layout/layout" /}

{block name="cssOrcrsipt"}
<link rel="stylesheet" href="/static/weixin/css/balance_of.css">
<style>

</style>
{/block}

{block name="main"}

<header>
    <div class="wl-top">
        <a href="/weixin/user/main"><i class="iconfont icon-back_light top-left" style="font-size: 25px;color: #333333"></i></a>
        <span>账户余额</span>
    </div>
</header>
<!--这里编写主体内容-->
<div style="width: 100%;min-height: 500px;padding-bottom: 50px">
    <div class="wl-top-jifen">
        <dl><i class="iconfont icon-yue"></i>可用余额</dl>
        <dt>19</dt>
    </div>
    <div class="wl-integral">
        <span>现金收益</span>
    </div>
    <div class="wl-integral-list">
        <div>
            <div class="wl-benyue">
                <div class="wl-month"><span>|</span>全部</div>
            </div>
            <div class="wl-balance-list">
                <div class="wl-bizhonhe">
                    <dl>爆款仙女鼻综合你俩看的本基金可..俩看的本基金可..俩看的本基金可...</dl>
                    <dd>2019-01-03</dd>
                </div>
                <div class="wl-qianshu">+30</div>
            </div>
            <div style="clear: both"></div>
            <div class="wl-balance-list">
                <div class="wl-bizhonhe">
                    <dl>爆款仙女鼻综合你俩看的本基金可..俩看的本基金可..俩看的本基金可...</dl>
                    <dd>2019-01-03</dd>
                </div>
                <div class="wl-qianshu">+30</div>
            </div>
            <div style="clear: both"></div>
            <div class="wl-balance-list">
                <div class="wl-bizhonhe">
                    <dl>爆款仙女鼻综合你俩看的本基金可..俩看的本基金可..俩看的本基金可...</dl>
                    <dd>2019-01-03</dd>
                </div>
                <div class="wl-qianshu">+30</div>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>



</div>

{/block}

{block name="script"}

{/block}