<!DOCTYPE html>
<html lang="en">
<head>
    <!--  <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=750px, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="telephone=no" name="format-detection"/>
    <title>微琳医美</title>
    <link rel="stylesheet" type="text/css" href="/static/css/certification.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/iconfont.css"/>
</head>
<style>

</style>
<body style="background: #FFFFFF;">

<header>
    <div class="top" style="position: relative">
        <a href="/weixin/user/main"><i class="iconfont icon-back_light" style="font-size: 40px;position: absolute;left: 20px;top: 3px;" ></i></a>
        <span id="san">用户认证</span>
    </div>
</header>

{if condition="count($authRes) == 0"}
    <content >
        <div class="wl-neirong" style="position: relative">
            <img src="/static/image/user/dunpai.png" alt="" width="280"  height="292">
        </div>
        <div class="wl-nei1">
            <dl style="font-size: 35px;color: #7DB0E8">温馨提示</dl>
            <dt style="color:#333333;font-size: 32px;margin-top: 60px">申请认证请前往薇琳医美官方网站</dt>
            <dd style="color:#333333;font-size: 32px;margin-top: 30px"><span style="color: #7db0e8;">weixin.alimx.cn</span>完成认证</dd>
            <button class="wl-btn"><a href="/weixin/user/main" style="color: #ffffff">知道了</a></button>
        </div>
    </content>
{else /}
    {if condition="$authRes['status'] == 1"}
        <content >
            <div class="wl-neirong1" >
                <div class="wl-yanzheng" style="margin-left: 90px">
                    <dl style="width: 100px;height: 100px;border-radius: 50%;background:#7DB0E8;margin: 0 auto;line-height: 100px ">
                        <span class="iconfont icon-tianxierenzhengxinxi" style="font-size: 50px;color:white"></span></dl>
                </div>
                <div class="wl-yanzheng">
                    <dl ><span class="iconfont icon-hengxian" style="font-size: 120px;color:#7DB0E8;float: left;margin-top: -6px"></span></dl>
                </div>
                <div class="wl-yanzheng">
                    <dl style="width: 100px;height: 100px;border-radius: 50%;background:#7DB0E8;margin: 0 auto;line-height: 100px ">
                        <span class="iconfont icon-qunfengdengdaishenhexian" style="font-size: 50px;color:white"></span></dl>
                </div>
                <div class="wl-yanzheng">
                    <dl ><span class="iconfont icon-hengxian" style="font-size: 120px;color:#7DB0E8;float: left;margin-top: -6px"></span></dl>
                </div>
                <div class="wl-yanzheng" style="margin-left: 5px">
                    <dl style="width: 100px;height: 100px;border-radius: 50%;border:1px solid #BFBFBF;margin: 0 auto;line-height: 100px ">
                        <span class="iconfont icon-fabu2" style="font-size: 50px;color:#BFBFBF"></span></dl>
                </div>
            </div>

            <div class="wl-jgh" style="position: relative">
                <span style="position: absolute;top: 0;left: 10%">完成实名认证</span>
                <span style="position: absolute;top: 0;left: 39%">等待审核结果</span>
                <span style="position: absolute;top: 0;left: 70%;color:#BFBFBF;">认证结果发布</span>
            </div>

            <div class="wl-nei2">
                <dl style="font-size: 32px;color: #333333">正在审核中,请耐心等待2-5个工作日</dl>
                <dt style="color:#999999;font-size: 20px;margin-top: 60px">如在2-5个工作日未得到认证结果，请您发送邮件至</dt>
                <dd style="color:#999999;font-size: 20px;margin-top: 10px"><span style="color: #F24F4F;">weixin.alimx.cn</span>完成认证</dd>
                <button class="wl-btn"><a href="/weixin/user/main" style="color: #ffffff">知道了</a></button>
            </div>
        </content>
    {else /}
            <content>
                <div class="wl-neirong1" >
                    <div class="wl-yanzheng" style="margin-left: 90px">
                        <dl style="width: 100px;height: 100px;border-radius: 50%;background:#7DB0E8;margin: 0 auto;line-height: 100px ">
                            <span class="iconfont icon-tianxierenzhengxinxi" style="font-size: 50px;color:white"></span></dl>
                    </div>
                    <div class="wl-yanzheng">
                        <dl ><span class="iconfont icon-hengxian" style="font-size: 120px;color:#7DB0E8;float: left;margin-top: -6px"></span></dl>
                    </div>
                    <div class="wl-yanzheng">
                        <dl style="width: 100px;height: 100px;border-radius: 50%;background:#7DB0E8;margin: 0 auto;line-height: 100px ">
                            <span class="iconfont icon-qunfengdengdaishenhexian" style="font-size: 50px;color:white"></span></dl>
                    </div>
                    <div class="wl-yanzheng">
                        <dl ><span class="iconfont icon-hengxian" style="font-size: 120px;color:#7DB0E8;float: left;margin-top: -6px"></span></dl>
                    </div>
                    <div class="wl-yanzheng" style="margin-left: 5px">
                        <dl style="width: 100px;height: 100px;border-radius: 50%;background:#7DB0E8;margin: 0 auto;line-height: 100px ">
                            <span class="iconfont icon-fabu2" style="font-size: 50px;color:white"></span></dl>
                    </div>
                </div>

                <div class="wl-jgh" style="position: relative">
                    <span style="position: absolute;top: 0;left: 10%">完成实名认证</span>
                    <span style="position: absolute;top: 0;left: 39%">等待审核结果</span>
                    <span style="position: absolute;top: 0;left: 70%;">认证结果发布</span>
                </div>

                <div class="wl-nei2" >
                    {if condition="$authRes['status'] == 2"}
                        <div class="wl-nei2" >
                            <dl style="font-size: 32px;color: #333333">对不起，您的认证未通过审核</dl>
                            <dt style="color:#999999;font-size: 20px;margin-top: 60px">如认证结果存有疑问，请前往薇琳医美官方网站</dt>
                            <dd style="color:#999999;font-size: 20px;margin-top: 10px"><span style="color: #F24F4F;">weixin.alimx.cn</span> 继续完成认证</dd>
                            <button class="wl-btn"><a href="/weixin/user/main" style="color: #ffffff">知道了</a></button>
                        </div>
                    {else /}
                        <div>
                            <dl style="font-size: 32px;color: #333333">恭喜，您的认证已通过审核</dl>
                            <div class="wl-dab" >
                                <dl>认证身份:
                                <span>
                                    {switch name="$authRes['type']"}
                                        {case value="1"}认证会员{/case}
                                        {case value="2"}认证医生{/case}
                                        {case value="3"}认证医院{/case}
                                        {case value="4"}官方团队{/case}
                                    {/switch}
                                </span>
                                </dl>
                                <dt>真实姓名: <span>{$authRes['username']|userNameTuoming}</span></dt>
                                <dd>证件号码: <span>{$authRes['idcard']|idcardTuoming}</span></dd>
                                <dd>证件图片: <span>已做隐私处理，不显示具体内容</span></dd>
                                <button class="wl-btn"><a href="/weixin/user/main" style="color: #ffffff">知道了</a></button>
                            </div>
                        </div>
                    {/if}
                </div>
            </content>
    {/if}
{/if}



</body>
<script src="/static/js/jquery.min.js"></script>
</html>