<!DOCTYPE html>
<html lang="en">
<head>
    <!--  <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=750px, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="telephone=no" name="format-detection"/>
    <title>微琳医美</title>
    <link rel="stylesheet" type="text/css" href="/static/css/collection.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
    <script src="/static/js/rem.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/iconfont.css"/>

</head>
<style>

</style>
<body style="background: #ffffff;">
<div class="wl-con">
    <div class="wx-content">
        <div class="top" id="top" style="z-index: 9999999;">
            <div id="ul" style="border-bottom: 1px solid #EEEEEE;">
                <span id="one" style="margin-left: 207px;">收藏</span>
                <span id="two">评论</span>
                <span id="three">点赞</span>
            </div>

        </div>
        <div class="xia">
            <div class="one ones content" >
                <div class="one-1 lists" style="height: 380px;position: relative;top: 20px;">
                    <div style="width: 100%;min-height: 400px;border-bottom: 10px solid #EEEEEE;">
                        <div class="wx-name" style="border:none;position: relative">
                            <div style="position:absolute;top: 20px;">
                                <img src="" alt="" class="wx-tou"  >
                                <dl class="wx-yh"><dt style="font-size:0.28rem;color: #1D1D1D;font-weight: bold;">bdfs</dt>
                                    <dd style="font-size:0.24rem;color: #898989;">gdsa </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="wx-nei1">
                            <dl>
                                <dt style="font-size: 0.34rem;color: #1F1F1F;margin-left: 36px;cursor: pointer;"  class="cus-article-href"  >我是内容内容内容我是内容内容内容我是内容
                                    内容内容我是内容内容内容我是内容内容内容 </dt>
                                <dd ><img src="" alt="图片"/></dd>
                            </dl>
                        </div>
                        <div style="position: relative">
                            <ul class="wx-fen" style="position:relative;bottom: 0px">
                                <li><i class="iconfont icon-share_light" ></i><span></span></li>
                                <li><i class="iconfont icon-comment_light" ></i><span style="margin-left: 15px;">6</span></li>
                                <li><i class="iconfont icon-dianzan"></i><span style="margin-left: 15px;" >6</span></li>
                            </ul>
                        </div>
                    </div>
                    <div style="width: 100%;min-height: 400px;border-bottom: 10px solid #EEEEEE;position: relative">
                        <div class="wx-name" style="border:none;position: relative">
                            <div style="position:absolute;top: 20px;">
                                <img src="" alt="" class="wx-tou"  >
                                <dl class="wx-yh"><dt style="font-size:0.28rem;color: #1D1D1D;font-weight: bold;">bdfs</dt>
                                    <dd style="font-size:0.24rem;color: #898989;">gdsa </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="wl-jh">
                            評論内容評論内容評論内容評論内容評論内容評論内容評論内容評論内容評論内容
                        </div>
                        <div class="wx-video">
                            <video src="" controls="controls" width="100%" height="420px"/>
                        </div>
                        <div style="height: 80px">
                            <ul class="wx-fen" style="position:absolute;bottom: 40px">
                                <li><i class="iconfont icon-share_light" ></i><span></span></li>
                                <li><i class="iconfont icon-comment_light" ></i><span style="margin-left: 15px;">6</span></li>
                                <li><i class="iconfont icon-dianzan"></i><span style="margin-left: 15px;" >6</span></li>
                            </ul>
                        </div>
                    </div>
                    <div style="width: 100%;min-height: 400px;border-bottom: 10px solid #EEEEEE;position: relative;top: 20px">
                        <div class="wx-name" style="border:none;position: relative">
                            <div style="position:absolute;">
                                <img src="" alt="" class="wx-tou"  >
                                <dl class="wx-yh"><dt style="font-size:0.28rem;color: #1D1D1D;font-weight: bold;">bdfs</dt>
                                    <dd style="font-size:0.24rem;color: #898989;">gdsa </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="wl-jh">
                            評論内容評論内容評論内容評論内容評論内容評論内容評論内容評論内容評論内容
                        </div>
                        <div class="wl-img" data-id="">

                            <dd style="margin-left: 10px"><img src="" alt="图片"/></dd>
                            <dd><img src="" alt="图片"/></dd>
                            <dd><img src="" alt="图片"/></dd>
                            <dd style="margin-left: 10px"><img src="" alt="图片"/></dd>
                            <dd><img src="" alt="图片"/></dd>
                            <dd><img src="" alt="图片"/></dd>
                            <dd style="margin-left: 10px"><img src="" alt="图片"/></dd>
                            <dd><img src="" alt="图片"/></dd>
                            <dd><img src="" alt="图片"/></dd>


                        </div>
                        <div style="height: 80px">
                            <ul class="wx-fen" style="position:absolute;bottom: 40px">
                                <li><i class="iconfont icon-share_light" ></i><span></span></li>
                                <li><i class="iconfont icon-comment_light" ></i><span style="margin-left: 15px;">6</span></li>
                                <li><i class="iconfont icon-dianzan"></i><span style="margin-left: 15px;" >6</span></li>
                            </ul>
                        </div>
                    </div>
                    </div>
            </div>
            <div class="one " style="display: none;">
                <div style="width: 100%;min-height: 450px;border-bottom: 10px solid #EEEEEE;">
                    <div class="wx-name" style="border:none;position: relative;top: 20px;">
                        <div style="position:absolute;top: 20px;">
                            <img src="" alt="" class="wx-tou"  >
                            <dl class="wx-yh"><dt style="font-size:0.28rem;color: #1D1D1D;font-weight: bold;">bdfs</dt>
                                <dd style="font-size:0.24rem;color: #898989;">gdsa </dd>
                            </dl>
                        </div>
                    </div>
                    <div style="height: 65px;margin-top: 25px;padding: 10px 20px 0 20px ;overflow: hidden; white-space: nowrap; text-overflow:ellipsis;"> 我是内容内容内容我是内容内容内容我是内容我是内容内容内容我是内容内容内容我是内容</div>
                    <div class="wx-nei1" style="border: 1px solid #EEEEEE;min-height: 195px">
                        <dl>
                            <dt style="font-size: 0.34rem;color: #1F1F1F;margin-left: 36px;cursor: pointer;"  >我是内容内容内容我是内容内容内容我是内容
                                内容内容我是内容内容内容我是内容内容内容 </dt>
                            <dd style="top: 6px"><img src="" alt="图片" /></dd>
                        </dl>
                    </div>
                    <div style="position: relative">
                        <ul class="wx-fen" style="position:relative;bottom: 0px">
                            <li><i class="iconfont icon-share_light" ></i><span></span></li>
                            <li><i class="iconfont icon-comment_light" ></i><span style="margin-left: 15px;">6</span></li>
                            <li><i class="iconfont icon-dianzan"></i><span style="margin-left: 15px;" >6</span></li>
                        </ul>
                    </div>
                </div>
                <div style="width: 100%;min-height: 775px;border-bottom: 10px solid #EEEEEE;">
                    <div class="wx-name" style="border:none;position: relative;top: 20px;">
                        <div style="position:absolute;top: 20px;">
                            <img src="" alt="" class="wx-tou"  >
                            <dl class="wx-yh"><dt style="font-size:0.28rem;color: #1D1D1D;font-weight: bold;">bdfs</dt>
                                <dd style="font-size:0.24rem;color: #898989;">gdsa </dd>
                            </dl>
                        </div>
                    </div>
                    <div style="height: 65px;margin-top: 25px;padding: 10px 20px 0 20px ;overflow: hidden; white-space: nowrap; text-overflow:ellipsis;"> 我是内容内容内容我是内容内容内容我是内容我是内容内容内容我是内容内容内容我是内容</div>
                    <div class="wx-nei1" style="border: 1px solid #EEEEEE;min-height: 195px">
                        <dl>
                            <div style="height: 65px;padding: 10px 20px 0 20px ;overflow: hidden; white-space: nowrap; text-overflow:ellipsis;"> 我是内容内容内容我是内容内容内容我是内容我是内容内容内容我是内容内容内容我是内容</div>

                            <div class="wx-video">
                                <video src="" controls="controls" width="100%" height="420px"/>
                            </div>
                        </dl>
                    </div>
                    <div style="position: relative;top: 362px;">
                        <ul class="wx-fen" style="position:absolute;bottom: 0px">
                            <li><i class="iconfont icon-share_light" ></i><span></span></li>
                            <li><i class="iconfont icon-comment_light" ></i><span style="margin-left: 15px;">6</span></li>
                            <li><i class="iconfont icon-dianzan"></i><span style="margin-left: 15px;" >6</span></li>
                        </ul>
                    </div>
                </div>
                <div style="width: 100%;min-height: 775px;border-bottom: 10px solid #EEEEEE;">
                    <div class="wx-name" style="border:none;position: relative;top: 20px;">
                        <div style="position:absolute;top: 20px;">
                            <img src="" alt="" class="wx-tou"  >
                            <dl class="wx-yh"><dt style="font-size:0.28rem;color: #1D1D1D;font-weight: bold;">bdfs</dt>
                                <dd style="font-size:0.24rem;color: #898989;">gdsa </dd>
                            </dl>
                        </div>
                    </div>
                    <div style="height: 65px;margin-top: 25px;padding: 10px 20px 0 20px ;overflow: hidden; white-space: nowrap; text-overflow:ellipsis;"> 我是内容内容内容我是内容内容内容我是内容我是内容内容内容我是内容内容内容我是内容</div>

                        <dl style="width: 100%;height: 925px;">
                            <div style="height: 65px;padding: 10px 20px 0 20px ;overflow: hidden; white-space: nowrap; text-overflow:ellipsis;"> 我是内容内容内容我是内容内容内容我是内容我是内容内容内容我是内容内容内容我是内容</div>
                            <div class="wl-img" >
                                <dd style="margin-left: 10px"><img src="" alt="图片"/></dd>
                                <dd><img src="" alt="图片"/></dd>
                                <dd><img src="" alt="图片"/></dd>
                                <dd style="margin-left: 10px"><img src="" alt="图片"/></dd>
                                <dd><img src="" alt="图片"/></dd>
                                <dd><img src="" alt="图片"/></dd>
                                <dd style="margin-left: 10px"><img src="" alt="图片"/></dd>
                                <dd><img src="" alt="图片"/></dd>
                                <dd><img src="" alt="图片"/></dd>

                            </div>

                        </dl>

                    <div style="position: relative;top:-40px;">
                        <ul class="wx-fen" style="position:absolute;bottom: 0px">
                            <li><i class="iconfont icon-share_light" ></i><span></span></li>
                            <li><i class="iconfont icon-comment_light" ></i><span style="margin-left: 15px;">6</span></li>
                            <li><i class="iconfont icon-dianzan"></i><span style="margin-left: 15px;" >6</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="one" style="display: none;">
                <div style="width: 100%;min-height: 450px;border-bottom: 10px solid #EEEEEE;">
                    <div class="wx-name" style="border:none;position: relative;top: 20px;">
                        <div style="position:absolute;top: 20px;">
                            <img src="" alt="" class="wx-tou"  >
                            <dl class="wx-yh"><dt style="font-size:0.28rem;color: #1D1D1D;font-weight: bold;">bdfs</dt>
                                <dd style="font-size:0.24rem;color: #898989;">gdsa </dd>
                            </dl>
                        </div>
                    </div>
                    <div style="height: 65px;margin-top: 25px;padding: 10px 20px 0 20px ;overflow: hidden; white-space: nowrap; text-overflow:ellipsis;"> 我是内容内容内容我是内容内容内容我是内容我是内容内容内容我是内容内容内容我是内容</div>
                    <div class="wx-nei1" style="border: 1px solid #EEEEEE;min-height: 195px">
                        <dl>
                            <dt style="font-size: 0.34rem;color: #1F1F1F;margin-left: 36px;cursor: pointer;"  >我是内容内容内容我是内容内容内容我是内容
                                内容内容我是内容内容内容我是内容内容内容 </dt>
                            <dd style="top: 6px"><img src="" alt="图片" /></dd>
                        </dl>
                    </div>
                    <div style="position: relative">
                        <ul class="wx-fen" style="position:relative;bottom: 0px">
                            <li><i class="iconfont icon-share_light" ></i><span></span></li>
                            <li><i class="iconfont icon-comment_light" ></i><span style="margin-left: 15px;">6</span></li>
                            <li><i class="iconfont icon-dianzan"></i><span style="margin-left: 15px;" >6</span></li>
                        </ul>
                    </div>
                </div>
                <div style="width: 100%;min-height: 775px;border-bottom: 10px solid #EEEEEE;">
                    <div class="wx-name" style="border:none;position: relative;top: 20px;">
                        <div style="position:absolute;top: 20px;">
                            <img src="" alt="" class="wx-tou"  >
                            <dl class="wx-yh"><dt style="font-size:0.28rem;color: #1D1D1D;font-weight: bold;">bdfs</dt>
                                <dd style="font-size:0.24rem;color: #898989;">gdsa </dd>
                            </dl>
                        </div>
                    </div>
                    <div style="height: 65px;margin-top: 25px;padding: 10px 20px 0 20px ;overflow: hidden; white-space: nowrap; text-overflow:ellipsis;"> 我是内容内容内容我是内容内容内容我是内容我是内容内容内容我是内容内容内容我是内容</div>
                    <div class="wx-nei1" style="border: 1px solid #EEEEEE;min-height: 195px">
                        <dl>
                            <div style="height: 65px;padding: 10px 20px 0 20px ;overflow: hidden; white-space: nowrap; text-overflow:ellipsis;"> 我是内容内容内容我是内容内容内容我是内容我是内容内容内容我是内容内容内容我是内容</div>

                            <div class="wx-video">
                                <video src="" controls="controls" width="100%" height="420px"/>
                            </div>
                        </dl>
                    </div>
                    <div style="position: relative;top: 362px;">
                        <ul class="wx-fen" style="position:absolute;bottom: 0px">
                            <li><i class="iconfont icon-share_light" ></i><span></span></li>
                            <li><i class="iconfont icon-comment_light" ></i><span style="margin-left: 15px;">6</span></li>
                            <li><i class="iconfont icon-dianzan"></i><span style="margin-left: 15px;" >6</span></li>
                        </ul>
                    </div>
                </div>
                <div style="width: 100%;min-height: 775px;border-bottom: 10px solid #EEEEEE;">
                    <div class="wx-name" style="border:none;position: relative;top: 20px;">
                        <div style="position:absolute;top: 20px;">
                            <img src="" alt="" class="wx-tou"  >
                            <dl class="wx-yh"><dt style="font-size:0.28rem;color: #1D1D1D;font-weight: bold;">bdfs</dt>
                                <dd style="font-size:0.24rem;color: #898989;">gdsa </dd>
                            </dl>
                        </div>
                    </div>
                    <div style="height: 65px;margin-top: 25px;padding: 10px 20px 0 20px ;overflow: hidden; white-space: nowrap; text-overflow:ellipsis;"> 我是内容内容内容我是内容内容内容我是内容我是内容内容内容我是内容内容内容我是内容</div>
                    <dl style="width: 100%;height: 825px;">
                        <div class="wl-img" >
                            <dd style="margin-left: 10px"><img src="" alt="图片"/></dd>
                            <dd><img src="" alt="图片"/></dd>
                            <dd><img src="" alt="图片"/></dd>
                            <dd style="margin-left: 10px"><img src="" alt="图片"/></dd>
                            <dd><img src="" alt="图片"/></dd>
                            <dd><img src="" alt="图片"/></dd>
                            <dd style="margin-left: 10px"><img src="" alt="图片"/></dd>
                            <dd><img src="" alt="图片"/></dd>
                            <dd><img src="" alt="图片"/></dd>
                        </div>

                    </dl>
                    <div style="position: relative;top:-40px;">
                        <ul class="wx-fen" style="position:absolute;bottom: 0px">
                            <li><i class="iconfont icon-share_light" ></i><span></span></li>
                            <li><i class="iconfont icon-comment_light" ></i><span style="margin-left: 15px;">6</span></li>
                            <li><i class="iconfont icon-dianzan"></i><span style="margin-left: 15px;" >6</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/functions.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(function () {
        $(".ones").show();
        $(".top span").eq(0).addClass("se");
        var a,b,c,index = 0;
        $(".top span").click(function () {
            index = $(this).index();
            $(".xia .one").eq(index).show().siblings().hide();
            $(".top span").eq(index).addClass("se").siblings().removeClass("se");
            if (index == 0) {
                a = 1;
            }
            if (index == 1) {
                b = 1;
            }
            if (index == 2) {
                c = 1;
            }
            if (a == 1 && b == 1 && c == 1) {
                $("#xiao").hide();
            }
        })
    });
</script>
</html>