<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>微琳医美</title>
    <link rel="stylesheet" type="text/css" href="/static/css/dialogue.css"/>
    <script src="/static/js/rem.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/iconfont.css"/>


</head>
<style>

</style>
<body style="background: white">
<header>
    <div class="wl-top" style="position: relative">
        <i class="iconfont icon-back_light" style="font-size: 25px;position: absolute;left: 18px;top: 0px;"></i> 用户名称1
    </div>
</header>
<content style="padding-bottom: 50px">
    <div class="wl-neirong">
        <div class="wl-neia1" >
            我是标题我是标题我是标题我是标题我是标题我是是标题</div>
    </div>
    <div class="wl-adi1">
        我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标
        题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题
    </div>
    <div class="wl-shijian">5小时前</div>
</content>
</body>
<script src="/static/js/jquery.min.js"></script>


</html>