<!DOCTYPE html>
<html lang="en">
<head>
    <!--  <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />-->
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="telephone=no" name="format-detection"/>
    <title>微琳医美</title>
    <link rel="stylesheet" type="text/css" href="/static/css/dialogue.css"/>
    <script src="/static/js/rem.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/iconfont.css"/>


</head>
<style>

</style>
<body style="background: white">
<header>
    <div class="wl-top" style="position: relative">
        <i class="iconfont icon-back_light" style="font-size: 40px;position: absolute;left: 20px;top:3px;"></i> 用户名称1
    </div>
</header>
<content>
    <div class="wl-neirong">
        <div class="wl-neia1" >
            我是标题我是标题我是标题我是标题我是标题我是是标题</div>
    </div>
    <div class="wl-adi1">
        我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标
        题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题
        <div class="wl-db">
            <img src="" alt="" width="100%"height="340" >
        </div>
    </div>
    <div class="wl-shijian">5小时前</div>
</content>
</body>
<script src="/static/js/jquery.min.js"></script>


</html>