<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="applicable-device" content="pc,mobile">
    <title>微琳医美</title>

    <link rel="stylesheet" type="text/css" href="/static/css/friends.css"/>
    <script src="/static/js/rem.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/dropload.css"/>
</head>
<style>

</style>
<body style="background: #F2F2F2">
<header style="background:  #F2F2F2; position: relative;">

    <i class="iconfont icon-back_light" style="font-size: 25px;position: absolute;top: 36px;left:10px;" onClick="redream.toReferer()"></i>
    <div class="top" style="z-index: 9999999;">
        <span id="one">好友</span>
        <span id="two">关注</span>
        <span id="three">粉丝</span>
    </div>
</header>
<main>
    <div class="xia">
        <div class="one ones">
            <p class="wl-haoyou">我的好友</p>
            <div class="wl-nei1">
                <div class="wl-touxiang">
                    <img src="/static/image/user/tou.png" alt="" width="41" height="41">
                </div>
                <div class="wl-nei2">
                    <span style="background: #F29C9F;">用户</span>
                    <div style="float: left;margin-left: 5px;width: 75%">
                        <dl>用户名称</dl>
                        <dt>消息内容内消息内容内容消息内容内容容</dt>
                    </div>
                    <i class="iconfont icon-back_left-copy"
                       style="font-size: 25px;float: right;margin: 7px 7px 0 0"></i>
                </div>
            </div>
            <div style="clear: both"></div>
            <div class="wl-nei1">
                <div class="wl-touxiang">
                    <img src="/static/image/user/tou.png" alt="" width="41" height="41">
                </div>
                <div class="wl-nei2">
                    <span style="background: #00A0E9">医生</span>
                    <div style="float: left;margin-left: 5px;width: 75%">
                        <dl>用户名称</dl>
                        <dt>消息内容内消息内容内容消息内容内容容</dt>
                    </div>
                    <i class="iconfont icon-back_left-copy"
                       style="font-size: 25px;float: right;margin: 7px 7px 0 0"></i>
                </div>
            </div>
            <div style="clear: both"></div>
            <div class="wl-nei1">
                <div class="wl-touxiang">
                    <img src="/static/image/user/tou.png" alt="" width="41" height="41">
                </div>
                <div class="wl-nei2">
                    <span style="background: #F19149">医院</span>
                    <div style="float: left;margin-left: 5px;width: 75%">
                        <dl>用户名称</dl>
                        <dt>消息内容内消息内容内容消息内容内容容</dt>
                    </div>
                    <i class="iconfont icon-back_left-copy"
                       style="font-size: 25px;float: right;margin: 7px 7px 0 0"></i>
                </div>
            </div>
            <div style="clear: both"></div>
            <div class="wl-nei1">
                <div class="wl-touxiang">
                    <img src="/static/image/user/tou.png" alt="" width="41" height="41">
                </div>
                <div class="wl-nei2">
                    <span style="background: #0FD6DD">团队</span>
                    <div style="float: left;margin-left: 5px;width: 75%">
                        <dl>用户名称</dl>
                        <dt>消息内容内消息内容内容消息内容内容容</dt>
                    </div>
                    <i class="iconfont icon-back_left-copy"
                       style="font-size: 25px;float: right;margin: 7px 7px 0 0"></i>
                </div>
                <div style="clear: both"></div>
            </div>
            <div style="clear: both"></div>
        </div>
        <div class="one">
            <p class="wl-haoyou">我的关注</p>
            <div class="wl-nei1">
                <div class="wl-touxiang">
                    <img src="/static/image/user/tou.png" alt="" width="41" height="41">
                </div>
                <div class="wl-nei2">
                    <span style="background: #F29C9F;">用户</span>
                    <div style="float: left;margin-left: 5px;width: 75%">
                        <dl>用户名称</dl>
                        <dt>消息内容内消息内容内容消息内容内容容</dt>
                    </div>
                    <i class="iconfont icon-back_left-copy"
                       style="font-size: 25px;float: right;margin: 7px 7px 0 0"></i>
                </div>
            </div>
            <div style="clear: both"></div>
            <div class="wl-nei1">
                <div class="wl-touxiang">
                    <img src="/static/image/user/tou.png" alt="" width="41" height="41">
                </div>
                <div class="wl-nei2">
                    <span style="background: #00A0E9">医生</span>
                    <div style="float: left;margin-left: 5px;width: 75%">
                        <dl>用户名称</dl>
                        <dt>消息内容内消息内容内容消息内容内容容</dt>
                    </div>
                    <i class="iconfont icon-back_left-copy"
                       style="font-size: 25px;float: right;margin: 7px 7px 0 0"></i>
                </div>
            </div>
            <div style="clear: both"></div>
            <div class="wl-nei1">
                <div class="wl-touxiang">
                    <img src="/static/image/user/tou.png" alt="" width="41" height="41">
                </div>
                <div class="wl-nei2">
                    <span style="background: #F19149">医院</span>
                    <div style="float: left;margin-left: 5px;width: 75%">
                        <dl>用户名称</dl>
                        <dt>消息内容内消息内容内容消息内容内容容</dt>
                    </div>
                    <i class="iconfont icon-back_left-copy"
                       style="font-size: 25px;float: right;margin: 7px 7px 0 0"></i>
                </div>
            </div>
            <div style="clear: both"></div>
            <div class="wl-nei1">
                <div class="wl-touxiang">
                    <img src="/static/image/user/tou.png" alt="" width="41" height="41">
                </div>
                <div class="wl-nei2">
                    <span style="background: #0FD6DD">团队</span>
                    <div style="float: left;margin-left: 5px;width: 75%">
                        <dl>用户名称</dl>
                        <dt>消息内容内消息内容内容消息内容内容容</dt>
                    </div>
                    <i class="iconfont icon-back_left-copy"
                       style="font-size: 25px;float: right;margin: 7px 7px 0 0"></i>
                </div>
                <div style="clear: both"></div>
            </div>
            <div style="clear: both"></div>
        </div>
        <div class="one">
            <p class="wl-haoyou">我的粉丝</p>
            <div class="wl-nei1">
                <div class="wl-touxiang">
                    <img src="/static/image/user/tou.png" alt="" width="41" height="41">
                </div>
                <div class="wl-nei2">
                    <span style="background: #F29C9F;">用户</span>
                    <div style="float: left;margin-left: 5px;width: 75%">
                        <dl>用户名称</dl>
                        <dt>消息内容内消息内容内容消息内容内容容</dt>
                    </div>
                    <i class="iconfont icon-back_left-copy"
                       style="font-size: 25px;float: right;margin: 7px 7px 0 0"></i>
                </div>
            </div>
            <div style="clear: both"></div>
            <div class="wl-nei1">
                <div class="wl-touxiang">
                    <img src="/static/image/user/tou.png" alt="" width="41" height="41">
                </div>
                <div class="wl-nei2">
                    <span style="background: #00A0E9">医生</span>
                    <div style="float: left;margin-left: 5px;width: 75%">
                        <dl>用户名称</dl>
                        <dt>消息内容内消息内容内容消息内容内容容</dt>
                    </div>
                    <i class="iconfont icon-back_left-copy"
                       style="font-size: 25px;float: right;margin: 7px 7px 0 0"></i>
                </div>
            </div>
            <div style="clear: both"></div>
            <div class="wl-nei1">
                <div class="wl-touxiang">
                    <img src="/static/image/user/tou.png" alt="" width="41" height="41">
                </div>
                <div class="wl-nei2">
                    <span style="background: #F19149">医院</span>
                    <div style="float: left;margin-left: 5px;width: 75%">
                        <dl>用户名称</dl>
                        <dt>消息内容内消息内容内容消息内容内容容</dt>
                    </div>
                    <i class="iconfont icon-back_left-copy"
                       style="font-size: 25px;float: right;margin: 7px 7px 0 0"></i>
                </div>
            </div>
            <div style="clear: both"></div>
            <div class="wl-nei1">
                <div class="wl-touxiang">
                    <img src="/static/image/user/tou.png" alt="" width="41" height="41">
                </div>
                <div class="wl-nei2">
                    <span style="background: #0FD6DD">团队</span>
                    <div style="float: left;margin-left: 5px;width: 75%">
                        <dl>用户名称</dl>
                        <dt>消息内容内消息内容内容消息内容内容容</dt>
                    </div>
                    <i class="iconfont icon-back_left-copy"
                       style="font-size: 25px;float: right;margin: 7px 7px 0 0"></i>
                </div>
                <div style="clear: both"></div>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
</main>


<footer>
    <footer>
        <div class="wl-foot" style="max-width: 750px">
            <dl onclick="redream.href('/weixin/index/index')" class="dianji">
                <dd><i class="iconfont icon-home_light" style="font-size: 25px"></i></dd>
                <dt>首页</dt>
            </dl>
            <dl class="dianji" onclick="redream.href('/weixin/index/doctor')">
                <dd><i class="iconfont icon-yishengtubiao" style="font-size: 25px;"></i></dd>
                <dt>医生</dt>
            </dl>
            <dl class="dianji" onclick="redream.href('/weixin/index/hospital')">
                <dd><i class="iconfont icon-chakanyiyuan" style="font-size: 25px;"></i></dd>
                <dt>医院</dt>
            </dl>
            <dl onclick="redream.href('/weixin/user/main')" class="dianji">
                <dd><i class="iconfont icon-my_light" style="font-size: 25px"></i></dd>
                <dt>我的</dt>
            </dl>
        </div>
    </footer>
</footer>
</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/functions.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/dropload.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/zepto.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(function () {
        $(".ones").show();
        $(".top span").eq(0).addClass("se");
        var a, b, c, index = 0;
        $(".top span").click(function () {
            index = $(this).index();
            $(".xia .one").eq(index).show().siblings().hide();
            $(".top span").eq(index).addClass("se").siblings().removeClass("se");
            if (index == 0) {
                a = 1;
            }
            if (index == 1) {
                b = 1;
            }
            if (index == 2) {
                c = 1;
            }
            if (a == 1 && b == 1 && c == 1) {
                $("#xiao").hide();
            }
        });


        var url = window.location.toString();
        var maodian = url.split('#')[1];
        if (maodian == 'favorite') {
            $('#one').trigger('click');
        } else if (maodian == 'comment') {
            $('#two').trigger('click');
        } else if (maodian == 'like') {
            $('#three').trigger('click');
        }
    });
</script>

</html>