<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="applicable-device" content="pc,mobile">
    <title>{:config('conf.title')}</title>
    <link rel="stylesheet" type="text/css" href="/static/weixin/css/friends.css"/>
    <script src="/static/js/rem.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="/static/weixin/css/dropload1.css"/>
    <style>
        .href{cursor: pointer}
    </style>
</head>
<style>

</style>
<body style="background: #F2F2F2">
<header>
    <a href="/weixin/user/main"><i class="iconfont icon-back_light" style="font-size: 20px; position: absolute; top: 7px;left: 10px;" ></i></a>
    <div class="top" style="z-index: 9999999;">
        <span id="one"><a href="#friends">好友</a></span>
        <span id="two"><a href="#follow">关注</a></span>
        <span id="three"><a href="#fans">粉丝</a></span>
    </div>
</header>

<main>
    <div class="xia">
        <div class="one ones">
            <p class="wl-haoyou">我的好友</p>
            <div id="friends-container">
                <div id="friends-container-list">
                </div>
            </div>
        </div>
        <div class="one">
            <p class="wl-haoyou">我的关注</p>
            <div id="follow-container">
                <div id="follow-container-list"></div>
            </div>
        </div>
        <div class="one">
            <p class="wl-haoyou">我的粉丝</p>
            <div id="fans-container">
                <div id="fans-container-list"></div>
            </div>
        </div>
    </div>
</main>

<!--<footer>-->
    <!--<div class="wl-foot" style="max-width: 750px">-->
        <!--<dl onclick="redream.href('/weixin/index/index')" class="dianji">-->
            <!--<dd><i class="iconfont icon-home_light" style="font-size: 25px"></i></dd>-->
            <!--<dt>首页</dt>-->
        <!--</dl>-->
        <!--<dl class="dianji" onclick="redream.href('/weixin/index/doctor')">-->
            <!--<dd><i class="iconfont icon-yishengtubiao" style="font-size: 25px;"></i></dd>-->
            <!--<dt>医生</dt>-->
        <!--</dl>-->
        <!--<dl class="dianji" onclick="redream.href('/weixin/index/hospital')">-->
            <!--<dd><i class="iconfont icon-chakanyiyuan" style="font-size: 25px;"></i></dd>-->
            <!--<dt>医院</dt>-->
        <!--</dl>-->
        <!--<dl onclick="redream.href('/weixin/user/main')" class="dianji">-->
            <!--<dd><i class="iconfont icon-my_light" style="font-size: 25px"></i></dd>-->
            <!--<dt>我的</dt>-->
        <!--</dl>-->
        <!--<div style="clear: both"></div>-->
    <!--</div>-->
<!--</footer>-->
</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/functions.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/dropload.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/zepto.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(document).on('click','.click-to-user-dialogue',function(){
        window.location.href = '/weixin/user/userDialogue/uid/'+$(this).data('uid');
    });

    $(document).on('click','.click-to-userdetail',function(){
        var type = $(this).data('type');
        if(type == 1 || type == 2 || type ==5){
            window.location.href = '/weixin/article/userMain/id/'+$(this).data('uid');
        }else if(type == 3){
            window.location.href = '/weixin/index/doctorDetails/uid/'+$(this).data('uid');
        }else if(type == 4){
            window.location.href = '/weixin/index/hospitalDetails/uid/'+$(this).data('uid')
        }
    });

    var myObj = {
        template:{
            getTypeTemplate:function(type){
                var html = '';
                switch (type) {
                    case 1:
                    case 2:
                        html = '<span style="background: #F29C9F;">用户</span>';
                        break;
                    case 3:
                        html = '<span style="background: #00A0E9">医生</span>';
                        break;
                    case 4:
                        html = '<span style="background: #F19149">医院</span>';
                        break;
                    case 5:
                        html = '<span style="background: #0FD6DD">团队</span>';
                        break;
                }
                return html;
            },
            getHtml:function(data){
                return '<div class="wl-nei1 " data-uid="'+ data.uid +'">' +
                    '                <div class="wl-touxiang href click-to-userdetail" data-type="'+ data.type+'" data-uid="'+data.uid+'" >' +
                    '                    <img src="'+ data.portrait +'" onerror="this.src=\'/static/image/user/tou.png\'" width="41" height="41">' +
                    '                </div>' +
                    '                <div class="wl-nei2 href click-to-user-dialogue" data-uid="'+ data.uid +'">' + myObj.template.getTypeTemplate(data.type) +
                    '                    <div style="float: left;margin-left: 5px;width: 60%">' +
                    '                        <dl>'+ data.nickname +'</dl>' +
                    '                        <dt>'+ data.profile +'</dt>' +
                    '                    </div>' +
                    '                    <i class="iconfont icon-back_left-copy"' +
                    '                       style="font-size: 25px;float: right;margin: 7px 7px 0 0;color: #AAAAAA"></i>' +
                    '                </div>' +
                    '            </div>' +
                    '            <div style="clear: both"></div>';
            }
        },
        friends:{
            listData:{
                loading:false,
                ini:false,
                page:0,
                page_total:1,
                page_size:20,
            },
            loadList:function(me){
                if(myObj.friends.listData.loading){
                    return false;
                }

                myObj.friends.listData.page++;
                if(myObj.friends.listData.ini == true){
                    if(myObj.friends.listData.page > myObj.friends.listData.page_total){
                        me.resetload();return false;
                    }
                }

                $.ajax({
                    url:"/weixin/api/getFriendList",
                    type:'post',
                    dataType:'json',
                    beforeSend:function(){
                        myObj.friends.listData.loading = true;
                    },
                    complete:function(){
                        myObj.friends.listData.loading = false;
                    },
                    success:function(res){
                        if(res.code == 200){
                            if(myObj.friends.listData.ini == false){
                                myObj.friends.listData.ini = true;
                                myObj.friends.listData.page_total = res.data.page_total;
                                $('#friends-container-list').html('');
                            }
                            $.each(res.data.rows,function(key,val){
                                $('#friends-container-list').append(myObj.template.getHtml(val));
                            });
                            if(myObj.friends.listData.page >= myObj.friends.listData.page_total){
                                me.noData();
                            }
                        }
                        me.resetload();
                    }
                });
            },
        },
        follow:{
            listData:{
                loading:false,
                ini:false,
                page:0,
                page_total:1,
                page_size:20,
            },
            loadList:function(me){
                if(myObj.follow.listData.loading){
                    return false;
                }

                myObj.follow.listData.page++;
                if(myObj.follow.listData.ini == true){
                    if(myObj.follow.listData.page > myObj.follow.listData.page_total){
                        me.resetload();return false;
                    }
                }

                $.ajax({
                    url:"/weixin/api/getUserFollowList",
                    type:'post',
                    data:{page:myObj.follow.listData.page,page_size:myObj.follow.listData.page_size},
                    dataType:'json',
                    beforeSend:function(){
                        myObj.follow.listData.loading = true;
                    },
                    complete:function(){
                        myObj.follow.listData.loading = false;
                    },
                    success:function(res){
                        if(res.code == 200){
                            if(myObj.follow.listData.ini == false){
                                myObj.follow.listData.ini = true;
                                myObj.follow.listData.page_total = res.data.page_total;
                                $('#follow-container-list').html('');
                            }
                            $.each(res.data.rows,function(key,val){
                                $('#follow-container-list').append(myObj.template.getHtml(val));
                            });
                            if(myObj.follow.listData.page >= myObj.follow.listData.page_total){
                                me.noData();
                            }
                        }
                        me.resetload();
                    }
                });
            },
        },
        fans:{
            listData:{
                loading:false,
                ini:false,
                page:0,
                page_total:1,
                page_size:20,
            },
            loadList:function(me){
                if(myObj.fans.listData.loading){
                    return false;
                }

                myObj.fans.listData.page++;
                if(myObj.fans.listData.ini == true){
                    if(myObj.fans.listData.page > myObj.fans.listData.page_total){
                        me.resetload();return false;
                    }
                }

                $.ajax({
                    url:"/weixin/api/getUserFansList",
                    type:'post',
                    data:{page:myObj.fans.listData.page,page_size:myObj.fans.listData.page_size},
                    dataType:'json',
                    beforeSend:function(){
                        myObj.fans.listData.loading = true;
                    },
                    complete:function(){
                        myObj.fans.listData.loading = false;
                    },
                    success:function(res){
                        if(res.code == 200){
                            if(myObj.fans.listData.ini == false){
                                myObj.fans.listData.ini = true;
                                myObj.fans.listData.page_total = res.data.page_total;
                                $('#fans-container-list').html('');
                            }
                            $.each(res.data.rows,function(key,val){
                                $('#fans-container-list').append(myObj.template.getHtml(val));
                            });
                            if(myObj.fans.listData.page >= myObj.fans.listData.page_total){
                                me.noData();
                            }
                        }
                        me.resetload();
                    }
                });
            },
        }
    };

    $(".top span").click(function () {
        $(".xia .one").eq($(this).index()).show().siblings().hide();
        $('a').removeClass("se");
        $(".top span ").eq($(this).index()).find('a').addClass("se").siblings().find('a').removeClass("se");

        if(myObj.friends.listData.ini == false && $(this).index() == 0){
            $('#friends-container').dropload({
                scrollArea : window,
                loadUpFn:function(me){
                    myObj.friends.listData.loading = false;
                    myObj.friends.listData.ini = false;
                    myObj.friends.listData.page = 0;
                    myObj.friends.listData.page_total = 0;
                    myObj.friends.loadList(me);
                },
                loadDownFn : function(me){
                    myObj.friends.loadList(me);
                }
            });
        }else if(myObj.follow.listData.ini == false && $(this).index() == 1){
            $('#follow-container').dropload({
                scrollArea : window,
                loadUpFn:function(me){
                    myObj.follow.listData.loading = false;
                    myObj.follow.listData.ini = false;
                    myObj.follow.listData.page = 0;
                    myObj.follow.listData.page_total = 0;
                    myObj.follow.loadList(me);
                },
                loadDownFn : function(me){
                    myObj.follow.loadList(me);
                }
            });
        }else if(myObj.fans.listData.ini == false && $(this).index() == 2){
            $('#fans-container').dropload({
                scrollArea : window,
                loadUpFn:function(me){
                    myObj.fans.listData.loading = false;
                    myObj.fans.listData.ini = false;
                    myObj.fans.listData.page = 0;
                    myObj.fans.listData.page_total = 0;
                    myObj.fans.loadList(me);
                },
                loadDownFn : function(me){
                    myObj.fans.loadList(me);
                }
            });
        }
    });

    $(function(){
        var maodian = window.location.toString().split('#')[1];
        if(maodian == 'friends'){
            $('#one').trigger('click');
        }else if(maodian == 'follow'){
            $('#two').trigger('click');
        }else if(maodian == 'fans'){
            $('#three').trigger('click');
        }else{
            $(".top span:first-child").trigger('click');
        }
    });

    $(function(){
        var h = $(window).height() - 500;
        $("#friends-container-list,#follow-container-list,#fans-container-list").css('minHeight',h + 'px');
    });
</script>
</html>