<!DOCTYPE html>
<html lang="en">

	<head>
		<!--  <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta name="viewport" content="target-densitydpi=device-dpi, width=750px, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta content="telephone=no" name="format-detection" />
		<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
		<title>Title</title>
		<script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/rem.js" type="text/javascript" charset="utf-8"></script>
	
	</head>

	<body>
		<div class="con">
			<div class="wx-top">
				<img src="" alt="" class="wx-img"/>
				<div class="wx-con">
					<h3 style="font-size:0.34rem;color: #FFFFFF;margin-top: 22px;">名字</h3>
					<p style="font-size: 0.2rem;color: #F1F0F0;margin-top: 10px;">我是简介我是简介...</p>
					<button>私信</button> <button style="margin-left: 40px;">加好友</button>
				</div>
			</div>
			<div class="wx-boy">
				<ul class="wx-lie">
					<li style="	border-right: 1px solid gray;">发布<span>99</span></li>
					<li  style="	border-right: 1px solid gray;">发布2<span>99</span></li>
					<li  style="	border-right: 1px solid gray;">发布3<span>99</span></li>
					<li>发布4<span>99</span></li>
				</ul>
			</div>
			<div class="wx-content">
				<div class="top">
			<span id="one" style="margin-left: 80px;">文章</span>
			<span id="two">视频</span>
			<span id="two">粉丝</span>
		</div>
		<div class="xia">
			<div class="one">

				<h1>手机号快捷登录</h1>
			</div>
			<div class="two">

				<h2>账号密码登录</h2>
			</div>
			<div class="two">
				<h2>大萨达撒</h2>
			</div>
		</div>
			</div>
		</div>
	</body>
<script type="text/javascript">
		$(function(){
			$(".one").show();
			$(".top span").eq(0).addClass("se")
			var index=0;
			$("span").click(function(){
				index=$(this).index();
				$(".xia div").eq(index).show().siblings().hide();
				$(".top span").eq(index).addClass("se").siblings().removeClass("se")
			})
		})
</script>
</html>