<!DOCTYPE html>
<html lang="en">
	<head>
		<!--  <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta name="viewport" content="target-densitydpi=device-dpi, width=750px, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta content="telephone=no" name="format-detection" />
		<link rel="stylesheet" type="text/css" href="/static/css/modify_pwd.css" />
		<title>修改密码</title>
		<script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/rem.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="con">
			<div class="wx-top">
			<a href="javascript:history.go(-1)" class="tb"></a>	修改密码
			</div>
			<p class="xgma"><span>旧密码</span><input type="text" name="" id="" placeholder="请输入你的旧密码" style="padding-left: 25px;"/></p>
			<p class="xgma" style="	border-bottom: 10px solid #F1F1F1;"><span>新密码</span><input type="text" name="" id=""  placeholder="请输入你的新密码" style="padding-left: 25px;"/></p>
			<p class="xgma" style="	border-bottom: 10px solid #F1F1F1;"><span>确认密码</span><input type="text" name="" id=""  placeholder="请再次输入你的新密码" /></p>
			<button id="btn">修改密码</button>
		</div>
	</body>

</html>