<!DOCTYPE html>
<html lang="en">
<head>
    <!--  <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />-->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,height=device-height, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=750px, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="telephone=no" name="format-detection"/>
    <link rel="stylesheet" type="text/css" href="/static/css/modify.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/iconfont.css"/>
    <title>修改資料</title>
    <script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
<div class="con">
  <div class="wx-top">
  	<img src="/static/image/user/default-head.png"/>
  	<p>修改头像<i class="iconfont  icon-back_left-copy" style="font-size: 50px;color: #999999;float: right;"></i></p>
  </div>
</div>
</body>

</html>