<!DOCTYPE html>
<html lang="en">
<head>
    <!--  <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />-->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,height=device-height, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=750px, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="telephone=no" name="format-detection"/>
    <link rel="stylesheet" type="text/css" href="/static/css/modify.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/mobileSelect.css"/>
    <script src="/static/js/mobileSelect.js" type="text/javascript" charset="utf-8"></script>
    <title>修改資料</title>
    <style>
        *:focus {
            outline: none;
        }

        .wkf{
            display: none;
            position: fixed;
            top: 565px;
            left: 256px;
            width: 240px;
            height: 56px;
            line-height: 56px;
            text-align: center;
            background: #0FD6DD;
            color: #FFFFFF;
            font-size:0.28rem;
            border-radius:10px ;
        }
    </style>
    <script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
</head>

<body style="background: #ffffff;">
<div class="con">
    <div class="wx-top tkyy">
        <img src="/static/image/user/default-head.png"/>
        <p>修改头像<i class="iconfont  icon-back_left-copy" style="font-size: 50px;color: #999999;float: right;"></i></p>
    </div>
    <div class="wx-con">
        <p><span style="margin-left: 36px;">昵称</span><input style="margin-left: 60px;" placeholder="请输入昵称" class="ln1"  maxlength="20" id="fr-nickname" value="{$user_info['nickname']}"  /></p>
        <p class="xb"><span style="margin-left: 36px;">性别</span><span style="margin-left: 60px;">女</span></p>
    </div>
    <div class="wx-con">
        <p><span style="margin-left: 36px;">生日</span><span style="margin-left: 60px;width: 500px;" id="select_1"  >2000年1月1日</span></p>
        <p><span style="margin-left: 36px;">地区</span><span style="margin-left: 500px;color: #7DB0E8;">待完善</span></p>
    </div>
    <div class="jianj">
    	<span>简介</span>
    	<textarea name="" rows="" cols=""></textarea>
    	<span class="zhongj">支持中英文、数字</p>
    </div>
    <button class="btn" onclick="objClass.submit()">保存</button>
    <div class="marsk-container">
        <div class="tkyy_con">
            <button>传照片</button>
            <button>拍照</button>
            <button class="quxiao">取消</button>
        </div>
    </div>
    <div class="marsk-container1">
        <div class="tkyy_con1">
            <textarea name="" rows="" cols=""></textarea>
            <p class="con-q"><span>支持中英文、数字</span>
                <button class="qued">确定</button>
            </p>
        </div>
    </div>
    <div class="marsk-container3">
        <div class="tkyy_con3">
            <button>男</button>
            <button>女</button>
            <button class="quxiao1">取消</button>
        </div>
    </div>

</body>
<script type="text/javascript">
    $(document).ready(function () {
        //上传头像
        $(".tkyy").click(function (event) {
            event.stopPropagation(); //停止事件冒泡
            $(".marsk-container").toggle();
        });
        //点击空白处隐藏弹出层
        $(".marsk-container").click(function (event) {

            $('.marsk-container').hide(); //淡出消失

        });
        $(".quxiao").click(function () {
            $('.marsk-container').hide(); //淡出消失
        })
        $(".quxiao1").click(function () {
            $('.marsk-container3').hide(); //淡出消失
        })

        //点击空白处隐藏弹出层
        $(".marsk-container1").click(function (event) {

            $('.marsk-container1').hide(); //淡出消失

        });
        //修改性别
        $(".xb").click(function (event) {
            event.stopPropagation(); //停止事件冒泡
            $(".marsk-container3").toggle();
        });
        //点击空白处隐藏弹出层
        $(".marsk-container3").click(function (event) {
            $('.marsk-container1').hide(); //淡出消失
        });
        //修改性别
        $(".k1").click(function (event) {
            event.stopPropagation(); //停止事件冒泡
            $(".marsk-container4").toggle();
        });
        $("#select_1").click(function () {
            var scrollTop = document.body.scrollTop; //保存点击前滚动条的位置
            window.onscroll = function () {
                document.body.scrollTop = scrollTop; //赋值给滚动条的位置
            }
        })
        $("#select_1").click(function () {
            window.onscroll = function () {
                document.body.scrollTop = document.body.scrollTop; //关闭后清除保存位置的值
            }
        })
    });</script>
<script src="/static/js/functions.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/selectDate.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
    /*设置全部参数*/
    $.selectDate("#select_1", {
        start: 1980,
        end: 2018,
        select: [2012, 5, 6],
        title: " "
    }, function (data) {
        console.log(data);
    });


    var objClass = {
        loading:false,
        submit:function(){
            var nickname = $('#fr-nickname').val();
            var sex = 1;
            var profile = 'asdfasdfasdfa sdfasdf ';
            if(this.loading){
                return false;
            }

            $.ajax({
                url:"/weixin/user/editProfile",
                type:'post',
                data:{nickname:nickname,sex:sex,profile:profile},
                dataType:'json',
                beforeSend:function(){
                    objClass.oneLoading = true;
                },
                complete:function(){
                    objClass.oneLoading = false;
                },
                success:function(res){
                    if(res.code == 200){
                        redream.showTip('修改成功');
                    }else {
                        redream.showTip('修改失败');
                        return false;
                    }
                }
            });
        }
    };

</script>
</html>