{extend name="layout/layout" /}

{block name="cssOrcrsipt"}
<link rel="stylesheet" href="/static/weixin/css/modify-pwd.css">

{/block}

{block name="main"}
<header>
    <div class="wl-top">
        <div style="position: relative;" class="href">
            <i class="iconfont icon-back_light top-left" style="font-size: 25px;color: #333333"   onclick="redream.toReferer()"></i>
            <span>修改密码</span>
        </div>
    </div>
</header>

<main>
    <div class="wl-pwd">
        <div class="wl-pwd-left">
            旧密码
        </div>
        <div class="wl-pwd-right">
            <input type="password" id="old-passwrod"  placeholder="请输入你的旧密码">
        </div>
    </div>
    <div class="wl-pwd wl-pwd2">
        <div class="wl-pwd-left">
            新密码
        </div>
        <div class="wl-pwd-right">
            <input type="password" id="passwrod" placeholder="请输入你的新密码">
        </div>
    </div>
    <div class="wl-pwd wl-pwd2">
        <div class="wl-pwd-left">
            确认密码
        </div>
        <div class="wl-pwd-right">
            <input type="password"  id="new-password" placeholder="请再次确认你的新密码">
        </div>
    </div>

    <div class="wl-btn"  onclick="objClass.submit()">修改密码</div>
</main>
{/block}

{block name="script"}
<script>
    $('.wl-pwd-right input').on('input ',function(){
        if(($.trim($('#old-passwrod').val())!=="")&&($.trim($('#passwrod').val())!=="")&&($.trim($('#new-password').val())!=="")){
            $('.wl-btn').css({'background':'#7DB0E8'});
        }else{
            $('.wl-btn').css({'background':'#EBEBEB'});
        }
    });
    var objClass ={
        loading:false,
        submit:function(){
            var old_pasword  = $('#old-passwrod').val();
            var pasword  = $('#passwrod').val();
            var new_pasword  = $('#new-password').val();
            if(redream.isEmptyStr(old_pasword)){
                redream.showTip('旧密码不能为空');
                return false;
            }else if(redream.isEmptyStr(pasword)){
                redream.showTip('新密码不能为空');
                return false;
            }else if(!redream.checkPassword(pasword)){
                redream.showTip('新密码格式错误');
                return false;
            }else if(pasword != new_pasword){
                redream.showTip('重复密码输入错误');
                return false;
            }

            if(!this.loading){
                $.ajax({
                    url:"/weixin/user/changePassword",
                    type:'post',
                    data:{old_password:old_pasword,new_password:new_pasword},
                    dataType:'json',
                    beforeSend:function(){
                        objClass.loading = true;
                    },
                    complete:function(){
                        objClass.loading = false;
                    },
                    success:function(res){
                        if(res.code == 200){
                            redream.showTip('密码修改成功');
                            $('#old-passwrod').val('');
                            $('#passwrod').val('');
                            $('#new-password').val('');
                            window.location.href = '/weixin/user/main';

                        }else{
                            redream.showTip(res.msg);
                        }
                    },
                });
            }
        }
    }
</script>
{/block}