<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=750px, user-scalable=no">
    <title>微琳医美</title>
    <link rel="stylesheet" type="text/css" href="/static/css/notice.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/dropload.css"/>
</head>
<style>

</style>
<body style="background: #ffffff;">
<header>
    <div class="top" style="position: relative">
        <i class="iconfont icon-back_light" style="font-size: 40px;position: absolute;left: 20px;top: 3px;" onclick="redream.href('/weixin/user/main')"></i>
        <span id="san">公告</span>
        <span id="one">通知</span>
        <span id="two">私信</span>
    </div>
</header>
<content>
    <div class="xia">
        <div class="san" id="cus-notice-container" >
            <p class="wl-hy1">网站公告</p>
            <div id="cus-notice-container-list" style="min-height: 300px;">
            </div>
        </div>

        <div class="one" id="cus-noticetwo-container">
            <p class="wl-hy1">系统通知</p>
            <div class="wl-nei1" id="cus-noticetwo-container-list" style="min-height: 300px;">
            </div>
        </div>

        <div class="two" id="cus-notice-three-container">
            {if condition="count($applyList) > 0"}
            <div class="wl-haoyou" id="cus-haoyou-box">
                <p class="wl-hy1">好友申请</p>
                {foreach $applyList as $vo}
                <div class="wl-nei1">
                    <img src="{$vo['portrait']}"  onerror="this.src='/static/image/user/tou.png'">
                    <div class="wl-nei2" style="border-bottom: 1px solid #EEEEEE;">
                        <dl>{$vo['nickname']}</dl>
                        <dt>{$vo['remarks']}</dt>
                        <button class="wl-tian"> 同意</button>
                    </div>
                </div>
                {/foreach}
            </div>
            {/if}

            <p class="wl-hy1">私信消息</p>
            <div class="wl-nei1" id="cus-notice-three-container-list">
                <img src="/static/image/user/tou.png" alt="">
                <div class="wl-nei2">
                    <dl>用户名称1</dl>
                    <dt>消息内消息内容消息内容消息内容容</dt>
                    <dd class="wl-tian1">12:02</dd>
                </div>
            </div>
        </div>
    </div>
</content>
<footer>
    <div class="wl-zhez">
        <div class="wl-zl">
            <p class="wl-renzh">好友认证</p>
            <div class="wl-neie1">
                <p>对方通过发送验证申请，等待添加好友</p>
                <textarea class="wl-neie2" readonly="readonly">
                    我是名爱国好阿尼散发啊我是名爱国好阿尼散发啊我是名爱
                    国好阿尼散发啊我是名爱国好阿尼散发啊我是名爱国好阿尼
                    散发啊我是名爱国好阿尼散发啊我是阿尼散发啊我是名爱国好阿尼散发啊我是名爱
                </textarea>
                <button class="wl-btn">同意</button>
            </div>
        </div>
    </div>
</footer>
</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/functions.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/dropload.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/zepto.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(function(){
        $(".xia .san").show();
        $(".top span").eq(0).addClass("se");
        var index=0;
        $(".top span").click(function(){
            index=$(this).index();
            if (index==1){
                $(".san").show();
                $(".one").hide();
                $(".two").hide();
                $("#san").addClass("se")&&$("#one").removeClass("se")&&$("#two").removeClass("se");
            } else if (index==2){
                $(".one").show();
                $(".two").hide();
                $(".san").hide();
                $("#one").addClass("se")&&$("#san").removeClass("se")&&$("#two").removeClass("se");
            }else if (index==3){
                $(".two").show();
                $(".one").hide();
                $(".san").hide();
                $("#two").addClass("se")&&$("#one").removeClass("se")&&$("#san").removeClass("se");
            }
        })
    })
</script>
<script type="text/javascript">
    var myObj = {
        notice:{
            listData:{
                loading:false,
                ini:false,
                page:0,
                page_total:1,
                page_size:20,
            },
            template:function(data){
                return '<div class="wl-nei1">' +
                            '<img src="/static/image/user/rederam.png" alt="">' +
                            '<div class="wl-nei2">' +
                                '<dl>'+ data.title +'</dl>' +
                                '<dt>'+ data.content +'</dt>' +
                                '<dd class="wl-tian1">'+ data.created_time +'</dd>' +
                            '</div>' +
                        '</div>';
            },
            loadList:function(me){
                if(myObj.notice.listData.loading){
                    return false;
                }

                myObj.notice.listData.page++;
                if(myObj.notice.listData.ini == true){
                    if(myObj.notice.listData.page > myObj.notice.listData.page_total){
                        me.resetload();return false;
                    }
                }

                $.ajax({
                    url:"/weixin/user/getNoticeList",
                    type:'post',
                    data:{page:myObj.notice.listData.page,page_size:myObj.notice.listData.page_size},
                    dataType:'json',
                    beforeSend:function(){
                        myObj.notice.listData.loading = true;
                    },
                    complete:function(){
                        myObj.notice.listData.loading = false;
                    },
                    success:function(res){
                        if(res.code == 200){
                            if(myObj.notice.listData.ini == false){
                                myObj.notice.listData.ini = true;
                                myObj.notice.listData.page_total = res.data.page_total;
                                $('#cus-notice-container-list').html('');
                            }
                            $.each(res.data.rows,function(key,val){
                                $('#cus-notice-container-list').append(myObj.notice.template(val));
                            });
                            if(myObj.notice.listData.page >= myObj.notice.listData.page_total){
                                me.noData();
                            }
                        }
                        me.resetload();
                    }
                });
            },
        },
        noticeTwo:{
            listData:{
                loading:false,
                ini:false,
                page:0,
                page_total:1,
                page_size:20,
            },
            template:function(data){
                return '<div class="wl-nei1">' +
                    '<img src="/static/image/user/rederam.png" alt="">' +
                    '<div class="wl-nei2">' +
                    '<dl>'+ data.title +'</dl>' +
                    '<dt>'+ data.content +'</dt>' +
                    '<dd class="wl-tian1">'+ data.created_time +'</dd>' +
                    '</div>' +
                    '</div>';
            },
            loadList:function(me){
                if(myObj.noticeTwo.listData.loading){
                    return false;
                }

                myObj.noticeTwo.listData.page++;
                if(myObj.noticeTwo.listData.ini == true){
                    if(myObj.noticeTwo.listData.page > myObj.noticeTwo.listData.page_total){
                        me.resetload();return false;
                    }
                }

                $.ajax({
                    url:"/weixin/user/getUserMailList",
                    type:'post',
                    data:{page:myObj.noticeTwo.listData.page,page_size:myObj.noticeTwo.listData.page_size},
                    dataType:'json',
                    beforeSend:function(){
                        myObj.noticeTwo.listData.loading = true;
                    },
                    complete:function(){
                        myObj.noticeTwo.listData.loading = false;
                    },
                    success:function(res){
                        if(res.code == 200){
                            if(myObj.noticeTwo.listData.ini == false){
                                myObj.noticeTwo.listData.ini = true;
                                myObj.noticeTwo.listData.page_total = res.data.page_total;
                                $('#cus-noticetwo-container-list').html('');
                            }
                            $.each(res.data.rows,function(key,val){
                                $('#cus-noticetwo-container-list').append(myObj.noticeTwo.template(val));
                            });
                            if(myObj.noticeTwo.listData.page >= myObj.noticeTwo.listData.page_total){
                                me.noData();
                            }
                        }
                        me.resetload();
                    }
                });
            },
        },
        noticeThree:{
            listData:{
                loading:false,
                ini:false,
                page:0,
                page_total:1,
                page_size:20,
            },
            template:function(data){
                return '<div class="wl-nei1">' +
                    '<img src="/static/image/user/rederam.png" alt="">' +
                    '<div class="wl-nei2">' +
                    '<dl>'+ data.title +'</dl>' +
                    '<dt>'+ data.content +'</dt>' +
                    '<dd class="wl-tian1">'+ data.created_time +'</dd>' +
                    '</div>' +
                    '</div>';
            },
            loadList:function(me){
                if(myObj.noticeThree.listData.loading){
                    return false;
                }

                myObj.noticeThree.listData.page++;
                if(myObj.noticeThree.listData.ini == true){
                    if(myObj.noticeThree.listData.page > myObj.noticeThree.listData.page_total){
                        me.resetload();return false;
                    }
                }

                $.ajax({
                    url:"/weixin/user/getUserMailList",
                    type:'post',
                    data:{page:myObj.noticeThree.listData.page,page_size:myObj.noticeThree.listData.page_size},
                    dataType:'json',
                    beforeSend:function(){
                        myObj.noticeThree.listData.loading = true;
                    },
                    complete:function(){
                        myObj.noticeThree.listData.loading = false;
                    },
                    success:function(res){
                        if(res.code == 200){
                            if(myObj.noticeThree.listData.ini == false){
                                myObj.noticeThree.listData.ini = true;
                                myObj.noticeThree.listData.page_total = res.data.page_total;
                                $('#cus-notice-three-container-list').html('');
                            }
                            $.each(res.data.rows,function(key,val){
                                $('#cus-notice-three-container-list').append(myObj.noticeThree.template(val));
                            });
                            if(myObj.noticeThree.listData.page >= myObj.noticeThree.listData.page_total){
                                me.noData();
                            }
                        }
                        me.resetload();
                    }
                });
            },
        },
    };

    $('#cus-notice-container').dropload({
        scrollArea : window,
        loadUpFn:function(me){
            myObj.notice.listData.loading = false;
            myObj.notice.listData.ini = false;
            myObj.notice.listData.page = 0;
            myObj.notice.listData.page_total = 0;
            myObj.notice.loadList(me);
        },
        loadDownFn : function(me){
            myObj.notice.loadList(me);
        }
    });

    $('#cus-noticetwo-container').dropload({
        scrollArea : window,
        loadUpFn:function(me){
            myObj.noticeTwo.listData.loading = false;
            myObj.noticeTwo.listData.ini = false;
            myObj.noticeTwo.listData.page = 0;
            myObj.noticeTwo.listData.page_total = 0;
            myObj.noticeTwo.loadList(me);
        },
        loadDownFn : function(me){
            myObj.noticeTwo.loadList(me);
        }
    });

    $('#cus-notice-three-container').dropload({
        scrollArea : window,
        loadUpFn:function(me){
            myObj.noticeThree.listData.loading = false;
            myObj.noticeThree.listData.ini = false;
            myObj.noticeThree.listData.page = 0;
            myObj.noticeThree.listData.page_total = 0;
            myObj.noticeThree.loadList(me);
        },
        loadDownFn : function(me){
            myObj.noticeThree.loadList(me);
        }
    });

    $(function(){
        var h = $(window).height() - 200;
        $("#cus-notice-container-list,#cus-noticetwo-container-list,#cus-notice-three-container-list").css('minHeight',h + 'px');
    });
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".wl-nei1").click(function(event) {
            event.stopPropagation(); //停止事件冒泡
            $(".wl-zhez").toggle();
        });
        //点击空白处隐藏弹出层
        $(".wl-zhez").click(function(event) {
            var _con = $('.wl-zl'); // 设置目标区域
            if(!_con.is(event.target) && _con.has(event.target).length == 0) {
                $('.wl-zhez').hide(); //淡出消失
            }
        });

    });
</script>
</html>