<!DOCTYPE html>
<html lang="en">
<head>
    <!--  <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=750px, user-scalable=no">
  <title>微琳医美</title>
    <link rel="stylesheet" type="text/css" href="/static/css/notice.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/iconfont.css"/>
</head>
<style>

</style>
<body style="background: #ffffff;">
<header>
    <div class="top" style="position: relative">
        <i class="iconfont icon-back_light" style="font-size: 40px;position: absolute;left: 20px;top: 3px;" onclick="redream.href('/weixin/user/main')"></i>
        <span id="one">通知</span>
        <span id="two">消息</span>
    </div>
</header>
<content>
    <div class="xia">
        <div class="one">
            {if condition="count($applyList) > 0"}
            <div class="wl-haoyou">
                <p class="wl-hy1">好友申请</p>
                {foreach $applyList as $vo}
                <div class="wl-nei1">
                    <img src="{$vo['portrait']}"  onerror="this.src='/static/image/user/tou.png'">
                    <div class="wl-nei2" style="border-bottom: 1px solid #EEEEEE;">
                        <dl>{$vo['nickname']}</dl>
                        <dt>{$vo['remarks']}</dt>
                        <button class="wl-tian"> 添加</button>
                    </div>
                </div>
                {/foreach}
            </div>
            {/if}

            <p class="wl-hy1">系统通知</p>
            <div class="wl-nei1">
                <img src="/static/image/user/tou.png" alt="">
                <div class="wl-nei2">
                    <dl>用户名称1</dl>
                    <dt>消息内消息内容消息内容消息内容容</dt>
                    <dd class="wl-tian1">12:02</dd>
                </div>
            </div>
            <div class="wl-nei1">
                <img src="/static/image/user/tou.png" alt="">
                <div class="wl-nei2">
                    <dl>用户名称1</dl>
                    <dt>消息内消息内容消息内容消息内容容</dt>
                    <dd class="wl-tian1">18:09</dd>
                </div>
            </div>
            <div class="wl-nei1">
                <img src="/static/image/user/tou.png" alt="">
                <div class="wl-nei2">
                    <dl>用户名称1</dl>
                    <dt>消息内消息内容消息内容消息内容容</dt>
                    <dd class="wl-tian1">18:09</dd>
                </div>
            </div>
            <div class="wl-nei1">
                <img src="/static/image/user/tou.png" alt="">
                <div class="wl-nei2">
                    <dl>用户名称1</dl>
                    <dt>消息内消息内容消息内容消息内容容</dt>
                    <dd class="wl-tian1">18:09</dd>
                </div>
            </div>
        </div>
        </div>
        <div class="two">
            <div class="wl-haoyou">
                <p class="wl-hy1">最新消息</p>
                <div class="wl-nei1">
                    <img src="/static/image/user/tou.png" alt="">
                    <div class="wl-nei2" style="border-bottom: 1px solid #EEEEEE;">
                        <dl>用户名称1</dl>
                        <dt>消息内消息内容消息内容消息内容容</dt>
                        <dd class="wl-tian1"> 12:5</dd>
                    </div>
                </div>
                <div class="wl-nei1">
                    <img src="/static/image/user/tou.png" alt="">
                    <div class="wl-nei2" style="border-bottom: none">
                        <dl>用户名称1</dl>
                        <dt>消息内消息内容消息内容消息内容容</dt>
                        <dd class="wl-tian1">已添加</dd>
                    </div>
                </div>
            </div>
            <p class="wl-hy1">系统通知</p>
            <div class="wl-nei1">
                <img src="/static/image/user/tou.png" alt="">
                <div class="wl-nei2">
                    <dl>用户名称1</dl>
                    <dt>消息内消息内容消息内容消息内容容</dt>
                    <dd class="wl-tian1">12:02</dd>
                </div>
            </div>
            <div class="wl-nei1">
                <img src="/static/image/user/tou.png" alt="">
                <div class="wl-nei2">
                    <dl>用户名称1</dl>
                    <dt>消息内消息内容消息内容消息内容容</dt>
                    <dd class="wl-tian1">18:09</dd>
                </div>
            </div>
            <div class="wl-nei1">
                <img src="/static/image/user/tou.png" alt="">
                <div class="wl-nei2">
                    <dl>用户名称1</dl>
                    <dt>消息内消息内容消息内容消息内容容</dt>
                    <dd class="wl-tian1">18:09</dd>
                </div>
            </div>
            <div class="wl-nei1">
                <img src="/static/image/user/tou.png" alt="">
                <div class="wl-nei2">
                    <dl>用户名称1</dl>
                    <dt>消息内消息内容消息内容消息内容容</dt>
                    <dd class="wl-tian1">18:09</dd>
                </div>
            </div>
        </div>
    </div>
</content>
</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/functions.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(function(){
        $(".xia .one").show();
        $(".top span").eq(0).addClass("se");
        var index=0;

        $(".top span").click(function(){
            index=$(this).index();
            console.log(index);
            if (index==1){
                $(".one").show();
                $(".two").hide();
                $("#one").addClass("se")&&$("#two").removeClass("se");
               ;

            } else if (index==2){
                $(".one").hide();
                $(".two").show();
                $("#two").addClass("se")&&$("#one").removeClass("se");
            ;

            }

        })
    })
</script>
</html>