{extend name="layout/layout" /}

{block name="cssOrcrsipt"}
<link rel="stylesheet" href="/static/weixin/css/change_phone.css">
<link rel="stylesheet" type="text/css" href="/static/weixin/css/function.css"/>
{/block}

{block name="main"}
<div class="wl-top">
    <i class="iconfont icon-back_light "onclick="redream.toReferer()"></i>
    更换手机号
</div>
<main>
    <div id="cus-box" >
        <div class="wl-instructions">
            <dl>更换绑定的手机号</dl>
            <dt>之后可以用新手机号及当前密码登录</dt>
        </div>
        <div class="wl-conter">
        <div class="wl-input"><input type="text" placeholder="请输入当前绑定的手机号" id="fr-old-mobile" value="{$mobile|mobileFilter}" readonly></div>
        <div class="wl-input"><input type="text"  placeholder="请输入新手机号" id="fr-new-mobile" maxlength="11" onkeyup = "value=value.replace(/[^\d]/g,'')"></div>
        </div>
        <button class="wl-the-login" disabled onclick="myObj.nextStep()">下一步</button>
    </div>
    <div id="cus-box1" style="display: none">
        <div class="wl-instructions">
            <dl>更换绑定的手机号</dl>
            <dt>之后可以用新手机号及当前密码登录</dt>
        </div>
        <div class="wl-conter">
            <div class="wl-input"><input type="text" id="fr2-new-mobile" readonly style="width: 60%" ><span id="fr2-sms-code-btn" onclick="myObj.sendSms()">获取验证码</span></div>
            <div class="wl-input"><input type="text" placeholder="请输入验证码"maxlength="6" id="fr2-sms-code"></div>
        </div>
        <button class="wl-the-login"  onclick="myObj.submit()">立即修改</button>
    </div>
</main>
{/block}

{block name="script"}
<script src="/static/js/functions.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/verification-code.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    var codeObj = new VerificationCode('fr2-sms-code-btn','获取验证码','code-hui');
    codeObj.run();

    $('#cus-box input').on('.one keyup',function(){
        var mobile = $.trim($('#fr-new-mobile').val());
        if(mobile != '' && redream.checkMobile(mobile)){
            $('.wl-the-login').css({'background':'#7DB0E8'}).prop('disabled',false);
        }else{
            $('.wl-the-login').css({'background':'#ebebeb'}).prop('disabled',true);
        }
    });

    var myObj = {
        oldMobile:"{$mobile}",
        smsloading:false,
        loading:false,
        nextStep:function(){
            var newMobile = $.trim($('#fr-new-mobile').val());
            if(newMobile == this.oldMobile){
                redream.showTip('新旧手机号不能一致');
            }else{
                $('#fr2-new-mobile').val(newMobile);
                $('#cus-box').hide();
                $('#cus-box1').show();
            }
        },
        sendSms:function(){
            var newMobile = $.trim($('#fr2-new-mobile').val());
            if(codeObj.checkTime()){
                return false;
            }else if(!this.smsloading){
                $.ajax({
                    url:"/weixin/index/sendSmsCode",
                    type:'post',
                    data:{mobile:newMobile,type:6},
                    dataType:'json',
                    beforeSend:function(){
                        myObj.smsloading = true;
                    },
                    complete:function(){
                        myObj.smsloading = false;
                    },
                    success:function(res){
                        if(res.code == 200){
                            codeObj.sendSmsCode();
                            redream.showTip('发送成功');
                        }else if(res.code == 302){
                            redream.showTip('该用户已被使用');
                        }else{
                            redream.showTip('发送失败');
                        }
                    }
                });
            }
        },
        submit:function(){
            var newMobile = $.trim($('#fr2-new-mobile').val());
            var sms_code  = $.trim($('#fr2-sms-code').val());
            if(!redream.checkMobile(newMobile) || sms_code == ''){
                return false;
            }else if(!this.loading){
                $.ajax({
                    url:"/weixin/user/changeMobile",
                    type:'post',
                    data:{mobile:newMobile,sms_code:sms_code},
                    dataType:'json',
                    beforeSend:function(){
                        myObj.smsloading = true;
                    },
                    complete:function(){
                        myObj.smsloading = false;
                    },
                    success:function(res){
                        if(res.code == 200){
                            redream.showTip('修改成功');
                            setTimeout(function(){
                                window.location.href = '/weixin/user/main';
                            },2000);
                        }else if(res.code == 302 || res.code == 303){
                            redream.showTip('验证码错误');
                        }else{
                            redream.showTip('修改失败');
                        }
                    }
                });
            }
        }
    };
</script>
{/block}