<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" type="text/css" href="/static/css/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/user_certification.css"/>
    <link rel="stylesheet" href="/static/css/function.css">
    <title>{:config('conf.title')} - 实名认证</title>
    <style>
        .tab_container  .tab_content{padding-top: 40px !important;}
        .sms-send-loading{color: #CCCCCC !important;}
        .wl-zhez {
            background: #FFFFFF;
            position: absolute;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0px;
            background-color: rgba(0,0,0,.7);
            z-index: 999999999;
        }
        .wl-zl{
            max-width: 150px;
            min-width: 100px;
            height: 100px;
            margin: 0 auto;
            position: fixed;
            top: 30%;
            border-radius: 20px;
            right: 0;
            left: 0;
            bottom: 0px;
            /*padding: 100px ;*/
        }
    </style>
</head>
<body style="background: white">
<header>
    <div class="wl-top" style="position: fixed;top: 0px;max-width: 750px">
        <a href="/weixin/user/main"> <i class="iconfont icon-back_light" style="font-size: 25px;position: absolute;left: 10px;top: 1px;" ></i></a>
        <span class="wl-ying"  ><span id="wl-renzheng">个人认证</span> <i class="iconfont  icon-pull_down" style="font-size: 20px"></i></span>
    </div>
    <div style="width: 30%;position: fixed;top: 40px;left: 0;right: 0;margin: 0 auto;    border: 1px solid #F1F1F1;display: none" class="wl-cang">
        <ul class="tabs headMenu" style="">
            <li class="se"><a href="#tab1">个人认证</a></li>
            <li><a href="#tab2">医生认证</a></li>
            <li><a href="#tab3">医院认证</a></li>
            <li><a href="#tab4">官方认证</a></li>
        </ul>
    </div>
</header>
<main >
    <div class="tab_container" >
        <div id="tab1" class="tab_content" style="display: block; ">
                <p class="wl-input" style="border-top: 3px solid #F1F1F1;"><span>真实姓名<i style="color: #F24F4F">*</i></span><input type="text" placeholder="请输入正式姓名" name="username"  id="fr1-username"></p>
                <p class="wl-input" style="border-top: 3px solid #F1F1F1;"><span>身份证号<i style="color: #F24F4F">*</i></span><input type="text" placeholder="请务必于上传的身份证件号码一致"  name="idcard" id="fr1-idcard" onkeyup = "value=value.replace(/[^\d{15,17}Xx]/g,'')" maxlength="18"></p>
                <dl style="position: relative">
                <p class="wl-zhen">上传身份证照片 <span class="wl-xin">*</span></p>
                <dl style="" class="wl-sc">
                    <dt class="wl-sc1" >
                        <dl class="wl-tianj">
                            <dd class="iconfont icon-xiangji" style="font-size: 40px;  color: #cdcdcd; margin-left: 17px;z-index: 2;"></dd>
                            <dt style="color: #cdcdcd;margin-right: 10px;cursor: pointer;font-size: 11px">添加身份证正面</dt>
                        </dl>

                        <img src="" width="90" height="90" class="wl-nui" id="fr1-img"/>

                        <form id="fr1-from" enctype='multipart/form-data'>
                            <input type="file"  accept="image/*"    class="file" name="imgFile"  id="fr1-card_img1"  />
                        </form>
                    </dt>
                    <dt class="wl-sc2">
                        <dl class="wl-tianj">
                            <dd class="iconfont icon-xiangji" style="font-size: 40px;  color: #cdcdcd; margin-left: 17px;z-index: 2;"></dd>
                            <dt style="color: #cdcdcd;margin-right: 10px;cursor: pointer;font-size: 11px">添加身份证背面</dt>
                        </dl>

                        <img src="" width="90" height="90" class="wl-nui" id="fr2-img" />

                        <form id="fr2-from" enctype='multipart/form-data'>
                            <input type="file"  accept="image/*"    class="file"  name="imgFile" id="fr1-card_img2" />
                        </form>
                    </dt>
                </dl>
                <p class="wl-tup">支持绝大多数的图片格式，单张图片大小不超过5M</p>
            </dl>
            <button class="wl-btn" onclick="obj.submit1()">提交申请</button>
        </div>
        <div id="tab2" class="tab_content" style="display: none;padding-bottom: 100px ">
                <p class="wl-input" style="border-top: 3px solid #F1F1F1;"><span>真实姓名<i style="color: #F24F4F">*</i></span><input type="text" placeholder="请输入正式姓名" name="username" id="fr2-username"></p>
                <p class="wl-input"><span>身份证号<i style="color: #F24F4F">*</i></span><input type="text" placeholder="请务必于上传的身份证件号码一致" name="idcard" id="fr2-idcard" onkeyup = "value=value.replace(/[^\d{15,17}Xx]/g,'')" maxlength="18"></p>
                <p class="wl-input" ><span>擅长项目<i style="color: #F24F4F">*</i></span><input type="text" placeholder="请输入擅长项目" name="speciality" id="fr2-speciality"></p>
                <p class="wl-input"><span>岗位职称<i style="color: #F24F4F">*</i></span><input type="text" placeholder="请输入岗位职称" name="duties" id="fr2-duties"></p>
                <p class="wl-textarea"><span>医生简介<i style="color: #F24F4F">*</i></span>
                    <textarea type="text" placeholder="请填写个人简介(注:个人简介必须真实有效)" id="fr2-profile" name="profile"></textarea>
                </p>
                <dl style="position: relative">
                    <p class="wl-zhen">上传身份证照片 <span class="wl-xin">*</span></p>
                    <dl style="" class="wl-sc">
                        <dt class="wl-sc1" >
                            <dl class="wl-tianj">
                                <dd class="iconfont icon-xiangji" style="font-size: 40px;  color: #cdcdcd; margin-left: 17px;z-index: 2;"></dd>
                                <dt style="color: #cdcdcd;margin-right: 10px;cursor: pointer;font-size: 11px">添加身份证正面</dt>
                            </dl>

                            <img src="" width="90" height="90" class="wl-nui" id="fr3-img"/>

                            <form id="fr3-from" enctype='multipart/form-data'>
                                <input type="file"  accept="image/*"    class="file"  name="imgFile"  id="fr2-card_img1" />
                            </form>
                        </dt>
                        <dt class="wl-sc2">
                            <dl class="wl-tianj">
                                <dd class="iconfont icon-xiangji" style="font-size: 40px;  color: #cdcdcd; margin-left: 17px;z-index: 2;"></dd>
                                <dt style="color: #cdcdcd;margin-right: 10px;cursor: pointer;font-size: 11px">添加身份证正面</dt>
                            </dl>

                            <img src="" width="90" height="90" class="wl-nui" id="fr4-img" />

                            <form id="fr4-from" enctype='multipart/form-data'>
                                <input type="file"  accept="image/*"    class="file" name="imgFile" id="fr2-card_img2" />
                            </form>
                        </dt>
                    </dl>
                    <p class="wl-tup">支持绝大多数的图片格式，单张图片大小不超过5M</p>
                </dl>
                <dl style="position: relative">
                <p class="wl-zhen">上传医生资质证明<span class="wl-xin">*</span></p>
                <dl style="" class="wl-sc">
                    <dt class="wl-sc1" >
                        <dl class="wl-tianj" style="left: 24px;">
                            <dd class="iconfont icon-xiangji" style="font-size: 40px;  color: #cdcdcd; margin-left: 8px;z-index: 2;"></dd>
                            <dt style="color: #cdcdcd;margin-right: 10px;cursor: pointer;font-size: 11px">添加资格证</dt>
                        </dl>

                        <img src="" width="90" height="90" class="wl-nui" id="fr5-img"/>

                        <form id="fr5-from" enctype='multipart/form-data'>
                            <input type="file"  accept="image/*"    class="file"  id="fr2-qualification" name="imgFile" />
                        </form>
                    </dt>
                    <dt class="wl-sc2">
                        <dl class="wl-tianj" style="left: 24px;">
                            <dd class="iconfont icon-xiangji" style="font-size: 40px;  color: #cdcdcd; margin-left: 8px;z-index: 2;"></dd>
                            <dt style="color: #cdcdcd;margin-right: 10px;cursor: pointer;font-size: 11px">添加执业证</dt>
                        </dl>

                        <img src="" width="90" height="90" class="wl-nui"  id="fr6-img" />

                        <form id="fr6-from" enctype='multipart/form-data'>
                            <input type="file"  accept="image/*"    class="file"  id="fr2-practice_certificate" name="imgFile" />
                        </form>
                    </dt>
                </dl>
                <p class="wl-tup">支持绝大多数的图片格式，单张图片大小不超过5M</p>
            </dl>
            <button class="wl-btn" onclick="obj.submit2()">提交申请</button>
        </div>
        <div id="tab3" class="tab_content" style="display: none; padding-bottom: 100px">
                <p class="wl-input" style="border-top: 3px solid #F1F1F1;"><span>医院名称<i style="color: #F24F4F">*</i></span><input type="text" placeholder="请与组织机构代码证或营业执照名称一致" name="enterprise_name" id="fr3-enterprise-name"></p>
                <p class="wl-input"><span>医院性质<i style="color: #F24F4F">*</i></span><input type="text" placeholder="请输入医院性质 (门诊部/医院)" id="fr3-type" name="hospital_type"></p>
                <p class="wl-input" ><span>成立时间<i style="color: #F24F4F">*</i></span><input readonly="readonly" placeholder="请选择成立时间" id="fr3-founding-time" name="founding_time"></p>
                <p class="wl-input"><span style="border: none;">医院规模<i style="color: #F24F4F">*</i></span>
                    <select id="fr3-scale" name="scale" style="height: 35px;width: 75%;border: 1px solid #F1F1F1;color: #888888;">
                    <option value ="请选择医院规模">请选择医院规模</option>
                    <option value ="50人以下">50人以下</option>
                    <option value="50-100人 ">50~100人 </option>
                    <option value="100~200人 ">100~200人 </option>
                    <option value="200~500人 ">200~500人 </option>
                    <option value="500~1000人 ">500~1000人 </option>
                        <option value="1000人以上 ">1000人以上 </option>
                </select></p>
                <p class="wl-input" ><span>医院擅长<i style="color: #F24F4F">*</i></span><input type="text" placeholder="请输入医院擅长项目 (注: 多个用 ','分割)" id="fr3-speciality" name="speciality"></p>
                <p class="wl-input"><span>运营者姓名<i style="color: #F24F4F">*</i></span><input type="text" placeholder="请输入运营者姓名" id="fr3-username" name="username"></p>
                <p class="wl-input" ><span>身份证号<i style="color: #F24F4F">*</i></span><input type="text" placeholder="请务必与上传的身份证件号码保持一致" id="fr3-idcard" name="idcard" onkeyup = "value=value.replace(/[^\d{15,17}Xx]/g,'')" maxlength="18"></p>
                <p class="wl-input"><span>手机号码<i style="color: #F24F4F">*</i></span><input type="text" placeholder="请输入运营者手机号码" id="fr3-mobile" name="mobile" maxlength="11" onkeyup = "value=value.replace(/[^\d]/g,'')"></p>
                <p class="wl-input"><span>验证码<i style="color: #F24F4F">*</i></span><input type="text" placeholder="请输入验证码" style="width: 47%" id="fr3-sms-code" name="sms_code" onkeyup = "value=value.replace(/[^\d]/g,'')" maxlength="6"><button class="wl-yzm" id="sms-code1">获取验证码</button></p>
                <p class="wl-shengf"><span>所在地址<i style="color: #F24F4F">*</i></span>
                    <select  class="wl-liandong fr-province" id="fr3-province" ><option value="" >请选择省</option></select>
                    <select  class="wl-liandong fr-city" id="fr3-city"><option value="" >请选择市</option></select>
                    <select  class="wl-liandong fr-area-county" id="fr3-area-county"><option value="" >请选择县</option></select>
                    <input type="text" placeholder="详细地址" id="fr3-detail-address" >
                    <input type="hidden" placeholder="详细地址" id="fr3-address"   >
                </p>
                <p class="wl-textarea"><span>医院简介<i style="color: #F24F4F">*</i></span>
                    <textarea type="text" placeholder="请填写医院简介(注:医院简介必须真实有效)" id="fr3-profile" name="profile"></textarea>
                </p>
                <dl style="position: relative">
                    <p class="wl-zhen">上传身份证照片 <span class="wl-xin">*</span></p>
                    <dl style="" class="wl-sc">
                        <dt class="wl-sc1" >
                            <dl class="wl-tianj">
                                <dd class="iconfont icon-xiangji" style="font-size: 40px;  color: #cdcdcd; margin-left: 17px;z-index: 2;"></dd>
                                <dt style="color: #cdcdcd;margin-right: 10px;cursor: pointer;font-size: 11px">添加身份证正面</dt>
                            </dl>

                            <img src="" width="90" height="90" class="wl-nui" id="fr7-img" />

                            <form id="fr7-from" enctype='multipart/form-data'>
                                <input type="file"  accept="image/*"    class="file" name="imgFile" id="fr3-card_img1"/>
                            </form>
                        </dt>
                        <dt class="wl-sc2">
                            <dl class="wl-tianj">
                                <dd class="iconfont icon-xiangji" style="font-size: 40px;  color: #cdcdcd; margin-left: 17px;z-index: 2;"></dd>
                                <dt style="color: #cdcdcd;margin-right: 10px;cursor: pointer;font-size: 11px">添加身份证正面</dt>
                            </dl>

                            <img src="" width="90" height="90" class="wl-nui" id="fr8-img" />

                            <form id="fr8-from" enctype='multipart/form-data'>
                                <input type="file"  accept="image/*"    class="file" name="imgFile" id="fr3-card_img2" />
                            </form>
                        </dt>
                    </dl>
                    <p class="wl-tup">支持绝大多数的图片格式，单张图片大小不超过5M</p>
                </dl>
                <dl style="position: relative">
                <p class="wl-zhen">上传医院营业证件<span class="wl-xin">*</span></p>
                <dl style="" class="wl-sc">
                    <dt class="wl-sc1" >
                        <dl class="wl-tianj" style="left: 19px;">
                            <dd class="iconfont icon-xiangji" style="font-size: 40px;  color: #cdcdcd; margin-left: 13px;z-index: 2;"></dd>
                            <dt style="color: #cdcdcd;margin-right: 10px;cursor: pointer;font-size: 11px">添加营业执照</dt>
                        </dl>

                        <img src="" width="90" height="90" class="wl-nui" id="fr9-img" />

                        <form id="fr9-from" enctype='multipart/form-data'>
                            <input type="file"  accept="image/*"    class="file" id="f3-business_licence" name="imgFile" />
                        </form>
                    </dt>
                </dl>
                <p class="wl-tup">支持绝大多数的图片格式，单张图片大小不超过5M</p>
            </dl>
            <button class="wl-btn" onclick="obj.submit3()">提交申请</button>
        </div>
        <div id="tab4" class="tab_content" style="display: none; padding-bottom: 100px ">
                <p class="wl-input" style="border-top: 3px solid #F1F1F1;"><span>企业名称<i style="color: #F24F4F">*</i></span><input type="text" placeholder="请与组织机构代码证或营业执照名称一致" id="fr4-enterprise-name" name="enterprise_name"></p>
                <p class="wl-input"><span>运营者姓名<i style="color: #F24F4F">*</i></span><input type="text" placeholder="请输入运营者姓名" id="fr4-username" name="username" ></p>
                <p class="wl-input" ><span>身份证号<i style="color: #F24F4F">*</i></span><input type="text" placeholder="请务必与上传的身份证件号码保持一致" id="fr4-idcard" name="idcard" onkeyup = "value=value.replace(/[^\d{15,17}Xx]/g,'')" maxlength="18"></p>
                <p class="wl-input"><span>手机号码<i style="color: #F24F4F">*</i></span><input type="text" placeholder="请输入运营者手机号码" id="fr4-mobile" name="mobile" maxlength="11" onkeyup = "value=value.replace(/[^\d]/g,'')"  maxlength="11"></p>
                <p class="wl-input"><span>验证码<i style="color: #F24F4F">*</i></span><input type="text" placeholder="请输入验证码" style="width: 47%" id="fr4-sms-code" name="sms_code" maxlength="6" onkeyup = "value=value.replace(/[^\d]/g,'')" maxlength="6"><button class="wl-yzm" id="sms-code2">获取验证码</button></p>
                <p class="wl-shengf"><span>所在地址<i style="color: #F24F4F">*</i></span>
                    <select  class="wl-liandong fr-province" id="fr4-province" ><option value="" >请选择省</option></select>
                    <select  class="wl-liandong fr-city" id="fr4-city"><option value="" >请选择市</option></select>
                    <select  class="wl-liandong fr-area-county" id="fr4-area-county"><option value="" >请选择县</option></select>
                    <input type="text" placeholder="详细地址" id="fr4-detail-address">
                    <input type="hidden" placeholder="详细地址" id="fr4-address"   >
                </p>
                <dl style="position: relative">
                    <p class="wl-zhen">上传身份证照片 <span class="wl-xin">*</span></p>
                    <dl style="" class="wl-sc">
                        <dt class="wl-sc1" >
                            <dl class="wl-tianj">
                                <dd class="iconfont icon-xiangji" style="font-size: 40px;  color: #cdcdcd; margin-left: 17px;z-index: 2;"></dd>
                                <dt style="color: #cdcdcd;margin-right: 10px;cursor: pointer;font-size: 11px">添加身份证正面</dt>
                            </dl>

                            <img src="" width="90" height="90" class="wl-nui" id="fr10-img" />

                            <form id="fr10-from" enctype='multipart/form-data'>
                                <input type="file"  accept="image/*"    class="file" name="imgFile"  id="fr4-card_img1" />
                            </form>
                        </dt>
                        <dt class="wl-sc2">
                            <dl class="wl-tianj">
                                <dd class="iconfont icon-xiangji" style="font-size: 40px;  color: #cdcdcd; margin-left: 17px;z-index: 2;"></dd>
                                <dt style="color: #cdcdcd;margin-right: 10px;cursor: pointer;font-size: 11px">添加身份证正面</dt>
                            </dl>

                            <img src="" width="90" height="90" class="wl-nui" id="fr11-img" />

                            <form id="fr11-from" enctype='multipart/form-data'>
                                <input type="file"  accept="image/*"    class="file" name="imgFile"  id="fr4-card_img2" />
                            </form>
                        </dt>
                    </dl>
                    <p class="wl-tup">支持绝大多数的图片格式，单张图片大小不超过5M</p>
                </dl>
                <dl style="position: relative">
                <p class="wl-zhen">上传官方营业证件<span class="wl-xin">*</span></p>
                <dl style="" class="wl-sc">
                    <dt class="wl-sc1" >
                        <dl class="wl-tianj" style="left: 19px;">
                            <dd class="iconfont icon-xiangji" style="font-size: 40px;  color: #cdcdcd; margin-left: 13px;z-index: 2;"></dd>
                            <dt style="color: #cdcdcd;margin-right: 10px;cursor: pointer;font-size: 11px">添加营业执照</dt>
                        </dl>
                        <img src="" width="90" height="90" class="wl-nui" id="fr12-img" />
                        <form id="fr12-from" enctype='multipart/form-data'>
                            <input type="file"  accept="image/*"    class="file" id="f4-business_licence" name="imgFile" />
                        </form>
                    </dt>
                </dl>
                <p class="wl-tup">支持绝大多数的图片格式，单张图片大小不超过5M</p>
            </dl>
            <button class="wl-btn" onclick="obj.submit4()">提交申请</button>
        </div>
    </div>
</main>
<div id="fr-error-box" style="display: none;" >
    <span class="fr-error-box-text"></span>
    <span class="iconfont icon-roundclosefill" style="float: right;margin-right: 5px;cursor: pointer;" id="cus-fr-error-close" onclick="$(this).parent().fadeOut('slow')"></span>
</div>

<div class="wl-zhez" id="wl-loading-box" style="display: none;">
    <div class="wl-zl">
        <dl><img src="/static/image/user/timg.gif" alt="" width="40px" style="margin-top:50px;margin: 0 auto;position: absolute;left: 0;right: 0"></dl>
        <dt style="text-align: center;margin-top: 50px;float: left;color: white;width: 100%;">阿斯顿发 阿斯顿发...</dt>
    </div>
</div>

</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/functions.js"></script>
<script src="/static/plugin/jquery.smscode.js"></script>
<script type="text/javascript">

    var obj={
        type:{$type},
        loading:false,
        uploadLoading:false,
        showError:function(msg){
            $('#fr-error-box').fadeIn("slow").delay(2000).fadeOut();
            $('#fr-error-box').find('.fr-error-box-text').text(msg);
        },
        ajax:function(data){
            $.ajax({
                url:"/weixin/user/applyAuth",
                type:'post',
                data:data,
                dataType:'json',
                beforeSend:function(){
                    obj.loading = true;
                    $('#wl-loading-box').show().find('dt').text('提交申请中...');
                },
                complete:function(){
                    obj.loading = false;
                    $('#wl-loading-box').hide();
                },
                success:function(res){
                    if(res.code == 200){
                        obj.loading = true;
                        obj.showError('申请成功');
                        setTimeout(function(){
                            redream.href('/weixin/user/certification');
                        },2000)
                    }else{
                        obj.showError(res.msg);
                    }
                },
                error:function(){
                    obj.showError('申请失败');
                }
            });

        },
        submit1:function(){
            var data = {
                type:1,
                username    :$.trim($('#fr1-username').val()),
                idcard      :$.trim($('#fr1-idcard').val()),
                card_img1   :$('#fr1-img').attr("src"),
                card_img2   :$('#fr2-img').attr("src")
            };

            if(data.username == ''){
                this.showError('身份证姓名不能为空');
            }else if(data.idcard == ''){
                this.showError('身份证号不能为空');
            }else if(!redream.checkIdcard(data.idcard)){
                this.showError('身份证号格式不正确');
            }else if(data.card_img1 == '' || data.card_img1 == undefined){
                this.showError('请上传身份证正面照');
            }else if(data.card_img2 == '' || data.card_img2 == undefined){
                this.showError('请上传身份证背面照');
            }else if(!this.loading){
                this.ajax(data);
            }
        },
        submit2:function(){
            var data  = {
                type:2,
                username:             $.trim($('#fr2-username').val()),
                idcard:               $.trim($('#fr2-idcard').val()),
                card_img1:            $('#fr3-img').attr("src"),
                card_img2:            $('#fr4-img').attr("src"),
                qualification:        $('#fr5-img').attr("src"),
                practice_certificate: $('#fr6-img').attr("src"),
                speciality:           $.trim($('#fr2-speciality').val()),
                duties:               $.trim($('#fr2-duties').val()),
                profile:              $.trim($('#fr2-profile').val()),
            };

            if(data.username == ''){
                this.showError('身份证姓名不能为空');return false;
            }else if(data.idcard == ''){
                this.showError('身份证号不能为空');return false;
            }else if(data.speciality == ''){
                this.showError('医生擅长项目不能为空');return false;
            }else if(data.duties == ''){
                this.showError('岗位职称不能为空');return false;
            }else if(data.profile == ''){
                this.showError('医生简介不能为空');return false;
            }else if(!redream.checkIdcard(data.idcard)){
                this.showError('身份证号格式不正确');return false;
            }else if(data.card_img1 == '' || data.card_img1 == undefined){
                this.showError('请上传身份证正面照');return false;
            }else if(data.card_img2 == '' || data.card_img2 == undefined){
                this.showError('请上传身份证背面照');return false;
            }else if(data.qualification == '' || data.qualification == undefined){
                this.showError('请上传医师资格证书图片');return false;
            }else if(data.practice_certificate == '' || data.practice_certificate == undefined){
                this.showError('请上传医师执业证书图片');return false;
            }else if(!this.loading){
                this.ajax(data);
            }
        },
        submit3:function(){
            var data = {
                type:3,
                username:                   $.trim($('#fr3-username').val()),
                idcard:                     $.trim($('#fr3-idcard').val()),
                card_img1:                  $('#fr7-img').attr("src"),
                card_img2:                  $('#fr8-img').attr("src"),
                enterprise_name:            $.trim($('#fr3-enterprise-name').val()),
                business_licence:           $('#fr9-img').attr("src"),
                sms_code:                   $.trim($('#fr3-sms-code').val()),
                mobile:                     $('#fr3-mobile').val(),
                address:                    '',
                hospital_type:              $.trim($('#fr3-type').val()),
                founding_time:              $.trim($('#fr3-founding-time').val()),
                speciality:                 $.trim($('#fr3-speciality').val()),
                profile:                    $.trim($('#fr3-profile').val()),
                scale:                      $.trim($('#fr3-scale').val()),
            };
            if(data.enterprise_name == ''){
                this.showError('医院名称不能为空');
            }else if(data.hospital_type == ''){
                this.showError('医院性质不能为空');
            }else if(data.founding_time == ''){
                this.showError('成立时间不能为空');
            }else if(data.scale == ''){
                this.showError('医院规模不能为空');
            }else if(data.speciality == ''){
                this.showError('医院擅长不能为空');
            }else if(data.username == ''){
                this.showError('身份证姓名不能为空');
            }else if(data.idcard == ''){
                this.showError('身份证号不能为空');
            }else if(!redream.checkIdcard(data.idcard)){
                this.showError('身份证号格式不正确');
            }else if(!redream.checkMobile(data.mobile)){
                this.showError('手机号格式错误');
            }else if(data.sms_code == ''){
                this.showError('手机验证码不能为空');
            }else if($('#fr3-province').val() == '' || $('#fr3-city').val() == '' || $('#fr3-area-county').val() == ''){
                this.showError('请选择所在地址信息');
            }else if($('#fr3-detail-address').val() == ''){
                this.showError('详细地址不能为空');
            }else if(data.profile == ''){
                this.showError('医院简介不能为空');
            }else if(data.card_img1 == '' || data.card_img1 == undefined){
                this.showError('请上传身份证正面照');
            }else if(data.card_img2 == '' || data.card_img2 == undefined){
                this.showError('请上传身份证背面照');
            }else if(data.business_licence == '' || data.business_licence == undefined){
                this.showError('请上传医院营业执照');
            }else if(!this.loading){
                data.address = $('#fr3-province').val() + ' ' + $('#fr3-city').val() + ' ' + $('#fr3-area-county').val() + ' '+  $('#fr3-detail-address').val();
                this.ajax(data);
            }
        },
        submit4:function(){
            var data = {
                type              : 4,
                username          : $.trim($('#fr4-username').val()),
                idcard            : $.trim($('#fr4-idcard').val()),
                card_img1         : $('#fr10-img').attr("src"),
                card_img2         : $('#fr11-img').attr("src"),
                enterprise_name   : $.trim($('#fr4-enterprise-name').val()),
                business_licence  : $('#fr12-img').attr("src"),
                sms_code          : $.trim($('#fr4-sms-code').val()),
                mobile            : $('#fr4-mobile').val(),
                address           : '',
            };

            if(data.enterprise_name == ''){
                this.showError('企业名称不能为空');return false;
            }else if(data.username == ''){
                this.showError('运营者姓名不能为空');return false;
            }else if(data.idcard == ''){
                this.showError('身份证号不能为空');return false;
            }else if(!redream.checkIdcard(data.idcard)){
                this.showError('身份证号格式不正确');return false;
            }else if(!redream.checkMobile(data.mobile)) {
                this.showError('手机号格式错误');return false;
            }else if(data.sms_code == ''){
                this.showError('手机验证码不能为空');return false;
            }else if($('#fr4-province').val() == '' || $('#fr4-city').val() == '' || $('#fr4-area-county').val() == ''){
                this.showError('请选择所在地址信息');
            }else if($('#fr4-detail-address').val() == ''){
                this.showError('详细地址不能为空');
            }else if(data.card_img1 == '' || data.card_img1 == undefined){
                this.showError('请上传身份证正面照');return false;
            }else if(data.card_img2 == '' || data.card_img2 == undefined){
                this.showError('请上传身份证背面照');return false;
            }else if(data.business_licence == '' || data.business_licence == undefined){
                this.showError('请上传医院营业执照');return false;
            }else if(!this.loading){
                data.address = $('#fr4-province').val() + ' ' + $('#fr4-city').val() + ' ' + $('#fr4-area-county').val()+ ' '+  $('#fr4-detail-address').val();
                this.ajax(data);
            }
        },
        ajaxUploadImg(o,formData){
            $.ajax({
                url: '/weixin/api/uploadAuthFile',
                type: 'POST',
                cache: false,
                data: formData,
                processData: false,
                contentType: false,
                dataType: "json",
                beforeSend:function(){
                    obj.uploadLoading = true;
                    $('#wl-loading-box').show().find('dt').text('图片上传中...');
                },
                complete:function(){
                    obj.uploadLoading = false;
                    $('#wl-loading-box').hide().find('dt');
                },
                success: function (res) {
                    if(res.code == 200){
                        o.prev().attr('src',res.data.url).css("opacity","1");
                    }else{
                        obj.showError(res.msg);
                    }
                }
            });
        },
    };

    $("ul.tabs li").click(function() {
        $(".tab_content").hide();
        $(".wl-cang").hide();

        $("#wl-renzheng").text($(this).text());
        $($(this).find("a").attr("href")).show();

        $(".tab_content input[type=file]").val('').prev().attr('src','').css("opacity","0");
    });

    $(".wl-ying").click(function () {
        if(obj.type != 0){
            return false;
        }
        $(".wl-cang").toggle();
    });

    $(".tab_container").click(function () {
        $(".wl-cang").hide();
    });

    $(".tab_content").on("change", "input[type=file]", function() {
        var fromid = $(this).parent().attr('id');
        var formData = new FormData($('#'+fromid)[0]);
        formData.append('type',2);
        obj.ajaxUploadImg($('#'+fromid),formData);
    });

    $(function(){
        var maodian = window.location.toString().split('#')[1];
        if(obj.type != 0){
            $('.headMenu li:nth-child('+obj.type+')').trigger('click');
        }else if(maodian == 'tab1'){
            $('.headMenu li:nth-child(1)').trigger('click');
        }else if(maodian == 'tab2'){
            $('.headMenu li:nth-child(2)').trigger('click');
        }else if(maodian == 'tab3'){
            $('.headMenu li:nth-child(3)').trigger('click');
        } else if(maodian == 'tab4'){
            $('.headMenu li:nth-child(4)').trigger('click');
        }else{
            $('.headMenu li:nth-child(1)').trigger('click');
        }
    });

    var myAddressObj ={
        requestParams:{
            region_path :',',
            region_grade:'1',
        },
        loadAddressList:function(region_path,region_grade){
            myAddressObj.requestParams = {region_path :region_path,region_grade:region_grade};
            $.ajax({
                url:"/index/user/getAddress",
                type:'post',
                data:myAddressObj.requestParams,
                dataType:'json',
                success:function(res){
                    if(res.code == 200){
                        var data = res.data;
                        if(data.request_params.region_path == myAddressObj.requestParams.region_path && data.request_params.region_grade == myAddressObj.requestParams.region_grade){
                            var html = '';
                            $.each(data.infos,function(k,v){
                                html += myAddressObj.getSelectOptions(v);
                            });
                            if(data.request_params.region_grade == 1){
                                $('.fr-province').empty().append('<option value="" >请选择省</option>').append(html);
                            }else if(data.request_params.region_grade == 2){
                                $('.fr-city').empty().append('<option value="" >请选择市</option>').append(html);
                                $('.fr-area-county').empty().append('<option value="" >请选择县</option>');
                            }else if(data.request_params.region_grade == 3){
                                $('.fr-area-county').empty().append('<option value="" >请选择县</option>').append(html);
                            }
                        }
                    }
                }
            });
        },
        getSelectOptions:function(data){
            return '<option value="'+ data.local_name +'"  data-region_path="'+ data.region_path +'"  data-region_grade="'+ data.find_next_region_grade +'" >'+ data.local_name +'</option>';
        }
    };

    myAddressObj.loadAddressList(myAddressObj.requestParams.region_path,myAddressObj.requestParams.region_grade);

    $('.fr-province,.fr-city,.fr-area-county').on('change',function(){
        var obj = $(this).find("option:selected");
        myAddressObj.loadAddressList(obj.data('region_path'),obj.data('region_grade'));
    });
</script>
<script src="/static/js/datePicker1.js" type="text/javascript" charset="utf-8"></script>
<script>
    var codeObj = new Code('sms-code1','获取验证码','sms-send-loading','sms-auth3',60);
    var codeObj2 = new Code('sms-code2','获取验证码','sms-send-loading','sms-auth4',60);

    var smsObj = {
        sendSmsCode:false,
        ajaxSendSms:function(mobile,o){
            $.ajax({
                url:"/weixin/index/sendSmsCode",
                type:'post',
                data:{mobile:mobile,type:7},
                dataType:'json',
                beforeSend:function(){
                    smsObj.sendSmsCode = true;
                },
                complete:function(){
                    smsObj.sendSmsCode = false;
                },
                success:function(res){
                    if(res.code == 200){
                        obj.showError('发送成功');
                        o.trigger();
                    }else{
                        obj.showError('发送失败');
                    }
                }
            });
        },
    };

    $('#sms-code1').on('click',function(){
        var mobile = $('#fr3-mobile').val();
        if(mobile == ''){
            obj.showError('未填写手机号');
        }else if(!redream.checkMobile(mobile)){
            obj.showError('手机号格式错误');
        }else{
            smsObj.ajaxSendSms(mobile,codeObj);
        }
    });

    $('#sms-code2').on('click',function(){
        var mobile = $('#fr4-mobile').val();
        if(mobile == ''){
            obj.showError('未填写手机号');
        }else if(!redream.checkMobile(mobile)){
            obj.showError('手机号格式错误');
        }else{
            smsObj.ajaxSendSms(mobile,codeObj2);
        }
    });
    //编辑日期
    var calendar = new datePicker();
    calendar.init({
        'trigger': '#fr3-founding-time',
        /*按钮选择器，用于触发弹出插件*/
        'type': 'date',
        /*模式：date日期；datetime日期时间；time时间；ym年月；*/
        'minDate': '1960-1-1',
        /*最小日期*/
        'maxDate': '2018-12-31',
        /*最大日期*/
        'onSubmit': function () { /*确认时触发事件*/
            var theSelectData = calendar.value;
            console.log(theSelectData);
        },
        'onClose': function () { /*取消时触发事件*/
        }
    });
</script>
</html>