<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="applicable-device" content="pc,mobile">
    <link rel="stylesheet" href="/static/css/user_dialogue.css">
    <link rel="stylesheet" href="/static/css/iconfont.css">
    <title>Title</title>
</head>
<body style="background: #F2F2F2;" >
<header>

<div class="wl-top">
    <i class="iconfont icon-back_light"></i>
    用户名称
</div>
</header>
<main style="padding-bottom: 200px">
<div class="wl-das">
    <p class="wl-time">11-9&nbsp;&nbsp;17:27</p>
    <div class="wl-conter" style="position: relative">
        <div style="    position: absolute;left: 17px;top: 4px;">
            <img src="/static/image/user/tou.png" alt="" width="40" height="40">
        </div>
            <div class="dbubble ">
                <div class="dbubble-text">最后也是 是现实世界中的所有法律法规仍然在这个世界中适用，每一个人都要为自己的行为负责。 </div>
                <div class="triangle-box triangle-box-left">
                    <div class="triangle"></div>
                </div>
            </div>
    </div>
</div>
    <div class="wl-das">
        <p class="wl-time">11-9&nbsp;&nbsp;17:27</p>
        <div class="wl-conter"  style="position: relative">
            <div style="    position: absolute;right: 17px;top: 4px;">
                <img src="/static/image/user/tou.png" alt="" width="40" height="40">
            </div>
            <div class="dbubble1">
                <div class="dbubble-text">最后也是 是现实世界中的dsfd s适用，每一个人都要为自己的行为负责。 </div>
                <div class=" triangle-box triangle-box-right">
                    <div class="triangle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wl-das">
        <p class="wl-time">11-9&nbsp;&nbsp;17:27</p>
        <div class="wl-conter" style="position: relative">
            <div style="    position: absolute;left: 17px;top: 4px;">
                <img src="/static/image/user/tou.png" alt="" width="40" height="40">
            </div>
            <div class="dbubble ">
                <div class="dbubble-text">最后也是 是现实世界中的所有法律法规仍然在这个世界中适用，每一个人都要为自己的行为负责。 </div>
                <div class="triangle-box triangle-box-left">
                    <div class="triangle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wl-das">
        <p class="wl-time">11-9&nbsp;&nbsp;17:27</p>
        <div class="wl-conter"  style="position: relative">
            <div style="    position: absolute;right: 17px;top: 4px;">
                <img src="/static/image/user/tou.png" alt="" width="40" height="40">
            </div>
            <div class="dbubble1">
                <div class="dbubble-text">最后也是 是现实世界中的dsfd s适用，每一个人都要为自己的行为负责。 </div>
                <div class=" triangle-box triangle-box-right">
                    <div class="triangle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wl-das">
        <p class="wl-time">11-9&nbsp;&nbsp;17:27</p>
        <div class="wl-conter" style="position: relative">
            <div style="    position: absolute;left: 17px;top: 4px;">
                <img src="/static/image/user/tou.png" alt="" width="40" height="40">
            </div>
            <div class="dbubble ">
                <div class="dbubble-text">最后也是 是现实世界中的所有法律法规仍然在这个世界中适用，每一个人都要为自己的行为负责。 </div>
                <div class="triangle-box triangle-box-left">
                    <div class="triangle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wl-das">
        <p class="wl-time">11-9&nbsp;&nbsp;17:27</p>
        <div class="wl-conter"  style="position: relative">
            <div style="    position: absolute;right: 17px;top: 4px;">
                <img src="/static/image/user/tou.png" alt="" width="40" height="40">
            </div>
            <div class="dbubble1">
                <div class="dbubble-text">最后也是 是现实世界中的dsfd s适用，每一个人都要为自己的行为负责。 </div>
                <div class=" triangle-box triangle-box-right">
                    <div class="triangle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wl-das">
        <p class="wl-time">11-9&nbsp;&nbsp;17:27</p>
        <div class="wl-conter" style="position: relative">
            <div style="    position: absolute;left: 17px;top: 4px;">
                <img src="/static/image/user/tou.png" alt="" width="40" height="40">
            </div>
            <div class="dbubble ">
                <div class="dbubble-text">最后也是 是现实世界中的所有法律法规仍然在这个世界中适用，每一个人都要为自己的行为负责。 </div>
                <div class="triangle-box triangle-box-left">
                    <div class="triangle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wl-das">
        <p class="wl-time">11-9&nbsp;&nbsp;17:27</p>
        <div class="wl-conter"  style="position: relative">
            <div style="    position: absolute;right: 17px;top: 4px;">
                <img src="/static/image/user/tou.png" alt="" width="40" height="40">
            </div>
            <div class="dbubble1">
                <div class="dbubble-text">最后也是 是现实世界中的dsfd s适用，每一个人都要为自己的行为负责。 </div>
                <div class=" triangle-box triangle-box-right">
                    <div class="triangle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wl-das">
        <p class="wl-time">11-9&nbsp;&nbsp;17:27</p>
        <div class="wl-conter" style="position: relative">
            <div style="    position: absolute;left: 17px;top: 4px;">
                <img src="/static/image/user/tou.png" alt="" width="40" height="40">
            </div>
            <div class="dbubble ">
                <div class="dbubble-text">最后也是 是现实世界中的所有法律法规仍然在这个世界中适用，每一个人都要为自己的行为负责。 </div>
                <div class="triangle-box triangle-box-left">
                    <div class="triangle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wl-das">
        <p class="wl-time">11-9&nbsp;&nbsp;17:27</p>
        <div class="wl-conter"  style="position: relative">
            <div style="    position: absolute;right: 17px;top: 4px;">
                <img src="/static/image/user/tou.png" alt="" width="40" height="40">
            </div>
            <div class="dbubble1">
                <div class="dbubble-text">最后也是 是现实世界中的dsfd s适用，每一个人都要为自己的行为负责。 </div>
                <div class=" triangle-box triangle-box-right">
                    <div class="triangle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wl-das">
    <p class="wl-time">11-9&nbsp;&nbsp;17:27</p>
    <div class="wl-conter" style="position: relative">
        <div style="    position: absolute;left: 17px;top: 4px;">
            <img src="/static/image/user/tou.png" alt="" width="40" height="40">
        </div>
        <div class="dbubble ">
            <div class="dbubble-text">最后也是 是现实世界中的所有法律法规仍然在这个世界中适用，每一个人都要为自己的行为负责。 </div>
            <div class="triangle-box triangle-box-left">
                <div class="triangle"></div>
            </div>
        </div>
    </div>
</div>
    <div class="wl-das">
        <p class="wl-time">11-9&nbsp;&nbsp;17:27</p>
        <div class="wl-conter"  style="position: relative">
            <div style="    position: absolute;right: 17px;top: 4px;">
                <img src="/static/image/user/tou.png" alt="" width="40" height="40">
            </div>
            <div class="dbubble1">
                <div class="dbubble-text">最后也是 是现实世界中的dsfd s适用，每一个人都要为自己的行为负责。 </div>
                <div class=" triangle-box triangle-box-right">
                    <div class="triangle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wl-das">
        <p class="wl-time">11-9&nbsp;&nbsp;17:27</p>
        <div class="wl-conter" style="position: relative">
            <div style="    position: absolute;left: 17px;top: 4px;">
                <img src="/static/image/user/tou.png" alt="" width="40" height="40">
            </div>
            <div class="dbubble ">
                <div class="dbubble-text">最后也是 是现实世界中的所有法律法规仍然在这个世界中适用，每一个人都要为自己的行为负责。 </div>
                <div class="triangle-box triangle-box-left">
                    <div class="triangle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wl-das">
        <p class="wl-time">11-9&nbsp;&nbsp;17:27</p>
        <div class="wl-conter"  style="position: relative">
            <div style="    position: absolute;right: 17px;top: 4px;">
                <img src="/static/image/user/tou.png" alt="" width="40" height="40">
            </div>
            <div class="dbubble1">
                <div class="dbubble-text">最后也是 是现实世界中的dsfd s适用，每一个人都要为自己的行为负责。 </div>
                <div class=" triangle-box triangle-box-right">
                    <div class="triangle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wl-das">
        <p class="wl-time">11-9&nbsp;&nbsp;17:27</p>
        <div class="wl-conter" style="position: relative">
            <div style="    position: absolute;left: 17px;top: 4px;">
                <img src="/static/image/user/tou.png" alt="" width="40" height="40">
            </div>
            <div class="dbubble ">
                <div class="dbubble-text">最后也是 是现实世界中的所有法律法规仍然在这个世界中适用，每一个人都要为自己的行为负责。 </div>
                <div class="triangle-box triangle-box-left">
                    <div class="triangle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wl-das">
        <p class="wl-time">11-9&nbsp;&nbsp;17:27</p>
        <div class="wl-conter"  style="position: relative">
            <div style="    position: absolute;right: 17px;top: 4px;">
                <img src="/static/image/user/tou.png" alt="" width="40" height="40">
            </div>
            <div class="dbubble1">
                <div class="dbubble-text">最后也是 是现实世界中的dsfd s适用，每一个人都要为自己的行为负责。 </div>
                <div class=" triangle-box triangle-box-right">
                    <div class="triangle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wl-das">
    <p class="wl-time">11-9&nbsp;&nbsp;17:27</p>
    <div class="wl-conter" style="position: relative">
        <div style="    position: absolute;left: 17px;top: 4px;">
            <img src="/static/image/user/tou.png" alt="" width="40" height="40">
        </div>
        <div class="dbubble ">
            <div class="dbubble-text">最后也是 是现实世界中的所有法律法规仍然在这个世界中适用，每一个人都要为自己的行为负责。 </div>
            <div class="triangle-box triangle-box-left">
                <div class="triangle"></div>
            </div>
        </div>
    </div>
</div>
    <div class="wl-das">
        <p class="wl-time">11-9&nbsp;&nbsp;17:27</p>
        <div class="wl-conter"  style="position: relative">
            <div style="    position: absolute;right: 17px;top: 4px;">
                <img src="/static/image/user/tou.png" alt="" width="40" height="40">
            </div>
            <div class="dbubble1">
                <div class="dbubble-text"> 是现实世界中的dsfd s适用，每一个人都要为自己的行为用，每一个人都要为自己的行为负责。 </div>
                <div class=" triangle-box triangle-box-right">
                    <div class="triangle"></div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>

    <div class="wl-foot">
        <textarea type="text" placeholder="请输入聊天内容"  class="neirong"></textarea>
        <button class="wl-btn">发送</button>
    </div>
</footer>
</body>
<script src="/static/js/jquery.min.js"></script>
<script>
    $(function () {
        $('.wl-foot textarea').on('.kl1 input ', function () {
            if (($.trim($('.neirong').val()) !== "")) {
                $('.wl-btn').css({'color': '#7DB0E8'});
            } else {
                $('.wl-btn').css({'color': '#EBEBEB'});
                $('neirong').val('');
            }
        });
    });
</script>
</html>