<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>登录页</title>
		<link rel="stylesheet" href="/pc/css/login.css">
		<link rel="stylesheet" href="/pc/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/iconfont.css">
	</head>
	<body>
	<div class="container" id="wl-con">
		<div class="row" id="wl-neirong">
			<div class="wl-left">
				<dl>还没有账号？</dl>
				<dd>立即免费注册！</dd>
				<dt>现在注册，遇见不一样的自己</dt>
				<a href="" class="wl-zc">注册</a>
			</div>
			<div class="wl-right">
				<div class="wl-ma"></div>
				<div class="wl-ma-dun"><span> <img src="/pc/image/bg-dun.png" alt="" width="35px" height="35px" style="margin-top: 4px;margin-left: 8px"><span style="">扫码登录更安全</span></span></div>
			</div>
		</div>
	</div>
	</body>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="/pc/js/bootstrap.min.js"></script>
</html>
