<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/pc/css/relrase.css">
    <link rel="stylesheet" href="/static/css/iconfont.css">
</head>
<body  style="background: #F8F8F8">
<div class="wl-con">
    <div class="wl-top">
        <div class="wl-top-user">
            <span></span><span>用户名称</span><i class="iconfont icon-triangledownfill wl-xl" style="font-size: 20px"></i>
        </div>
    </div>
        <div class="tab-box">
            <ul>
                <li class="active">个人认证</li>
                <li>医生认证</li>
                <li>医院认证</li>
                <li>官方</li>
            </ul>
            <div class="tab-content">
                <div class="active-txt wl-geren">
                  <p>身份证认证</p>
                    <p class="wl-zhen">真实姓名 <input type="text" placeholder="请输入真实姓名"></p>
                    <p class="wl-zhen">身份证号  <input type="text" placeholder="请输入真实身份证号"></p>
                    <p class="wl-zhen">所在行业  <input type="text" placeholder="请输入所在行业"></p>
                    <p class="wl-zhen">上传身份证明</p>
                    <p style="position: relative"><input type="text" class="wl-shangc"><span class="iconfont icon-xiangji " id="xiangji"></span></p>
                    <p style="position: relative"><input type="text" class="wl-shangc"><span class="iconfont icon-xiangji " id="xiangji1"></span></p>
                </div>
                <div>
                    。 卫生、消防等救援人员已到达现场。据丰城市安监部门负责人介绍，发生事故的是丰城电厂三期在建的冷却塔项目。 据丰城政府网介绍，江西丰城电厂位于丰城市西面石上村铜鼓山，厂区距丰城市区8公里，距南昌市约60km，南临赣江约0.5km，东距丰高公路约0.6km，北距丰城水泥厂2.8km
                </div>
                <div>
                    成为史上第3支做到这点的西甲球队，2011-12和2014-15赛季皇马曾两次5连胜开局，也是唯一两度做到这点的西甲豪门，巴萨(官网 数据) 唯一一次开局五连胜，要追溯到2002-03赛季。
                </div>
                <div>
                    价格附近饭店
                </div>
            </div>
        </div>

</div>
</body>
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
    $(function() {
        $(".tab-box li").each(function(index) {
            $(this).click(function() {
                $("li.active").removeClass("active"); //注意这里
                $(this).addClass("active"); //注意这里
                $(".tab-content div.active-txt").removeClass("active-txt");
                $(".tab-content div").eq(index).addClass("active-txt");
            });
        })
    });
</script>
</html>