<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content>
    <title>Title</title>
    <link rel="stylesheet" href="/pc/css/relrase.css">
    <link rel="stylesheet" href="/static/css/iconfont.css">
</head>
<body  style="background: #F8F8F8"   >
<div class="wl-con" >
    <div class="wl-top" >
        <div style="position:relative;width:1265px;margin:0 auto;top:17px;left: 10px">
            <img src="/pc/image/logo1.png" alt="" >
        </div>
    </div>
    <div class="wl-zhanghao-box" style="position:relative;width:1265px;margin:0 auto;top:-80px;right: 42px;">
        <div class="wl-zhanghao" style="right:0;">
            <p style="height: 80px;padding-top: 9px; background: #7DB0E8;" class="wl-xian"><span class="wl-toux"></span><span style="color: white;margin-left: 48px;float: left;margin-top: -1px;">用户名称</span><i class="iconfont icon-triangledownfill" style="color: white;"></i> </p>
            <div class="wl-cang" style="display: none">
                <p class="wl-xiany" id="wl-anquan"><i class="iconfont icon-shezhi" style="font-size: 22px;margin-right: 10px"></i>账号设置</p>
                <p class="wl-xiany"><i class="iconfont icon-guanbi" style="font-size: 18px;margin-right: 10px"></i>退出登录</p>
            </div>
        </div>
    </div>
        <div class="tab-box" >
            <ul class="renzheng">
                <div class="wl-xian1">
                    <span class="wl-shimin"><i class="iconfont icon-medal_light wl-xz" style="font-size: 30px"></i>实名认证</span><i class="iconfont icon-triangledownfill wl-sxia" style="font-size: 20px"></i>
                </div>
                <div class="wl-cang1"  style="display: none">
                    <li class="active">个人认证</li>
                    <li>医生认证</li>
                    <li>医院认证</li>
                    <li>官方认证</li>
                </div>
            </ul>

            <div class="tab-content" style="position: relative;display:none" >
                <div class="active-txt wl-geren">
                  <p>身份证认证</p>
                    <p class="wl-zhen" style="margin-top: 15px">真实姓名 <input type="text" placeholder="请输入真实姓名"></p>
                    <p class="wl-zhen">身份证号  <input type="text" placeholder="请输入真实身份证号"></p>
                    <p class="wl-zhen">所在行业  <input type="text" placeholder="请输入所在行业"></p>
                    <p class="wl-zhen" style="margin-top: 35px">上传身份证明</p>
                    <p style="position: relative"><input type="text" class="wl-shangc"><span class="iconfont icon-xiangji " id="xiangji"></span></p>
                    <p style="position: relative"><input type="text" class="wl-shangc1"><span class="iconfont icon-xiangji " id="xiangji1"></span></p>
                    <p class="wl-btn"><button>完成</button></p>
                </div>
                <div class="wl-geren1">
                    <p>医生认证</p>
                    <p class="wl-zhen1" style="margin-top: 15px">真实姓名 <input type="text" placeholder="请输入真实姓名"></p>
                    <p class="wl-zhen1">身份证号  <input type="text" placeholder="请输入真实身份证号"></p>
                    <p class="wl-zhen1">所在地区  <input type="text" placeholder="请输入户籍所在地"></p>
                    <p class="wl-zhen1">医师职称  <input type="text" placeholder="请输入最高职称"></p>
                    <p class="wl-zhen1">手机号码  <input type="text" placeholder="请输入手机号码"></p>
                    <p class="wl-zhen1">上传资质证件</p>
                    <p style="position: relative"><input type="text" class="wl-shangc"><i class="wl-zhao1">添加照片</i><span class="wl-sc-js">支持绝大多数的图片格式，单张图片大小不超过10M。<br>最多可上传5张。</span><span class="iconfont icon-xiangji " id="xiangji2"></span></p>
                    <p class="wl-btn1"><button>完成</button></p>
                </div>
                <div class="wl-geren2">
                    <p>医院/机构认证</p>
                    <p class="wl-zhen2" style="margin-top: 15px">医院名称 <input type="text" placeholder="请输入医院/机构全称"></p>
                    <p class="wl-zhen2">身份证号  <input type="text" placeholder="请输入医院/机构规模"></p>
                    <p class="wl-zhen2">所在地区  <input type="text" placeholder="请输入医院/机构成立时间"></p>
                    <p class="wl-zhen2">医师职称  <input type="text" placeholder="请输入医院/机构所在地区"></p>
                    <p class="wl-zhen2">手机号码  <input type="text" placeholder="请输入医院/机构擅长项目"></p>
                    <p class="wl-zhen2">上传医院营业证件</p>
                    <p style="position: relative"><input type="text" class="wl-shangc"><i class="wl-zhao2">添加照片</i><span class="wl-sc-js">支持绝大多数的图片格式，单张图片大小不超过10M。<br>最多可上传5张。</span><span class="iconfont icon-xiangji " id="xiangji2"></span></p>
                    <p class="wl-btn2"><button>完成</button></p>
                </div>
                <div class="wl-geren3">
                    <p>官方企业认证</p>
                    <p class="wl-zhen3" style="margin-top: 15px">企业名称 <input type="text" placeholder="请输入营业执照上的全称"></p>
                    <p class="wl-zhen3">营业执照注册号  <input type="text" placeholder="请输入15位营业执照或18位统一社会信用代码"style="width:620px"></p>
                    <p class="wl-zhen3">运营者姓名  <input type="text" placeholder="请输入运营者姓名"style="width: 660px"></p>
                    <p class="wl-zhen3">运营者手机号码  <input type="text" placeholder="请输入运营者手机号码" style="width: 440px"><span class="wl-huoqu">获取验证码</span></p>
                    <p class="wl-zhen3">短信验证码  <input type="text" placeholder="请输入你收到的6位验证码"style="width: 440px"></p>
                    <p class="wl-zhen3">上传企业工商营业执照</p>
                    <p style="position: relative"><input type="text" class="wl-shangc"><i class="wl-zhao3">添加照片</i><span class="wl-sc-js">支持绝大多数的图片格式，单张图片大小不超过10M。<br>最多可上传5张。</span><span class="iconfont icon-xiangji " id="xiangji2"></span></p>
                    <p class="wl-btn3"><button>完成</button></p>
                </div>
            </div>

            <!--style="display: none"-->
            <div class="wl-qiehuan" >
                <div class="top">
                    <span class="wl-anquan">账号信息</span>
                    <span >安全中心</span>
                </div>
                <div class="xia">
                    <div class="one">
                       <div class="one-1"><img src="/pc/image/tou.png" alt="">
                               <dt>用户名称</dt>
                               <dd>简介简介简介简介简介简介建将建将</dd>
                           <button style="float: right;margin-top: 48px">修改信息</button>
                       </div>
                        <div style="width: 100px;height: 666px;float: left;color:#333333;font-size: 16px; ">
                            <dl style="margin-top:31px;">账号信息</dl>
                            <dl style="margin-top:138px;">登录方式</dl>
                            <dl style="margin-top:60px;">运营人信息</dl>

                        </div>
                        <div class="wl-grxx">
                          <div> <span>用户类型</span> <span>个人</span> </div>
                            <div><span>用户账号</span>  <span>820361933</span></div>
                            <div> <span>绑定手机</span> <span>18329289659</span><span style="float: right">如需更换,<i style="color: #FD7D7D">请前往"安全中心"</i></span></div>
                           <div> <span>运营人</span> <span>打个粉丝</span></div>
                            <div><span>联系邮箱</span>  <span>无</span></div>
                            <div><span>所在地</span>  <span>无</span></div>

                        </div>
                    </div>
                    <div class="two">
                       <div class="two-1">
                           <img src="/pc/image/wl-dunpai.png" alt="">
                       </div>
                        <div class="two-2">
                            <div><span>绑定手机</span><span style="color: #888888;margin-left: 100px" >当前已绑定</span><span style="color: #7DB0E8;margin-left: 210px" class="wl-hf">更改手机</span></div>
                            <div><span>登录密码</span><span style="color: #7DB0E8;margin-left: 391px" class="wl-xgmm">修改密码</span></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    <div class="wl-zhez">
        <div class="wl-zl" >
            <div>手机号修改</div>
            <div class="wl-zheh"><span style="margin-left: 96px">更换号码</span><input type="text"placeholder="请输入手机号"></div>
            <div class="wl-zheh" ><span>手机验证码</span><input type="text"placeholder="请输入短信验证码"><button>发送验证码</button></div>
            <div class="wl-yzmcw" >验证码错误</div>
            <div class="wl-yzcg"  >验证成功</div>
            <div class="wl-zheque"><button>确定</button> </div>
        </div>
    </div>
    <div class="wl-zhez1">
        <div class="wl-zl1" >
            <div>密码修改</div>
            <div class="">通过已绑定手机 <span>176****2595</span> 进行验证</div>
        </div>
    </div>
        </div>

</body>
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript">

        $(".tab-box li").each(function(index) {
            $(this).click(function() {
                $("li.active").removeClass("active"); //注意这里
                $(this).addClass("active");
                $(".tab-content div.active-txt").removeClass("active-txt");
                $(".tab-content div").eq(index).addClass("active-txt");
            });
        });



        $('.nav-item>a').on('click',function(){
            if (!$('.nav').hasClass('nav-mini')) {
                if ($(this).next().css('display') == "none") {

                    $('.nav-item').children('ul').slideUp(300);
                    $(this).next('ul').slideDown(300);
                    $(this).parent('li').addClass('nav-show').siblings('li').removeClass('nav-show');
                }else{

                    $(this).next('ul').slideUp(300);
                    $('.nav-item.nav-show').removeClass('nav-show');
                }
            }
        });

    $(".wl-xian").click(function () {
        $(".wl-cang").toggle();
    })
    $(".wl-xian1").click(function () {
        $(".wl-cang1").toggle();
    })

</script>
<script type="text/javascript">
    $(function(){
        $(".one").show();
        $(".top span").eq(0).addClass("se");
        var a;
        var b;
        var index=0;
        $(".top span").click(function(){
            index=$(this).index();
            $(".one,.two").eq(index).show().siblings().hide();
             $(".top span").eq(index).addClass("se").siblings().removeClass("se");
            if(index==0){
                a=1
            }
            if(index==1){
                b=1
            }
            if(a==1&&b==1){
                $("#xiao").hide();
            }
        })
    })

$("#wl-anquan").click(function () {
    $(".wl-qiehuan").show();
    $(".tab-content").hide();
})
    $(".renzheng").click(function () {
        $(".tab-content").show();
        $(".wl-qiehuan").hide();
    })
        // 更换手机遮罩层
    $(document).ready(function() {
        $(".wl-hf").click(function(event) {
            event.stopPropagation(); //停止事件冒泡
            $(".wl-zhez").toggle();
        });
        //点击空白处隐藏弹出层
        $(".wl-zhez").click(function(event) {
            var _con = $('.wl-zl'); // 设置目标区域
            if(!_con.is(event.target) && _con.has(event.target).length == 0) {
                $('.wl-zhez').hide(); //淡出消失
            }
        });

    });
    // 修改密码遮罩层
    $(document).ready(function() {
        $(".wl-xgmm").click(function(event) {
            event.stopPropagation(); //停止事件冒泡
            $(".wl-zhez1").toggle();
        });
        //点击空白处隐藏弹出层
        $(".wl-zhez1").click(function(event) {
            var _con = $('.wl-zl1'); // 设置目标区域
            if(!_con.is(event.target) && _con.has(event.target).length == 0) {
                $('.wl-zhez1').hide(); //淡出消失
            }
        });

    });
</script>
</html>