{extend name="layout/layout2-main" /}

{block name="css"}
<link rel="stylesheet" href="/static/plugin/layui/css/layui.css" media="all">
<style>
    .diary-img-boxs {
        position: relative;
        width: 100px;
        height: 100px;
        cursor: pointer;
        float: left !important;
        margin-right: 10px;
        margin-bottom: 10px;
        overflow: hidden;
        background-color: #f9f3f3;
    }

    .diary-img-boxs-remove {
        position: absolute;
        top: 0;
        right: 0px;
        z-index: 2;
        color: #ff808d;
        background: white;
        width: 20px;
        height: 20px;
        display: none;
    }

    .diary-img-boxs:hover .diary-img-boxs-remove {
        display: block;
    }

    .fr-diary-submit {
        background: #23b7e5;
        color: white;
        border: none !important;
    }

    .fr-diary-submit:hover {
        background: #F29C9F !important;
        color: white;
        border: none !important;
    }

    #fr-input-day {
        width: 50px;
        padding-left: 2px;
        padding-right: 2px;
        display: inline-block;
        text-align: center;
    }

    #upload-file-box {
        width: 100px;
        height: 100px;
        border: 1px solid #CCCCCC;
        cursor: pointer;
        float: left;
        position: relative;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    #fr-diary-img-upload {
        width: 100px;
        height: 100px;
        border: none;
        opacity: 0;
        cursor: pointer
    }
</style>

{/block}

{block name="main"}
<div class="row white-bg" id="cus-breadcrumb">
    <div class="col-sm-4">
        <ul class="breadcrumb">
            <li><a ><i class="fa fa-home"></i> 主页</a></li>
            <li>我的管理</li>
            <li><a href="/seller/diary/index">日记案例管理</a></li>
            <li>日记详情</li>
        </ul>
    </div>
</div>

<section class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="file-manager">
                        <h5>{$diaryInfo['title']}</h5>
                        <br/>
                        <a  class="file-control ">日记数({:count($list)})</a>
                        <a  class="file-control ">点赞数({$diaryInfo['like']})</a>
                        <a  class="file-control ">浏览数({$diaryInfo['visit']})</a>

                        <div class="hr-line-dashed"></div>
                        <h5>相关商品</h5>
                        <ul class="folder-list" style="padding: 0;">
                            {if(count($goodsInfo) > 0)}
                            {foreach($goodsInfo as $goods)}
                            <li style="padding-bottom: 5px;padding-top: 8px;">
                                <div class="col-sm-2" style="width: 50px">
                                    <img src="{$goods['img']}" width="50">
                                </div>
                                <div class="col-sm-10">
                                    <p style="padding-left: 5px;height: 20px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis">
                                        {$goods['name']}</p>

                                    <p style="padding-left: 5px;height: 20px;"> ￥ {$goods['sell_price']}</p>
                                </div>
                                <div style="clear: both"></div>
                            </li>
                            {/foreach}
                            {/if}
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-9 animated fadeInRight ">
            <div class="row">
                <div class="tabs-container nav-tabs-custom">
                    <ul class="nav nav-tabs" id="my-tab-status">
                        <li class="active"><a href="#timeline" data-toggle="tab" aria-expanded="true">我的日记</a></li>
                        <li><a href="#settings" data-toggle="tab" aria-expanded="false" class="edit-tab">(添加/编辑)术后日记</a></li>
                    </ul>
                    <div class="tab-content white-bg">
                        <div class="tab-pane active" id="timeline">
                            <div class="panel-body">
                                <div  id="ibox-content" >
                                    <div id="vertical-timeline" class="vertical-container light-timeline" style="margin-left: 15px;">
                                        {if(count($list) > 0)}
                                        {foreach($list as $row)}
                                        <div class="vertical-timeline-block">
                                            <div class="vertical-timeline-icon navy-bg"><i class="fa fa-clock-o"></i></div>
                                            <div class="vertical-timeline-content">
                                                <h5>术后 <span style="font-size: 20px;color: red">{$row['day']}</span>天</h5>
                                                <p>{$row['content']}  <span class="pointer edit-diary" data-json="{$row['json']}" style="color: #0b93d5;cursor: pointer" >编辑</span></p>
                                                <div>
                                                    {if(count($row['imgs']) > 0)}
                                                    {foreach($row['imgs'] as $src)}
                                                    <img src="{$src}" width="120" height="120" style="margin-top: 3px" />
                                                    {/foreach}
                                                    {/if}
                                                </div>
                                            </div>
                                        </div>
                                        {/foreach}
                                        {/if}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="settings">
                            <form class="form-horizontal" id="form-diary" onsubmit="return false;" style="padding-top: 20px;padding-bottom: 20px;">
                                <input type="hidden" id="fr-diary-id" value="{$diary_id}">
                                <input type="hidden" id="fr-id" value="0">
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">术后时间</label>
                                    <div class="col-sm-11">
                                        术后 <input type="text" id="fr-input-day" class="form-control"  onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')"> 天
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">日记描述</label>
                                    <div class="col-sm-11">
                                        <textarea class="form-control" placeholder="日记描述(必填)" rows="10" style="resize: none" id="fr-textarea-content"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-1 col-sm-11" id="img-container">
                                        <div id="upload-file-box">
                                            <div style="width: 100%;height: 100%;">
                                                <img src="/static/seller/image/plus.png" width="20" height="20"  style="margin-left: 40px;margin-top: 40px;" class="cus-img">
                                            </div>
                                            <div style="position: absolute;z-index: 2;top: 0px">
                                                <input type="file" name="imgFile" id="fr-diary-img-upload"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-1 col-sm-11">
                                        <span type="submit" class="btn fr-diary-submit" id="fr-submit">立即添加</span>
                                        <span style="color: #efdddd !important;">&nbsp;&nbsp;&nbsp;图片最多只能上传6张,图片大小不超过3M</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{/block}

{block name="js"}
{js href="/static/plugin/layui/layui.all.js" /}
<script>
    $('#fr-diary-img-upload').on('change', function () {
        var formData = new FormData($('#form-diary')[0]);
        $.ajax({
            url: '/seller/diary/uploadImgFile',
            type: 'POST',
            cache: false,
            data: formData,
            processData: false,
            contentType: false,
            dataType: "json",
            success: function (res) {
                if (res.code == 200) {
                    $('#img-container').append('<div class="diary-img-boxs"><img src="' + res.data.url + '" width="100"  /><div class="diary-img-boxs-remove"><i class="fa fa-fw fa-trash"></i></div></div>');
                    if ($('.diary-img-boxs > img').length >= 6) {
                        $('#fr-diary-img-upload').prop('disabled', true);
                    } else {
                        $('#fr-diary-img-upload').prop('disabled', false);
                    }
                } else {
                    layer.msg(res.msg);
                }
            }
        });
    });

    $(document).on('click', '.diary-img-boxs-remove', function () {
        $(this).parent().remove();
        $('#fr-diary-img-upload').prop('disabled', false);
    });

    $('.edit-diary').on('click', function () {
        var o = $(this).data('json');

        $('#fr-id').val(o.id);
        $('#fr-input-day').val(o.day).attr('disabled', true);
        $('#fr-textarea-content').val(o.content);
        $('#img-container').find('.diary-img-boxs').remove();
        $.each(o.imgs, function (k, src) {
            $('#img-container').append('<div class="diary-img-boxs"><img src="' + src + '" width="100"  /><div class="diary-img-boxs-remove"><i class="fa fa-fw fa-trash"></i></div></div>');
        });

        $('.nav-tabs-custom .nav-tabs li').removeClass('active').find('a').attr('aria-expanded', false);
        $('.edit-tab').attr('aria-expanded', true).parent().addClass('active');
        $('.nav-tabs-custom .tab-pane').removeClass('active');
        $('#settings').addClass('active');
        $('#fr-submit').text('编辑日记');
    });

    $('.edit-tab').on('click', function () {
        if ($(this).attr('aria-expanded') == 'false') {
            $('#fr-id').val(0);
            $('#fr-input-day').val('').attr('disabled', false);
            $('#fr-textarea-content').val('');
            $('#img-container').find('.diary-img-boxs').remove();
            $('#fr-submit').text('添加日记');
        }
    });

    var classObj = {
        loading: false,
        getImgs: function () {
            var arr = [];
            $.each($('.diary-img-boxs > img'), function (k, v) {
                arr.push($('.diary-img-boxs > img')[k].src);
            });
            return arr;
        }
    };

    $('#fr-submit').on('click', function () {
        var data = {
            diary_id: $('#fr-diary-id').val(),
            id: $('#fr-id').val(),
            day: $('#fr-input-day').val() == '' ? 0 : parseInt($('#fr-input-day').val()),
            content: $.trim($('#fr-textarea-content').val()),
            imgs: classObj.getImgs(),
        };

        if (data.day == 0) {
            layer.msg('术后时间不能为空');
        } else if (data.content == '') {
            layer.msg('日记描述不能为空');
        } else if (data.imgs.length == 0) {
            layer.msg('图片不能为空');
        } else if (classObj.loading == false) {
            $.ajax({
                url: '/seller/diary/editDiaryDetail',
                type: 'POST',
                data: data,
                dataType: "json",
                beforeSend: function () {
                    classObj.loading = true;
                },
                complete: function () {
                    classObj.loading = false;
                },
                success: function (res) {
                    if (res.code == 200) {
                        layer.msg('编辑成功...', {icon: 1});
                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    } else {
                        layer.msg(res.msg);
                    }
                }
            });
        }
    });
</script>
{/block}
