{extend name="layout/layout" /}

{block name="cssOrcrsipt"}
<link rel="stylesheet" href="/static/web/css1/published_article.css">
{/block}

{block name="main"}
    <div class="web-content">
        <div class="web-content-left">
            {include file="layout:navigation" /}
        </div>
        <div class="web-content-right">
            <div class="web-content-right-title"><span class="web-top-title">发表文章</span></div>
            <input type="hidden" id="fr-id" value="{$articleInfo?$articleInfo['id']:0}">
            <input type="hidden" id="fr-draft" value="{$articleInfo && $articleInfo['status'] == 2 ?1:0}">
            <div class="web-fabiao">
                <ul>
                    <li>标题</li>
                    <li>
                        <input type="text" value="{$articleInfo?$articleInfo['title']:''}" id="fr-title" placeholder="请输入文章标题" maxlength="50">
                        <span style="color: #FF917B;"><span id="title-lenght">0</span>/50</span>
                    </li>
                </ul>
            </div>
            <div class="web-fabiao">
                <ul>
                    <li>摘要</li>
                    <li><input type="text" value="{$articleInfo?$articleInfo['excerpt']:''}" id="fr-zaiyao"
                               placeholder="请输入文章摘要"></li>
                </ul>
            </div>
            <div class="web-fabiao">
                <ul>
                    <li>标签</li>
                    <li><input type="text" value="{$articleInfo?$articleInfo['tag']:''}" id="fr-tag"
                               placeholder="文章标签 例如(xxx,xxx,xxx) 请用英文逗号',' 分割,标签有利于文章之间的关联"></li>
                </ul>
            </div>
            <div>
                <div style="width: 95%; margin: 35px auto;height: 500px">
                    <div id="wang-editor" style="">
                        <?php echo $articleInfo?$articleInfo['content']:''; ?>
                    </div>
                </div>
            </div>
            <div class="web-ded">
                  <div class="web-suolue">
                      <div class="web-suoluetu">
                          <form id="infoLogoForm" enctype='multipart/form-data'>
                              <input type="file" name="imgFile" accept="image/*" id="btn-input-file"/>
                          </form>
                          <dl><i class="iconfont icon-xiangji web-xiangji"></i></dl>
                          <dt>添加缩略图</dt>
                      </div>
                  </div>
                <div class="web-tianjiai">
                    {if($articleInfo && count($articleInfo['thumbnail']) > 0)}
                        {foreach($articleInfo['thumbnail'] as $src)}
                        <div class="cus-remove-img-list">
                            <img src="{$src}" class="cus-fr-images" width="125" height="125">
                            <span class="iconfont icon-roundclosefill cus-remove-img"></span>
                        </div>
                        {/foreach}
                    {/if}
                 </div>
        </div>
            <div class="web-shangchaun"><span style="color: red">注:</span>缩略图最多只能上传三张</div>
            <div class="web-btn">
                <div class="web-btn-right">
                    <button  class="wl-fabiao1 web-yulan"><i class="iconfont icon-shouji01" style="font-size: 13px"></i>预览文章</button>
                    <button  onclick="objClass.submit(1)" class="wl-fabiao1">发表文章</button>
                    {if(!$articleInfo || ($articleInfo && $articleInfo['status'] == 2))}

                    <button onclick="objClass.submit(2)" class="wl-fabiao1">保存草稿</button>

                    {/if}

                </div>
            </div>
    </div>
        <div class="wl-zh1" id="wl-loading-box" style="display: none">
            <div class="wl-z1">
                <dl>
                    <img src="/static/image/user/timg.gif" alt="" width="60px" style="margin: 0 auto;position: absolute;left: -10px;right: 0;">
                </dl>
                <dt  class="wl-shangzhong">上传中...</dt>
            </div>
        </div>
    </div>
    <div class="wl-zhez2">
        <div class="web-cancel">
            <i class="iconfont icon-close" style="font-size: 50px;color: white  "></i>
        </div>
        <div class="wl-zl2">
            <div class="web-conter-gundong">
                <div>
                    <div class="web-preview-title href"></div>
                </div>
                <div class="web-preview-main href">
                    <div>
                        <div class="web-preview-img href">
                            <img src="/static/image/user/tou.png" alt=""onerror="this.src=/static/image/user/tou.png;" class="cus-touser-main"></div>
                        <div class="web-preview-user href">
                            <dl>上海xxxxxx</dl>
                            <dt>昨天 15:14分</dt>
                        </div>
                    </div>
                    <div class="web-preview-friends href">
                        <button onclick="objClass.showAddFriend()" id="cus-add-friend">加好友</button>
                    </div>
                    <div style="clear:both"></div>
                </div>
                <div class="web-preview-content" >

                </div>

                <div class="web-preview-end">-&nbsp;THE END&nbsp;-</div>
            </div>

        </div>
    </div>
{/block}

{block name="script"}
<script src="/static/js/functions.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="/static/plugin/wangEditor/release/wangEditor.min.js"></script>
<script type="text/javascript" src="/static/web/viewjs/article_release.js"></script>
{/block}