
<link rel="stylesheet" href="/static/plugin/layui/css/layui.css"  media="all">
<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="home-icon fa fa-home"></i> <a href="#">主页</a></li>
        <li><a href="#">轮播图模块</a></li>
        <li class="active">轮播图列表</li>
    </ul>
</div>

<section class="content" >
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">轮播图列表</h3>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="">
                            <button type="button" class="btn  btn-flat" onclick="objClass.reload()"><i class="layui-icon layui-icon-refresh-3" ></i>刷新</button>&nbsp;
                            <button type="button" class="btn  btn-flat" onclick="objClass.add()"><i class="layui-icon layui-icon-add-1" ></i>添加轮播图</button>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table id="table-list" lay-filter="test"></table>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
{js href="/static/plugin/layui/layui.all.js" /}
<script type="text/javascript">
    layui.table.render({
        elem: '#table-list'
        ,id:'tab-reload'
        ,url: '/admin/banner/getBannerList' //数据接口
        ,page: true
        ,request: {
            pageName: 'page' //页码的参数名称，默认：page
            ,limitName: 'page_size' //每页数据量的参数名，默认：limit
        }
        ,parseData: function(res){ //res 即为原始返回的数据
            return {
                "code": res.code, //解析接口状态
                "msg": res.msg, //解析提示文本
                "count": res.data.total, //解析数据长度
                "data": res.data.rows //解析数据列表
            };
        }
        ,cols: [[ //表头
            {field: 'id', title: 'ID', fixed: 'left',width:120},
            {field: 'platform', title: '类型'},
            {field: 'name', title: 'banner名称'},
            {field: 'url', title: '链接地址'},
            {field: 'img', title: '图片地址',width:100,align:"center",templet:function(row){
                    return '<img src="'+row.img+'" width="50" >';
                }},
            {field: 'order', title: '排序',sort:true},
            {field: 'visibility', title: '首页是否显示',width:100,templet:function(row){
                    if(row.visibility == 0){
                        return '<span class="label label-danger" lay-event="end">不显示</span>';
                    }else if(row.visibility == 1){
                        return '<span class="label label-success" lay-event="show">显示</span>';
                    }
            }},
            {fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
        ]]
        ,limits:[10,20,30,50,100]
    });

    layui.table.on('tool(test)',function (obj) {
        var data = obj.data;
        var id = data.id;
        if (obj.event === 'del') {
            layer.confirm('真的删除行么', function (index) {
                $.ajax({
                    url:"/admin/banner/del",
                    data:{id:id},
                    type:"POST",
                    dataType:"json",
                    success:function (data) {
                        if(data.code == 200){
                            obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                            layer.close(index);
                            layer.msg('删除成功',{icon:6});
                        }else{
                            layer.msg('删除失败',{icon:5});
                        }
                    }
                })
            });
        }else if(obj.event === 'show'){
            $.ajax({
                url:'/admin/banner/update',
                data:{id:id,visibility:data.visibility},
                type:"POST",
                dataType:"json",
                success:function (data) {
                    if(data.code == 200){
                        window.location.reload();
                    }else{
                        layer.msg('修改失败');
                    }
                }
            })
        }else if(obj.event === "end"){
            $.ajax({
                url:'/admin/banner/update',
                data:{id:id,visibility:data.visibility},
                type:"POST",
                dataType:"json",
                success:function (data) {
                    if(data.code == 200){
                        window.location.reload();
                    }else{
                        layer.msg('修改失败');
                    }
                }
            })
        }else if(obj.event === 'edit') {
            window.location.href = "/admin/banner/addBanner/id/"+id;
        }
    });
    var objClass = {
        reload:function(){
            layui.table.reload('tab-reload', {
                page: {
                    curr: 1
                }
                ,where: {
                    key: {

                    }
                }
            });
        },
        add:function(){
            window.location.href = '/admin/banner/addBanner';
        }
    };
</script>
