{if condition="count($rows) > 0"}
{foreach $rows as $vo}
{php}
$thumbnail = !empty($vo['thumbnail']) ? json_decode($vo['thumbnail'],true) :[];
{/php}

{switch $vo.type}
{case 1}
{if condition="count($thumbnail) >= 3"}
<div class="wl-img-3">
    <div class="wl-main href">
        <div>
            <div class="wl-tou-img href">
                <img src="{$vo['portrait']}" class="cus-article-href2" alt=""
                     onerror='this.src="/static/image/user/tou.png"' data-user_id="{$vo['user_id']}">
            </div>
            <div class="wl-tou-yonghu href">
                <dl>{$vo['nickname']}</dl>
                <dt>{$vo['published_time']|strtotime|formatTime}</dt>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
    <div class="wl-on-content cus-click-href" data-id="{$vo['id']}" data-type="{$vo['type']}">{$vo['comment_content']}</div>
    <div class="wl-neirong border cus-click-href"  data-id="{$vo['id']}"  data-type="{$vo['type']}">
        <div class="wl-nei1">{$vo['title']}</div>
        <div class="wl-nei3" >
            {foreach $thumbnail as $k=>$v}
            <img src="{$v}" alt="">
            {/foreach}
        </div>
    </div>
    <ul class="wl-tubiao">
        <li><i class="iconfont icon-share_light"></i><span></span></li>
        <li><i class="iconfont icon-comment_light"></i><span>{$vo['comment_count']}</span></li>
        <li class="cus-article-fabulous" data-type="{$vo['isZan']}"  data-id="{$vo['id']}">
            <i class="iconfont  {$vo['isZan'] == 1?'icon-dianzan1 cus-blue':'icon-dianzan'} wl-fabulous-icon"></i>
            <span class="wl-dian-one">{$vo['like']}</span>
        </li>
    </ul>
</div>

<div style="clear: both"></div>
{elseif condition="count($thumbnail)  == 0"/}
<div class="wl-neirong cus-click-href">
    <div class="wl-main href">
        <div>
            <div class="wl-tou-img href">
                <img src="{$vo['portrait']}" alt="" onerror='this.src="/static/image/user/tou.png"'
                     class="cus-article-href2" data-user_id="{$vo['user_id']}">
            </div>
            <div class="wl-tou-yonghu href">
                <dl>{$vo['nickname']}</dl>
                <dt>{$vo['published_time']|strtotime|formatTime}</dt>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
    <div class="wl-on-content cus-click-href " data-id="{$vo['id']}"  data-type="{$vo['type']}">{$vo['comment_content']}</div>
    <div class="wl-nei1 cus-click-href border" data-id="{$vo['id']}"  data-type="{$vo['type']}">{$vo['title']}</div>
    <ul class="wl-tubiao">
        <li><i class="iconfont icon-share_light"></i><span></span></li>
        <li><i class="iconfont icon-comment_light"></i><span>{$vo['comment_count']}</span></li>
        <li class="cus-article-fabulous" data-type="{$vo['isZan']}"  data-id="{$vo['id']}">
            <i class="iconfont  {$vo['isZan'] == 1?'icon-dianzan1 cus-blue':'icon-dianzan'} wl-fabulous-icon"></i>
            <span class="wl-dian-one">{$vo['like']}</span>
        </li>
    </ul>
</div>

{else /}
<div class="wl-img-1">
    <div class="wl-main href">
        <div>
            <div class="wl-tou-img href">
                <img src="{$vo['portrait']}" alt="" class="cus-article-href2"
                     onerror='this.src="/static/image/user/tou.png"' data-user_id="{$vo['user_id']}">
            </div>
            <div class="wl-tou-yonghu href">
                <dl>{$vo['nickname']}</dl>
                <dt>{$vo['published_time']|strtotime|formatTime}</dt>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
    <div class="wl-on-content cus-click-href" data-id="{$vo['id']}"  data-type="{$vo['type']}">{$vo['comment_content']}</div>
    <div class="wl-neirong border cus-click-href"  data-id="{$vo['id']}"  data-type="{$vo['type']}">
        <div class="wl-nei5"> {$vo['title']}</div>
        <div class="wl-left-img" >
            <?php if(count($thumbnail) > 0):?>
            <img src="{$thumbnail['img_1']}" alt="图片"/>
            <?php else:?>
            <img src="" alt="图片"/>
            <?php endif;?>
        </div>
        <div style="clear: both"></div>
    </div>
    <ul class="wl-tubiao">
        <li><i class="iconfont icon-share_light"></i><span></span></li>
        <li><i class="iconfont icon-comment_light"></i><span>{$vo['comment_count']}</span></li>
        <li class="cus-article-fabulous" data-type="{$vo['isZan']}"  data-id="{$vo['id']}">
            <i class="iconfont  {$vo['isZan'] == 1?'icon-dianzan1 cus-blue':'icon-dianzan'} wl-fabulous-icon"></i>
            <span class="wl-dian-one">{$vo['like']}</span>
        </li>
    </ul>
</div>
{/if}
{/case}

{case 2}
<div class="wo-ju">
    <div class="wx-name9 wl-mnb">
        <div class="wl-one1-2">
            <img src="{$vo['portrait']}" alt="" class="wx-tou  cus-article-href2"
                 onerror='this.src="/static/image/user/tou.png"' data-user_id="{$vo['user_id']}">
            <dl class="wx-yh">
                <dt>{$vo['nickname']}</dt>
                <dd>{$vo['published_time']|strtotime|formatTime}</dd>
            </dl>
        </div>
    </div>
    <div class="w-zhuij"><span style="color: #7DB0E8">{$vo['huifu_nickname']?'@'.$vo['huifu_nickname']:''}</span>
        {$vo['comment_content']}
    </div>
    <div class="wx-nei1 w-onr4">
        <dl>
            <div class="wl-neirong-8  cus-click-href size" data-id="{$vo['id']}" data-type="{$vo['type']}">
                {$vo['title']}
            </div>
            <div class="wx-video">
                <video src="" controls="controls" width="100%" height="420px"/>
            </div>
        </dl>
    </div>
    <ul class="wl-tubiao">
        <li><i class="iconfont icon-share_light"></i><span></span></li>
        <li><i class="iconfont icon-comment_light"></i><span>{$vo['comment_count']}</span></li>
        <li class="cus-article-fabulous" data-type="{$vo['isZan']}"  data-id="{$vo['id']}">
            <i class="iconfont  {$vo['isZan'] == 1?'icon-dianzan1 cus-blue':'icon-dianzan'} wl-fabulous-icon"></i>
            <span class="wl-dian-one">{$vo['like']}</span>
        </li>
    </ul>
</div>
{/case}
{/switch}
{/foreach}

{/if}