{if condition="count($rows) > 0"}
    {foreach $rows as $vo}
        {php}
            $thumbnail = !empty($vo['thumbnail']) ? json_decode($vo['thumbnail'],true) :[];
        {/php}

        {switch $vo.type}
            {case 1}
                {if condition="count($thumbnail) >= 3"}
                    <div class="wl-fas">
                        <div class="wx-name9 wl-mnb" >
                            <div class="wl-one1-2" >
                                <img src="{$vo['portrait']}" alt="" class="wx-tou  cus-article-href2" onerror='this.src="/static/image/user/tou.png"' data-user_id="{$vo['user_id']}">
                                <dl class="wx-yh"><dt>{$vo['nickname']}</dt>
                                    <dd>{$vo['published_time']|strtotime|formatTime} </dd>
                                </dl>
                            </div>
                        </div>
                        <div  class="wl-neirong-8" > <span style="color: #7DB0E8">{$vo['huifu_nickname']?'@'.$vo['huifu_nickname']:''}</span> {$vo['comment_content']}</div>
                        <dl class="wl-dasiu  cus-click-href" data-id="{$vo['id']}" data-type="{$vo['type']}">
                            <div class="wl-dasda" > {$vo['title']}</div>
                            <div class="wl-img" >
                                {foreach $thumbnail as $k=>$v}
                                <dd ><img src="{$v}" alt="图片"/></dd>
                                {/foreach}
                            </div>
                        </dl>
                        <div style="position: relative;top:50px;">
                            <ul class="wx-fen" style="position:absolute;bottom: 15px;">
                                <li><i class="iconfont icon-share_light" ></i><span></span></li>
                                <li><i class="iconfont icon-comment_light" ></i><span style="margin-left: 8px;">{$vo['comment_count']}</span></li>
                                <li  data-click="{$vo['isZan']}" data-id="{$vo['id']}" class="cus-article-fabulous" >
                                    <i class="iconfont   {$vo['isZan'] == 1?'icon-dianzan1 cus-blue':'icon-dianzan'}"style=" font-size: 30px;"></i>
                                    <span>{$vo['like']}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                {elseif condition="count($thumbnail)  == 0"/}
                    <div style="width: 100%;min-height: 300px">
                        <div class="wx-name9 name1">
                            <div class="wl-one1-2">
                                <img src="{$vo['portrait']}" alt="" class="wx-tou cus-article-href2"
                                     onerror='this.src="/static/image/user/tou.png"' data-user_id="{$vo['user_id']}">
                                <dl class="wx-yh wl-on1-3">
                                    <dt>{$vo['nickname']}</dt>
                                    <dd>{$vo['published_time']|strtotime|formatTime}</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="wx-moban" style="min-height: 300px">
                            <div class="wx-nei1 cus-click-href" data-id="{$vo['id']}" data-type="{$vo['type']}">
                                <div class="wl-mo1">{$vo['comment_content']}</div>
                                <div class="wx-nei1 w-onr4  cus-click-href" data-id="{$vo['id']}" data-type="{$vo['type']}"style=" top: 5px;width: 95%;margin: 0 auto;min-height: 100px;">
                                    <dl class="w-oea">
                                        {$vo['title']}
                                    </dl>
                                </div>
                                <div style="position: relative">
                                    <ul class="wx-fen" style="position:relative;bottom: -15px">
                                        <li style="margin-left: 31px;"><i class="iconfont icon-share_light"></i><span></span></li>
                                        <li><i class="iconfont icon-comment_light"></i><span style="margin-left: 8px;">{$vo['comment_count']}</span>
                                        </li>
                                        <li data-click="{$vo['isZan']}" data-id="{$vo['id']}" class="cus-article-fabulous">
                                            <i class="iconfont   {$vo['isZan'] == 1?'icon-dianzan1 cus-blue':'icon-dianzan'}"
                                               style=" font-size: 30px;"></i>
                                            <span>{$vo['like']}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                {else /}
                    <div class="w-one3-1">
                        <div class="wx-name9 name1">
                            <div class="wl-one1-2" >
                                <img src="{$vo['portrait']}" alt="" class="wx-tou  cus-article-href2" onerror='this.src="/static/image/user/tou.png"' data-user_id="{$vo['user_id']}">
                                <dl class="wx-yh"><dt>{$vo['nickname']}</dt>
                                    <dd>{$vo['published_time']|strtotime|formatTime} </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="w-zhuij"> <span style="color: #7DB0E8">{$vo['huifu_nickname']?'@'.$vo['huifu_nickname']:''}</span> {$vo['comment_content']}</div>
                        <div class="wx-nei1 w-onr4  cus-click-href" data-id="{$vo['id']}" data-type="{$vo['type']}" style=" top: 5px;width: 90%;margin: 0 auto">
                            <dl class="w-oea">
                                <dt class="wl-daa" style="width: 58.1%;margin: 10px 0px 0px 15px;">{$vo['title']}</dt>
                                <dd  style="width: 256px; height: 180px;float: right; position: absolute;top: 2px; right: -5px; margin: 5px;">
                                    
                                    <?php if(count($thumbnail) > 0):?>
                                        <img src="{$thumbnail['img_1']}" alt="图片" style="width: 247px;height: 162px"/>
                                    <?php else:?>
                                        <img src="" alt="图片" style="width: 247px;height: 162px"/>
                                    <?php endif;?>

                                </dd>
                            </dl>
                        </div>
                        <div style="position: relative">
                            <ul class="wx-fen " style="bottom: -40px" >
                                <li><i class="iconfont icon-share_light" ></i><span></span></li>
                                <li><i class="iconfont icon-comment_light" ></i><span style="margin-left: 8px;">{$vo['comment_count']}</span></li>
                                <li  data-click="{$vo['isZan']}" data-id="{$vo['id']}" class="cus-article-fabulous" >
                                    <i class="iconfont   {$vo['isZan'] == 1?'icon-dianzan1 cus-blue':'icon-dianzan'}"style=" font-size: 30px;"></i>
                                    <span>{$vo['like']}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                {/if}
            {/case}

            {case 2}
                <div class="wo-ju" >
                    <div class="wx-name9 wl-mnb">
                        <div class="wl-one1-2">
                            <img src="{$vo['portrait']}" alt="" class="wx-tou  cus-article-href2" onerror='this.src="/static/image/user/tou.png"' data-user_id="{$vo['user_id']}">
                            <dl class="wx-yh"><dt>{$vo['nickname']}</dt>
                                <dd>{$vo['published_time']|strtotime|formatTime} </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="w-zhuij" ><span style="color: #7DB0E8">{$vo['huifu_nickname']?'@'.$vo['huifu_nickname']:''}</span> {$vo['comment_content']}</div>
                    <div class="wx-nei1 w-onr4">
                        <dl>
                            <div  class="wl-neirong-8  cus-click-href" data-id="{$vo['id']}" data-type="{$vo['type']}"> {$vo['title']}</div>
                            <div class="wx-video">
                                <video src="" controls="controls" width="100%" height="420px"/>
                            </div>
                        </dl>
                    </div>
                    <div class="wl-dya">
                        <ul class="wx-fen " style="bottom: -9px">
                            <li><i class="iconfont icon-share_light" ></i><span></span></li>
                            <li><i class="iconfont icon-comment_light" ></i><span style="margin-left: 8px;">{$vo['comment_count']}</span></li>
                            <li  data-click="{$vo['isZan']}" data-id="{$vo['id']}" class="cus-article-fabulous" >
                                <i class="iconfont   {$vo['isZan'] == 1?'icon-dianzan1 cus-blue':'icon-dianzan'}"style=" font-size: 30px;"></i>
                                <span  >{$vo['like']}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            {/case}
        {/switch}
    {/foreach}

{/if}