@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    list-style-image: none;
    list-style-type: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
input{
    outline:none;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}

body {
    position: relative;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

body {
    font-family: "思源黑体 CN";
    color: #221815;
    background: white;
}

body {
    margin: 0 auto;
    min-width: 1200px;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: block;
}

#wl-con {
    overflow: hidden;
    position: fixed;
    width:100%;
    height:100%;
    background: url("/static/web/image/bg-1.png") no-repeat center;
    background-size: cover;

}

#wl-neirong {
    width: 1070px;
    height: 440px;
    background: url("/static/web/image/bg-9.png")no-repeat;
    margin: 0 auto;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
}
#wl-neirong1 {
    width: 1070px;
    height: 440px;
    background: url("/static/web/image/bg-9.png")no-repeat;
     margin: 0 auto;
     position: absolute;
    top: 25%;
     left: 0;
     right: 0;

 }
#wl-neirong2 {
    width: 1070px;
    height: 440px;
    background: url("/static/web/image/bg-9.png")no-repeat;
    margin: 0 auto;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
}
.wl-left1 {
    width: 280px;
    height: auto;
    float: right;
    margin-right: 100px;
}
.wl-left {
    width: 280px;
    height: auto;
    margin-left: 126px;
}
.wl-left dl {
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 45px;
    padding-left: 10px;
}
.wl-left1 dl {
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 55px;
    padding-left: 15px;
}

.wl-left1 dd {
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 24px;
    padding-left: 15px;
}

.wl-left1 dt {
    color: #FFFFFF;
    font-size:14px;
    margin-top: 30px;
    padding-left: 15px;
}


.wl-left dd {
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 24px;
    padding-left: 10px;
}

.wl-left dt {
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 30px;
    padding-left: 10px;
}

.wl-zc {
     width: 88px;
     height: 44px;
     line-height: 44px;
     text-align: center;
    background: white;
     border: 1px solid white;
     color: #7DB0E8;
     font-size: 18px;
     margin-top: 38px;
    margin-left: 15px;
 }
.wl-zc1 {
    width: 88px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border: 1px solid white;
    color: #7DB0E8;
    font-size: 18px;
    margin-top: 38px;
    background: white;
    margin-left: 15px;
}

.wl-right {
    width: 510px;
    height: 510px;
    background: url("/static/web/image/bg-6.png")no-repeat;
    position: absolute;
    right: 70px;
    top: -40px;
}
.wl-right1 {
    width: 510px;
    height: 510px;
    background: url("/static/web/image/bg-6.png")no-repeat;
    position: absolute;
    left: 62px;
    top: -33px;
}

.wl-ma {
    width: 100px;
    height: 100px;
    background: black;
    float: right;
    margin-top: 20px;
    margin-right: 40px;
}

.wl-ma-dun {
    width: 180px;
    height: 50px;
    float: right;
    margin-top: 20px;
    /* margin-right: 50px; */
    background: url("/static/web/image/bg-kuang.png") no-repeat -6px -3px;
}

.wl-sao-zi{
    float: right;
    color: #A9A9A9;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 14px;
}
.wl-tub{
    min-width: 120px;
    height: auto;
    color: #7DB0E8;
    font-size: 20px;
    float: left;
    margin-left:63px;
    margin-top: 63px;
}
.wl-tub1{
    min-width: 120px;
    height: auto;
    color: #7DB0E8;
    font-size: 20px;
    float: left;
    margin-left: 53px;
    margin-top: 50px;
}
.wl-tub2{
    min-width: 120px;
    height: auto;
    color: #333333;
    font-size: 20px;
    float: left;
    margin-left: 52px;
    margin-top: 22px;
    padding-bottom: 20px;
}
.wl-shuru{
    width: 468px;
    height: 400px;
    margin: 0 auto;
    margin-top: 150px;
}
.wl-input{
    width: 320px;
    height: 52px;
    color: #A9A9A9;
    font-size: 14px;
    border: none;

}
.wl-shuru p{
    width: 382px;
    margin: 0 auto;
    border-bottom: 1px solid #A5A5A5;
}
.wl-shuru p:nth-child(2){
    margin-top: 25px;
}
.btn{
    width: 383px;
    height: 44px;
    background: #7DB0E8;
    font-size: 18px;
    text-align: center;
    line-height: 44px;
    color: #FFFEFE;
    margin-top: 65px;
    margin-left: 43px;
}
.wl-shuru1{
     width: 468px;
     height: 400px;
     margin-top: 107px;
     margin-left: 8px;
 }

.wl-shuru1 p{
    width: 381px;
    margin: 0 auto;
    border-bottom: 1px solid #A5A5A5;

}
.wl-shuru1 p:nth-child(2){
    margin-top:20px;
}
.wl-shuru1 p:nth-child(3){
    margin-top: 25px;
}
.wl-shuru1 button{
    width: 384px;
    height: 44px;
    background: #7DB0E8;
    font-size: 18px;
    text-align: center;
    line-height: 44px;
    color: #FFFEFE;
display: block;
    margin: 0 auto  ;
    margin-top: 45px;
}
.wl-cuowu{
     width: 380px;
     height: 38px;
     border: 1px solid #f85959;
     position: absolute;
     top: 100px;
     left: 63px;
     line-height: 38px;
     text-align: center;
     background: #fff1f1;
 }
.wl-cuowu1{
    width: 380px;
    height: 38px;
    border: 1px solid #f85959;
    position: absolute;
    top: 100px;
    left: 53px;
    line-height: 38px;
    text-align: center;
    background: #fff1f1;
}
.wl-cuowu2{
    width: 380px;
    height: 38px;
    border: 1px solid #f85959;
    position: absolute;
    top: 130px;
    left: 51px;
    line-height: 38px;
    text-align: center;
    background: #fff1f1;
}