@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    list-style-image: none;
    list-style-type: none;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px;
    outline:none;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}

.web-header{
    height: 50px;
    width: 100%;
    background-color:#7DB0E8 ;
}
.web-header-content{
    width: 1200px;
    height: 50px;
    margin: 0 auto;
}

.web-header-body{
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    background: #70e8e2;
}

.web-header-logo{
    width: 15%;
    height: 50px;
    float: left;
    background: url("/static/web/image/logo1.png")no-repeat 10px 9px;
    background-size: 100px;
}
.web-head-portrait{
    width: 50%;
    height: 50px;
    float: right;
    color: #000000;
    /*padding-left: 10%;*/
}
.web-head-portrait img{
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.web-footer{
    min-height: 50px;
    width: 100%;
    background-color: #eee;
}
.web-footer-content{
    width: 1200px;
    min-height: 50px;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
}
.web-footer-content span{
    margin-right: 15px;
}
.web-footer-content a{
    margin-right: 10px;
    -webkit-user-select: none;
    user-select: none;
    color: #000000;
}
.web-footer-content a:hover{
    color: #7DB0E8;
}
.web-footer-body{
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    background: #70e8e2;
}
.web-top-center{
    width: 35%;
    height: 50px;
    line-height: 50px;
    float: left;
    color: white;
}
.web-reg{
    width: 20%;
    float: left;
}
.web-reg li{
    width: 40%;
    height: 50px;
    line-height: 50px;
    float: left;
    text-align: center;
    color: white;
    cursor: pointer;
}
.web-reg li:hover{
    border-bottom: 2px solid #FEB091;
    color: #FEB091;
}
.web-article{
     width: 50%;
    margin-left:22%;
 }
.web-article li{
    width:30%;
    height: 50px;
    line-height: 50px;
    float: left;
    text-align: center;
    color: white;
    cursor: pointer;
}
.web-article li:hover{
    border-bottom: 2px solid #FEB091;
    color: #FEB091;
}