
<link rel="stylesheet" href="/static/plugin/layui/css/layui.css"  media="all">

<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="home-icon fa fa-home"></i> <a href="/admin/index/index">主页</a></li>
        <li><a href="#">商品模块</a></li>
        <li class="active">商品列表</li>
    </ul>
</div>

<section class="content" >
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"> 商品列表 </h3>
                    <div class="demoTable">
                        <div class="layui-form col-xs-2">
                            <select name="status" id="status">
                                <option value="0">正常</option>
                                <option value="1">已删除</option>
                                <option value="2">下架</option>
                                <option value="3">申请上架</option>
                            </select>
                        </div>
                        <button class="layui-btn" data-type="getInfo">搜索</button>
                    </div>


                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="">
                            <button type="button" class="btn  btn-flat" onclick="objClass.reload()"><i class="layui-icon layui-icon-refresh-3" ></i>刷新</button>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table id="table-list" lay-filter="test"></table>
                </div>
            </div>
        </div>
    </div>
</section>

{js href="/static/plugin/layui/layui.all.js" /}

<script type="text/javascript">
    layui.table.render({
        elem: '#table-list'
        ,id:'tab-reload'
        ,url: '/admin/goods/getGoodsList' //数据接口
        ,page: true
        ,request: {
            pageName: 'page' //页码的参数名称，默认：page
            ,limitName: 'page_size' //每页数据量的参数名，默认：limit
        }
        ,parseData: function(res){ //res 即为原始返回的数据
            return {
                "code": res.code, //解析接口状态
                "msg": res.msg, //解析提示文本
                "count": res.data.total, //解析数据长度
                "data": res.data.rows //解析数据列表
            };
        }
        ,cols: [[ //表头
            {field: 'id', title: 'ID', fixed: 'left',width:120},
            {field: 'goods_no', title: '商品的编号',sort:true},
            {field: 'real_name', title: '坐诊医生'},
            {field: 'enterprise_name', title: '坐诊医院'},
            {field: 'seller_id', title: '卖家ID'},
            {field: 'name', title: '项目名称'},
            {field: 'img', title: '商品图片',width:100,align:"center",templet:function (res) {
                    return '<img src="'+res.img+'" width="30" >';
                }},
            {field: 'market_price', title: '市场价格',sort:true},
            {field: 'sell_price', title: '销售价格',sort:true},
            {field: 'prepay_price', title: '预付价格',sort:true},
            {field: 'topay_price', title: '到付价格',sort:true},
            {field: 'up_time', title: '上架时间',sort:true},
            {field: 'down_time', title: '下架时间',sort:true},
            {field: 'store_nums', title: '库存/名额',sort:true},
            {field: 'status', title: '商品状态',templet:"#demoTable"},
            {field: 'status', title: '商品状态',sort:true,width:100,templet:function (res) {
                    if(res.status == 0){
                        return '<span class="label label-success" lay-event="normal">正常</span>';
                    }else if(res.status == 1){
                        return '<span class="label label-danger" lay-event="del">已删除</span>';
                    }else if(res.status ==2){
                        return '<span class="label label-warning" lay-event="lower">下架</span>';
                    }else if(res.status == 3){
                        return '<span class="label label-primary" lay-event="upper">申请上架</span>';
                    }
            }},
            {field: 'sale_num', title: '项目预约数',sort:true},
            {field: 'case_num', title: '案例数',sort:true},
            {field: 'create_time', title: '创建时间'},
        ]]
    });

    layui.table.on('tool(test)',function (obj) {
        var data = obj.data;
        if(data.status == 0 || data.status == 1 || data.status==2 || data.status || 3){
            $.ajax({
                url:"/admin/goods/getGoodsStatus",
                data:{id:data.id,data:data.status},
                type:"POST",
                dataType:"json",
                success:function (data) {
                    console.log(data)
                }
            })
        }
    });
    var $ = layui.$, active = {
        getInfo: function(){
            var status = $('#status').val();
            //执行重载
            if($('#status').val()){
                var index = layer.msg('查询中，请稍候...',{icon: 16,time:false,shade:0});
                setTimeout(function() {
                    layui.table.reload('tab-reload', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                            status: status,
                        }
                    });
                    layer.close(index);
                },800);
            }else{
                table.reload('tab-reload', {
                    where: {
                        status:status,
                    }
                });
                layui.table.reload('');
            }
        }
    };
    $('.demoTable .layui-btn').on('click', function(){
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
    });

    var objClass = {
        reload:function(){
            layui.table.reload('tab-reload', {
                page: {
                    curr: 1
                }
                ,where: {
                    key: {

                    }
                }
            });
        },
    };
</script>
