
<link rel="stylesheet" href="/static/plugin/layui/css/layui.css"  media="all">

<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="home-icon fa fa-home"></i> <a href="/admin/index/index">主页</a></li>
        <li><a href="#">认证模块</a></li>
        <li class="active">认证列表</li>
    </ul>
</div>

<section class="content" >
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="">
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" onclick="objClass.reload()" ><i class="layui-icon layui-icon-refresh-3"></i></button>
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-danger" onclick="objClass.fail()">审核失败</button>
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-warm" onclick="objClass.success()">审核成功</button>
                        </div>
                    </div>
                </div>
                <div class="nav-tabs-custom" >
                    <ul class="nav nav-tabs" id="my-tab-status">
                        <li class="active" data-status="0"><a href="#tab-box1" data-toggle="tab">认证信息</a></li>
                        <li data-status="1"><a href="#tab-box1" data-toggle="tab">待审核</a></li>
                        <li data-status="2"><a href="#tab-box1" data-toggle="tab">审核失败</a></li>
                        <li data-status="3"><a href="#tab-box1" data-toggle="tab">已审核</a></li>
                    </ul>
                    <div class="tab-content" style="min-height: 500px;">
                        <div class="tab-pane active" id="tab-box1">
                            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="layui-hide" id="table-list" lay-filter="auth"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/html" id="barDemo">
    <a class="btn btn-info btn-xs btn-detail btn-dialog" lay-event="detail">查看详情</a>
</script>
<script src='/static/plugin/layui/layui.all.js'></script>
<!--{js href="/static/plugin/layui/layui.all.js" /}-->
<script type="text/javascript">
    layui.table.render({
        elem: '#table-list'
        ,id:'tab-reload'
        ,url: '/admin/auth/getAuthList' //数据接口
        ,page: true
        ,request: {
            pageName: 'page' //页码的参数名称，默认：page
            ,limitName: 'page_size' //每页数据量的参数名，默认：limit
        }
        ,parseData: function(res){ //res 即为原始返回的数据
            return {
                "code": res.code, //解析接口状态
                "msg": res.msg, //解析提示文本
                "count": res.data.total, //解析数据长度
                "data": res.data.rows //解析数据列表
            };
        }
        ,cols: [[ //表头
            {type: 'radio', fixed: 'left'},
            {field: 'id', title: 'ID', fixed: 'left',width:60},
            {field: 'mobile', title: '用户手机号'},
            {field: 'nickname', title: '用户昵称'},
            {field: 'type', title: '认证类型',width:92,sort:true,templet:function (res) {
                    if(res.type == 1){
                        return '<span class="label label-success">个人认证</span>';
                    }else if(res.type == 2){
                        return '<span class="label label-primary">医生认证</span>';
                    }else if(res.type == 3){
                        return '<span class="label label-danger">医院认证</span>';
                    }else if(res.type == 4){
                        return '<span class="label label-warning">官方认证</span>';
                    }
                }},
            {field: 'username', title: '运营者姓名'},
            {field: 'idcard', title: '运营者身份证号'},
            // {field: 'card_img1', title: '身份证照正面照',width:75,align:"center",templet:function (res) {
            //         return '<img src="'+res.card_img1+'" width="30" >';
            //     }},
            // {field: 'card_img2', title: '身份证照背面照',width:75,align:"center",templet:function (res) {
            //         return '<img src="'+res.card_img2+'" width="30" >';
            //     }},
            // {field: 'qualification', title: '医师资格证书',width:75,align:"center",templet:function (res) {
            //         return '<img src="'+res.qualification+'" width="30" >';
            //     }},
            // {field: 'practice_certificate', title: '医师执业证书',width:75,align:"center",templet:function (res) {
            //         return '<img src="'+res.practice_certificate+'" width="30" >';
            //     }},
            // {field: 'business_licence', title: '营业执照',width:75,align:"center",templet:function (res) {
            //         return '<img src="'+res.business_licence+'" width="30" >';
            //     }},
            {field: 'enterprise_name', title: '医院/组织名称'},
            {field: 'address', title: '详细地址'},
            {field: 'duties', title: '岗位职称'},
            {field: 'founding_time', title: '医院机构成立时间'},
            {field: 'status', title: '审核状态',width:92,templet:function (res) {
                    if(res.status == 1){
                        return '<span class="label label-primary">待审核</span>';
                    }else if(res.status == 2){
                        return '<span class="label label-danger">审核失败</span>';
                    }else if(res.status == 3){
                        return '<span class="label label-success" lay-event="success">已审核</span>';
                    }
                }},
            {field: 'audit_time', title: '审核时间'},
            {field: 'audit_remark', title: '审核备注'},
            {field: 'created_time', title: '申请时间'},
            {fixed: 'right', title:'操作', toolbar: '#barDemo', width:100},
        ]]
    });

    layui.table.on('tool(auth)', function(obj){
        var data = obj.data;
        if(obj.event === 'detail'){
            layer.open({
                type: 2,
                title: '查看详情',
                shadeClose: false,
                shade: [0.3, '#393D49'],
                maxmin: false,
                area: ['893px', '550px'],
                btn:['确定','关闭'],
                content: '/admin/auth/getAuthList',//这里需要公告查看子页面，传id在弹窗打开
                success:function (layero,index) {
                    var body = layer.getChildFrame('body', index);
                    var iframeWin = window[layero.find('iframe')[0]['mobile']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                    console.log(body.html()) //得到iframe页的body内容
                }
            });
        }
    });

    var $ = layui.$, active = {
        getCheckId: function () { //获取选中数据
            var checkStatus = layui.table.checkStatus('tab-reload'),data = checkStatus.data;
            if(data.length > 0){
                var ids = data[0].id;
                return ids;
            }else {
                return '';
            }
        },
    };
    $('#my-tab-status li').on('click',function(){
        objClass.where.status = $(this).data('status');
        objClass.reload();
    });
    var objClass = {
        where:{
            status:0
        },
        reload:function(){
            layui.table.reload('tab-reload', {
                page: {curr: 1},
                where:objClass.where
            });
        },
        fail:function(){
            var ids = active.getCheckId();
            if(ids.length == 0){
                layer.alert('请选择需要操作的商品',{title:'温馨提示'});
                return  false;
            }
            var index = layer.confirm('您确定要审核失败吗？', {
                btn: ['立即审核失败','取消']
            }, function(){
                objClass.updateSatus(ids,'fail','手动审核',index);
            });
        },
        success:function(){
            var ids = active.getCheckId();
            if(ids.length == 0){
                layer.alert('请选择需要操作的商品',{title:'温馨提示'});
                return  false;
            }
            var index = layer.confirm('您确定要审核成功吗？', {
                btn: ['立即审核成功','取消']
            }, function(){
                objClass.updateSatus(ids,'success','手动审核',index);
            });
        },
        updateLoading:false,
        updateSatus:function(ids,flag,audit_remark,index){
            if(objClass.updateLoading == false){
                $.ajax({
                    url: '/admin/auth/updateAuthStatus',
                    type: 'POST',
                    data:{id:ids,flag:flag,audit_remark:audit_remark},
                    dataType: "json",
                    success: function (res) {
                        layer.close(index);
                        if(res.code == 200){
                            layer.msg('操作成功。。。', {icon: 1});
                            layui.table.reload('tab-reload', {page: {curr: objClass.currentpage}});
                        }else{
                            layer.msg('操作失败。。。', {icon: 2});
                        }
                    }
                });
            }
        }
    };
</script>