.breadcrumb{border-bottom: 1px solid #cfc5c5 !important; margin-bottom: 3px !important;border-radius: 0px}
.sidebar-menu{z-index: 999!important;}
.layui-table-tool{z-index: 3 !important;}
.btn-refresh-bg{background:#4ed6ca !important;}


#my-tab-status .active a{color: #4e98c2 !important;}

.skin-black-light .sidebar-menu>li>a{
    font-weight: none !important;
}



.pointer{
    cursor: pointer
}