{extend name="layout/layout" /}

{block name="cssOrcrsipt"}
<!--<link rel="stylesheet" href="/static/web/css1/published_article.css">-->
<link rel="stylesheet" href="/static/web/css1/my_article.css">
<link rel="stylesheet" href="/static/plugin/layui/css/layui.css">
{/block}

{block name="main"}

<div class="web-content">
    <div class="web-content-left">
        {include file="layout:navigation" /}
    </div>
    <div class="web-content-right">
        <div class="web-content-right-title" style="border: 0"><span class="web-top-title">我的商品</span></div>
        <div class="wl-xianshi-neirong">
            <div class="wl-list" id="category-container">
                <div class="wl-project category-hierarchy" data-hierarchy="1" >
                    <div>项目</div>
                    <div class="wl-liebiao">
                        <span class="se myselecte click-find-category">全部</span>
                        {foreach($categoryList as $k=>$val)}
                        <span  data-pid="{$val['id']}"  data-id="{$val['id']}" class="click-find-category">{$val['name']}</span>
                        {/foreach}
                    </div>
                    <div style="clear: both"></div>
                </div>
            </div>
            <div style="clear: both"></div>

            <div>
                <ul class="wl-sorting">
                    <li class="active click-find-sort" data-sort="0">智能排序</li>
                    <li data-sort="3" class="click-find-sort">最新上架</li>
                    <li data-sort="1" class="click-find-sort">销量最高</li>
                    <li class="wl-price" data-sort="4">
                        价格排序
                        <ul class="wl-sorting-gao" id="web-jiage">
                            <li data-sort="4" class="click-find-sort">价格最高</li>
                            <li data-sort="5" class="click-find-sort">价格最低</li>
                        </ul>
                    </li>
                </ul>

            </div>
            <div style="clear: both"></div>
            <div id="content">

            </div>
            <div style="clear: both"></div>

            <div class="wl-loading" style="">
                <div class="layui-box layui-laypage layui-laypage-default" id="click-reload-more">
                    <a href="javascript:;" class="layui-laypage-next " data-page="2"  >加载更多</a>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>

</div>
{/block}

{block name="script"}
<script src="/static/js/functions.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/plugin/layui/layui.all.js"></script>
<script id="shoptemplateList" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
    <div class="wl-shangpin-quan" style="z-index: 1;">
        <dl><img src="{{ item.img }}" alt=""></dl>
        <dt class="wl-shang-title">{{item.name}}</dt>
        <dt class="wl-yiyuan">{{item.hospital_name}}</dt>
        <dd class="wl-jiage"><sup style="font-size: 10px">￥</sup>{{item.sell_price}}</dd>
        <dd class="wl-fenxiao click-to-create" data-goods_id="{{ item.id }}">推荐分销</dd>
    </div>
    {{#  }); }}
</script>
<script>
    const isAuth = {$isAuth};
</script>
<script>
    $(".wl-sorting li").click(function () {
        $(this).addClass("active").siblings().removeClass("active");//获取选中元素的下标
    });
    $(".wl-price").click(function () {
        $(".wl-sorting-gao").toggle();
    });

    $(document).on('click', '.click-to-create', function () {
        if(isAuth == 0){
            alert('未授权操作');
            return false;
        }
        window.location.href = '/index/shop/shopEditor?gid='+$(this).data('goods_id');
    });

    var listObj = {
        params:{
            ini:true,
            page: 0,
            page_size: 16,
            category:'',
            sort:0,
            city:'',
            keywords:'',
            page_total:0,
        },
        loadlist:function(laypageObj){
            listObj.params.page++;

            if(listObj.params.ini == false && listObj.params.page > listObj.params.page_total){
                listObj.params.page--;
                $('#click-reload-more').find('a').addClass('layui-disabled').text('没有更多了');
                return false;
            }else{
                $('#click-reload-more').find('a').removeClass('layui-disabled').text('加载更多');
            }

            $.ajax({
                url: "/index/shop/getShopList",
                type: 'post',
                data: listObj.params,
                dataType: 'json',
                success: function (res) {
                    if(res.code == 200){
                        listObj.params.page_total = res.data.page_total;

                        layui.laytpl(shoptemplateList.innerHTML).render(res.data.rows, function(html){
                            console.log(listObj.params.ini);
                            if(listObj.params.ini){
                                $('#content').html(html);
                            }else{
                                $('#content').append(html);
                            }
                            listObj.params.ini = false;
                        });
                    }
                }
            });
        }
    };

    listObj.loadlist();

    var objClass = {
        categoryList:[],
        loading:false,
    };

    $(document).on('click','.click-find-category',function(){
        $(this).addClass("se").siblings().removeClass("se");
        listObj.params.ini = true;
        listObj.params.page = 0;
        listObj.params.category = $(this).data('id');
        listObj.loadlist();
    });

    $(document).on('click','.click-find-sort',function(){
        listObj.params.sort = $(this).data('sort');
        listObj.params.ini = true;
        listObj.params.page = 0;
        listObj.loadlist();
        $('#web-jiage').hide();
    });

    $('#click-reload-more').on('click',function(){
        listObj.loadlist();
    });
</script>
{/block}