{extend name="layout/layout" /}

{block name="cssOrcrsipt"}

<link rel="stylesheet" href="/static/weixin/shop/css/diary_of.css">
<link rel="stylesheet" href="/static/weixin/shop/css/diary.css">
<style>

</style>
{/block}

{block name="main"}

<div style="width: 100%;min-height: 500px;padding-bottom: 100px">
    <header>
        <div class="wl-top">
            <i class="iconfont icon-back_light top-left" onclick="redream.toReferer()"></i>
            <span>仙女鼻综合</span>
            <i class="iconfont icon-favor_light top-right1" ></i>
            <i class="iconfont icon-share_light top-right"></i>
        </div>
    </header>
    <main>
        <div class="wl-goods">
            <div class="wl-goods-left">
                <div class="wl-goods-leftimg">
                    <img src="" alt="">
                </div>
                <div class="wl-goods-right">
                    <dl>【鼻综合】爆款仙女鼻综合...</dl>
                    <dt><sup style="font-size: 8px">￥</sup>4784</dt>
                </div>
            </div>
            <div class="wl-goods-left">
                <div class="wl-goods-leftimg">
                    <img src="" alt="">
                </div>
                <div class="wl-goods-right">
                    <dl>【鼻综合】爆款仙女鼻综合...</dl>
                    <dt><sup style="font-size: 8px">￥</sup>4784</dt>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>


        <div class="wl-bianmei">
            <div class="wl-bianmei-title">
                <span class="wl-riji">我的变美日记</span>
                <span class="wl-daoxu">时间倒序</span>
            </div>

            <div class="wl-riji-shuhou">术后 <span style="color: #F24F4F">199</span>天</div>
            <div class="wl-riji-neirong">
                <div style="position: relative">
                    <dl class="wl-zhong iconfont icon-shijianlishijilujishizhongbiaomianxing " style="font-size: 12px;color: #F24F4F"></dl>
                    <dt class="wl-dian iconfont icon-yuandian" style="color: #BFBFBF"></dt>
                </div>
                <div class="wl-riji-title">【鼻综合第178天】【武汉诠美鼻综合】hello，各位小仙女们好久不见哦，前段时间太忙啦一直没有更新，今天想起来上新氧上看看.</div>
                <div class="wl-neirong-img">
                    <div class="wl-imgleft">
                        <div class="wl-left-img"><img src="/static/weixin/shop/image/index/db2.png" alt=""></div>
                        <div class="wl-foot-img">
                            <img src="" alt="">
                            <img src="/static/weixin/shop/image/index/db2.png" alt="">
                        </div>
                    </div>

                    <div class="wl-imgright">
                        <img src="/static/weixin/shop/image/index/db2.png" alt="">
                        <img src="" alt="">
                        <img src="" alt="">
                    </div>
                    <div style="clear: both"></div>
                    <div class="wl-zan"><i class="iconfont icon-zantong" style="padding-right: 5px"></i>赞3</div>
                </div>
                <div style="clear: both"></div>
            </div>

            <div class="wl-riji-shuhou">术后 <span style="color: #F24F4F">199</span>天</div>
            <div class="wl-riji-neirong">
                <div style="position: relative">
                    <dl class="wl-zhong iconfont icon-shijianlishijilujishizhongbiaomianxing " style="font-size: 12px;color: #F24F4F"></dl>
                    <dt class="wl-dian iconfont icon-yuandian" style="color: #BFBFBF"></dt>
                </div>
                <div class="wl-riji-title">【鼻综合第178天】【武汉诠美鼻综合】hello，各位小仙女们好久不见哦，前段时间太忙啦一直没有更新，今天想起来上新氧上看看.</div>
                <div class="wl-neirong-img">
                    <div class="wl-imgleft">
                        <div class="wl-left-img"><img src="/static/weixin/shop/image/index/db2.png" alt=""></div>
                        <div class="wl-foot-img">
                            <img src="" alt="">
                            <img src="/static/weixin/shop/image/index/db2.png" alt="">
                        </div>
                    </div>

                    <div class="wl-imgright">
                        <img src="/static/weixin/shop/image/index/db2.png" alt="">
                        <img src="" alt="">
                        <img src="" alt="">
                    </div>
                    <div style="clear: both"></div>
                    <div class="wl-zan"><i class="iconfont icon-zantong" style="padding-right: 5px"></i>赞3</div>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
        <div>
            <div class="wl-pinglun">
                <div class="wl-pinglun-top">评论</div>
                <div class="wl-pinglun-img">
                    <img src="/static/weixin/shop/image/nvhai.png" alt="">
                    <textarea name="" id="" cols="30" rows="10" placeholder="据说颜值高的人都爱评论"></textarea>
                </div>
            </div>
            <div class="wl-pl">
                <div class="wl-pinglun1">
                    <div style="float: left">
                        <img src="http://172.16.100.85:81/head/20181210/1439235c0e0a1b035775c0e0a1b03579.png" alt="" width="30" height="30" class="cus-touser-main " onerror="this.src='/static/image/user/tou.png'"></div>
                    <div class="wl-ping-xiang">
                        <div>
                            <div class="wl-name cus-touser-main" data-user_id="46">饶远东</div>
                        </div>
                        <div style="clear:both"></div>
                        <div class="wl-ping-neirong">你好咯呀</div>
                        <div class="wl-pji">昨天 14:29分</div>
                    </div>
                    <div style="clear:both"></div>
                </div>
                <div class="wl-pinglun1">
                    <div style="float: left">
                        <img src="http://172.16.100.85:81/head/20181210/1439235c0e0a1b035775c0e0a1b03579.png" alt="" width="30" height="30" class="cus-touser-main " onerror="this.src='/static/image/user/tou.png'"></div>
                    <div class="wl-ping-xiang">
                        <div>
                            <div class="wl-name cus-touser-main" data-user_id="46">饶远东</div>
                        </div>
                        <div style="clear:both"></div>
                        <div class="wl-ping-neirong">你好咯呀</div>
                        <div class="wl-pji">昨天 14:29分</div>
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>
        <div>
            <div class="wl-xiangguan">相关推荐</div>
            <div class="wl-tuijian">
                <div class="wl-tui1">
                    <div class="wl-tui-img"><img src="" alt=""></div>
                    <div class="wl-tui-title">【鼻综合】哈喽，宝宝们好久不见呀~今天天气完全变冷了呢，突然觉得...</div>
                    <div class="wl-tui-xaing">
                        <img src="/static/image/user/tou.png" alt="">
                        <span>用户名称</span>
                        <span class="wl-liulan"><i class="iconfont icon-yanjing1"></i>1121</span>
                    </div>
                </div>

                <div class="wl-tui1">
                    <div class="wl-tui-img"><img src="" alt=""></div>
                    <div class="wl-tui-title">【鼻综合】哈喽，宝宝们好久不见呀~今天天气完全变冷了呢，突然觉得...</div>
                    <div class="wl-tui-xaing">
                        <img src="/static/image/user/tou.png" alt="">
                        <span>用户名称</span>
                        <span class="wl-liulan"><i class="iconfont icon-yanjing1"></i>1121</span>
                    </div>
                </div>

                <div class="wl-tui1">
                    <div class="wl-tui-img"><img src="" alt=""></div>
                    <div class="wl-tui-title">【鼻综合】哈喽，宝宝们好久不见呀~今天天气完全变冷了呢，突然觉得...</div>
                    <div class="wl-tui-xaing">
                        <img src="/static/image/user/tou.png" alt="">
                        <span>用户名称</span>
                        <span class="wl-liulan"><i class="iconfont icon-yanjing1"></i>1121</span>
                    </div>
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
    </main>
    <footer>
        <div class="wl-footerzan">
            <ul class="wl-zanl">
                <li><i class="iconfont icon-dianzan text"></i>4</li>
                <li><i class="iconfont icon-comment_light text"></i>4</li>
                <li><i class="iconfont icon-favor_light text"></i>4</li>
                <li style="border: none;color: #7DB0E8">商品详情</li>
            </ul>
            <div style="clear:both"></div>
        </div>
    </footer>
</div>

{/block}

{block name="script"}

{/block}