{extend name="layout/layout" /}

{block name="cssOrcrsipt"}
<link rel="stylesheet" href="/static/css/swiper.min.css">
<link rel="stylesheet" href="/static/weixin/shop/css/diary.css">
<style>

</style>
{/block}

{block name="main"}
<header>
    <div class="wl-top">
        <i class="iconfont icon-back_light top-left" style="font-size: 25px;color: #333333"
           onclick="redream.toReferer()"></i>
        <!--<span>仙女鼻综合</span>-->
    </div>
</header>

<main style="width: 100%;min-height: 500px;padding-bottom: 45px">
    <div class="wl-meili">
        <div class="wl-meili-top">
            <div class="wl-meili-left">
                <img src="{$info['portrait']}" onerror="this.src='/static/image/user/tou.png'">
                <span class="wl-yonghu-ming">{$info['nickname']}</span>
                <!--<span class="wl-yonghu">用户</span>-->
            </div>
            <div class="wl-meili-right">
                <button data-isFollow="{$isFollow}" > {$isFollow == 1?'已关注':'＋关注'}</button>
            </div>
        </div>

        <!--用户术前术后照片-->
        <div class="wl-meili-img">
            <div class="wl-img-left">
                <img src="{:isset($info['before_imgs'][0])?$info['before_imgs'][0]:'http://172.16.100.85/static/weixin/shop/image/index/db4.png'}">
                <div class="wl-preoperative">
                    <span>术前相册</span>
                    <span>{:count($info['before_imgs'])}<i class="iconfont icon-xiangce1"></i></span>
                </div>
                <img src="{:isset($info['after_imgs'][0])?$info['after_imgs'][0]:'http://172.16.100.85/static/weixin/shop/image/index/db4.png'}" style="margin-left: 10px">
                <div class="wl-preoperative1">
                    <span>术后相册</span>
                    <span>{:count($info['after_imgs'])}<i class="iconfont icon-xiangce1"></i></span>
                </div>
            </div>
        </div>

        {if($goods_infos)}
        <div class="swiper-container ">
            <div class="swiper-wrapper img-gao">
                {foreach($goods_infos as $goods)}
                <div class="swiper-slide  dd">
                    <div class="wl-top-title"><i class="iconfont icon-shangpin4" style="font-size: 10px;"></i>下单商品</div>
                    <div class="wl-shang">
                        <div class="wl-img"><img src="{$goods['img']}"></div>
                        <div class="wl-title">{$goods['name']}</div>
                        <div class="wl-goumai">
                            <span><sub style="font-size: 9px">￥</sub>{$goods['sell_price']}</span>
                            <a href="{:url('/weixin/shop/goodsDetails',['goodsid'=>$goods['id']])}" class="wl-qugoumai">去购买</a>
                        </div>
                    </div>
                </div>
                {/foreach}
            </div>
            <div class="swiper-pagination"></div>
        </div>
        {/if}

    </div>
    <!--我的变美日记-->
    <div class="wl-bianmei">
        <div class="wl-bianmei-title">
            <span class="wl-riji">我的变美日记</span>
            <span class="wl-daoxu" data-order="asc" id="diary-order-by">时间排序 <i class="iconfont icon-iconsort"></i></span>
        </div>
        <div class="diary-list-box">
            {if($diaryList)}
                {foreach($diaryList as $diary)}
                    <div class="wl-riji-neirong diary-list" data-day="{$diary['day']}">
                        <div style="position: relative">
                            <dl class="wl-zhong iconfont icon-shijianlishijilujishizhongbiaomianxing "
                                style="font-size: 12px;color: #F24F4F"></dl>
                            <dt class="wl-dian iconfont icon-yuandian" style="color: #BFBFBF"></dt>
                        </div>
                        <div class="wl-riji-shuhou">术后<span style="color: #F24F4F">{$diary['day']}</span>天</div>
                        <div style="" class="wl-riji-xiang">
                            <div class="wl-riji-title">{$diary['content']}</div>
                            <div class="wl-neirong-img">
                                <div class="wl-img-top">
                                    <div class="wl-img-top-left">
                                        <img src="{:isset($diary['imgs'][0])?$diary['imgs'][0]:'http://172.16.100.85/static/weixin/shop/image/index/db4.png'}" >
                                    </div>
                                    <div class="wl-img-top-right">
                                        <img src="{:isset($diary['imgs'][1])?$diary['imgs'][1]:'http://172.16.100.85/static/weixin/shop/image/index/db4.png'}" >
                                        <img src="{:isset($diary['imgs'][2])?$diary['imgs'][2]:'http://172.16.100.85/static/weixin/shop/image/index/db4.png'}" >
                                    </div>
                                </div>

                                {if(count($diary['imgs']) >= 6)}
                                    <div style="clear: both"></div>
                                    <div class="wl-top-two">
                                        <img src="{$diary['imgs'][3]}" alt="">
                                        <img src="{$diary['imgs'][4]}" alt="">
                                        <img src="{$diary['imgs'][5]}" alt="">
                                    </div>
                                {/if}
                                <div style="clear: both"></div>
                                <!--<div class="wl-zan">-->
                                    <!--<span><i class="iconfont icon-attention wl-fenge"></i>5</span>-->
                                    <!--<span><i class="iconfont icon-comment_light  wl-fenge"></i>5</span>-->
                                    <!--<span><i class="iconfont icon-dianzan2 wl-fenge"></i>3</span>-->
                                <!--</div>-->
                            </div>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                {/foreach}
            {/if}
        </div>
    </div>

    <div class="wl-pinglun">
        <div class="wl-pinglun-top">热门评论</div>
        <div class="wl-pinglun-img">
            <img src="/static/weixin/shop/image/nvhai.png" alt=""/>
            <textarea name="" id="" cols="30" rows="10" placeholder="据说颜值高的人都爱评论" readonly class="wl-comments"></textarea>
        </div>
    </div>

    {if($commentList)}
        <div class="wl-pl">
            {foreach($commentList as $comment)}
                <div class="wl-pinglun1">
                    <div style="float: left">
                        <img src="{$comment['portrait']}"  width="30"  height="30" class="cus-touser-main " onerror="this.src='/static/image/user/tou.png'"></div>
                    <div class="wl-ping-xiang1">
                        <div><div class="wl-name1 cus-touser-main" data-user_id="46">{$comment['content']}</div></div>
                        <div style="clear:both"></div>
                        <div class="wl-ping-neirong">{$comment['nickname']}</div>
                        <div class="wl-pji">{:formatTime(strtotime($comment['created_time']))}</div>
                    </div>
                    <div style="clear:both"></div>
                </div>
            {/foreach}

            {if(count($commentList) ==5)}
                <div class="wl-chakna wl-comments-num">查看更多 <i class="iconfont icon-pull_down"></i></div>
            {/if}
        </div>
    {/if}

    <div class="wl-xiangguan">相关推荐</div>
    <div class="wl-tuijian">
        <div class="wl-tui1">
            <div class="wl-tui-img"><img src="https://inews.gtimg.com/newsapp_bt/0/7046310058/641" alt=""></div>
            <div class="wl-tui-title">【鼻综合】哈喽，宝宝们好久不见呀~今天天气完全变冷了呢，突然觉得...</div>
            <div class="wl-tui-xaing">
                <img src="/static/image/user/tou.png" alt="">
                <span>用户名称</span>
                <span class="wl-liulan"><i class="iconfont icon-yanjing1"></i>1121</span>
            </div>
        </div>

        <div class="wl-tui1">
            <div class="wl-tui-img"><img src="https://inews.gtimg.com/newsapp_bt/0/7046310058/641" alt=""></div>
            <div class="wl-tui-title">【鼻综合】哈喽，宝宝们好久不见呀~今天天气完全变冷了呢，突然觉得...</div>
            <div class="wl-tui-xaing">
                <img src="/static/image/user/tou.png" alt="">
                <span>用户名称</span>
                <span class="wl-liulan"><i class="iconfont icon-yanjing1"></i>1121</span>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>

</main>

<footer>
    <div class="wl-footerzan">
        <ul class="wl-zanl">
            <li  id="cus-click-fabulous" data-type="{$info['isZan']}">
                <span class="wl-islike"  data-id="{$info['id']}"></span>
                <i class="iconfont {$info['isZan']== 1?'icon-dianzan1 cus-sou':'icon-dianzan'} text"></i>
                <font>{$info['like']}</font>
            </li>
            <li class="wl-comments-num"><span class="wl-islike "></span><i class="iconfont icon-comment_light text"></i>{$info['comment']}</li>
            <li style="border: none;color: #7DB0E8">商品详情</li>
        </ul>
        <div style="clear:both"></div>
    </div>
</footer>

<div class="marsk-container">
    <div class="tkyy_con">
        <div><div class="wl-tan-pinglun"><i id="cus-pinglun-num">0</i>条评论 <span class="iconfont icon-guanbi1 wl-quxiao href"></span></div></div>
        <div class="wl-foot-gundong " style="overflow-x:hidden">
            <div id="container-list">

            </div>
        </div>
        <div class="cus-footer">
            <input type="text" placeholder="据说颜值高的人都爱评论" class="wl-foot-input">
        </div>
    </div>
</div>

<div class="wl-zhez2">
    <div class="wl-zl2">
            <textarea name="wl-text" cols="30" rows="10" class="wl-text" id="cus-comment-pid" placeholder="有爱评论，说点好听的..."></textarea>
        <i class="wl-fabu iconfont icon-fabu" onclick="myObj.publishComment()"></i>
    </div>
</div>
{/block}

{block name="script"}
<script src="/static/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/plugin/layui/layui.all.js"></script>
<script id="templateList" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
    <div class="wl-pinglun">
        <div style="float: left">
            <img src="{{item.portrait}}" alt="" width="30" height="30" onerror="this.src ='/static/image/user/tou.png'"  data-user_id="{{item.user_id}}" class="cus-touser-main">
        </div>
        <div class="wl-ping-xiang">
            <div>
                <div class="wl-name cus-touser-main" data-user_id="{{item.user_id}}">{{item.nickname}}</div>
                <div class=" wl-dianzan cus-comment-fabulous" data-id="{{item.id}}" data-type="{{item.islike}}">
                    {{# if(item.islike == 0){ }}
                    <dl class="iconfont icon-likefill wl-font-size"></dl>
                    {{# } }}

                    {{# if(item.islike == 1){ }}
                    <dl class="iconfont icon-likefill wl-font-size cus-red"></dl>
                    {{# } }}

                    <dt class="wl-dian-one" style="font-size: 13px">{{item.like_count}}</dt>
                </div>
            </div>
            <div style="clear:both"></div>
            <div class="wl-ping-neirong">{{item.content}}</div>
            <div class="wl-pji">{{item.created_time}}</div>
        </div>
        <div style="clear:both">
        </div>
    </div>
    {{#  }); }}
</script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        autoplay: true,//可选选项，自动滑动
        pagination: {
            el: '.swiper-pagination',
        },
    });

    $(".wl-comments").click(function (event) {
        event.stopPropagation(); //停止事件冒泡
        $(".marsk-container").show();
        $("body,html").css({
            "height": "100%",
            "overflow": "hidden"
        });
    })
    $(".wl-comments-num").click(function (event) {
        event.stopPropagation(); //停止事件冒泡
        $(".marsk-container").show();
        $("body,html").css({
            "height": "100%",
            "overflow": "hidden"
        });
    })
    //点击空白处隐藏弹出层
    $(".marsk-container").click(function (event) {
        var _con = $('.tkyy_con'); // 设置目标区域
        if (!_con.is(event.target) && _con.has(event.target).length == 0) {
            $('.marsk-container').hide(); //淡出消失
        }
    }).on('touchstart', function (event) {
        var _con = $('.tkyy_con'); // 设置目标区域
        if (!_con.is(event.target) && _con.has(event.target).length == 0) {
            $('.marsk-container').hide(); //淡出消失
            $("body").removeClass("body");
        }
        event.stopPropagation(); //停止事件冒泡
    });


    $(".wl-quxiao").click(function () {
        $(".marsk-container").hide();
        $("body").removeClass("body");
        $("body,html").css({
            "height": "100%",
            "overflow": "auto"
        });
    });
    $('.wl-tan-pinglun').on('touchstart', function (event) {
        $('.wl-foot-gundong').css('overflowY', "auto");
    });

    $('.wl-tan-pinglun').on('click', function (event) {
        $('.wl-foot-gundong').css('overflowY', "auto");
    });
    $(".wl-foot-input").click(function (event) {
        event.stopPropagation(); //停止事件冒泡
        $(".wl-zhez2").toggle();
        $('.wl-text').focus();
    });
    $(document).on('input', 'textarea', function () {
        if (($.trim($('.wl-text').val()) !== "")) {
            $('.wl-fabu').css({'color': '#7DB0E8'});
        } else {
            $('.wl-fabu').css({'color': '#B7B7B9'});
        }
    });
    $(".wl-zhez2").click(function (event) {
        var _con = $('.wl-zl2'); // 设置目标区域
        if (!_con.is(event.target) && _con.has(event.target).length == 0) {
            $('.wl-zhez2').hide(); //淡出消失
        }
    });


    var wlObj = {
        desc:[],
        asc:[],
    };
    $('#diary-order-by').on('click',function(){
        if($(this).data('order') == 'desc'){
            $('.diary-list-box').html('');
            $.each(wlObj.desc,function(k,html){
                $('.diary-list-box').append(html);
            });
            $(this).data('order','asc').find('i').removeClass('icon-iconasc').addClass('icon-iconsort');
        }else{
            if(wlObj.desc.length == 0 && wlObj.asc.length == 0){
                var asc  = [];
                var desc = [];
                $.each($('.diary-list'),function(k,html){
                    asc[parseInt($('.diary-list')[k].dataset.day)] = html;
                    desc.push(html);
                });
                wlObj.desc = desc;
                wlObj.asc  = asc;
            }

            $('.diary-list-box').html('');
            $.each(wlObj.asc,function(k,html){
                $('.diary-list-box').append(html);
            });

            $(this).data('order','desc').find('i').removeClass('icon-iconsort').addClass('icon-iconasc');
        }
    });
</script>
<script>
    const id = {$info['id']};
    var myObj = {
        goods: {
            listData: {
                diary_id: id,
                loading: false,
                ini: false,
                page: 0,
                page_total: 1,
                page_size: 10,
            },
            loadList: function () {
                if (myObj.goods.listData.loading) {
                    return false;
                }
                $.ajax({
                    url: "/weixin/api/getDiaryComment",
                    type: 'post',
                    data: {
                        diary_id: myObj.goods.listData.diary_id,
                        page: myObj.goods.listData.page,
                        page_size: myObj.goods.listData.page_size
                    },
                    dataType: 'json',
                    beforeSend: function () {
                        myObj.goods.listData.loading = true;
                    },
                    complete: function () {
                        myObj.goods.listData.loading = false;
                    },
                    success: function (res) {
                        if (res.code == 200) {
                            $('#container-list').html('');
                            if (res.data.page_total == 0) {
                                $('#container-list').html(' <div class="wl-no-shuju"> <dl class="iconfont icon-tianxierenzhengxinxi"></dl> <dt>暂无评论</dt></div>');
                            }

                            $("#cus-pinglun-num").html(res.data.total);
                            layui.laytpl(templateList.innerHTML).render(res.data.rows, function (html) {
                                $('#container-list').append(html);
                            });
                        }
                    }
                });
            }
        },
        giveLikeLoading: false,
        giveLike: function (o, dataObj) {
            if (myObj.giveLikeLoading == false) {
                $.ajax({
                    url: "/weixin/user/giveFabulous",
                    type: 'post',
                    data: dataObj,
                    dataType: 'json',
                    beforeSend: function () {
                        myObj.giveLikeLoading = true;
                    },
                    complete: function () {
                        myObj.giveLikeLoading = false;
                    },
                    success: function (res) {
                        if (res.code == 200) {
                            if (dataObj.flag == 2) {
                                var num = parseInt(o.find('.wl-dian-one').text());
                                if (dataObj.type == 1) {
                                    o.data('type', 1).find('.iconfont').addClass("cus-red");
                                    num++;
                                    o.find('.wl-dian-one').text(num);
                                } else {
                                    o.data('type', 0).find('.iconfont').removeClass('cus-red');
                                    num--;
                                    o.find('.wl-dian-one').text(num);
                                }
                            } else if (dataObj.flag == 4) {
                                var num = parseInt(o.find('font').text());
                                if (dataObj.type == 1) {
                                    num++;
                                    o.data('type', 1).find('i').removeClass('icon-dianzan').addClass("icon-dianzan1").addClass('cus-sou');
                                } else {
                                    num--;
                                    o.data('type', 0).find('i').removeClass('cus-sou').removeClass('icon-dianzan1').addClass("icon-dianzan");
                                }
                                o.find('font').text(num);
                            }
                        } else if (res.code == 401) {
                            redream.showTip('请登录后操作...');
                        }
                    }
                });
            }
        },
        recommended: {
            listData: {
                diary_id: id,
                loading: false,
                ini: false,
                page: 0,
                page_total: 1,
                page_size: 3,
            },
            loadList: function () {
                if (myObj.recommended.listData.loading) {
                    return false;
                }
                myObj.recommended.listData.page++;
                if (myObj.recommended.listData.ini == true) {
                    if (myObj.recommended.listData.page > myObj.recommended.listData.page_total) {
                        return false;
                    }
                }
                $.ajax({
                    url: "/weixin/shopapi/getGoodGoodsRelevant",
                    type: 'post',
                    data: {
                        gid: myObj.recommended.listData.diary_id,
                        page: myObj.recommended.listData.page,
                        page_size: myObj.recommended.listData.page_size
                    },
                    dataType: 'json',
                    beforeSend: function () {
                        myObj.recommended.listData.loading = true;
                    },
                    complete: function () {
                        myObj.recommended.listData.loading = false;
                    },
                    success: function (res) {
                        if (res.code == 200) {
                            if (myObj.recommended.listData.ini == false) {
                                myObj.recommended.listData.ini = true;
                                myObj.recommended.listData.page_total = res.data.page_total;
                                $('#recommended-List').html('');
                                if (res.data.page_total == 0) {
                                    $('#container-list').html(' <div class="wl-no-shuju" style="margin-top: 40px"> <dl class="iconfont icon-tianxierenzhengxinxi" style="font-size: 30px"></dl> <dt style="margin: 0">暂无商品</dt></div>');
                                }
                            }
                            layui.laytpl(recommendedList.innerHTML).render(res.data.rows, function (html) {
                                $('#container-list').append(html);
                            });
                        }
                    }
                });
            }
        },


        publishCommentConf: {
            loading: false,
        },
        publishComment: function (type, flag) {
            var content = $('.wl-text').val();
            $('.wl-text').focus();
            $('.wl-text').val('');
            var pid = $('#cus-comment-pid').val();
            $.ajax({
                url: "/weixin/api/addDiaryComment",
                type: 'post',
                data: {
                    obj_id: id,
                    content: content
                },
                dataType: 'json',
                beforeSend: function () {
                    myObj.publishCommentConf.loading = true;
                },
                success: function (res) {
                    myObj.publishCommentConf.loading = false;
                    if (res.code == 200) {
                        $('.wl-zhez2').hide();
                        redream.showTip('发布成功');
                        $('.wl-text').val('').blur();
                        $('.wl-foot-gundong ').animate({scrollTop:0});
                        myObj.goods.loadList();
                    } else if (res.code == 401) {
                        redream.showTip('请先进行登录');
                        $('.wl-zhez2').hide();
                    }else{
                        redream.showTip('评论失败');
                    }
                }
            });
        },
    }
    myObj.goods.loadList();
    $(document).on('click', '.cus-comment-fabulous', function () {
        var type = $(this).data('type');
        if (type == 0) {
            type = 1;
        } else {
            type = 2;
        }
        myObj.giveLike($(this), {type: type, obj_id: $(this).data('id'), flag: 2});
    });

    $('#cus-click-fabulous').on('click', function () {
        var type = $(this).data('type');
        if (type == 0) {
            type = 1;
        } else {
            type = 2;
        }
        myObj.giveLike($(this), {type: type, obj_id: id, flag: 4});
    });

</script>
{/block}