{extend name="layout/layout" /}

{block name="cssOrcrsipt"}
<link rel="stylesheet" href="/static/shop/css/goods_details.css">

<style>

</style>
{/block}

{block name="main"}
<div style="width: 100%;min-height: 500px;padding-bottom: 100px">
    <header>
        <div class="wl-top">
            <i class="iconfont icon-back_light top-left" style="font-size: 25px;color: #333333"></i>
            <span>商品详情页</span>
            <i class="iconfont icon-favor_light top-right1"style="font-size: 25px;color: #333333"></i>
            <i class="iconfont icon-share_light top-right"style="font-size: 25px;color: #333333"></i>
        </div>
    </header>
<main>
    <div class="swiper-container img-gao">
        <div class="swiper-wrapper ">
            <div class="swiper-slide"><img src="/static/shop/image/index/bg3.jpg" alt=""></div>
            <div class="swiper-slide"><img src="/static/shop/image/index/bg2.jpg" alt=""></div>
            <div class="swiper-slide"><img src="/static/shop/image/index/bg1.jpg" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="wl-neirong">
        <div class="wl-title">【鼻综合】爆款仙女鼻综合@马金荣院长 预约18抵300元 半肋隆鼻9999</div>
        <div class="wl-jiage">
            <div class="wl-jiage"><span class="wl-jiage1"><sub style="font-size: 8px">￥</sub><span>4456</span></span><span class="wl-quchu">￥5980</span></div>
        </div>
        <div class="wl-zizhi">
          资质认证 . 全程认证 .全程陪护 . 定期回访 <i class="iconfont icon-back_left-copy" style="font-size: 15px;float: right;margin-right: 10px"></i>
        </div>
        <div class="wl-dizhi">
            <div class="wl-dianhua">
                <div class="dianhua-left">
                    <dl>上海薇琳医疗美容医院 <i class="iconfont icon-renzheng1"style="font-size: 20px;color: #F19149"></i></dl>
                    <dt><i class="iconfont icon-xingji" style="font-size: 18px;color:#7DB0E8;"></i>
                        <i class="iconfont icon-xingji" style="font-size: 18px;color:#7DB0E8;"></i>
                        <i class="iconfont icon-xingji" style="font-size: 18px;color:#7DB0E8;"></i>
                        <i class="iconfont icon-xingji" style="font-size: 18px;color:#7DB0E8;"></i>
                        <i class="iconfont icon-xingji" style="font-size: 18px;color:#7DB0E8;"></i>
                        <i class="wl-lu" style="    float: right;">江宁路</i>
                    </dt>
                </div>
                <div class="dianhua-right"><i class="iconfont icon-dianhua" style="font-size: 20px;color: #7DB0E8;margin: 0 auto"></i></div>
                <div style="clear: both"></div>
            </div>
            <div class="wl-dizhixaing">
                <i class="iconfont icon-dingwei1" style="font-size: 15px;color: #BFBFBF"></i>
               <span style="margin-left: 5px"> 江宁路818号(江宁路与海防路交叉口)</span>
                <i class="iconfont icon-back_left-copy"style="font-size: 15px;float: right;margin-right: 10px"></i>
            </div>
        </div>
        <div class="wl-yishi">
            <div class="wl-tuijian">
                <span>推荐医师</span>
                <span>共5名医师</span>
            </div>
            <div class="wl-lunbo-yishi">
                <div class="wl-yishi-left">
                    <div class="wl-ysname">
                        <img src="/static/image/user/tou.png" alt="">
                        <i class="wl-tubiao"></i>
                        <dl>医生姓名</dl>
                        <dt>职称</dt>
                        <dd>预约4</dd>
                    </div>
                </div>
                <div class="wl-yishi-left">
                    <div class="wl-ysname">
                        <img src="/static/image/user/tou.png" alt="">
                        <i class="wl-tubiao"></i>
                        <dl>医生姓名</dl>
                        <dt>职称</dt>
                        <dd>预约4</dd>
                    </div>
                </div>
                <div class="wl-yishi-left">
                    <div class="wl-ysname">
                        <img src="/static/image/user/tou.png" alt="">
                        <i class="wl-tubiao"></i>
                        <dl>医生姓名</dl>
                        <dt>职称</dt>
                        <dd>预约4</dd>
                    </div>
                </div>
                <div class="wl-yishi-left">
                    <div class="wl-ysname">
                        <img src="/static/image/user/tou.png" alt="">
                        <i class="wl-tubiao"></i>
                        <dl>医生姓名</dl>
                        <dt>职称</dt>
                        <dd>预约4</dd>
                    </div>
                </div>
                <div class="wl-yishi-left">
                    <div class="wl-ysname">
                        <img src="/static/image/user/tou.png" alt="">
                        <i class="wl-tubiao"></i>
                        <dl>医生姓名</dl>
                        <dt>职称</dt>
                        <dd>预约4</dd>
                    </div>
                </div>
        </div>
    </div>
        <div class="wl-jieshao">
            <div class="wl-shangping">商品详情</div>
            <div class="wl-xiang">
                <span class="wl-jie"> 【鼻综合】爆款仙女鼻综合@马金荣院长 预约18抵300元 半肋隆鼻9999</span>
                <span class="wl-fenshu"><span>1份&nbsp;&nbsp;|</span>&nbsp;&nbsp;4784元</span>
            </div>
            <div class="wl-menshi">
                <span style="text-decoration: line-through;">门市价:5980元</span>
                <span style="margin-left: 5px">优惠价:<span style="color: #FF615C">4784元</span></span></div>
        </div>
        <div style="clear: both"></div>
        <div>
            <ul class="wl-deji">
                <li  class="active">全部项目</li>
                <li>眼部</li>
                <li>鼻部</li>
            </ul>

            <div class="content">
                <div class="wl-d active">
                    <div class="wl-youshi">
                        <p class="wl-bizonghe"><i class="iconfont icon-wuxing"style="margin-right: 8px"></i>鼻综合的优势：</p>
                        <p class="wl-bineirong">
                            能够改变鼻部缺陷，重建鼻部软三角结构；
                            塑造符合审美标准、与面部比例协调的个性美鼻；
                            通过一次手术，综合调整各方面鼻部不美的状态;
                            一次手术解决两个或两个以上的鼻部问题，达到整体的自然、协调美。
                        </p>
                    </div>
                    <div class="wl-img">
                        <img src="/static/shop/image/index/b1.jpg" alt="">
                        <img src="/static/shop/image/index/b2.jpg" alt="">
                        <img src="/static/shop/image/index/b3.jpg" alt="">
                    </div>
                    <div style="clear: both"></div>
                    <div class="wl-xuzhi">
                        <div class="wl-shangping1">购买须知</div>
                        <div>
                            <dl>有效期</dl>
                            <dt><i class="iconfont icon-yuandian"style="font-size: 17px;float: left;margin-top: 1px;"></i>
                                购买当天起90天内有效</dt>
                        </div>
                        <div style="clear: both"></div>
                        <div>
                            <dl>预约信息</dl>
                            <dt><i class="iconfont icon-yuandian"style="font-size: 17px;float: left;margin-top: 1px;"></i>
                                请您提前1天预约</dt>
                        </div>
                        <div style="clear: both"></div>
                        <div>
                            <dl>可用时间</dl>
                            <dt><i class="iconfont icon-yuandian"style="font-size: 17px;float: left;margin-top: 1px;"></i>
                                10:00:00至22:00:00</dt>
                        </div>
                        <div style="clear: both"></div>
                        <div>
                            <dl>消费流程</dl>
                            <dt><i class="iconfont icon-yuandian"style="font-size: 17px;float: left;margin-top: 1px;"></i>
                                下订单并支付预付金</dt>
                            <div style="clear: both"></div>
                            <dt><i class="iconfont icon-yuandian"style="font-size: 17px;float: left;margin-top: 1px;"></i>
                                到店后将消费码给商户进行验证，并支付尾款</dt>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                    <div class="wl-gengduo">
                        <div class="wl-shangping2">更多本店热门商品</div>
                        <div class="wl-remen">
                            <div class="wl-remen-img">
                                <img src="" alt="">
                            </div>
                            <div class="wl-remen-right">
                                <dl>伊婉C玻尿酸.亚洲人更适合的</dl>
                                <dt>品牌：伊婉C</dt>
                                <dd>
                                    <span class="wl-jiage1"><sub style="font-size: 8px">￥</sub><span>4456</span></span>
                                    <span class="wl-quchu">￥5980</span>
                                    <span class="wl-jia-right">已售15 </span>
                                </dd>
                            </div>
                        </div>
                        <div class="wl-remen">
                            <div class="wl-remen-img">
                                <img src="" alt="">
                            </div>
                            <div class="wl-remen-right">
                                <dl>伊婉C玻尿酸.亚洲人更适合的</dl>
                                <dt>品牌：伊婉C</dt>
                                <dd>
                                    <span class="wl-jiage1"><sub style="font-size: 8px">￥</sub><span>4456</span></span>
                                    <span class="wl-quchu">￥5980</span>
                                    <span class="wl-jia-right">已售15 </span>
                                </dd>
                            </div>
                        </div>
                        <div class="wl-remen">
                            <div class="wl-remen-img">
                                <img src="" alt="">
                            </div>
                            <div class="wl-remen-right">
                                <dl>伊婉C玻尿酸.亚洲人更适合的</dl>
                                <dt>品牌：伊婉C</dt>
                                <dd>
                                    <span class="wl-jiage1"><sub style="font-size: 8px">￥</sub><span>4456</span></span>
                                    <span class="wl-quchu">￥5980</span>
                                    <span class="wl-jia-right">已售15 </span>
                                </dd>
                            </div>
                        </div>
                    </div>
                    <div class="wl-re-footer">
                        <div class="wl-yuyue">
                            <dl>预约金:<span class="wl-jiage2"><sub style="font-size: 10px">￥</sub><span>4456</span></span></dl>
                            <dd>到院尾付:￥3827</dd>
                        </div>
                        <div class="wl-qianggou">
                            立即抢购
                        </div>
                    </div>
                </div>
                <div class="wl-d ">

                    2
                </div>
                <div class="wl-d ">

                    3
                </div>
            </div>
        </div>
    </div>
</main>
</div>
{/block}

{block name="script"}
<script>
    var mySwiper = new Swiper('.swiper-container', {
        autoplay: true,//可选选项，自动滑动
        pagination: {
            el: '.swiper-pagination',
        },
    })
    $(".wl-deji li").click(function()　　 {　　　　 //获取点击的元素给其添加样式，讲其兄弟元素的样式移除
        $(this).addClass("active").siblings().removeClass("active");　　　　 //获取选中元素的下标
        var index = $(this).index();
        $(this).parent().siblings().children().eq(index).addClass("active").siblings().removeClass("active");

    });
</script>
{/block}