{extend name="layout/layout" /}

{block name="cssOrcrsipt"}
<link rel="stylesheet" href="/static/css/swiper.min.css">
<link rel="stylesheet" href="/static/weixin/shop/css/goods_details.css">

<style>

</style>
{/block}

{block name="main"}
<div style="width: 100%;min-height: 500px;padding-bottom: 100px;min-height: 40px">
    <header>
        <div class="wl-top">
            <div style="position: relative;" class="href">
                <i class="iconfont icon-back_light top-left" style="font-size: 25px;color: #333333"
                   data-href="{:url('weixin/shop/index')}" id="click-to-referer"></i>
                <span>商品详情页</span>
                <i class="iconfont {$info['goods_info']['isfavorite']== 1?'icon-favor_fill_light cus-sou':'icon-favor_light'} top-right1" style="font-size: 25px;color: #333333" data-type="{$info['goods_info']['isfavorite']}"  data-gid="{$info['goods_info']['id']}"  id="cus-click-collection"></i>
                <i class="iconfont icon-share_light top-right" style="font-size: 25px;color: #333333"></i>
            </div>
        </div>
    </header>
    <main style="margin-top: 40px">
        <div class="swiper-container img-gao">
            <div class="swiper-wrapper ">
                {foreach $info['imgs'] as $img }
                <div class="swiper-slide"><img src="{$img}" alt=""></div>
                {/foreach}
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="wl-neirong" id="cus-test-content">
            <div class="wl-title">{$info['goods_info']['name']}</div>
            <div class="wl-jiage">
                <div class="wl-jiage">
                    <span class="wl-jiage1"><sub
                            style="font-size: 8px">￥</sub><span>{$info['goods_info']['sell_price']}</span></span>
                    <span class="wl-quchu">￥{$info['goods_info']['market_price']}</span>
                </div>
            </div>

            <div class="wl-zizhi href">
                资质认证 . 全程认证 .全程陪护 . 定期回访
                <i class="iconfont icon-back_left-copy" style="font-size: 15px;float: right;margin-right: 10px"></i>
            </div>

            <div class="wl-dizhi">
                <div class="wl-dianhua">
                    <div class="dianhua-left">
                        <dl><a href="/weixin/index/hospitalDetails/uid/{$info['hospital_info']['user_id']}">{$info['hospital_info']['hospital_name']}</a> <i class="iconfont icon-renzheng1"   style="font-size: 20px;color: #F19149"></i>
                        </dl>
                        <dt><i class="iconfont icon-xingji" style="font-size: 18px;color:#7DB0E8;"></i>
                            <i class="iconfont icon-xingji" style="font-size: 18px;color:#7DB0E8;"></i>
                            <i class="iconfont icon-xingji" style="font-size: 18px;color:#7DB0E8;"></i>
                            <i class="iconfont icon-xingji" style="font-size: 18px;color:#7DB0E8;"></i>
                            <i class="iconfont icon-xingji" style="font-size: 18px;color:#7DB0E8;"></i>
                            <!--<i class="wl-lu" style="float: right;">江宁路</i>-->
                        </dt>
                    </div>
                    <div class="dianhua-right"><i class="iconfont icon-dianhua"  style="font-size: 20px;color: #7DB0E8;margin: 0 auto"></i></div>
                    <div style="clear: both"></div>
                </div>
                <div class="wl-dizhixaing">
                    <i class="iconfont icon-dingwei1" style="font-size: 15px;color: #BFBFBF"></i>
                    <span style="margin-left: 5px"> {$info['hospital_info']['address_dateil']}</span>
                    <!--<i class="iconfont icon-back_left-copy" style="font-size: 15px;float: right;margin-right: 10px"></i>-->
                </div>
            </div>
            <!--<div class="wl-yishi">
                <div class="wl-tuijian">
                    <span>推荐医师</span>
                    <span>共5名医师</span>
                </div>
                <div class="wl-lunbo-yishi">
                    <div class="wl-yishi-left">
                        <div class="wl-ysname">
                            <img src="/static/image/user/tou.png" alt="">
                            <i class="wl-tubiao"></i>
                            <dl>医生姓名</dl>
                            <dt>职称</dt>
                            <dd>预约4</dd>
                        </div>
                    </div>
                    <div class="wl-yishi-left">
                        <div class="wl-ysname">
                            <img src="/static/image/user/tou.png" alt="">
                            <i class="wl-tubiao"></i>
                            <dl>医生姓名</dl>
                            <dt>职称</dt>
                            <dd>预约4</dd>
                        </div>
                    </div>
                    <div class="wl-yishi-left">
                        <div class="wl-ysname">
                            <img src="/static/image/user/tou.png" alt="">
                            <i class="wl-tubiao"></i>
                            <dl>医生姓名</dl>
                            <dt>职称</dt>
                            <dd>预约4</dd>
                        </div>
                    </div>
                    <div class="wl-yishi-left">
                        <div class="wl-ysname">
                            <img src="/static/image/user/tou.png" alt="">
                            <i class="wl-tubiao"></i>
                            <dl>医生姓名</dl>
                            <dt>职称</dt>
                            <dd>预约4</dd>
                        </div>
                    </div>
                    <div class="wl-yishi-left">
                        <div class="wl-ysname">
                            <img src="/static/image/user/tou.png" alt="">
                            <i class="wl-tubiao"></i>
                            <dl>医生姓名</dl>
                            <dt>职称</dt>
                            <dd>预约4</dd>
                        </div>
                    </div>
            </div>
        </div>
            <div class="wl-jieshao">
                <div class="wl-shangping">商品详情</div>
                <div class="wl-xiang">
                    <span class="wl-jie"> 【鼻综合】爆款仙女鼻综合@马金荣院长 预约18抵300元 半肋隆鼻9999</span>
                    <span class="wl-fenshu"><span>1份&nbsp;&nbsp;|</span>&nbsp;&nbsp;4784元</span>
                </div>
                <div class="wl-menshi">
                    <span style="text-decoration: line-through;">门市价:5980元</span>
                    <span style="margin-left: 5px">优惠价:<span style="color: #FF615C">4784元</span></span></div>
            </div>
            <div style="clear: both"></div>-->
            <div>
                <div class="wl-deji">
                    <li class="active"><i class="iconfont icon-dingwei1 "></i>商品详情</li>
                    <li><i class="iconfont icon-dingwei1"></i>购买须知</li>
                    <li><i class="iconfont icon-dingwei1"></i>美丽日记</li>
                </div>
                <div class="content">
                    <div id="wl-xiangqing">
                        <div class="wl-shangping2">商品详情</div>
                        <div class="wl-youshi" id="wl-goods-detail">
                            <?php echo $info['goods_info']['content'] ?>
                        </div>
                    </div>

                    <div style="clear: both"></div>

                    <div class="wl-xuzhi" id="cus-xuzi">
                        <div class="wl-shangping2">购买须知</div>
                        <div class="padding">
                            <dl>有效期</dl>
                            <dt>
                                <i class="iconfont icon-yuandian"
                                   style="font-size: 17px;float: left;margin-top: 1px;"></i>
                                {if($info['goods_info']['buy_deadline'] == 0)}
                                购买当天起永久有效
                                {else /}
                                购买当天起天{$info['goods_info']['buy_deadline']}内有效
                                {/if}
                            </dt>
                        </div>
                        <div style="clear: both"></div>
                        <div class="padding">
                            <dl>预约信息</dl>
                            <dt><i class="iconfont icon-yuandian"
                                   style="font-size: 17px;float: left;margin-top: 1px;"></i>
                                {$info['goods_info']['notice']}
                            </dt>
                        </div>
                        <div style="clear: both"></div>
                        <div class="padding">
                            <dl>可用时间</dl>
                            <dt><i class="iconfont icon-yuandian"
                                   style="font-size: 17px;float: left;margin-top: 1px;"></i>
                                {$info['goods_info']['time_slot']}
                            </dt>
                        </div>
                        <div style="clear: both"></div>
                        <div style="margin-bottom: 5px;" class="padding">
                            <dl>消费流程</dl>
                            {if($info['goods_info']['buyflow'])}
                            {foreach $info['goods_info']['buyflow'] as $text }
                            <dt><i class="iconfont icon-yuandian"
                                   style="font-size: 17px;float: left;margin-top: 1px;"></i>{$text}
                            </dt>
                            <div style="clear: both"></div>
                            {/foreach}
                            {/if}
                        </div>
                        <div style="clear: both"></div>
                    </div>

                    <div class="wl-gengduo">
                        <div class="wl-shangping2">更多本店热门商品</div>
                        <div id="container-list"></div>
                        <p class="ckgd" onclick="myObj.goods.loadList()" id="cus-recommend-loading-btn">查看更多</p>
                    </div>

                    <div id="wl-meili-riji">
                        <div class="wl-shangping2">美丽日记</div>
                        <div>
                            <!--
                            <div class="wl-meili">
                                <div class="wl-meili-top">
                                    <div class="wl-meili-left">
                                        <img src="/static/image/user/tou.png" alt="">
                                        <span class="wl-yonghu-ming">用户名称</span>
                                        <span class="wl-yonghu">用户</span>
                                    </div>
                                    <div class="wl-meili-right">
                                        <i class="iconfont icon-jiaguanzhu1" style="font-size: 25px;color: #7DB0E8"></i>
                                    </div>
                                </div>
                                <div class="wl-meili-img">
                                    <div class="wl-img-left">
                                        <img src="/static/weixin/shop/image/index/db2.png" alt="">
                                        <img src="/static/weixin/shop/image/index/db4.png" alt=""
                                             style="margin-left: 10px">
                                    </div>
                                </div>
                                <div class="wl-title">
                                    【鼻综合第178天】【武汉诠美鼻综合】hello，各位小仙女们好久不见哦，前段时间太忙啦一直没有更新，发起来看看，发
                                </div>
                                <div class="wl-long-top ">
                                    <div class="wl-meili-left1">
                                        <span class="iconfont icon-news_hot_fill_light"
                                              style="font-size: 20px;color: #7DB0E8;float: left;margin: 3px 7px 0 0;"></span>
                                        <span class="wl-longxioang">#假体隆胸</span>
                                        <span class="wl-longxioang">#隆胸</span>
                                        <span class="wl-longxioang">#胸部</span>
                                    </div>
                                    <div class="wl-meili-right1">
                                        <span>1126人浏览</span>
                                    </div>
                                </div>
                                <div class="wl-xiang bottom">
                                    <span class="iconfont icon-goumaiicon"
                                          style="float: left;font-size: 14px;color: #F29C9F"></span>
                                    <span class="wl-jie"> 【鼻综合】爆款仙女鼻综合@马金荣院长 预约18抵300元 半肋隆鼻9999</span>
                                    <span class="wl-fenshu se">￥4784元</span>
                                </div>
                            </div>
                            -->
                            <div style="width: 100%;height: 100px;text-align: center;padding-top: 50px;color: #CCCCCC">
                                    此商品暂无美丽日记
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="wl-re-footer">
                <div class="wl-yuyue">
                    <dl>预约金:<span class="wl-jiage2"><sub style="font-size: 10px">￥</sub><span>{$info['goods_info']['prepay_price']}</span></span>
                    </dl>
                    <dd>到院尾付:￥{$info['goods_info']['topay_price']}</dd>
                </div>
                <input type="hidden" value="{$info['goods_info']['seller_id']}" id="fr-seller-id">
                <div class="wl-qianggou href" data-href="/weixin/shop/confirmOrder" id="click-place-order"
                     data-goodsid="{$info['goods_info']['id']}" data-gid="{$gid}" >
                    立即抢购
                </div>
            </div>
        </footer>
        <div class="marsk-container">
            <div class="tkyy_con">
                <p class="dian">{$info['hospital_info']['phone']}</p>
                <p><span class="quxiao">取消</span><span class="bd"><a href="tel:18798276809">拨打</a></span></p>
            </div>
        </div>
        <div class="marsk-container1">
            <div class="tkyy_con1">
                <div style="position: relative"><i class="iconfont icon-close wl-quxiao"></i></div>
                <div class="wl-zhezhao-title">放心美</div>
                <div class="wl-beian">
                    <dl>
                        <i class="iconfont icon-roundcheckfill-copy" style="color:#F24F4F;font-size: 17px;margin-right: 8px"></i>资质认证
                    </dl>
                    <dt>商品、药品、医师资质已核实备案</dt>
                </div>
                <div class="wl-beian">
                    <dl><i class="iconfont icon-roundcheckfill-copy" style="color:#F24F4F;font-size: 17px;margin-right: 8px"></i>全程认证
                    </dl>
                    <dt>商品、药品、医师、医院资质通过认证审核</dt>
                </div>
                <div class="wl-beian">
                    <dl><i class="iconfont icon-roundcheckfill-copy" style="color:#F24F4F;font-size: 17px;margin-right: 8px"></i>全程陪护
                    </dl>
                    <dt>治疗期间我们会以您的健康为第一己任呵心陪护</dt>
                </div>
                <div class="wl-beian">
                    <dl>
                        <i class="iconfont icon-roundcheckfill-copy" style="color:#F24F4F;font-size: 17px;margin-right: 8px"></i>
                        定期回访
                    </dl>
                    <dt>我们会定期向您回访 关注您的回复和意见</dt>
                </div>
            </div>
        </div>
    </main>
</div>

<div id="cus-myshare-box">
    <img src="/static/weixin/shop/image/index/bjtu.png" alt="" width="100%" height="100%">
</div>
{/block}

{block name="script"}
<script src="/static/plugin/layui/layui.all.js"></script>
<script id="templateList" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
    <div class="wl-remen padding to-goods-detai href" data-goodsid="{{ item.id }}">
        <div class="wl-remen-img">
            <img src="{{item.img}}" >
        </div>
        <div class="wl-remen-right">
            <dl>{{item.name}}</dl>
            <dt>医院:{{item.hospital_name}}</dt>
            <dd>
                <span class="wl-jiage1"><sub style="font-size: 8px">￥</sub><span>{{item.sell_price}}</span></span>
                <span class="wl-quchu">￥{{item.prepay_price}}</span>
                <span class="wl-jia-right">预约{{item.sale_num}}  </span>
            </dd>
        </div>
    </div>
    {{#  }); }}
</script>
<script src="/static/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="/static/plugin/wechat/WechatJsSdk.js"></script>
<script src="/static/weixin/viewjs/goods_details.js"></script>
<script type="text/javascript">
    var config = {
        debug:false,
        appId: '{$weixin_config["appId"]}',
        timestamp: '{$weixin_config["timestamp"]}',
        nonceStr: '{$weixin_config["nonceStr"]}',
        signature: '{$weixin_config["signature"]}',
        jsApiList: [
            'checkJsApi',
            "onMenuShareTimeline",              //分享给好友
            "onMenuShareAppMessage",            //分享到朋友圈
            "onMenuShareQQ",                    //分享到QQ
            "onMenuShareWeibo",                 //分享到微博
        ]
    };

    function callbacks(){
        var shareMessage = {
            title: "{$info['goods_info']['name']}",
            desc:  window.location.href,
            link: window.location.href,
            imgUrl: "{$info['goods_info']['img']}",
        };

        var wxCallback = {
            success:function(){},
            cancel:function(){},
            fail:function(){},
            complete:function(){}
        };

        weixinObj.onMenuShareTimeline(shareMessage,wxCallback);
        weixinObj.onMenuShareAppMessage(shareMessage,wxCallback);
    }

    var weixinObj = new WechatSdkModel(config,callbacks);
</script>
{/block}