{extend name="layout/layout" /}

{block name="cssOrcrsipt"}
<link rel="stylesheet" href="/static/weixin/shop/css/have_good.css">
<link rel="stylesheet" href="/static/plugin/mescroll/mescroll.min.css">
<link rel="stylesheet" href="/static/plugin/layui/css/layui.css">
<style>

</style>
{/block}

{block name="main"}

<div style="width: 100%;min-height: 500px;">
    <header>
        <div class="wl-top">
            <a href="/weixin/shop/index"><i class="iconfont icon-back_light top-left" style="font-size: 25px;color: #333333"></i></a>
            <span>有好货</span>
        </div>
    </header>
    <main>
        <div class="wl-jieshao"> 爱美的仙女都在买</div>
        <div id="container" class="mescroll">
            <div id="container-list"></div>
        </div>
    </main>
</div>
{/block}

{block name="script"}
<script src="/static/plugin/layui/layui.all.js"></script>
<script src="/static/plugin/mescroll/mescroll.min.js" charset="utf-8"></script>
<script id="templateList" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
    <div class="wl-shangping href click-to-havegoodDetails" data-id="{{item.id}}">
        <div class="wl-sp-img">
            <img src="{{item.img}}" />
        </div>
        <div class="wl-xiang href">
            <div class="wl-top-title">{{item.name}}</div>
            <div class="wl-title">{{item.title}}</div>
            <div class="wl-yuding">
                <div class="wl-yiyuan">{{item.like}}人喜欢</div>
                <div class="wl-jiage">
                    <span class="wl-jiage1"><sub style="font-size: 8px">￥</sub><span>{{item.sell_price}}</span></span>
                    <span class="wl-quchu">￥{{item.market_price}}</span>
                </div>
            </div>
        </div>
        <dl style="clear: both"></dl>
    </div>
    {{#  }); }}
</script>
<script>
    var listObj = {
        searchList: function (page, successCallback, errorCallback) {
            $.ajax({
                url: "/weixin/shopapi/getGoodGoodsList",
                type: 'post',
                data: {page: page.num, page_size: page.size},
                dataType: 'json',
                success: function (res) {
                    successCallback(res.data.rows);
                },
                error: errorCallback
            });
        }
    };

    var mescroll = new MeScroll("container", {
        down:{auto:true},
        up: {
            clearEmptyId: "container-list",
            page: {num: 0,size: 15},
            htmlNodata: '<p class="upwarp-nodata">-- 已加载全部 --</p>',
            isBounce: false, //此处禁止ios回弹,解析(务必认真阅读,特别是最后一点): http://www.mescroll.com/qa.html#q10
            noMoreSize: 2, //如果列表已无数据,可设置列表的总数量要大于半页才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看
            empty: {
                icon: "/static/weixin/shop/image/tuoian.png",
                tip: "亲,没有您要找的商品~",
            },
            callback: function(page){
                listObj.searchList(page,function(curPageData){
                    mescroll.endSuccess(curPageData.length);
                    layui.laytpl(templateList.innerHTML).render(curPageData, function(html){
                        $('#container-list').append(html);
                    });
                }, function(){
                    mescroll.endErr();
                });
            },
        }
    });

    $(document).on('click','.click-to-havegoodDetails',function(){
        window.location.href = '/weixin/shop/havegoodDetails?gid='+$(this).data('id');
    });
</script>
{/block}