{extend name="layout/layout" /}

{block name="cssOrcrsipt"}
<link rel="stylesheet" href="/static/weixin/shop/css/havegood_details.css">
<link rel="stylesheet" href="/static/css/swiper.min.css">
<style>

</style>
{/block}

{block name="main"}

<!--这里编写主体内容-->
<div style="width: 100%;min-height: 500px;padding-bottom: 100px;overflow:scroll;overflow-y:hidden">
    <header>
        <div class="wl-top">
            <i class="iconfont icon-back_light wl-fahui"></i><i class="iconfont icon-share_light wl-fenxiang"></i>
        </div>
    </header>
    <main>
        <div class="swiper-container img-gao">
            <div class="swiper-wrapper ">
                <div class="swiper-slide"><img src="https://inews.gtimg.com/newsapp_bt/0/6868515758/1000" alt=""></div>
                <div class="swiper-slide"><img src="https://inews.gtimg.com/newsapp_bt/0/6868517738/1000" alt=""></div>
                <div class="swiper-slide"><img src="https://inews.gtimg.com/newsapp_bt/0/6868515758/1000" alt=""></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

     <div>
         <div class="wl-neirong">
             <div class="wl-title">【鼻综合】爆款仙女鼻综合@马金荣院长 预约18抵300元 半肋隆鼻9999</div>
             <div class="wl-jiage">
                 <div class="wl-yuyue">
                     256人预约
                 </div>
                 <div class="wl-jiayo">
                     <sub style="font-size: 8px">￥</sub><span>4520</span>
                 </div>
                 <div style="clear: both"></div>
             </div>
         </div>

         <div class="wl-main href">
             <div>
                 <div class="wl-tou-img href"><img src="http://172.16.100.85:81/head/20181212/1553215c10be7173bec5c10be7173bee.png" alt="" data-user_id="54" onerror="this.src=&quot;/static/image/user/tou.png&quot;" class="cus-touser-main"></div>
                 <div class="wl-tou-yonghu href">
                     <dl>张晴</dl>
                     <dt>2018年11月29日</dt>
                 </div>
             </div>
             <div class="wl-jiahy href">
                 <button onclick="objClass.showAddFriend()" id="cus-add-friend">加好友</button>
             </div>
             <div style="clear:both"></div>
         </div>
     </div>


        <div class="wl-content">
            <div class="wl-content-title">
               <p> 项目亮点</p>
                <hr/>
            </div>
            我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内
            我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容
            我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我
            是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内
            容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容
        </div>
        <div>
            <div class="wl-tuijian-title">
                其它推荐商品
            </div>
            <div class="wl-remen">
                <div class="wl-remen-img">
                    <img src="http://172.16.100.85:81/goodsimgs/20181213/c3ead4524152d705f2ff8b2a77fc89b2.png" alt="图片丢失"> </div>
                <div class="wl-remen-right">
                    <dl>伊婉C玻尿酸.亚洲人更适亚合的亚洲人更适合的合的</dl>
                    <dt>产品介绍</dt>
                    <dd>
                        <span class="wl-jiageyushou"><sub style="font-size: 8px">￥</sub><span>4784</span></span>
                        <span class="wl-quchu">￥880.00</span>
                        <span class="wl-jiage1"><span style="margin-right: 10px">已售123</span></span>
                    </dd>
                </div>
            </div>
            <div class="wl-remen">
                <div class="wl-remen-img">
                    <img src="http://172.16.100.85:81/goodsimgs/20181213/c3ead4524152d705f2ff8b2a77fc89b2.png" alt="图片丢失"> </div>
                <div class="wl-remen-right">
                    <dl>伊婉C玻尿酸.亚洲人更适亚合的亚洲人更适合的合的</dl>
                    <dt>产品介绍</dt>
                    <dd>
                        <span class="wl-jiageyushou"><sub style="font-size: 8px">￥</sub><span>4784</span></span>
                        <span class="wl-quchu">￥880.00</span>
                        <span class="wl-jiage1"><span style="margin-right: 10px">已售123</span></span>
                    </dd>
                </div>
            </div>
            <div class="wl-remen">
                <div class="wl-remen-img">
                    <img src="http://172.16.100.85:81/goodsimgs/20181213/c3ead4524152d705f2ff8b2a77fc89b2.png" alt="图片丢失"> </div>
                <div class="wl-remen-right">
                    <dl>伊婉C玻尿酸.亚洲人更适亚合的亚洲人更适合的合的</dl>
                    <dt>产品介绍</dt>
                    <dd>
                        <span class="wl-jiageyushou"><sub style="font-size: 8px">￥</sub><span>4784</span></span>
                        <span class="wl-quchu">￥880.00</span>
                        <span class="wl-jiage1"><span style="margin-right: 10px">已售123</span></span>
                    </dd>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="wl-footer">
            <div class="cus-pinglun">
                <ul>
                    <li class="iconfont icon-like "></li>
                    <li class="iconfont  icon-comment_light cus-ping"></li>
                    <li class="iconfont icon-favor_light"></li>
                </ul>
            </div>
            <div class="wl-goumai">
                <button><i class="iconfont icon-gouwuche"></i>去购买</button>
            </div>
        </div>
        <div style="clear: both"></div>
    </footer>
</div>
<div class="marsk-container">
    <div class="tkyy_con">
        <div>
            <div class="wl-tan-pinglun">251条评论 <span class="iconfont icon-guanbi1 wl-quxiao"></span></div>
        </div>
        <div class="wl-foot-gundong">
            <div class="wl-pinglun">
                <div style="float: left">
                    <img src="http://172.16.100.85:81/head/20181215/1053185c146c9e653345c146c9e6533a.png" alt="" width="30" height="30" onerror="this.src='/static/image/user/tou.png'">
                </div>
                <div class="wl-ping-xiang"> <div> <div class="wl-name cus-touser-main" >饶远东</div>
                    <div class=" wl-dianzan cus-comment-fabulous" style="font-size: 18px">
                        <span class="iconfont icon-dianzan wl-fabulous-icon" style="font-size: 18px;"></span>
                        <span class="wl-dian-one" style="font-size: 13px">0</span>
                    </div>
                </div>
                    <div style="clear:both"></div>
                    <div class="wl-ping-neirong">你在幹什麽</div>
                    <div class="wl-pji">2018年12月10日</div> </div> <div style="clear:both"></div>
            </div>
            <div class="wl-pinglun">
                <div style="float: left">
                    <img src="http://172.16.100.85:81/head/20181215/1053185c146c9e653345c146c9e6533a.png" alt="" width="30" height="30" onerror="this.src='/static/image/user/tou.png'">
                </div>
                <div class="wl-ping-xiang"> <div> <div class="wl-name cus-touser-main" >饶远东</div>
                    <div class=" wl-dianzan cus-comment-fabulous" style="font-size: 18px">
                        <span class="iconfont icon-dianzan wl-fabulous-icon" style="font-size: 18px;"></span>
                        <span class="wl-dian-one" style="font-size: 13px">0</span>
                    </div>
                </div>
                    <div style="clear:both"></div>
                    <div class="wl-ping-neirong">你在幹什麽</div>
                    <div class="wl-pji">2018年12月10日</div> </div> <div style="clear:both"></div>
            </div>
            <div class="wl-pinglun">
                <div style="float: left">
                    <img src="http://172.16.100.85:81/head/20181215/1053185c146c9e653345c146c9e6533a.png" alt="" width="30" height="30" onerror="this.src='/static/image/user/tou.png'">
                </div>
                <div class="wl-ping-xiang"> <div> <div class="wl-name cus-touser-main" >饶远东</div>
                    <div class=" wl-dianzan cus-comment-fabulous" style="font-size: 18px">
                        <span class="iconfont icon-dianzan wl-fabulous-icon" style="font-size: 18px;"></span>
                        <span class="wl-dian-one" style="font-size: 13px">0</span>
                    </div>
                </div>
                    <div style="clear:both"></div>
                    <div class="wl-ping-neirong">你在幹什麽</div>
                    <div class="wl-pji">2018年12月10日</div> </div> <div style="clear:both"></div>
            </div>
            <div class="wl-pinglun">
                <div style="float: left">
                    <img src="http://172.16.100.85:81/head/20181215/1053185c146c9e653345c146c9e6533a.png" alt="" width="30" height="30" onerror="this.src='/static/image/user/tou.png'">
                </div>
                <div class="wl-ping-xiang"> <div> <div class="wl-name cus-touser-main" >饶远东</div>
                    <div class=" wl-dianzan cus-comment-fabulous" style="font-size: 18px">
                        <span class="iconfont icon-dianzan wl-fabulous-icon" style="font-size: 18px;"></span>
                        <span class="wl-dian-one" style="font-size: 13px">0</span>
                    </div>
                </div>
                    <div style="clear:both"></div>
                    <div class="wl-ping-neirong">你在幹什麽</div>
                    <div class="wl-pji">2018年12月10日</div> </div> <div style="clear:both"></div>
            </div>
            <div class="wl-pinglun">
                <div style="float: left">
                    <img src="http://172.16.100.85:81/head/20181215/1053185c146c9e653345c146c9e6533a.png" alt="" width="30" height="30" onerror="this.src='/static/image/user/tou.png'">
                </div>
                <div class="wl-ping-xiang"> <div> <div class="wl-name cus-touser-main" >饶远东</div>
                    <div class=" wl-dianzan cus-comment-fabulous" style="font-size: 18px">
                        <span class="iconfont icon-dianzan wl-fabulous-icon" style="font-size: 18px;"></span>
                        <span class="wl-dian-one" style="font-size: 13px">0</span>
                    </div>
                </div>
                    <div style="clear:both"></div>
                    <div class="wl-ping-neirong">你在幹什麽</div>
                    <div class="wl-pji">2018年12月10日</div> </div> <div style="clear:both"></div>
            </div>
            <div class="wl-pinglun">
                <div style="float: left">
                    <img src="http://172.16.100.85:81/head/20181215/1053185c146c9e653345c146c9e6533a.png" alt="" width="30" height="30" onerror="this.src='/static/image/user/tou.png'">
                </div>
                <div class="wl-ping-xiang"> <div> <div class="wl-name cus-touser-main" >饶远东</div>
                    <div class=" wl-dianzan cus-comment-fabulous" style="font-size: 18px">
                        <span class="iconfont icon-dianzan wl-fabulous-icon" style="font-size: 18px;"></span>
                        <span class="wl-dian-one" style="font-size: 13px">0</span>
                    </div>
                </div>
                    <div style="clear:both"></div>
                    <div class="wl-ping-neirong">你在幹什麽</div>
                    <div class="wl-pji">2018年12月10日</div> </div> <div style="clear:both"></div>
            </div>
            <div class="wl-pinglun">
                <div style="float: left">
                    <img src="http://172.16.100.85:81/head/20181215/1053185c146c9e653345c146c9e6533a.png" alt="" width="30" height="30" onerror="this.src='/static/image/user/tou.png'">
                </div>
                <div class="wl-ping-xiang"> <div> <div class="wl-name cus-touser-main" >饶远东</div>
                    <div class=" wl-dianzan cus-comment-fabulous" style="font-size: 18px">
                        <span class="iconfont icon-dianzan wl-fabulous-icon" style="font-size: 18px;"></span>
                        <span class="wl-dian-one" style="font-size: 13px">0</span>
                    </div>
                </div>
                    <div style="clear:both"></div>
                    <div class="wl-ping-neirong">你在幹什麽</div>
                    <div class="wl-pji">2018年12月10日</div> </div> <div style="clear:both"></div>
            </div>
            <div class="wl-pinglun">
                <div style="float: left">
                    <img src="http://172.16.100.85:81/head/20181215/1053185c146c9e653345c146c9e6533a.png" alt="" width="30" height="30" onerror="this.src='/static/image/user/tou.png'">
                </div>
                <div class="wl-ping-xiang"> <div> <div class="wl-name cus-touser-main" >饶远东</div>
                    <div class=" wl-dianzan cus-comment-fabulous" style="font-size: 18px">
                        <span class="iconfont icon-dianzan wl-fabulous-icon" style="font-size: 18px;"></span>
                        <span class="wl-dian-one" style="font-size: 13px">0</span>
                    </div>
                </div>
                    <div style="clear:both"></div>
                    <div class="wl-ping-neirong">你在幹什麽</div>
                    <div class="wl-pji">2018年12月10日</div> </div> <div style="clear:both"></div>
            </div>
        </div>
        <div class="cus-footer">
            <input type="text" placeholder="据说颜值高的人都爱评论">
        </div>
    </div>
</div>




{/block}

{block name="script"}
<script src="/static/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        autoplay: true,//可选选项，自动滑动
        pagination: {
            el: '.swiper-pagination',
        }
    });
    $(".cus-ping").click(function (event) {
        event.stopPropagation(); //停止事件冒泡
        $(".marsk-container").show();

        $("body").addClass("body");
    });
    //点击空白处隐藏弹出层
    $(".marsk-container").click(function (event) {
        var _con = $('.tkyy_con'); // 设置目标区域
        if (!_con.is(event.target) && _con.has(event.target).length == 0) {
            $('.marsk-container').hide(); //淡出消失
            $("body").removeClass("body");
        }

        event.stopPropagation(); //停止事件冒泡
    }).on('touchstart',function(event){
        var _con = $('.tkyy_con'); // 设置目标区域
        if (!_con.is(event.target) && _con.has(event.target).length == 0) {
            $('.marsk-container').hide(); //淡出消失
            $("body").removeClass("body");
        }

        event.stopPropagation(); //停止事件冒泡
    });


    $(".wl-quxiao").click(function () {
        $(".marsk-container").hide();
        $("body").removeClass("body");
    })

    $('.wl-tan-pinglun').on('touchstart',function(event){
        $('.wl-foot-gundong').css('overflowY',auto);
    });

    $('.wl-tan-pinglun').on('click',function(event){
        $('.wl-foot-gundong').css('overflowY',auto);
    });
</script>
{/block}