{extend name="layout/layout" /}

{block name="cssOrcrsipt"}
<link rel="stylesheet" href="/static/weixin/shop/css/have_good.css">
<style>

</style>
{/block}

{block name="main"}

<!--这里编写主体内容-->
<div style="width: 100%;min-height: 500px;">
    <header>
        <div class="wl-top">
            <i class="iconfont icon-back_light top-left" style="font-size: 25px;color: #333333" onclick="redream.toReferer()"></i>
            <span>有好货</span>
        </div>
    </header>
    <main>
        <div class="wl-jieshao"> 爱美的仙女都在买</div>
        <div class="wl-shangping href">
            <div class="wl-sp-img">
                <img src="{{item.img}}" />
            </div>
            <div class="wl-xiang href">
                <div class="wl-top-title">合@马金荣院长 预约18抵300</div>
                <div class="wl-title">【鼻综合】爆款仙女鼻综合@马金荣院长 预约18抵300元 半肋隆鼻9999</div>
                <div class="wl-yuding">
                    <div class="wl-yiyuan">12人预订</div>
                    <div class="wl-jiage">
                        <span class="wl-jiage"><sub style="font-size: 8px">￥</sub><span>4784</span></span>
                        <span class="wl-quchu">￥123</span>
                    </div>
                </div>
            </div>
            <dl style="clear: both"></dl>
        </div>
        <div class="wl-shangping href">
            <div class="wl-sp-img">
                <img src="{{item.img}}" />
            </div>
            <div class="wl-xiang href">
                <div class="wl-top-title">合@马金荣院长 预约18抵300</div>
                <div class="wl-title">【鼻综合】爆款仙女鼻综合@马金荣院长 预约18抵300元 半肋隆鼻9999</div>
                <div class="wl-yuding">
                    <div class="wl-yiyuan">12人预订</div>
                    <div class="wl-jiage">
                        <span class="wl-jiage"><sub style="font-size: 8px">￥</sub><span>4784</span></span>
                        <span class="wl-quchu">￥123</span>
                    </div>
                </div>
            </div>
            <dl style="clear: both"></dl>
        </div>
        <div class="wl-shangping href">
            <div class="wl-sp-img">
                <img src="https://inews.gtimg.com/newsapp_bt/0/6868141708/1000" />
            </div>
            <div class="wl-xiang href">
                <div class="wl-top-title">合@马金荣院长 预约18抵300</div>
                <div class="wl-title">【鼻综合】爆款仙女鼻综合@马金荣院长 预约18抵300元 半肋隆鼻9999</div>
                <div class="wl-yuding">
                    <div class="wl-yiyuan">12人预订</div>
                    <div class="wl-jiage">
                        <span class="wl-jiage"><sub style="font-size: 8px">￥</sub><span>4784</span></span>
                        <span class="wl-quchu">￥123</span>
                    </div>
                </div>
            </div>
            <dl style="clear: both"></dl>
        </div>
    </main>
</div>


{/block}

{block name="script"}

{/block}