{extend name="layout/layout" /}

{block name="cssOrcrsipt"}
<link rel="stylesheet" href="/static/weixin/shop/css/havegood_details.css">
<link rel="stylesheet" href="/static/css/swiper.min.css">
<style>
    .cus-blue {
        color: #7DB0E8 !important;
    }
</style>
{/block}

{block name="main"}

<!--这里编写主体内容-->
<div style="width: 100%;min-height: 500px;padding-bottom: 100px;overflow-y:hidden;">
    <header>
        <div class="wl-top">
            <i class="iconfont icon-back_light wl-fahui " onclick="redream.href('/weixin/shop/havegood')"></i>
            <i class="iconfont icon-share_light wl-fenxiang"></i>
        </div>
    </header>
    <main>
        <div class="swiper-container img-gao">
            <div class="swiper-wrapper ">
                {foreach($imgs as $src)}
                <div class="swiper-slide"><img src="{$src}" alt="" ></div>
                {/foreach}
            </div>
            <div class="swiper-pagination"></div>
        </div>

        <div>
            <div class="wl-neirong">
                <div class="wl-title">{$info['title']}</div>
                <div class="wl-jiage">
                    <div class="wl-yuyue">
                        {$info['sale_num']}人预约
                    </div>
                    <div class="wl-jiayo">
                        <sub style="font-size: 8px">￥</sub><span>{$info['sell_price']}</span>
                    </div>
                    <div style="clear: both"></div>
                </div>
            </div>

            <div class="wl-main href">
                <div>
                    <div class="wl-tou-img href">
                        <img src="{$info['portrait']}" onerror="this.src ='/static/image/user/tou.png'">
                    </div>
                    <div class="wl-tou-yonghu href">
                        <dl>{$info['nickname']}</dl>
                        <dt>{$info['created_time']|date='Y年m月d日'}</dt>
                    </div>
                </div>
                <div class="wl-jiahy href">
                    <!--<button onclick="myObj.showAddFriend()" id="cus-add-friend">加好友</button>-->
                </div>
                <div style="clear:both"></div>
            </div>
        </div>

        <div class="wl-content" >
            <div class="wl-content-title">
                <p> 项目亮点</p>
                <hr/>
            </div>
            <div class="wl-xiangmu-lia" id="wl-goods-detail">
                <?php echo $info['article_text'] ?>
            </div>
        </div>
        <div class="wl-tuijianshangpin">
            <div class="wl-tuijian-title">
                其它推荐商品
            </div>
            <div id="recommended-List">

            </div>
        </div>
    </main>
    <footer>
        <div class="wl-footer">
            <div class="cus-pinglun href">
                <ul>
                    <li class="iconfont {$info['islike']== 1?'icon-emojifill cus-sou':'icon-emojilight'}"
                        id="cus-click-fabulous" data-type="{$info['islike']}"></li>
                    <li class="iconfont  icon-comment_light cus-ping"></li>
                    <li class="iconfont {$info['isfavorite']== 1?'icon-favor_fill_light cus-sou':'icon-favor_light'}"
                        id="cus-click-collection" data-type="{$info['isfavorite']}"></li>
                </ul>
            </div>
            <div class="wl-goumai">
                <button id="click-place-order"><i class="iconfont icon-gouwuche"></i>去购买</button>
            </div>
        </div>
        <div style="clear: both"></div>
    </footer>
    <div class="marsk-container"  >
        <div class="tkyy_con">
            <div>
                <div class="wl-tan-pinglun"><i id="cus-pinglun-num">0</i>条评论 <span
                        class="iconfont icon-guanbi1 wl-quxiao href"></span></div>
            </div>
            <div class="wl-foot-gundong " style="overflow-x:hidden" >
                <div id="container-list">

                </div>
            </div>
            <div class="cus-footer">
                <input type="text" placeholder="据说颜值高的人都爱评论" class="wl-foot-input">
            </div>
        </div>
    </div>
    <div class="wl-zhez2">
        <div class="wl-zl2">
            <textarea name="wl-text" cols="30" rows="10" class="wl-text" id="cus-comment-pid"
                      placeholder="有爱评论，说点好听的..."></textarea>
            <i class="wl-fabu iconfont icon-fabu" onclick="myObj.publishComment()"></i>
        </div>
    </div>
</div>


<div class="wl-zhezhao">
<div style="position: relative">
    <div class="wl-zhe1">
        <p class="wl-renzh">申请备注</p>
        <div class="wl-neie1">
            <p>你需要发送验证申请，等待对方通过</p>
            <textarea class="wl-neie2" style="resize: none" placeholder="添加申请备注(必填)..."
                      id="fr-friend-remarks"></textarea>
            <button class="wl-btn" onclick="myObj.submitFriendApply()">发送</button>
        </div>
    </div>
</div>
</div>

<div id="cus-myshare-box">
    <img src="/static/weixin/shop/image/index/bjtu.png" alt="" width="100%" height="100%">
</div>
<input type="hidden" id="fr-goodid" value="{$info['goods_id']}">
<input type="hidden" id="fr-good-goods-id" value="{$info['id']}">
<input type="hidden" id="fr-user-id" value="{$info['user_id']}">
{/block}

{block name="script"}
<script src="/static/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/plugin/layui/layui.all.js"></script>
<script id="templateList" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
    <div class="wl-pinglun">
        <div style="float: left">
            <img src="{{item.portrait}}" alt="" width="30" height="30" onerror="this.src ='/static/image/user/tou.png'"  data-user_id="{{item.user_id}}" class="cus-touser-main">
        </div>
        <div class="wl-ping-xiang">
            <div>
                <div class="wl-name cus-touser-main" data-user_id="{{item.user_id}}">{{item.nickname}}</div>
                <div class=" wl-dianzan cus-comment-fabulous" data-id="{{item.id}}" data-type="{{item.islike}}">
                    {{# if(item.islike == 0){ }}
                    <dl class="iconfont icon-likefill wl-font-size"></dl>
                    {{# } }}

                    {{# if(item.islike == 1){ }}
                    <dl class="iconfont icon-likefill wl-font-size cus-red"></dl>
                    {{# } }}

                    <dt class="wl-dian-one" style="font-size: 13px">{{item.like_count}}</dt>
                </div>
            </div>
            <div style="clear:both"></div>
            <div class="wl-ping-neirong">{{item.content}}</div>
            <div class="wl-pji">{{item.created_time}}</div>
        </div>
        <div style="clear:both">
        </div>
    </div>
    {{#  }); }}
</script>
<script id="recommendedList" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
    <div class="wl-remen click-to-havegoodDetails href" data-id="{{item.goods_id}}">
        <div class="wl-remen-img">
            <img src="{{item.img}}" alt="图片丢失"></div>
        <div class="wl-remen-right">
            <dl>{{item.name}}</dl>
            <dt>{{item.title}}</dt>
            <dd>
                <span class="wl-jiageyushou"><sub style="font-size: 8px">￥</sub><span>{{item.sell_price}}</span></span>
                <span class="wl-quchu">￥{{item.market_price}}</span>
                <span class="wl-jiage1"><span style="margin-right: 10px">已售{{item.sale_num}}</span></span>
            </dd>
        </div>
    </div>
    {{#  }); }}
</script>
<script src="/static/weixin/viewjs/shop/havegood-details.js"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="/static/plugin/wechat/WechatJsSdk.js"></script>
<script type="text/javascript">
    var config = {
        debug:false,
        appId: '{$weixin_config["appId"]}',
        timestamp: '{$weixin_config["timestamp"]}',
        nonceStr: '{$weixin_config["nonceStr"]}',
        signature: '{$weixin_config["signature"]}',
        jsApiList: [
            'checkJsApi',
            "onMenuShareTimeline",              //分享给好友
            "onMenuShareAppMessage",            //分享到朋友圈
            "onMenuShareQQ",                    //分享到QQ
            "onMenuShareWeibo",                 //分享到微博
        ]
    };

    function callbacks(){
        var shareMessage = {
            title: "{$info['name']}",
            desc:  window.location.href,
            link: window.location.href,
            imgUrl: "{$info['img']}",
        };

        var wxCallback = {
            success:function(){},
            cancel:function(){},
            fail:function(){},
            complete:function(){}
        };

        weixinObj.onMenuShareTimeline(shareMessage,wxCallback);
        weixinObj.onMenuShareAppMessage(shareMessage,wxCallback);
    }

    var weixinObj = new WechatSdkModel(config,callbacks);
</script>
{/block}