{extend name="layout/layout" /}

{block name="cssOrcrsipt"}
<link rel="stylesheet" href="/static/weixin/shop/css/have_good.css">
<style>

</style>
{/block}

{block name="main"}

<!--这里编写主体内容-->
<div style="width: 100%;min-height: 500px;">
    <header>
        <div class="wl-top">
            <i class="iconfont icon-back_light top-left" style="font-size: 25px;color: #333333" onclick="redream.toReferer()"></i>
            <span>有好货</span>
        </div>
    </header>
    <main>
        <div class="wl-jieshao"> 爱美的仙女都在买</div>
        <div id="container">
            <div id="container-list">

            </div>
        </div>
    </main>
</div>
{/block}

{block name="script"}
<script src="/static/plugin/layui/layui.all.js"></script>
<script id="templateList" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
    <div class="wl-shangping href click-to-havegoodDetails" data-id="{{item.id}}">
        <div class="wl-sp-img">
            <img src="{{item.img}}" />
        </div>
        <div class="wl-xiang href">
            <div class="wl-top-title">{{item.title}}</div>
            <div class="wl-title">【鼻综合】爆款仙女鼻综合@马金荣院长 预约18抵300元 半肋隆鼻9999</div>
            <div class="wl-yuding">
                <div class="wl-yiyuan">{{item.like}}人喜欢</div>
                <div class="wl-jiage">
                    <span class="wl-jiage1"><sub style="font-size: 8px">￥</sub><span>{{item.sell_price}}</span></span>
                    <span class="wl-quchu">￥{{item.market_price}}</span>
                </div>
            </div>
        </div>
        <dl style="clear: both"></dl>
    </div>
    {{#  }); }}
</script>
<script>
    var myObj = {
        goods: {
            listData: {
                loading: false,
                ini: false,
                page: 0,
                page_total: 1,
                page_size: 3,
            },
            loadList: function (me) {

                if (myObj.goods.listData.loading) {
                    return false;
                }
                myObj.goods.listData.page++;
                if (myObj.goods.listData.ini == true) {
                    if (myObj.goods.listData.page > myObj.goods.listData.page_total) {
                        me.resetload();
                        return false;
                    }
                }
                $.ajax({
                    url: "/weixin/shopapi/getGoodGoodsList",
                    type: 'post',
                    data: {page: myObj.goods.listData.page, page_size: myObj.goods.listData.page_size},
                    dataType: 'json',
                    beforeSend: function () {
                        myObj.goods.listData.loading = true;
                    },
                    complete: function () {
                        myObj.goods.listData.loading = false;
                    },
                    success: function (res) {
                        if (res.code == 200) {
                            if (myObj.goods.listData.ini == false) {
                                myObj.goods.listData.ini = true;
                                myObj.goods.listData.page_total = res.data.page_total;
                                $('#container-list').html('');
                            }

                            layui.laytpl(templateList.innerHTML).render(res.data.rows, function (html) {
                                $('#container-list').append(html);
                            });

                            if(myObj.goods.listData.page >= myObj.goods.listData.page_total){
                                me.noData();
                            }
                        }
                        me.resetload();
                    }
                });
            }
        }
    };
    var dropload = $('#container').dropload({
        scrollArea: window,
        loadUpFn: function (me) {
            myObj.goods.listData.loading = false;
            myObj.goods.listData.ini = false;
            myObj.goods.listData.page = 0;
            myObj.goods.listData.page_total = 1;
            myObj.goods.listData.path = '';
            myObj.goods.loadList(me);
        },
        loadDownFn: function (me) {
            myObj.goods.loadList(me);
        }
    });
    $(document).on('click','.click-to-havegoodDetails',function(){
        window.location.href = '/weixin/shop/havegoodDetails?gid='+$(this).data('id');
    })
</script>
{/block}