{extend name="layout/layout" /}

{block name="cssOrcrsipt"}
<!--<link rel="stylesheet" href="/main.css">-->
<link rel="stylesheet" href="/static/weixin/shop/css/index.css">
<style>

</style>
{/block}

{block name="main"}
<header style="z-index: 99999 !important;">
<div class="wl-head">
    <div class="wl-top">
        <i class="iconfont icon-back_light" style="font-size: 25px;position: absolute;top: 6px;left: 3px"></i>
        <input type="text" placeholder="搜索您感兴趣的项目">
    </div>
    <div class="wl-daohang">
        <ul>
            <li id="wl-quanbu">全部项目 <i class="iconfont icon-shangsanjiaoxiangshangmianxing-copy qiehuan" style="font-size: 10px;color: #333333"></i></li>
            <li>上海<i class="iconfont icon-shangsanjiaoxiangshangmianxing-copy" style="font-size: 10px;color: #333333"></i></li>
            <li style="border: none;" id="wl-zhineng">智能排序<i class="iconfont icon-shangsanjiaoxiangshangmianxing-copy qiehuan2" style="font-size: 10px;color: #333333"></i></li>
        </ul>
    </div>
</div>

</header>
<main style="padding-top: 70px;background:white">

<div id="container">
    <div class="wl-shangping" onclick="redream.href('/weixin/shop/goodsDetails')">
        <div class="wl-sp-img">
            <img src="https://img.alicdn.com/bao/uploaded/i2/704298669/TB2sxSgs5MnBKNjSZFzXXc_qVXa_!!704298669.jpg_310x310q75" alt="">
        </div>
        <div class="wl-xiang">
            <div class="wl-title">【鼻综合】爆款仙女鼻综合@马金荣院长预约18抵300元 半肋隆鼻9999</div>
            <div class="wl-yiyuan"><span class="wl-meirong">上海薇琳医疗美容医院</span></div>
            <div class="wl-yiyuan">1632人预订</div>
            <div class="wl-jiage"><span class="wl-jiage"><sub style="font-size: 8px">￥</sub><span>4456</span></span><span class="wl-quchu">￥5980</span></div>
        </div>
    </div>

    <div class="wl-shangping" onclick="redream.href('/weixin/shop/goodsDetails')">
        <div class="wl-sp-img">
            <img src="https://img.alicdn.com/bao/uploaded/i2/704298669/TB2sxSgs5MnBKNjSZFzXXc_qVXa_!!704298669.jpg_310x310q75" alt="">
        </div>
        <div class="wl-xiang">
            <div class="wl-title">【鼻综合】爆款仙女鼻综合@马金荣院长                     预约18抵300元 半肋隆鼻9999</div>
            <div class="wl-yiyuan"><span class="wl-name">医生姓名</span><span class="wl-meirong">上海薇琳医疗美容医院</span></div>
            <div class="wl-yiyuan">1632人预订</div>
            <div class="wl-jiage"><span class="wl-jiage"><sub style="font-size: 8px">￥</sub><span>4456</span></span><span class="wl-quchu">￥5980</span></div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>
</main>
<div class="marsk-container">
    <div class="tkyy_con">
        <div class="tabbox">
            <ul class="wl-deji">
                <li  class="active">全部项目</li>
                <li>眼部</li>
                <li>鼻部</li>
                <li>面部轮廓</li>
                <li>胸部</li>
                <li>美体塑形</li>
                <li>自体脂肪</li>
                <li>除皱.抗衰老</li>
                <li>口唇</li>
                <li>水光针</li>
                <li>吸脂</li>
                <li>牙齿美容</li>
                <li>毛发移植</li>
            </ul>
            <div class="content">
                <div class="wl-d active">
                    <div class="wl-chakan">
                        <div><span>查看全部 <i class="iconfont icon-back_left-copy" style="font-size: 13px"></i></span></div>
                        <div><span>双眼皮 <i class="iconfont icon-back_left-copy" style="font-size: 13px"></i></span>
                        <div style="clear: both"></div>
                        <div class="wl-das">
                            <div class="wl-maixian">埋线双眼皮</div>
                            <div class="wl-maixian">韩式双眼皮</div>
                            <div class="wl-maixian">全切双眼皮</div>

                        </div>
                    </div>
                        <div style="clear: both"></div>
                        <div><span>双眼皮 <i class="iconfont icon-back_left-copy" style="font-size: 13px"></i></span>
                            <div style="clear: both"></div>
                            <div class="wl-das">
                                <div class="wl-maixian">开内眼角</div>
                                <div class="wl-maixian">开外眼角</div>
                            </div>
                        </div>
                        <div style="clear: both"></div>
                        <div><span>祛眼袋 <i class="iconfont icon-back_left-copy" style="font-size: 13px"></i></span>
                            <div style="clear: both"></div>
                            <div class="wl-das">
                                <div class="wl-maixian">激光祛眼袋</div>
                                <div class="wl-maixian">内切祛眼袋</div>
                                <div class="wl-maixian">外切祛眼袋</div>
                                <div class="wl-maixian">射频祛眼袋</div>
                                <div class="wl-maixian">眶隔释放祛眼袋</div>
                                <div class="wl-maixian">埋线祛眼袋</div>
                                <div class="wl-maixian">光纤溶脂祛眼袋</div>
                            </div>
                        </div>
                        <div style="clear: both"></div>
                        <div><span>眼综合 <i class="iconfont icon-back_left-copy" style="font-size: 13px"></i></span>
                            <div style="clear: both"></div>
                            <div class="wl-das">
                                <div class="wl-maixian">眼综合整形</div>
                            </div>
                        </div>
                        <div style="clear: both"></div>
                    </div>

                </div>
                <div  class="wl-d">2222222222</div>
                <div  class="wl-d">33333333333</div>
                <div  class="wl-d">44444444</div>
                <div  class="wl-d">111111111111</div>
                <div  class="wl-d">2222222222</div>
                <div  class="wl-d">44444444</div>
                <div  class="wl-d">2222222222</div>
                <div  class="wl-d">44444444</div>
                <div  class="wl-d">33333333333</div>
                <div  class="wl-d">2222222222</div>
                <div  class="wl-d">高富帅</div>
                <div  class="wl-d">2222222222</div>
            </div>
        </div>
    </div>
</div>
<div class="marsk-container1">
    <div class="tkyy_con1">
        <p class="wl-xiao">智能排序</p>
        <p class="wl-xiao">销量最高</p>
        <p class="wl-xiao">日记最多</p>
        <p class="wl-xiao">最新上架</p>
        <p class="wl-xiao" style="border: none;">价格从低到高</p>
    </div>
</div>
{include file="layout/footer" /}
{/block}

{block name="script"}

<script type="text/javascript">

    $("#wl-quanbu").click(function (event) {
        event.stopPropagation(); //停止事件冒泡
        $(".marsk-container").toggle();
        $(".marsk-container1").hide();
        $(".qiehuan").toggleClass('iconfont icon-shangsanjiaoxiangshangmianxing-copy');
        $(".qiehuan").toggleClass('iconfont icon-shangsanjiaoxiangshangmianxing');
    });

    //点击空白处隐藏弹出层
    $(".marsk-container").click(function (event) {
        var _con = $('.tkyy_con'); // 设置目标区域
        if (!_con.is(event.target) && _con.has(event.target).length == 0) {
            $('.marsk-container').hide(); //淡出消失
        }
    });
    $("#wl-zhineng").click(function (event) {
        event.stopPropagation(); //停止事件冒泡
        $(".marsk-container1").toggle();
        $(".marsk-container").hide();
        $(".qiehuan2").toggleClass('iconfont icon-shangsanjiaoxiangshangmianxing-copy');
        $(".qiehuan2").toggleClass('iconfont icon-shangsanjiaoxiangshangmianxing');
    });
    //点击空白处隐藏弹出层
    $(".marsk-container1").click(function (event) {
        var _con = $('.tkyy_con1'); // 设置目标区域
        if (!_con.is(event.target) && _con.has(event.target).length == 0) {
            $('.marsk-container1').hide(); //淡出消失
        }
    });
    $(".wl-deji li").click(function()　　 {　　　　 //获取点击的元素给其添加样式，讲其兄弟元素的样式移除
        $(this).addClass("active").siblings().removeClass("active");　　　　 //获取选中元素的下标
        var index = $(this).index();
        $(this).parent().siblings().children().eq(index).addClass("active").siblings().removeClass("active");
    });
</script>


{/block}