{extend name="layout/layout" /}

{block name="cssOrcrsipt"}
<link rel="stylesheet" href="/static/weixin/shop/css/index.css">
{/block}

{block name="main"}
<header style="z-index: 99999 !important;">
    <div class="wl-head">
        <div class="wl-top">
            <i class="iconfont icon-back_light" style="font-size: 25px;position: absolute;top: 6px;left: 3px"></i>
            <input type="text" placeholder="搜索您感兴趣的项目">
        </div>
        <div class="wl-daohang">
            <ul>
                <li id="wl-quanbu">
                    全部项目 <i class="iconfont icon-shangsanjiaoxiangshangmianxing-copy qiehuan" style="font-size: 10px;color: #333333"></i>
                </li>
                <li>
                    上海<i class="iconfont icon-shangsanjiaoxiangshangmianxing-copy"  style="font-size: 10px;color: #333333"></i>
                </li>
                <li style="border: none;" id="wl-zhineng">
                    智能排序<i  class="iconfont icon-shangsanjiaoxiangshangmianxing-copy qiehuan2" style="font-size: 10px;color: #333333"></i>
                </li>
            </ul>
        </div>
    </div>
</header>

<main style="padding-top: 70px;background:white;padding-bottom: 100px;">
    <div id="container">
        <div id="container-list"></div>
    </div>
</main>

<div class="marsk-container">
    <div class="tkyy_con">
        <div class="tabbox">
            <ul class="wl-deji">
                <li data-path="" class="click-select-category href">全部项目</li>
                {foreach $categoryNav as $key=>$vo }
                <li>{$vo['name']}</li>
                {/foreach}
            </ul>

            <div class="content">
                <div class="wl-d"></div>
                {foreach $categoryNav as $k=>$v }
                <div class="wl-d">
                    <div>
                        <span data-path="{$v['path']}" class="click-select-category href">查看全部 <i
                                class="iconfont icon-back_left-copy" style="font-size: 13px"></i></span>
                    </div>
                    {foreach $v['subclass'] as $k2=>$v2 }
                    <div>
                        <span class="click-select-category href" data-path="{$v2['path']}">{$v2['name']} <i
                                class="iconfont icon-back_left-copy" style="font-size: 13px"></i></span>
                        <div style="clear: both"></div>
                        <div class="wl-das">
                            {foreach $v2['subclass'] as $k3=>$v3 }
                            <div class="wl-maixian click-select-category href" data-path="{$v3['path']}">{$v3['name']}
                            </div>
                            {/foreach}
                        </div>
                    </div>
                    <div style="clear: both"></div>
                    {/foreach}
                </div>
                {/foreach}
            </div>
        </div>
    </div>
</div>
<div class="marsk-container1">
    <div class="tkyy_con1">
        <p class="wl-xiao">智能排序</p>
        <p class="wl-xiao">销量最高</p>
        <p class="wl-xiao">日记最多</p>
        <p class="wl-xiao">最新上架</p>
        <p class="wl-xiao" style="border: none;">价格从低到高</p>
    </div>
</div>
<div class="marsk-container2" style="display: none">
    <div class="tkyy_con2">

        <!--<img src="/static/image/user/timg.gif" alt="" class="wl-touming">-->
        <div style="text-align: center;margin-top: 10px">
            <i class="layui-icon layui-icon-loading-1 layui-icon layui-anim layui-anim-rotate layui-anim-loop" style="color: white;font-size: 28px;"></i>
        </div>
        <div class="wl-jiazai">加载中</div>
    </div>
</div>

{include file="layout/footer" /}
{/block}

{block name="script"}
<script src="/static/plugin/layui/layui.all.js"></script>
<script id="templateList" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
    <div class="wl-shangping href">
        <div class="wl-sp-img">
            <img src="{{item.img}}"alt="图片丢失">
        </div>
        <div class="wl-xiang">
            <div class="wl-title">{{item.name}}</div>
            <div class="wl-yiyuan"><span class="wl-name">{{item.doctor_name}}</span><span class="wl-meirong">{{item.hospital_name}}</span></div>
            <div class="wl-yiyuan">{{item.sale_num}}人预订</div>
            <div class="wl-jiage">
                <span class="wl-jiage"><sub style="font-size: 8px">￥</sub><span>{{item.sell_price}}</span></span>
                <span class="wl-quchu">￥{{item.market_price}}</span>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
    {{#  }); }}

</script>

<script type="text/javascript">
    $("#wl-quanbu").click(function (event) {
        event.stopPropagation(); //停止事件冒泡
        $(".marsk-container").toggle();
        $(".marsk-container1").hide();
        $(".qiehuan").toggleClass('iconfont icon-shangsanjiaoxiangshangmianxing-copy');
        $(".qiehuan").toggleClass('iconfont icon-shangsanjiaoxiangshangmianxing');
    });

    //点击空白处隐藏弹出层
    $(".marsk-container").click(function (event) {
        var _con = $('.tkyy_con'); // 设置目标区域
        if (!_con.is(event.target) && _con.has(event.target).length == 0) {
            $('.marsk-container').hide(); //淡出消失
        }
    });

    $("#wl-zhineng").click(function (event) {
        event.stopPropagation(); //停止事件冒泡
        $(".marsk-container1").toggle();
        $(".marsk-container").hide();
        $(".qiehuan2").toggleClass('iconfont icon-shangsanjiaoxiangshangmianxing-copy');
        $(".qiehuan2").toggleClass('iconfont icon-shangsanjiaoxiangshangmianxing');
    });

    //点击空白处隐藏弹出层
    $(".marsk-container1").click(function (event) {
        var _con = $('.tkyy_con1'); // 设置目标区域
        if (!_con.is(event.target) && _con.has(event.target).length == 0) {
            $('.marsk-container1').hide(); //淡出消失
        }
    });

    $(".wl-deji li").click(function () {　　　　 //获取点击的元素给其添加样式，讲其兄弟元素的样式移除
        $(this).addClass("active").siblings().removeClass("active");　　　　 //获取选中元素的下标
        var index = $(this).index();
        $(this).parent().siblings().children().eq(index).addClass("active").siblings().removeClass("active");
    });

    $('.click-select-category').on('click', function () {
        myObj.goods.listData.path = $(this).data('path');
        myObj.goods.dropReloadList();
    });

    var myObj = {
        goods:{
            listData: {
                loading: false,
                ini: false,
                page: 0,
                page_total: 1,
                page_size: 15,
                path:'',
            },
            dropReloadList:function(){
                $('.marsk-container,.marsk-container1,.marsk-container2').hide();
                $(".marsk-container2").toggle();
                this.loadList(null);
            },
            loadList: function (me) {
                if (myObj.goods.listData.loading) {
                    return false;
                }

                myObj.goods.listData.page++;
                if (myObj.goods.listData.ini == true) {
                    if (myObj.goods.listData.page > myObj.goods.listData.page_total) {
                        if(me !== null){
                            me.resetload();
                        }
                        return false;
                    }
                }

                $.ajax({
                    url: "/weixin/shopapi/getGoodsList",
                    type: 'post',
                    data: {page: myObj.goods.listData.page, page_size: myObj.goods.listData.page_size,path:myObj.goods.listData.path},
                    dataType: 'json',
                    beforeSend: function () {
                        myObj.goods.listData.loading = true;
                    },
                    complete: function () {
                        myObj.goods.listData.loading = false;
                        // $(".marsk-container2").hide();
                    },
                    success: function (res) {
                        if (res.code == 200) {
                            if ( myObj.goods.listData.ini == false) {
                                myObj.goods.listData.ini = true;
                                myObj.goods.listData.page_total = res.data.page_total;
                                $('#container-list').html('');
                            }

                            layui.laytpl(templateList.innerHTML).render(res.data.rows, function(html){
                                $('#container-list').append(html);
                            });

                            if ( myObj.goods.listData.page >=  myObj.goods.listData.page_total) {
                                if(me !== null){
                                    me.noData();
                                }
                            }
                        }

                        if(me !== null){
                            me.resetload();
                        }
                    },
                    error:function(){
                        if(me !== null){
                            me.resetload();
                        }
                    }
                });
            }
        }
    };

    var dropload = $('#container').dropload({
        scrollArea: window,
        loadUpFn: function (me) {
            myObj.goods.listData.loading = false;
            myObj.goods.listData.ini = false;
            myObj.goods.listData.page = 0;
            myObj.goods.listData.page_total = 1;
            myObj.goods.listData.path = '';
            myObj.goods.loadList(me);
        },
        loadDownFn: function (me) {
            myObj.goods.loadList(me);
        }
    });
</script>
{/block}