{extend name="layout/layout" /}

{block name="cssOrcrsipt"}
    <link rel="stylesheet" href="/static/weixin/shop/css/index.css">
{/block}

{block name="main"}
<header style="z-index: 99999 !important;">
    <div class="wl-head">
        <div class="wl-top">
            <a href="/weixin/shop/searchGoods">
                <input type="text" placeholder="搜索您感兴趣的项目"></a>
        </div>
        <div class="wl-daohang">
            <ul>
                <li id="wl-quanbu">
                    全部项目 <i class="iconfont icon-shangsanjiaoxiangshangmianxing-copy qiehuan" style="font-size: 10px;color: #888888;margin-left: 2px"></i>
                </li>
                <li>
                    上海<i class="iconfont icon-shangsanjiaoxiangshangmianxing-copy"  style="font-size: 10px;color: #888888;margin-left: 4px"></i>
                </li>
                <li style="border: none;" id="wl-zhineng">
                    智能排序<i  class="iconfont icon-shangsanjiaoxiangshangmianxing-copy qiehuan2" style="font-size: 10px;color: #888888;margin-left: 5px"></i>
                </li>
            </ul>
        </div>
    </div>
</header>

<main style="padding-top: 70px;background:white;">
        <div id="container">
            <div id="container-list">

            </div>
        </div>
</main>

<div class="marsk-container">
    <div class="tkyy_con">
        <div class="tabbox">
            <ul class="wl-deji">
                <li data-path="" class="click-select-category href">全部项目</li>
                {foreach $categoryNav as $key=>$vo }
                    <li data-path="{$vo['id']}" class="click-select-category href" >{$vo['name']}</li>
                {/foreach}
            </ul>

            <div class="content">
                <div class="wl-d"></div>
                {foreach $categoryNav as $k=>$v }
                <div class="wl-d">
                    <div>
                        <span data-path="{$v['path']}" class="click-select-category href">查看全部 <i
                                class="iconfont icon-back_left-copy" style="font-size: 13px"></i></span>
                    </div>
                    {foreach $v['subclass'] as $k2=>$v2 }
                    <!--<div>-->
                        <!--<span class="click-select-category href" data-path="{$v2['path']}">-->
                            <!--{$v2['name']}-->
                            <!--<i class="iconfont icon-back_left-copy" style="font-size: 13px"></i>-->
                        <!--</span>-->
                        <!--<dl style="clear: both"></dl>-->
                        <!--<div class="wl-das">-->
                            <!--{foreach $v2['subclass'] as $k3=>$v3 }-->
                            <!--<div class="wl-maixian click-select-category href" data-path="{$v3['path']}">{$v3['name']}-->
                            <!--</div>-->
                            <!--{/foreach}-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<dl style="clear: both"></dl>-->
                    {/foreach}
                </div>
                {/foreach}
            </div>
        </div>
    </div>
</div>
    <div class="marsk-container1">
        <div class="tkyy_con1 click-select-sort">
            <p class="wl-xiao" data-sort="0" >默认排序</p>
            <p class="wl-xiao" data-sort="1">销量最高</p>
            <p class="wl-xiao" data-sort="2">日记最多</p>
            <p class="wl-xiao" data-sort="3">最新上架</p>
            <p class="wl-xiao" style="border: none;" data-sort="4">价格从高到低</p>
        </div>
    </div>
    <div class="marsk-container2" style="display: none">

        <div class="tkyy_con2">
            <div style="text-align: center;margin-top: 10px">
                <i class="layui-icon layui-icon-loading-1 layui-icon layui-anim layui-anim-rotate layui-anim-loop" style="color: white;font-size: 28px;"></i>
            </div>
            <div class="wl-jiazai">加载中...</div>
        </div>
    </div>
    <div class="wl-dingwei">
        <!--<span class="iconfont icon-shuaxin wl-shuaxin"></span>-->
        <span class="wl-haohuo" onclick="redream.href('/weixin/shop/haveGood')">有好货</span>
        <div class="wl-good">
            <dt class="iconfont icon-shuaxin wl-shuaxin "></dt>
            <dl class="iconfont icon-shangpin4 " onclick="redream.href('/weixin/shop/haveGood')"></dl>
            <dd class="iconfont icon-xiangshang1 wl-tingbu "></dd>
        </div>
    </div>
{include file="layout/footer" /}
{/block}

{block name="script"}
<script src="/static/plugin/layui/layui.all.js"></script>
<script id="templateList" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
    <div class="wl-shangping href to-goods-detail" data-goodsid="{{ item.id }}">
        <div class="wl-sp-img">
            <img src="{{item.img}}" />
        </div>
        <div class="wl-xiang href">
            <div class="wl-title">{{item.name}}</div>
            <div class="wl-yiyuan"><span class="wl-name">{{item.doctor_name}}</span><span class="wl-meirong">{{item.hospital_name}}</span></div>
            <div class="wl-yiyuan">{{item.sale_num}}人预订</div>
            <div class="wl-jiage">
                <span class="wl-jiage"><sub style="font-size: 8px">￥</sub><span>{{item.sell_price}}</span></span>
                <span class="wl-quchu">￥{{item.market_price}}</span>
            </div>
        </div>
        <dl style="clear: both"></dl>
    </div>
    {{#  }); }}
</script>
<script src="/static/weixin/viewjs/shop_index.js" type="text/javascript" charset="utf-8"></script>
{/block}