{extend name="layout/layout" /}

{block name="cssOrcrsipt"}
<link rel="stylesheet" href="/static/weixin/shop/css/order_details.css">
{/block}

{block name="main"}

<!--这里编写主体内容-->
<div style="width: 100%;height: 100%;background: #F2F2F2" id="tab">
    <header>
        <div class="wl-top">
            <i class="iconfont icon-back_light top-left" style="font-size: 25px;color: #333333" onclick="redream.toReferer()"></i>
            <span>订单详情</span>
        </div>
    </header>
    <main>
        <div class="wl-title" style="    padding: 0 10px 0 10px;">
            <span class="wl-top-title">{$data['order_info']['goods_name']}</span>
            <span class="wl-jiage1"><sub style="font-size: 8px">￥</sub><span>{$data['order_info']['goods_price']}</span></span>
        </div>
        <div style="clear: both"></div>
        <div >
            <div class="wl-shuliang">
                <div class="wl-zonghe">
                    <span class="wl-xiannv">数量</span>
                    <div class="wl-jiage1">
                        <span>1</span>
                    </div>
                </div>
                <div style="clear: both"></div>
                <div class="wl-zonghe">
                    <span class="wl-xiannv">{$mobile}</span>
                </div>
            </div>

            <div class="wl-zonghe1">
                <span class="wl-xiannv1 se">商家立减优惠，减 0.00元</span>
                <span class="wl-jiage2 ">-￥0.00 <span class="wl-bjtu"></span></span>
            </div>

            <div class="wl-zonghe1">
                <span class="wl-xiannv">订金金额</span>
                <span class="wl-jiage1 " style="color: #F24F4F">￥<span class="price">{$data['order_info']['prepay_price']}</span></span>
            </div>

            <div class="wl-zonghe1 qu">
                <span class="wl-xiannv">优惠金额</span>
                <span class="wl-jiage1" style="color: #F24F4F">-￥{$data['order_info']['discount_price']}</span>
            </div>

            <div class="wl-zonghe1 qu xian">
                <span class="wl-xiannv">到院消费后再付给医院</span>
                <span class="wl-jiage1" style="color: #F24F4F">￥{$data['order_info']['topay_price']}</span>
            </div>

            <div class="wl-zonghe1 qu ">
                <span class="wl-xiannv">应付商品总金额</span>
                <span class="wl-jiage1" style="color: #F24F4F">￥{$data['order_info']['payable_amount']}</span>
            </div>

            <div class="wl-zonghe1 qu">
                <span class="wl-xiannv">在线支付金额</span>
                <span class="wl-jiage1" style="color: #F24F4F">￥<span  id="total" >{$data['order_info']['real_amount']}</span></span>
            </div>
        </div>
        </div>
    </main>
    <footer>
        <div class="wl-foot-btn">
            <div style="float: right">
                <div>
                 <span class="wl-shifu"> 在线支付：<span style="color: #7DB0E8" >￥<span id="total1">{$data['order_info']['real_amount']}</span></span></span>
                    <a href="/weixin/shop/methodPayment?oid={$data['order_info']['id']}"><div class="wl-btn">提交订单</div></a>
                </div>
            </div>
        </div>
    </footer>
</div>

{/block}

{block name="script"}
<script>
    // $(function() {
    //     $(".add").click(function() {
    //         var t = $(this).parent().find('input[class*=text_box]');
    //         t.val(parseInt(t.val()) + 1);
    //         setTotal();
    //     });
    //
    //     $(".min").click(function() {
    //         var t = $(this).parent().find("input[class*=text_box]");
    //         t.val(parseInt(t.val()) - 1);
    //         if(parseInt(t.val()) < 0) {
    //             t.val(0);
    //         }
    //         setTotal()
    //     });
    //
    //     function setTotal() {
    //         var sum = 0;
    //         $("#tab").each(function() {
    //
    //             var num = parseInt($(this).find("input[class*=text_box]").val());
    //             var price = parseFloat($(this).find("span[class*=price]").text());
    //             sum += num * price;
    //         })
    //         $("#total,#total1").html(sum.toFixed(2));
    //     }
    //     setTotal();
    // });
</script>
{/block}