{extend name="layout/layout" /}

{block name="cssOrcrsipt"}
<link rel="stylesheet" href="/static/weixin/shop/css/pay_success.css">
<style>

</style>
{/block}

{block name="main"}

<!--这里编写主体内容-->
<div style="width: 100%;height: 100%;background: #F2F2F2" id="tab">
    <header>
        <div class="wl-top">
            <i class="iconfont icon-back_light top-left" style="font-size: 25px;color: #333333" onclick="redream.href('/weixin/shop/myOrder#all')"></i>
            <span>订单详情</span>
        </div>
    </header>
    <main>
        <div>
            <div class="wl-dingdan wl-bizonghe wl-diangdan-top">
                <div class="wl-top-img">
                    <img src="{$order_info['img']}" alt="">
                </div>
                <div class="wl-conter-top">
                    <dl class="wl-top-conter">{$order_info['goods_name']}</dl>
                    <dt>{$order_info['enterprise_name']}</dt>
                    <dt>￥{$order_info['goods_price']}</dt>
                </div>
                <div class="wl-zonghe2 wl-address">
                <span class="wl-xiannv">医院地址：{$order_info['address_detail']}</span>
                <span class="wl-jiage1 iconfont icon-back_left-copy" style="font-size: 10px"></span>
            </div>
                <div style="clear: both"></div>
            </div>
            <div class="wl-dingdan">
                <div class="wl-zonghe1">
                    <span class="wl-xiannv">订单号：{$order_info['order_no']}</span>
                </div>
                <div class="wl-zonghe1">
                    <span class="wl-xiannv">订单状态：已支付预付金</span>
                </div>
                <div class="wl-zonghe1">
                    <span class="wl-xiannv">预订手机：{$mobile}</span>
                </div>
                <div class="wl-zonghe1">
                    <span class="wl-xiannv">下单时间：{$order_info['create_time']|date='Y-m-d H:i'}</span>
                </div>
            </div>
            <div class="wl-dingdan" style="margin-top: 10px">
                <div class="wl-zonghe1">
                    <span class="wl-xiannv">支付方式</span>
                    <span class="wl-jiage1 ">支付订金</span>
                </div>
                <div class="wl-zonghe1">
                    <span class="wl-xiannv">订金价</span>
                    <span class="wl-jiage1 ">￥{$order_info['prepay_price']}</span>
                </div>
                <div class="wl-zonghe1">
                    <span class="wl-xiannv">订金优惠金额</span>
                    <span class="wl-jiage1 ">-￥{$order_info['discount_price']}</span>
                </div>
                <div class="wl-zonghe1">
                    <span class="wl-xiannv">到院消费后再付给医院</span>
                    <span class="wl-jiage1 ">￥{$order_info['topay_price']}</span>
                </div>
                <div class="wl-zonghe2">
                    <span class="wl-xiannv">在线支付金额</span>
                    <span class="wl-jiage1 " style="color: #F24F4F">￥{$order_info['real_amount']}</span>
                </div>
            </div>

        </div>
        <!--<div class="wl-success-errer">-->
            <!--<div class="wl-zhifu">-->
                <!--<dl class="iconfont icon-roundclose" style="font-size: 60px;color: #FF615C"></dl>-->
                <!--<dt>支付失败</dt>-->
            <!--</div>-->
            <!--<div class="wl-shibai">-->
                <!--<dl>您的余额不足，无法支付。</dl>-->
                <!--<dt>您所使用的这张银行卡的余额不足，无法支付。</dt>-->
                <!--<dt>由于网络系统的原因，您暂时无法付款，请稍后再使用。</dt>-->
                <!--<dd>您可能需要：<span style="color: #FF615C">选择其他银行卡付款或刷新</span></dd>-->
            <!--</div>-->
        <!--</div>-->
    </main>
</div>

{/block}

{block name="script"}
{/block}