{extend name="layout/layout" /}

{block name="cssOrcrsipt"}
<link rel="stylesheet" href="/static/weixin/shop/css/search_goods.css">
<link rel="stylesheet" href="https://img.ybl-group.com/mescroll/1.4.0/mescroll.min.css">
{/block}

{block name="main"}
<header class="wl-serch-dingwei">
        <div class="wl-top">
            <a href="/weixin/shop/index"><i class="iconfont icon-back_light top-left wl-left-return"></i></a><span>搜索商品</span>
        </div>
        <div class="wl-top1">
            <input type="text" placeholder="搜索您感兴趣的项目" autofocus="autofocus" id="fr-keywords"><button id="click-commodity-search">搜索</button>
        </div>
        <ul class="wl-deji">
            <li class="active">商品</li>
            <li>医生</li>
            <li>医院</li>
        </ul>
</header>

<div class="content mescroll" id="container"  >
    <div id="container-list"></div>
</div>

{/block}
{block name="script"}

<script src="/static/plugin/layui/layui.all.js"></script>
<script src="https://img.ybl-group.com/mescroll/1.4.0/mescroll.min.js" charset="utf-8"></script>
<script id="goodsTemplateList" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
    <div class="wl-shangping href to-goods-detail" data-goodsid="{{ item.id }}">
        <div class="wl-sp-img">
            <img src="{{item.img}}"/>
        </div>
        <div class="wl-xiang href">
            <div class="wl-title">{{item.name}}</div>
            <div class="wl-yiyuan"><span class="wl-name">{{item.doctor_name}}</span><span class="wl-meirong">{{item.hospital_name}}</span>
            </div>
            <div class="wl-yiyuan">{{item.sale_num}}人预订</div>
            <div class="wl-jiage">
                <span class="wl-jiage"><sub
                        style="font-size: 8px">￥</sub><span>{{item.sell_price}}</span></span>
                <span class="wl-quchu">￥{{item.market_price}}</span>
            </div>
        </div>
        <dl style="clear: both"></dl>
    </div>
    {{#  }); }}
</script>

<script id="hospitalTemplateList" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
        <div class="wl-shangping href to-goods-detail" >
            <div class="wl-sp-img">
                <img src="{{item.portrait}}">
            </div>
            <div class="wl-xiang href">
                <div class="wl-title1">{{item.hospital_name}} <span></span></div>
                <div class="wl-yiyuan">
                    <span class="wl-name1">医院类型:{{item.hospital_type}}</span>
                </div>
                <div class="wl-yiyuan wl-yudig"><span>0人预订 </span>|<span>0案例</span></div>
                <div class="wl-physicians">{{item.speciality}}</div>
            </div>
        </div>
    {{#  }); }}
</script>

<script id="doctorTemplateList" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
        <div class="wl-shangping href to-goods-detail" data-goodsid="2">
            <div class="wl-sp-img">
                <img src="{{item.portrait}}">
            </div>
            <div class="wl-xiang href">
                <div class="wl-title1">{{item.real_name}} <span></span></div>
                <div class="wl-yiyuan">
                    <span class="wl-name1">医生职称:{{item.duties}}</span>
                    <div class="wl-yiyuan wl-yudig"><span>0人预订 </span>|<span>0案例</span>
                    </div>
                    <div class="wl-physicians">{{item.speciality}}</div>
                </div>
            </div>
        </div>
    {{#  }); }}
</script>

<script src="/static/weixin/viewjs/shop/search-goods.js"></script>
{/block}