<!DOCTYPE html>
<html lang="en">
<head>
    <!--  <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />-->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,height=device-height, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=750px, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="telephone=no" name="format-detection"/>
    <link rel="stylesheet" type="text/css" href="/static/css/article_details.css"/>
    <title>用户中心</title>
    <script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/rem.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
<div class="con">
    <div class="ding"></div>
    <div class="wx-top">
        <p class="top1">{$article_info['title']}</p>
        <div class="wx-name">
            <img src="" alt="" class="wx-tou">
            <dl class="wx-yh">
                <dt style="font-size:0.28rem;color: #1D1D1D;font-weight: bold;">{$article_info['nickname']}</dt>
                <dd style="font-size:0.24rem;color: #898989;">{$article_info['published_time']}</dd>
            </dl>
            <button class="wx-rig">加好友</button>
        </div>
        <div>{$article_info['content']}</div>
        <p class="wx-fx" style="margin-top: 50px;">
            <button style="margin-left: 36px;">{$article_info['like']}</button>
            <button>分享朋友圈</button>
            <button>分享微信</button>
        </p>
        <p class="wx-xg">相关推荐</p>
        <div class="wzxq">
            <div class="wx-x">
                <h3>我是内容我是我是我是内容我是我是内容内容</h3>
                <p style="margin-top: -20px;"><span>用户名称</span> <span>99播放量</span></p>
            </div>
            <img src="" alt=""/>
        </div>
        <p class="ckgd">
            查看更多
        </p>
        <div class="pl" style="border-top:10px solid #F4F5F6 ;">
            <img src="" alt=""/>
            <div class="pin">
                <p class="xm"><span>姓名</span> <span>99</span></p>
                <p class="wx-p">我是内容我是内容我是内容我是内容我是内容我是内容我是内容</p>
                <p class="wx-hf"><span class="hf-sj">13个小时前</span>
                    <button>3回复</button>
                </p>
            </div>
        </div>
        <div class="pl">
            <img src="" alt=""/>
            <div class="pin">
                <p class="xm"><span>姓名</span> <span>99</span></p>
                <p class="wx-p">我是内容我是内容我是内容我是内容我是内容我是内容我是内容</p>
                <p class="wx-hf"><span class="hf-sj">13个小时前</span>
                    <button>3回复</button>
                </p>
            </div>
        </div>
        <p class="xs">已显示所有评论</p>
        <div class="wx-foot">
            <input type="text" placeholder="写评论..."/>
            <dl></dl>
            <dt></dt>

        </div>
    </div>
</body>
<script type="text/javascript">


    var objClass = {
        article_id:{$article_info['id']},
        recommendData:{
            ini:false,
            page:0,
            page_total:1,
            page_size:5
        },
        loadRecommendList:function(){
            this.recommendData.page++;

            if(this.recommendData.ini == true){
                if(this.recommendData.page > this.recommendData.page_total){
                    alert('没有更多推荐了');return false;
                }
            }

            $.ajax({
                url:"/weixin/article/getRelevantList",
                type:'post',
                data:{id:this.article_id,page:this.recommendData.page,page_size:this.recommendData.page_size},
                dataType:'json',
                success:function(res){
                    console.log(res);
                    if(res.code == 200){
                        var data = res.data;
                        if(objClass.recommendData.ini == false){
                            objClass.recommendData.ini = true;
                            objClass.recommendData.page_total = data.page_total;
                        }


                    }
                }
            });
        }
    };

    objClass.loadRecommendList();
</script>
</html>