<!DOCTYPE html>
<html lang="en">
	<head>
		<!--  <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta name="viewport" content="target-densitydpi=device-dpi, width=750px, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta content="telephone=no" name="format-detection" />
		<link rel="stylesheet" type="text/css" href="/static/css/article_video.css" />
		<title>用户中心</title>
		<script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/rem.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="con">
		<div class="wx-top">
			<a href="userMain.html"></a>
			<video src="" class="wx-video" controls="controls"></video>
		</div>
					<div class="wx-name">
				<img src="" alt="" class="wx-tou"/>
				<dl class="wx-yh">
					<dt style="font-size:0.28rem;color: #1D1D1D;font-weight: bold;">用户名称</dt>
					<dd style="font-size:0.24rem;color: #898989;"><span>99</span>好友</dd>
				</dl>
				<button class="wx-rig">加好友</button>
			</div>
			<div class="wx-bt">
				<p style="width: 604px;">的各个工地发的各个工地发生股份大股东发生生股份大股东发生</p><span></span>
				<p style="color: #898989;font-size: 0.22rem;"><span>99</span>次播放</p>
			</div>
		</div>
	</body>