<!DOCTYPE html>
<html lang="en">
	<head>
		<!--  <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta name="viewport" content="target-densitydpi=device-dpi, width=750px, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta content="telephone=no" name="format-detection" />
		<link rel="stylesheet" type="text/css" href="/static/css/article_details.css" />
		<title>用户中心</title>
		<script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/rem.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="con">
			<div class="ding"></div>
			<div class="wx-top">
			<p class="top1">我是标题我是标题我是标题我是标题我是标题我是标题.</p>
			<div class="wx-name">
				<img src="" alt="" /class="wx-tou">
				<dl class="wx-yh">
					<dt style="font-size:0.28rem;color: #1D1D1D;font-weight: bold;">用户名称</dt>
					<dd style="font-size:0.24rem;color: #898989;">发布时间</dd>
				</dl>
				<button class="wx-rig">加好友</button>
			</div>
			<p class="top2"> 我是标题我是标题我是标题我是标题我是标题我是标题我标题我是标题我是标题我标题我是标题我是标题我是标题我是 是标题我是标题我是标是标题我是标题我是我是标题我是标题我是标题我是 标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题</p>
			<img src="" alt="图片" class="wx-img" />
			<p class="top2" style="margin-top: 60px;"> 我是标题我是标题我是标题我是标题我是标题我是标题我标题我是标题我是标题我标题我是标题我是标题我是标题我是 是标题我是标题我是标是标题我是标题我是我是标题我是我是标题我是标题我是标题我是标题</p>
			<p class="wx-fx" style="margin-top: 50px;"><button style="margin-left: 36px;">1633</button>
				<button>分享朋友圈</button>
				<button>分享微信</button></p>
			<p class="wx-xg">相关推荐</p>
			<div class="wzxq">
			<div class="wx-x">
				<h3>我是内容我是我是我是内容我是我是内容内容</h3>
				<p style="margin-top: -20px;"> <span>用户名称</span> <span>99播放量</span></p>
			</div>
			<img src="" alt="" />
		</div>
		<div class="wzxq">
			<div class="wx-x">
				<h3>我是内容我是我是我是内容我是我是内容内容</h3>
				<p style="margin-top: -20px;"> <span>用户名称</span> <span>99播放量</span></p>
			</div>
			<img src="" alt="" />
		</div>
		<div class="wzxq">
			<div class="wx-x">
				<h3>我是内容我是我是我是内容我是我是内容内容</h3>
				<p style="margin-top: -20px;"> <span>用户名称</span> <span>99播放量</span></p>
			</div>
			<img src="" alt="" />
		</div>
		<div class="wzxq">
			<div class="wx-x">
				<h3>我是内容我是我是我是内容我是我是内容内容</h3>
				<p style="margin-top: -20px;"> <span>用户名称</span> <span>99播放量</span></p>
			</div>
			<img src="" alt="" />
		</div>
		<p class="ckgd">
			查看更多
		</p>
		<div class="pl" style="border-top:10px solid #F4F5F6 ;">
			<img src="" alt="" />
			<div class="pin">
				<p class="xm"><span>姓名</span> <span>99</span></p>
				<p class="wx-p">我是内容我是内容我是内容我是内容我是内容我是内容我是内容</p>
				<p class="wx-hf"><span class="hf-sj">13个小时前</span><button>3回复</button></p>
			</div>
		</div>
		<div class="pl" >
			<img src="" alt="" />
			<div class="pin">
				<p class="xm"><span>姓名</span> <span>99</span></p>
				<p class="wx-p">我是内容我是内容我是内容我是内容我是内容我是内容我是内容</p>
				<p class="wx-hf"><span class="hf-sj">13个小时前</span><button>3回复</button></p>
			</div>
		</div>
		<p class="xs">已显示所有评论</p>
		<div class="wx-foot">
			<input type="text" placeholder="写评论..."/><dl></dl><dt></dt>
			
		</div>
		</div>
	</body>
<script type="text/javascript">
</script>
</html>