<!DOCTYPE html>
<html lang="en">
	<head>
		<!--  <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta name="viewport" content="target-densitydpi=device-dpi, width=750px, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta content="telephone=no" name="format-detection" />
		<link rel="stylesheet" type="text/css" href="/static/css/pwesonal.css" />
		<title>用户中心</title>
		<script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/rem.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="con">
			<div class="wx-top">
				<img src="" alt="" />
				<dl >
					<dt>用户名称</dt>
					<dd>申请认证</dd>
				</dl>
				<a href="" class="tz"></a>
			</div>
			<div class="wx-wen">
				<dl style="margin-left: 20px;">
				   	<dt>99</dt>
					<dd>文章</dd>
				</dl>
				<dl>
				   	<dt>99</dt>
					<dd>文章</dd>
				</dl>
					<dl>
				   	<dt>99</dt>
					<dd>文章</dd>
				</dl>
				<dl>
				   	<dt>99</dt>
					<dd>文章</dd>
				</dl>
			</div>
			<div class="wx-sc">
				<dl >
				   	<dt class="sc"></dt>
					<dd>我的收藏</dd>
				</dl>
				<dl>
				   	<dt class="pl"></dt>
					<dd>我的评论</dd>
				</dl>
					<dl>
				   	<dt class="dz"></dt>
					<dd>我的点赞</dd>
				</dl>
				<dl>
				   	<dt class="ll"></dt>
					<dd>浏览历史</dd>
				</dl>
				<dl>
				   	<dt class="kf"></dt>
					<dd>客服中心</dd>
				</dl>
			</div>
			<div class="wx-n1">
				<dl>
					<dt>消息通知<span class="fh"></span></dt>
					<dd>用户认证<span  class="fh"></span></dd>
				</dl>
			</div>
			<div class="wx-n2">
				<dl>
					<dt>修改密码<span class="fh"></span></dt>
					<dd>修改手机号<span  class="fh"></span></dd>
				</dl>
			</div>
			<div class="wx-n3">
				<dl>
					<dt>修改密码<span style="color: #000000;font-size: 0.28rem;margin-left: 335px;">1994111200</span><span class="fh"></span></dt>
				</dl>
			</div>
			<button id="btn">退出登录</button>
		</div>
	</body>

</html>