<!DOCTYPE html>
<html lang="en">
	<head>
		<!--  <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta name="viewport" content="target-densitydpi=device-dpi, width=750px, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta content="telephone=no" name="format-detection" />
		<link rel="stylesheet" type="text/css" href="/static/css/pwesonal.css" />
		<title>用户中心</title>
		<script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/rem.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="con">
			<div class="wx-top">
				<img src="" alt="" />
				<dl >
					<dt>用户名称</dt>
					<dd>申请认证</dd>
				</dl>
				<a href="" class="tz"></a>
			</div>
			<div class="wx-wen">
				<dl style="margin-left: 20px;">
				   	<dt>99</dt>
					<dd>文章</dd>
				</dl>
				<dl>
				   	<dt>99</dt>
					<dd>文章</dd>
				</dl>
					<dl>
				   	<dt>99</dt>
					<dd>文章</dd>
				</dl>
				<dl>
				   	<dt>99</dt>
					<dd>文章</dd>
				</dl>
			</div>
			<div class="wx-sc">
				<dl style="margin-left: 20px;">
				   	<dt>99</dt>
					<dd>文章</dd>
				</dl>
				<dl>
				   	<dt>99</dt>
					<dd>文章</dd>
				</dl>
					<dl>
				   	<dt>99</dt>
					<dd>文章</dd>
				</dl>
				<dl>
				   	<dt>99</dt>
					<dd>文章</dd>
				</dl>
			</div>
		</div>
	</body>

</html>