<!DOCTYPE html>
<html lang="en">
<head>
    <!--  <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=750px, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="telephone=no" name="format-detection"/>
    <title>微琳医美</title>
    <link rel="stylesheet" type="text/css" href="/static/css/user_release.css"/>
    <script src="/static/js/rem.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/iconfont.css"/>


</head>
<style>

</style>
<body style="background: #ffffff;">
<header>
    <div class="wl-top" style="position: relative">
       <i class="iconfont icon-back_light" style="font-size: 40px;position: absolute;left: 20px;top:3px;"></i> 用户名称1
    </div>
</header>
<content>
    <div class="wl-biaoti">
        <img src="/static/image/user/tou.png" alt="" width="82" height="82" class="wl-das">
        <div class="wl-neirong1">
            <p class="wl-nei1">我是内容我是内我是内容我是内容我是内容我是内容我是内容我是内容容</p>
        </div>
        <div class="wl-neirr">
            <div class="wl-neirong2">
                <div class="wl-nei2">
                    我是内容我是内我是内容我是内容我是内容我是内容我是内容我是内容容
                    我是内容我是内我是内容我是内容我是内容我是内容我是内容我是内容容我是内容我是内我是内容我是内容我是内
                    容我是内容我是内容我是内容容我是内容我是内我是内容我是内容我是内
                    容我是内容我是内容我是内容容我是内容我是内容我是内容我是内容我是内容我是内容我是内容容我是内容我是内我是内容我是内容我是内
                    容我是内容我是内容我是内容容我是内容我是我是内容我是内容我是内容我是内容我是内容我是内容容我是内容我是内我是内容我是内容我是内
                </div>
            </div>
            <div class="wl-neirong3">
                <img src="" alt="" width="560" height="323" style="background: #EEEEEE;margin: 10px">
            </div>
            <div class="wl-neirong4">
                <p>5小时前</p>
            </div>
        </div>
    </div>
</content>
</body>
<script src="/static/js/jquery.min.js"></script>


</html>