<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商户后台管理系统</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/static/plugin/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="/static/seller/css/main.css">
    <script src="/static/plugin/admin/bower_components/jquery/dist/jquery.min.js"></script>
    {block name="css"}{/block}
    {block name="style"}{/block}
</head>
<body>
    {block name="main"}

    {/block}

    {block name="js"}

    {/block}
</body>
</html>