<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{$user_info['portrait']}" class="img-circle" onerror="this.src='/static/seller/image/tou.png'" width="90" height="90" />
            </div>
            <div class="pull-left info">
                <p>商户后台管理</p>
                <a href="#"><i class="fa fa-circle text-success"></i>
                    商户类型：{$user_info['type'] == 3 ? '医生' : ($user_info['type'] ==4 ? '医院' : '个人')}
                </a>
            </div>
        </div>

        <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview menu-open">
                <a href="#">
                    <i class="fa fa-shopping-cart"></i>
                    <span>商品管理</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" >
                    <li><a href="/seller/shop/addGood"><i class="fa fa-circle-o text-aqua"></i> 添加商品</a></li>
                    <li><a href="/seller/shop/index"><i class="fa fa-circle-o text-aqua"></i> 商品列表</a></li>
                    <li><a href="/seller/shop/goodsOrder"><i class="fa fa-circle-o text-aqua"></i> 订单列表</a></li>
                </ul>
            </li>

            <li class="treeview menu-open">
                <a href="#">
                    <i class="fa fa-fw fa-reorder"></i>
                    <span>我的管理</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" >
                    {if($user_info['type'] == 3)}
                        <li><a href="/seller/user/myhospital"><i class="fa fa-circle-o text-aqua"></i> 所属医院</a></li>
                    {else if($user_info['type'] == 4)}
                        <li><a href="/seller/user/mydoctor"><i class="fa fa-circle-o text-aqua"></i> 医生管理</a></li>
                    {/if}
                </ul>
            </li>

            <!--<li class="treeview menu-open">-->
                <!--<a href="#">-->
                    <!--<i class="fa fa-fw fa-reorder"></i>-->
                    <!--<span>案例管理</span>-->
                    <!--<span class="pull-right-container">-->
                      <!--<i class="fa fa-angle-left pull-right"></i>-->
                    <!--</span>-->
                <!--</a>-->
                <!--<ul class="treeview-menu" >-->
                    <!--<li><a href="/seller/user/mydoctor"><i class="fa fa-circle-o text-aqua"></i> 添加案例</a></li>-->
                    <!--<li><a href="/seller/user/myhospital"><i class="fa fa-circle-o text-aqua"></i> 我的案例</a></li>-->
                <!--</ul>-->
            <!--</li>-->
        </ul>
    </section>
</aside>