{extend name="layout/layout" /}

{block name="cssOrcrsipt"}

{/block}

{block name="main"}

    <div style="min-height: 300px;width: 100%;">
        <div class="web-content">
            <div class="web-content-left">
                {include file="layout:navigation" /}
            </div>

            <div class="web-content-right">
                <div style="height: 500px;width: 100%;background: #2c333c">

                </div>
            </div>
        </div>
    </div>
{/block}

{block name="script"}

{/block}