{extend name="layout/layout" /}

{block name="cssOrcrsipt"}

{/block}

{block name="main"}


    <div style="height: 100px;width: 100%;">
            <div style="width: 1200px;height:100%;margin: 0 auto;background: red">

            </div>
    </div>
    <div style="min-height: 300px;width: 100%;">
        <div style="width: 1200px;height:100%;margin: 0 auto;background: #802d1c">
            <div style="width: 15%;height: 100%;float: left;background: #0000ee"></div>
            <div style="width: 85%;height: 100%;float: right;background: grey">
                <div style="height: 500px;width: 100%;background: #2c333c">

                </div>
            </div>
        </div>
    </div>
{/block}

{block name="script"}

{/block}