{extend name="layout/layout" /}

{block name="css"}
<link rel="stylesheet" href="/static/plugin/layui/css/layui.css"  media="all">
{/block}

{block name="main"}

<section class="content">
    <div class="row">
        <div class="col-md-6" style="margin: 0 auto">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">入驻医院申请</h3>
                </div>
                <form class="form-horizontal" onsubmit="return false">
                    <div class="box-body">
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">医院名称</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="fr-select">
                                    <option>请选择申请的医院机构...</option>

                                    {foreach($list as $v)}
                                        <option value="{$v['id']}" >{$v['hospital_name']}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">申请备注</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3" placeholder="请填写备注信息" id="fr-textarea"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info pull-right" onclick="objClass.submit()">立即申请</button>
                        <button type="submit" class="btn btn-default pull-right" style="margin-right: 10px;">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{/block}

{block name="js"}
{js href="/static/plugin/layui/layui.all.js" /}


<script>

    var objClass = {
        loading:false,
        submit:function(){
            var data = {
                hospital_id:$('#fr-select').val(),
                remarks:$('#fr-textarea').val(),
                applicant:1
            };

            if(data.remarks == ''){
                layer.msg('申请备注不能为空');
            }else if(this.loading == false){
                $.ajax({
                    url: '/seller/user/createDoctorApply',
                    type: 'POST',
                    data:data,
                    dataType: "json",
                    success: function (res) {
                        objClass.loading = false;
                        if(res.code == 200){
                            layer.msg(res.msg, {icon: 1});
                        }else{
                            layer.msg(res.msg, {icon: 2});
                        }
                    },
                    error:function(){
                        objClass.loading = false;
                    }
                });
            }
        }
    };
</script>
{/block}