{extend name="layout/layout" /}

{block name="css"}
<link rel="stylesheet" href="/static/plugin/layui/css/layui.css"  media="all">
{/block}

{block name="main"}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="nav-tabs-custom" >
                <ul class="nav nav-tabs" id="my-tab">
                    <li class="active" data-id="tab-reload"><a href="#tab-box1" data-toggle="tab">所属医院</a></li>
                    <li data-id="tab-reload2"><a href="#tab-box2" data-toggle="tab">我的申请</a></li>
                    <li data-id=""><a href="#tab-box3" data-toggle="tab">医院邀请</a></li>
                </ul>
                <div class="tab-content" style="height: 100%;">
                    <div class="tab-pane active" id="tab-box1">
                        <div  class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="layui-hide" id="table-list" ></table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-box2">
                        <div  class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="layui-hide" id="table-list2" ></table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="tab-box3">
                        <div  class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="layui-hide" id="table-list3"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{/block}

{block name="js"}

<script type="text/html" id="box">
    <div class="col-md-12" style="margin: 0 auto;margin-top: 5px;">
        <div class="box" style="border-top: 1px solid #f4f4f4">
            <form class="form-horizontal" onsubmit="return false">
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">医院名称</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="fr-select">
                                <option>请选择申请的医院机构...</option>
                                {foreach($list as $v)}
                                <option value="{$v['id']}" >{$v['hospital_name']}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">申请备注</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" placeholder="(必填)请填写入驻医院备注信息..." id="fr-textarea" style="resize: none"></textarea>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button class="layui-btn layui-btn-sm layui-btn-normal pull-right" onclick="operationObj.submit()" style="margin-left: 10px !important;">立即申请</button>
                    <button class="layui-btn layui-btn-sm layui-btn-danger pull-right" onclick="layer.close(operationObj.boxIndex)">取消</button>
                </div>
            </form>
        </div>
    </div>
</script>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm btn-refresh-bg" onclick="objClass.reload('tab-reload')" ><i class="layui-icon layui-icon-refresh-3"></i></button>
        <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" onclick="operationObj.showBox()"><i class="layui-icon layui-icon-add-1" ></i>添加医院</button>
    </div>
</script>

<script type="text/html" id="toolbarDemo2">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm btn-refresh-bg" onclick="objClass.reload('tab-reload2')" ><i class="layui-icon layui-icon-refresh-3"></i></button>
        <!--<button type="button" class="layui-btn layui-btn-sm layui-btn-danger" onclick="objClass.confirmDel()"><i class="layui-icon layui-icon-delete"></i>删除</button>-->
    </div>
</script>

<script type="text/html" id="toolbarDemo3">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm btn-refresh-bg" onclick="objClass.reload('tab-reload3')" ><i class="layui-icon layui-icon-refresh-3"></i></button>
    </div>
</script>

{js href="/static/plugin/layui/layui.all.js" /}
{js href="/static/seller/js/user-myhospital.js" /}
{/block}