<header>
    <div class="layui-row">
        <div class="layui-col-xs12 layui-col-md12">
            <div class="web-header">
                <div class="web-header-content">
                    <div class="web-header-logo">

                    </div>
                    <div class="web-head-portrait">
                        <ul class="web-article">
                            <li>我的文章</li>
                            <li>分销商品</li>
                            <li>实名认证</li>
                            <li>商户管理</li>
                        </ul>

                        <ul class="web-reg">
                            <li class="web-top-login">登录</li>
                            <li class="web-top-login">注册</li>
                        </ul>
                        <div style="clear: both"></div>
                    </div>
            </div>
        </div>
        </div>
    </div>
</header>