<content>
    <div class="web-navigation-title">个人中心</div>
    <ul class="web-navigation">
        <li class="web-wenzhangliebiao"> <span></span>文章列表 <span></span></li>
    <ul class="web-daohang">
        <a href="/index/article/article"> <li><i class="iconfont icon-fabiao"></i>发表文章</li></a>
        <a href="/index/article/graphic"><li><i class="iconfont icon-wode1"></i>我的文章</li></a>
    </ul>
        <li class="web-wenzhangliebiao"> <span></span>分销商品 <span></span></li>
        <ul class="web-daohang">
        <li><i class="iconfont icon-shangpinliebiao"></i>商品列表</li>
        <li><i class="iconfont icon-fenxiaozhongxin"></i>分销列表</li>
    </ul>
        <li class="web-wenzhangliebiao"> <span></span>我的认证 <span></span></li>
        <ul class="web-daohang">
        <li><i class="iconfont icon-shimingrenzheng1"></i>实名认证</li>
        <li><i class="iconfont icon-shanghuguanli"></i>商户管理</li>
    </ul>
    </ul>
</content>