<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content>
    <title>微琳医美 - 实名认证</title>
    <link rel="stylesheet" href="/pc/css/relrase.css">
    <link rel="stylesheet" href="/static/css/iconfont.css">
    <style>
        button{cursor: pointer;}
        .cus-icon-tip{color: red;display: none;}
        .cus-input-err-tip{border: 1px solid red !important;}
        .code-hui{color: #cccccc;}

        .clo{border-radius: 20px !important;}
    </style>
</head>
<body  style="background: #F8F8F8"   >
<div class="wl-con" >
    <div class="wl-top" >
        <div style="position:relative;width:1265px;margin:0 auto;top:17px;left: 10px">
            <img src="/pc/image/logo1.png" alt="" >
        </div>
    </div>
    <div class="wl-zhanghao-box" style="position:relative;width:1265px;margin:0 auto;top:-80px;right: 42px;cursor: pointer">
        <div class="wl-zhanghao" style="right:0;">
            <p style="height: 80px;padding-top: 9px; background: #7DB0E8;" class="wl-xian"><span class="wl-toux"></span><span style="color: white;margin-left: 48px;float: left;margin-top: -1px;">用户名称</span><i class="iconfont icon-triangledownfill" style="color: white;"></i> </p>
            <div class="wl-cang" style="display: none">
                <p class="wl-xiany" id="wl-anquan" onclick="redream.href('/index/user/main')"><i class="iconfont icon-shezhi" style="font-size: 22px;margin-right: 10px"></i>账号设置</p>
                <p class="wl-xiany"><i class="iconfont icon-guanbi" style="font-size: 18px;margin-right: 10px"></i>退出登录</p>
            </div>
        </div>
    </div>
    <div class="tab-box" >
        <div class="wl-fabiao" style="cursor: pointer" onclick="redream.href('/index/article/article')">发表文章</div>
        <ul class="renzheng">
            <div class="wl-xian1">
                <span class="wl-shimin"><i class="iconfont icon-medal_light wl-xz" style="font-size: 30px"></i>实名认证</span><i class="iconfont icon-triangledownfill wl-sxia" style="font-size: 20px"></i>
            </div>
            <div class="wl-cang1" >
                <li class="active">个人认证</li>
                <li>医生认证</li>
                <li>医院认证</li>
                <li>官方认证</li>
            </div>
        </ul>
        <div class="tab-content" style="position: relative;" >
            <!--个人认证页面-->
            <div class="active-txt wl-geren">
                <p>个人认证</p>
                <p class="wl-zhen" style="margin-top: 15px">真实姓名 <input type="text" placeholder="请输入真实姓名" id="fr1-username" ><span class="cus-icon-tip">&nbsp;<i class="iconfont icon-info" style="font-size: 20px;"></i></span></p>
                <p class="wl-zhen">身份证号  <input type="text" placeholder="请务必与上传的身份证件号码保持一致" id="fr1-idcard"><span class="cus-icon-tip">&nbsp;<i class="iconfont icon-info" style="font-size: 20px;"></i></span></p>
                <dl style="position: relative">
                    <p class="wl-zhen" style="margin-top: 35px">上传身份证照片</p>
                    <dl style="width:300px;clear: both;min-height: 200px;padding-left: 10px;padding-top: 38px;">
                        <dt style="float: left;width: 87%;margin-left: 47px;" >
                            <dt style="width: 138px;height: 138px;border:2px dashed #cdcdcd; border-radius: 25px; position: absolute;top: 118px;left: 56px;cursor: pointer ">
                                <dl style="position: absolute;width: 134px;height: 134px;cursor: pointer;  top: 23px;left: 13px;" class="wl-dt">
                                    <dd class="iconfont icon-xiangji" style="font-size: 50px;color:#cdcdcd;margin-left: 30px;z-index: 2"></dd>
                                    <dt style="color: #cdcdcd;margin-right: 10px;cursor: pointer">添加身份证正面</dt>
                                </dl>

                                <img id="portrait" class="clo" src="" style="display:none;" width="134"height="134" style="border-radius: 10px;width: 134px;height: 134px"/>
                                <form id="fr1-from" enctype='multipart/form-data'>
                                    <input type="file"  id="fr1-file-btn"   name="imgFile" class="file"  style="width: 134px;height: 134px;opacity: 0;z-index: 3;cursor: pointer"  />
                                </form>
                            </dt>
                        </dt>
                        <span class="wl-sc-js">支持绝大多数的图片格式，单张图片大小不超过10M。</span>
                    </dl>
                    <dl style="width:300px;clear: both;min-height: 200px;padding-left: 10px;padding-top: 38px;">
                        <dt style="float: left;width: 87%;margin-left: 47px;" >
                        <dt style="width: 138px;height: 138px;border:2px dashed #cdcdcd; border-radius: 25px; position: absolute;top: 118px;left: 220px; ">
                            <dl style="position: absolute;width: 134px;height: 134px;cursor: pointer;  top: 23px;left: 13px;" class="wl-dt1">
                                <dd class="iconfont icon-xiangji" style="font-size: 50px;color:#cdcdcd;margin-left: 30px;z-index: 2"></dd>
                                <dt style="color: #cdcdcd;margin-right: 10px;cursor: pointer">添加身份证反面</dt>
                            </dl>

                            <img id="portrait1" class="clo"  width="134"height="134" style="border-radius: 10px;width: 134px;height: 134px;display:none;"/>
                            <input type="file" name="img1"  style="width: 134px;height: 134px;opacity: 0;z-index: 3;cursor: pointer" onchange="showPreview1(this)"/>
                        </dt>
                        </dt>
                    </dl>
                </dl>
                <p class="wl-btn"><button onclick="objClass.submit1()">提交申请</button></p>
            </div>
            <!--医生认证页面-->
            <div class="wl-geren1" style="height: 1200px">
                <p>医生认证</p>
                <p class="wl-zhen1" style="margin-top: 15px">真实姓名 <input type="text" placeholder="请输入真实姓名" id="fr2-username"></p>
                <p class="wl-zhen1">身份证号  <input type="text" placeholder="请务必与上传的身份证件号码保持一致" id="fr2-idcard"></p>
                <p class="wl-zhen1">医师职称  <input type="text" placeholder="请输入最高职称" id="fr2-academic-title"></p>
                <p class="wl-zhen1">所在地区  <input type="text" placeholder="请输入户籍所在地" id="fr2-address"></p>
                <dl style="position: relative;height: 300px" >
                    <p class="wl-zhen" style="margin-top: 35px">上传身份证照片</p>
                    <dl style="width:300px;clear: both;min-height: 200px;padding-left: 10px;padding-top: 38px;">
                        <dt style="float: left;width: 87%;margin-left: 47px;" >
                        <dt style="width: 138px;height: 138px;border:2px dashed #cdcdcd; border-radius: 25px; position: absolute;top: 118px;left: 56px; ">
                            <dl style="position: absolute;width: 134px;height: 134px;cursor: pointer;  top: 23px;left: 13px;"  class="wl-dt3">
                                <!--padding-left: 30px;padding-top: 20px;-->
                                <dd class="iconfont icon-xiangji" style="font-size: 50px;color:#cdcdcd;margin-left: 30px;z-index: 2"></dd>
                                <dt style="color: #cdcdcd;margin-right: 10px;cursor: pointer">添加身份证正面</dt>
                            </dl>
                            <img id="portrait3"class="clo" src="" style="display:none;" width="134"height="134" style="border-radius: 10px;width: 134px;height: 134px"/>
                            <input type="file" name="img2" a  style="width: 134px;height: 134px;opacity: 0;z-index: 3;cursor: pointer"onchange="showPreview3(this)" />
                        </dt>
                        </dt>
                    </dl>
                    <dl style="width:300px;clear: both;min-height: 200px;padding-left: 10px;padding-top: 38px;">
                        <dt style="float: left;width: 87%;margin-left: 47px;" >
                        <dt style="width: 138px;height: 138px;border:2px dashed #cdcdcd; border-radius: 25px; position: absolute;top: 118px;left: 220px; ">
                            <dl style="position: absolute;width: 134px;height: 134px;cursor: pointer;  top: 23px;left: 13px;" class="wl-dt4">
                                <!--padding-left: 30px;padding-top: 20px;-->
                                <dd class="iconfont icon-xiangji" style="font-size: 50px;color:#cdcdcd;margin-left: 30px;z-index: 2"></dd>
                                <dt style="color: #cdcdcd;margin-right: 10px;cursor: pointer">添加身份证反面</dt>
                            </dl>
                            <img id="portrait4"class="clo" src="" style="display:none;" width="134"height="134" style="border-radius: 10px;width: 134px;height: 134px"/>
                            <input type="file" name="img3" a  style="width: 134px;height: 134px;opacity: 0;z-index: 3;cursor: pointer" onchange="showPreview4(this)"/>
                        </dt>
                        </dt>
                    </dl>
                    <span class="wl-sc-js">支持绝大多数的图片格式，单张图片大小不超过10M。</span>
                </dl>
                <dl style="position: relative;height: 300px">
                    <p class="wl-zhen" style="margin-top: 35px">上传资质证明</p>
                    <dl style="width:300px;clear: both;min-height: 200px;padding-left: 10px;padding-top: 38px;">
                        <dt style="float: left;width: 87%;margin-left: 47px;" >
                        <dt style="width: 138px;height: 138px;border:2px dashed #cdcdcd; border-radius: 25px; position: absolute;top: 118px;left: 56px; ">
                            <dl style="position: absolute;width: 134px;height: 134px;cursor: pointer;  top: 17px;left: 30px; " class="wl-dt5">
                                <!--padding-left: 30px;padding-top: 20px;-->
                                <dd class="iconfont icon-xiangji" style="font-size: 50px;color:#cdcdcd;margin-left: 13px;z-index: 2"></dd>
                                <dt style="color: #cdcdcd;margin-right: 10px;cursor: pointer">添加执业证</dt>
                            </dl>
                        <img id="portrait5"class="clo" src="" style="display:none;" width="134"height="134" style="border-radius: 10px;width: 134px;height: 134px"/>
                            <input type="file" name="img4" a  style="width: 134px;height: 134px;opacity: 0;z-index: 3;cursor: pointer"onchange="showPreview5(this)"/>
                        </dt>
                        </dt>
                    </dl>
                    <dl style="width:300px;clear: both;min-height: 200px;padding-left: 10px;padding-top: 38px;">
                        <dt style="float: left;width: 87%;margin-left: 47px;" >
                        <dt style="width: 138px;height: 138px;border:2px dashed #cdcdcd; border-radius: 25px; position: absolute;top: 118px;left: 220px; ">
                            <dl style="position: absolute;width: 134px;height: 134px;cursor: pointer;  top: 17px;left: 13px;"class="wl-dt6">
                                <!--padding-left: 30px;padding-top: 20px;-->
                                <dd class="iconfont icon-xiangji" style="font-size: 50px;color:#cdcdcd;margin-left: 30px;z-index: 2"></dd>
                                <dt style="color: #cdcdcd;margin-right: 10px;cursor: pointer">添加资质证明</dt>
                            </dl>
                        <img id="portrait6"class="clo" src="" style="display:none;" width="134"height="134" style="border-radius: 10px;width: 134px;height: 134px"/>
                            <input type="file" name="img5" a  style="width: 134px;height: 134px;opacity: 0;z-index: 3;cursor: pointer"onchange="showPreview6(this)"/>
                        </dt>
                        </dt>
                    </dl>
                    <span class="wl-sc-js">支持绝大多数的图片格式，单张图片大小不超过10M。</span>
                </dl>

                <p class="wl-btn1"><button onclick="objClass.submit2()">提交申请</button></p>
            </div>
            <!--医院机构认证页面-->
            <div class="wl-geren2" style="height: 1400px">
                <p>医院/机构认证</p>
                <p class="wl-zhen2" style="margin-top: 15px">医院名称 <input type="text" placeholder="请与组织机构代码证或营业执照名称一致"  style="margin-left: 75px"></p>
                <p class="wl-zhen2">运营者姓名  <input type="text" placeholder="请输入运营者姓名" id="fr3-username" style="margin-left: 61px"></p>
                <p class="wl-zhen2">运营者身份证号  <input type="text" placeholder="请务必与上传的身份证件号码保持一致" id="fr3-idcard" ></p>
                <p class="wl-zhen3">运营者手机号  <input type="text" placeholder="请输入运营者手机号码" id="fr3-mobile" style="width: 679px;margin-left: 46px" maxlength="11"  onkeyup = "value=value.replace(/[^\d]/g,'')" ><span class="wl-huoqu " id="code-btn" style="cursor: pointer" onclick="objClass.sendSms1()">获取验证码</span></p>
                <p class="wl-zhen3">短信验证码  <input type="text" placeholder="请输入你收到的6位验证码" id="fr3-smd-code" style="width: 495px ;margin-left: 62px" maxlength="6" onkeyup = "value=value.replace(/[^\d]/g,'')" ></p>
                <p class="wl-zhen2">所在地区  <input type="text" placeholder="请输入医院/机构所在地区" id="fr3-address" style="margin-left: 78px"></p>
                <p class="wl-zhen2">擅长项目  <input type="text" placeholder="请输入医院/机构擅长项目" id="fr3-good-project" style="margin-left: 78px"></p>

                <dl style="position: relative;height: 300px" >
                    <p class="wl-zhen" style="margin-top: 35px">上传身份证照片</p>
                    <dl style="width:300px;clear: both;min-height: 200px;padding-left: 10px;padding-top: 38px;">
                        <dt style="float: left;width: 87%;margin-left: 47px;" >
                        <dt style="width: 138px;height: 138px;border:2px dashed #cdcdcd; border-radius: 25px; position: absolute;top: 118px;left: 56px; ">
                            <dl style="position: absolute;width: 134px;height: 134px;cursor: pointer;  top: 23px;left: 13px;"class="wl-dt7">
                                <!--padding-left: 30px;padding-top: 20px;-->
                                <dd class="iconfont icon-xiangji" style="font-size: 50px;color:#cdcdcd;margin-left: 30px;z-index: 2"></dd>
                                <dt style="color: #cdcdcd;margin-right: 10px;cursor: pointer">添加身份证正面</dt>
                            </dl>
                            <img id="portrait7"class="clo" src="" style="display:none;" width="134"height="134" style="border-radius: 10px;width: 134px;height: 134px"/>

                                <input type="file" name="img6" a  style="width: 134px;height: 134px;opacity: 0;z-index: 3;cursor: pointer"onchange="showPreview7(this)"/>

                        </dt>
                        </dt>
                    </dl>
                    <dl style="width:300px;clear: both;min-height: 200px;padding-left: 10px;padding-top: 38px;">
                        <dt style="float: left;width: 87%;margin-left: 47px;" >
                        <dt style="width: 138px;height: 138px;border:2px dashed #cdcdcd; border-radius: 25px; position: absolute;top: 118px;left: 220px; ">
                            <dl style="position: absolute;width: 134px;height: 134px;cursor: pointer;  top: 23px;left: 13px;"class="wl-dt8">
                                <!--padding-left: 30px;padding-top: 20px;-->
                                <dd class="iconfont icon-xiangji" style="font-size: 50px;color:#cdcdcd;margin-left: 30px;z-index: 2"></dd>
                                <dt style="color: #cdcdcd;margin-right: 10px;cursor: pointer">添加身份证反面</dt>
                            </dl>
                        <img id="portrait8"class="clo" src="" style="display:none;" width="134"height="134" style="border-radius: 10px;width: 134px;height: 134px"/>
                            <input type="file" name="img7" a  style="width: 134px;height: 134px;opacity: 0;z-index: 3;cursor: pointer"onchange="showPreview8(this)"/>
                        </dt>
                        </dt>
                    </dl>
                    <span class="wl-sc-js">支持绝大多数的图片格式，单张图片大小不超过10M。</span>
                </dl>
                <dl style="position: relative;height: 300px" >
                    <p class="wl-zhen" style="margin-top: 35px">上传医院营业证件</p>
                    <dl style="width:300px;clear: both;min-height: 200px;padding-left: 10px;padding-top: 38px;">
                        <dt style="float: left;width: 87%;margin-left: 47px;" >
                        <dt style="width: 138px;height: 138px;border:2px dashed #cdcdcd; border-radius: 25px; position: absolute;top: 118px;left: 56px; ">
                            <dl style="position: absolute;width: 134px;height: 134px;cursor: pointer;  top: 17px;left: 20px;"class="wl-dt9">
                                <!--padding-left: 30px;padding-top: 20px;-->
                                <dd class="iconfont icon-xiangji" style="font-size: 50px;color:#cdcdcd;margin-left: 22px;z-index: 2"></dd>
                                <dt style="color: #cdcdcd;margin-right: 10px;cursor: pointer">添加营业执照</dt>
                            </dl>
                        <img id="portrait9"class="clo" src="" style="display:none;" width="134"height="134" style="border-radius: 10px;width: 134px;height: 134px"/>
                            <input type="file" name="img8" a  style="width: 134px;height: 134px;opacity: 0;z-index: 3;cursor: pointer"onchange="showPreview9(this)"/>
                        </dt>
                        </dt>
                    </dl>
                    <span class="wl-sc-js">支持绝大多数的图片格式，单张图片大小不超过10M。</span>
                </dl>
                <p class="wl-btn2"><button>提交申请</button></p>
            </div>
            <!--官方企业认证页面-->
            <div class="wl-geren3" style="height: 1250px" >
                <p>官方企业认证</p>
                <p class="wl-zhen3" style="margin-top: 15px;">企业名称 <input type="text" placeholder="请与组织机构代码证或营业执照名称一致" style="margin-left: 77px"></p>
                <p class="wl-zhen3" >运营者姓名  <input type="text" placeholder="请输入运营者姓名" id="fr4-username" style="width: 679px;margin-left: 61px" ></p>
                <p class="wl-zhen1">身份证号  <input type="text" placeholder="请务必与上传的身份证件号码保持一致" id="fr4-idcard" style="margin-left: 76px" ></p>
                <p class="wl-zhen3" >运营者手机号码  <input type="text" placeholder="请输入运营者手机号码" style="width: 679px;" id="fr4-mobile" onkeyup = "value=value.replace(/[^\d]/g,'')" ><span class="wl-huoqu " id="code-btn2" style="cursor: pointer" onclick="objClass.sendSms2()">获取验证码</span></p>
                <p class="wl-zhen3" > 短信验证码  <input type="text" placeholder="请输入你收到的6位验证码" id="fr4-smd-code" style="width: 495px ;margin-left: 62px" maxlength="6" onkeyup = "value=value.replace(/[^\d]/g,'')"></p>
                <dl style="position: relative;height: 300px" >
                    <p class="wl-zhen" style="margin-top: 35px">上传身份证照片</p>
                    <dl style="width:300px;clear: both;min-height: 200px;padding-left: 10px;padding-top: 38px;">
                        <dt style="float: left;width: 87%;margin-left: 47px;" >
                        <dt style="width: 138px;height: 138px;border:2px dashed #cdcdcd; border-radius: 25px; position: absolute;top: 118px;left: 56px; ">
                            <dl style="position: absolute;width: 134px;height: 134px;cursor: pointer;  top: 23px;left: 13px;" class="wl-d1">
                                <!--padding-left: 30px;padding-top: 20px;-->
                                <dd class="iconfont icon-xiangji" style="font-size: 50px;color:#cdcdcd;margin-left: 30px;z-index: 2"></dd>
                                <dt style="color: #cdcdcd;margin-right: 10px;cursor: pointer">添加身份证正面</dt>
                            </dl>
                        <img id="portrai1"class="clo" src="" style="display:none;" width="134"height="134" style="border-radius: 10px;width: 134px;height: 134px"/>
                            <input type="file" name="img" a  style="width: 134px;height: 134px;opacity: 0;z-index: 3;cursor: pointer" onchange="showPrevi(this)"/>
                        </dt>
                        </dt>
                    </dl>
                    <dl style="width:300px;clear: both;min-height: 200px;padding-left: 10px;padding-top: 38px;">
                        <dt style="float: left;width: 87%;margin-left: 47px;" >
                        <dt style="width: 138px;height: 138px;border:2px dashed #cdcdcd; border-radius: 25px; position: absolute;top: 118px;left: 220px; ">
                            <dl style="position: absolute;width: 134px;height: 134px;cursor: pointer;  top: 23px;left: 13px;" class="wl-d2">
                                <!--padding-left: 30px;padding-top: 20px;-->
                                <dd class="iconfont icon-xiangji" style="font-size: 50px;color:#cdcdcd;margin-left: 30px;z-index: 2"></dd>
                                <dt style="color: #cdcdcd;margin-right: 10px;cursor: pointer">添加身份证反面</dt>
                            </dl>
                        <img id="portrai2"class="clo" src="" style="display:none;" width="134"height="134" style="border-radius: 10px;width: 134px;height: 134px"/>
                            <input type="file" name="img" a  style="width: 134px;height: 134px;opacity: 0;z-index: 3;cursor: pointer" onchange="showPrevi1(this)"/>
                        </dt>
                        </dt>
                    </dl>
                    <span class="wl-sc-js">支持绝大多数的图片格式，单张图片大小不超过10M。</span>
                </dl>
                <dl style="position: relative;height: 300px" >
                    <p class="wl-zhen" style="margin-top: 35px">上传企业工商营业执照</p>
                    <dl style="width:300px;clear: both;min-height: 200px;padding-left: 10px;padding-top: 38px;">
                        <dt style="float: left;width: 87%;margin-left: 47px;" >
                        <dt style="width: 138px;height: 138px;border:2px dashed #cdcdcd; border-radius: 25px; position: absolute;top: 118px;left: 56px; ">
                            <dl style="position: absolute;width: 134px;height: 134px;cursor: pointer;  top: 17px;left: 19px;"  class="wl-d3">
                                <!--padding-left: 30px;padding-top: 20px;-->
                                <dd class="iconfont icon-xiangji" style="font-size: 50px;color:#cdcdcd;margin-left: 22px;z-index: 2"></dd>
                                <dt style="color: #cdcdcd;margin-right: 10px;cursor: pointer">添加营业执照</dt>
                            </dl>
                        <img id="portrai3"class="clo" src="" style="display:none;" width="134"height="134" style="border-radius: 10px;width: 134px;height: 134px"/>
                            <input type="file" name="img" a  style="width: 134px;height: 134px;opacity: 0;z-index: 3;cursor: pointer"onchange="showPrevi2(this)"/>
                        </dt>
                        </dt>
                    </dl>
                    <span class="wl-sc-js">支持绝大多数的图片格式，单张图片大小不超过10M。</span>
                </dl>
                <p class="wl-btn3"><button>提交申请</button></p>
            </div>
        </div>
        <!--等待审核信息页面-->
        <div class="wl-liucheng" style="display: none">
            <div class="wl-jindu">
               <span style="float: left;margin-top: -5px;margin-left: 190px;margin-right: 20px"> <span class="iconfont icon-shuziyi" style="color:#7DB0E8 ;font-size: 25px"></span>提交认证信息</span> <i class="iconfont icon-hengxian" style="color:#7DB0E8 ;font-size: 57px;float: left"></i>
              <span style="float: left;margin-top: -5px;margin-left: 30px;margin-right: 40px">  <span class="iconfont icon-shuzier" style="color:#7DB0E8;font-size: 25px "></span>等待审核结果</span><span class="iconfont icon-hengxian" style="color:#7DB0E8 ;font-size: 57px;float: left"></span>
               <span style="float: left;margin-top: -5px;margin-left: 30px"> <span class="iconfont icon-shuzisan-copy" style="font-size: 25px;color: #C8C8C8"></span>认证结果发布</span>
            </div>
            <div class="wl-jieguo">
                <dl style="font-size: 28px;color: #333333">正在审核中，请耐心等待2-5个工作日</dl>
                <dd style="font-size: 16px;color: #999999;margin-top: 56px">如在2-5个工作日未得到认证结果，请你发送邮件至</dd>
                <dt style="font-size: 16px;color: #999999;margin-top: 20px"><span style="color:#F24F4F">820361933@qq.com</span>&nbsp;与我们取得联系</dt>
            <button>刷新</button>
            </div>
        </div>
        <!--认证信息失败页面-->
        <div class="wl-liucheng"  style="display: none">
            <div class="wl-jindu">
                <span style="float: left;margin-top: -5px;margin-left: 190px;margin-right: 20px"> <span class="iconfont icon-shuziyi" style="color:#7DB0E8 ;font-size: 25px"></span>提交认证信息</span> <i class="iconfont icon-hengxian" style="color:#7DB0E8 ;font-size: 57px;float: left"></i>
                <span style="float: left;margin-top: -5px;margin-left: 30px;margin-right: 40px">  <span class="iconfont icon-shuzier" style="color:#7DB0E8;font-size: 25px "></span>等待审核结果</span><span class="iconfont icon-hengxian" style="color:#7DB0E8 ;font-size: 57px;float: left"></span>
                <span style="float: left;margin-top: -5px;margin-left: 30px"> <span class="iconfont icon-shuzisan-copy" style="font-size: 25px;color: #7DB0E8"></span>认证结果发布</span>
            </div>
            <div class="wl-jieguo1">
                <dl style="font-size: 28px;text-align: center">很遗憾，您认证审核未通过</dl>
                <dd style="font-size: 16px;margin-top: 66px">很遗憾您的认证申请未通过审核，请完善认证信息并再次提交审核，谢谢！</dd>
                <dd style="font-size: 20px;margin-top: 44px">未通过原因:</dd>
                <dt style="font-size: 16px;margin-top: 27px">1.确认提交照片是否清晰，与绑定手机用户是否一致。</dt>
                <dt style="font-size: 16px;margin-top: 19px">2.确认提交姓名与身份证姓名是否一致。</dt>
                <dt style="font-size: 16px;margin-top: 19px">3.手机号绑定用户与身份证姓名是否一致</dt>
                <button>重新申请认证</button>
            </div>
        </div>
        <!--认证信息通过页面-->
        <div class="wl-liucheng"  style="display: none" >
            <div class="wl-jindu">
                <span style="float: left;margin-top: -5px;margin-left: 190px;margin-right: 20px"> <span class="iconfont icon-shuziyi" style="color:#7DB0E8 ;font-size: 25px"></span>提交认证信息</span> <i class="iconfont icon-hengxian" style="color:#7DB0E8 ;font-size: 57px;float: left"></i>
                <span style="float: left;margin-top: -5px;margin-left: 30px;margin-right: 40px">  <span class="iconfont icon-shuzier" style="color:#7DB0E8;font-size: 25px "></span>等待审核结果</span><span class="iconfont icon-hengxian" style="color:#7DB0E8 ;font-size: 57px;float: left"></span>
                <span style="float: left;margin-top: -5px;margin-left: 30px"> <span class="iconfont icon-shuzisan-copy" style="font-size: 25px;color: #7DB0E8"></span>认证结果发布</span>
            </div>
            <div class="wl-jieguo2">
                <dl class="iconfont icon-roundcheck" style="color: #7DB0E8;font-size: 90px"></dl>
                <dd style="font-size: 28px;margin-top: 51px">恭喜你，您的认证审核已通过</dd>
                <dt style="font-size: 16px;margin-top: 29px">您已成为薇琳医美认证会员</dt>
                <button>知道了</button>
            </div>
        </div>
    </div>
</div>

</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/functions.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/verification-code.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    var codeObj = new VerificationCode('code-btn','获取验证码','code-hui');
    codeObj.run();

    var codeObj2 = new VerificationCode('code-btn2','获取验证码','code-hui');
    codeObj2.run();

    $(".tab-box li").each(function(index) {
        $(this).click(function() {
            $("li.active").removeClass("active"); //注意这里
            $(this).addClass("active");
            $(".tab-content div.active-txt").removeClass("active-txt");
            $(".tab-content div").eq(index).addClass("active-txt");
        });
    });

    $(".wl-xian").click(function () {
        $(".wl-cang").toggle();
    });

    $(".wl-shimin").click(function () {
        $(".wl-cang1").toggle();
    });

    var objClass = {
        loading:false,
        sendSmsCode:false,
        checkMobile:function(mobile){
            var reg_phone = /^[1][3,4,5,7,8][0-9]{9}$/;
            return reg_phone.test(mobile);
        },
        submit1:function(){
            var username  = $.trim($('#fr1-username').val());
            var idcard    = $.trim($('#fr1-idcard').val());
            var card_img1 = '';
            var card_img2 = '';

            if(username == ''){
                $('#fr1-username').addClass('cus-input-err-tip').next().show();
                return false;
            }else{
                $('#fr1-username').removeClass('cus-input-err-tip').next().hide();
            }

            if(idcard == ''){
                $('#fr1-idcard').addClass('cus-input-err-tip').next().show();
                return false;
            }else{
                $('#fr1-idcard').removeClass('cus-input-err-tip').next().hide();
            }

            if(card_img1 == ''){
                alert('请上传身份证正面照');
                return false;
            }

            if(card_img2 == ''){
                alert('请上传身份证反面照');
                return false;
            }

            if(!this.loading){
                this.ajax({type:1,username:username,idcard:idcard,card_img1:card_img1,card_img2:card_img2});
            }
        },
        submit2:function(){
            var username  = $.trim($('#fr2-username').val());
            var idcard    = $.trim($('#fr2-idcard').val());
            var card_img1 = '';
            var card_img2 = '';
            var address = $.trim($('#fr2-address').val());
            var academic_title = $.trim($('#fr2-academic-title').val());
            var qualification = '';

            if(username == ''){
                return false;
            }

            if(idcard == ''){
                return false;
            }


            if(card_img1 == ''){
                return false;
            }

            if(card_img2 == ''){
                return false;
            }

            if(address == ''){
                return false;
            }

            if(qualification == ''){
                return false;
            }

            var practice_certificate = '';
            if(practice_certificate == ''){
                return false;
            }
            if(!this.loading){
                this.ajax({type:2,username:username,idcard:idcard,card_img1:card_img1,card_img2:card_img2,qualification:qualification,practice_certificate:practice_certificate,address:address,academic_title:academic_title});
            }
        },
        submit3:function(){
            var username  = $.trim($('#fr3-username').val());
            var idcard    = $.trim($('#fr3-idcard').val());
            var card_img1 = '';
            var card_img2 = '';
            var enterprise_name = '';
            var business_licence = '';
            var sms_code = $.trim($('#fr3-sms-code').val());
            var mobile = $('#fr3-mobile').val();
            var address = $.trim($('#fr3-address').val());


            if(username == ''){
                return false;
            }

            if(idcard == ''){
                return false;
            }


            if(card_img1 == ''){
                return false;
            }

            if(card_img2 == ''){
                return false;
            }

            if(address == ''){
                return false;
            }

            if(enterprise_name == ''){
                return false;
            }

            if(address == ''){
                return false;
            }

            if(mobile == ''){
                return false;
            }
            if(sms_code == ''){
                return false;
            }

            if(!this.loading){
                this.ajax({type:3,username:username,idcard:idcard,card_img1:card_img1,card_img2:card_img2,enterprise_name:enterprise_name,business_licence:business_licence,sms_code:sms_code,mobile:mobile});
            }
        },
        submit4:function(){
            var username  = $.trim($('#fr4-username').val());
            var idcard    = $.trim($('#fr4-idcard').val());
            var card_img1 = '';
            var card_img2 = '';
            var enterprise_name = '';
            var business_licence = '';
            var sms_code = $.trim($('#fr4-sms-code').val());
            var mobile = $('#fr4-mobile').val();

            if(enterprise_name == ''){
                return false;
            }

            if(username == ''){
                return false;
            }

            if(idcard == ''){
                return false;
            }

            if(mobile == ''){
                return false;
            }

            if(sms_code == ''){
                return false;
            }

            if(card_img1 == ''){
                return false;
            }

            if(card_img2 == ''){
                return false;
            }

            if(!this.loading){
                this.ajax({type:4,username:username,idcard:idcard,card_img1:card_img1,card_img2:card_img2,enterprise_name:enterprise_name,business_licence:business_licence,sms_code:sms_code,mobile:mobile});
            }
        },
        ajax:function(type,data){
            $.ajax({
                url:"/index/user/addAuth",
                type:'post',
                data:data,
                dataType:'json',
                beforeSend:function(){
                    objClass.loading = true;
                },
                complete:function(){
                    objClass.loading = false;
                },
                success:function(res){
                    if(res.code == 200){
                        objClass.submitSuccess();
                    }else{
                        alert(res.msg);
                    }
                }
            });
        },
        submitSuccess:function(){
            alert('提交申请成功');
        },
        sendSms1:function(){
            var mobile = $('#fr3-mobile').val();
            if(!this.checkMobile(mobile)){
                alert('手机号格式不正确');
                return false;
            }
            if(codeObj.checkTime()){
                return false;
            }
            if(!this.sendSmsCode){
                $.ajax({
                    url:"/index/index/sendSmsCode",
                    type:'post',
                    data:{mobile:mobile,type:7},
                    dataType:'json',
                    beforeSend:function(){
                        objClass.sendSmsCode = true;
                    },
                    complete:function(){
                        objClass.sendSmsCode = false;
                    },
                    success:function(res){
                        if(res.code == 200){
                            codeObj.sendSmsCode();
                            return false;
                        }
                    }
                });
            }
        },
        sendSms2:function(){
            var mobile = $('#fr4-mobile').val();
            if(!this.checkMobile(mobile)){
                alert('手机号格式不正确');
                return false;
            }
            if(codeObj.checkTime()){
                return false;
            }
            if(!this.sendSmsCode){
                $.ajax({
                    url:"/index/index/sendSmsCode",
                    type:'post',
                    data:{mobile:mobile,type:7},
                    dataType:'json',
                    beforeSend:function(){
                        objClass.sendSmsCode = true;
                    },
                    complete:function(){
                        objClass.sendSmsCode = false;
                    },
                    success:function(res){
                        if(res.code == 200){
                            codeObj2.sendSmsCode();
                            return false;
                        }
                    }
                });
            }
        }
    };

    $("#fr1-file-btn").on("change", function () {
        var formData = new FormData($('#fr1-from')[0]);
        formData.append('type',2);
        $.ajax({
            url: '/index/Upload/uploadImgFile',
            type: 'POST',
            cache: false,
            data: formData,
            processData: false,
            contentType: false,
            dataType: "json",
            success: function (res) {
                if(res.code == 200){
                    $('#portrait').attr('src',res.data.url).css("opacity",1).show();
                    $('#portrait').prev().hide();
                }
            }
        });
    });

</script>
<script src="/static/js/portrait.js"></script>
</html>