<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content>
    <title>Title</title>
    <style>
        .wl-con{
            width: 100%;
            height: 1080px;
            background: url("/pc/image/PC-404.png")no-repeat  center;
            background-size: cover;
        }
    </style>
</head>
<body  style="background: #F8F8F8"   >
<div class="wl-con" >
</div>
</body>
</html>