{extend name="layout/layout" /}

{block name="cssOrcrsipt"}
<!--<link rel="stylesheet" href="/static/web/css1/published_article.css">-->
<link rel="stylesheet" href="/static/web/css1/modify_userinfo.css">
<link rel="stylesheet" href="/static/plugin/layui/css/layui.css">
{/block}

{block name="main"}

<div class="web-content">
    <div class="web-content-left">
        {include file="layout:navigation" /}
    </div>
    <div class="web-content-right">
        <ul class="wl-deji">
            <li class="active">修改手机号</li>
            <li>修改密码</li>
        </ul>
        <div style="clear: both"></div>

        <div class="content">
            <div class="wl-d active">
                <div class="web-validation">
                    <ul>
                        <li class="web-line">
                            <dl class="web-radius">1<span class="web-henxian-right"></span></dl>
                            <dt>请验证你的旧手机号</dt>
                        </li>
                        <li class="web-line1">
                            <dl class="web-radius1"><span class="web-henxian-left1"></span>2<span class="web-henxian-right1"></span></dl>
                            <dt>请绑定新的手机号码</dt>
                        </li>
                        <li class="web-line2">
                            <dl class="web-radius2"><span class="web-henxian-left2"></span>3</dl>
                            <dt>完成</dt>
                        </li>
                    </ul>
                </div>
                <!--修改手机号第一步-->
                <div class="wl-process web-phone">
                    <div class="web-top-name">
                        <ul>
                            <li class="web-binding-phone">已绑定手机号</li><li>{$user_info['mobile']|mobileFilter}</li>
                        </ul>
                    </div>
                    <div class="web-top-name">
                        <ul>
                            <li class="web-binding-phone">验证码</li>
                            <li style="position: relative">
                                <input type="text" placeholder="请输入你收到的验证码" class="web-input" id="fr-sms-code1"  style="width: 45%" onkeyup="value=value.replace(/[^\d]/g,'')" maxlength="6">
                                <span class="wl-huqou" onclick="objClass.sendSms1()" id="code-btn1">获取验证码</span>
                            <li style="position: absolute;right: 240px">
                                <span class="web-error" ><i class="iconfont icon-tishi"></i>
                                    <span class="web-code1">验证码不能为空</span>
                                </span>
                            </li>
                            </li>

                        </ul>
                    </div>
                    <div>
                       <p style="padding-left: 33.5%;color: #FC7D7D" id="fr-sms-code-tip" ></p>
                    </div>
                    <div style="clear: both"></div>
                    <div class="wl-top-btn1">
                        <div class="web-btn1" onclick="objClass.verify1()" style="margin-left: 33.5%;" >立即修改</div>
                    </div>
                </div>
                <!--修改手机号第二步-->
                <div class="web-phone wl-process wl-hidden">
                    <div class="web-top-name">
                        <ul>
                            <li class="web-binding-phone">新手机号<span class="web-se">*</span></li>
                            <li>
                                <input type="text" placeholder="请输入您的手机号" class="web-input"  id="fr-new-mobile" onkeyup="value=value.replace(/[^\d]/g,'')" maxlength="11">
                                <span class="web-error" id="error">
                                    <i class="iconfont icon-tishi"></i>
                                    <span class="web-code">手机号不能为空</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="web-top-name ">
                        <ul>
                            <li class="web-binding-phone">验证码 <span class="web-se">*</span></li>
                            <li>
                                <input type="text" placeholder="请输入你收到的验证码" class="web-input" style="width: 45%" id="fr-sms-code2" onkeyup="value=value.replace(/[^\d]/g,'')" maxlength="6">
                                <span class="wl-huqou" id="code-btn2" onclick="objClass.sendSms2()">获取验证码</span>
                                <span class="web-error" id="error1">
                                    <i class="iconfont icon-tishi"></i><span class="web-code1">验证码不能为空</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <p style="padding-left: 33.5%;color: #FC7D7D" id="fr-sms-code-tip1" ></p>
                    </div>
                    <div style="clear: both"></div>
                    <div class="wl-top-btn1">
                        <div class="web-btn1" onclick="objClass.changeMobile()"  style="margin-left: 33.5%;">立即修改</div>
                    </div>
                </div>
                <!--修改手机号成功-->
                <div class="web-phone1 wl-process  wl-hidden">
                    <dl><i class="iconfont icon-roundcheck web-phone-success"></i></dl>
                    <dt>恭喜你手机号修改成功！</dt>
                    <dd>完成</dd>
                </div>
            </div>
            <!--修改密码-->
            <div class="wl-d">
                <div class="web-queren">请通过已绑定手机<span>{$user_info['mobile']|mobileFilter}</span> 进行验证！</div>
                <input type="hidden" value="{$user_info['mobile']}" id="fr-box1-mobile"/>
                <div class="web-top-name">
                    <ul>
                        <li class="web-information">输入验证码 <span class="web-se">*</span></li>
                        <li>
                            <input type="text" placeholder="请输入你收到的验证码" class="web-input" style="width: 40%" id="fr-box1-sms-code" onkeyup="value=value.replace(/[^\d]/g,'')" maxlength="6">
                            <span class="wl-huqou" id="code-btn3" onclick="objClass.sendSms3()" style="width: 18%;">获取验证码</span>
                            <span class="web-error" id="error2">
                                <i class="iconfont icon-tishi"></i>
                                <span class="web-code2">验证码不能为空</span>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="web-top-name">
                    <ul>
                        <li class="web-information">设置新密码 <span class="web-se">*</span></li>
                        <li>
                            <input type="password" placeholder="请输入新密码" class="web-input" style="width: 60.5%" id="fr-box1-password" maxlength="18">
                            <span class="web-error" id="error3"><i class="iconfont icon-tishi"></i>
                                <span class="web-code3">请输入新密码</span>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="web-top-name">
                    <ul>
                        <li class="web-information">确认新密码 <span class="web-se">*</span></li>
                        <li>
                            <input type="password" placeholder="请确认您的新密码" class="web-input" style="width: 60.5%" id="fr-box1-password2" maxlength="18">
                            <span class="web-error" id="error4">
                                <i class="iconfont icon-tishi"></i>
                                <span class="web-code4">请确认您的新密码</span>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="wl-top-btn1">
                    <div class="web-btn1" onclick="objClass.submit()" id="fr-box2-btn">立即修改</div>
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/static/js/functions.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/plugin/layui/layui.js"></script>
<script src="/static/plugin/jquery.smscode.js"></script>
<script type="text/javascript" >
    const mobile = "{$user_info['mobile']}";

    $(".wl-deji li").click(function () {　　　　 //获取点击的元素给其添加样式，讲其兄弟元素的样式移除
        $(this).addClass("active").siblings().removeClass("active");　　　　 //获取选中元素的下标
        var index = $(this).index();
        $(this).parent().siblings().children().eq(index).addClass("active").siblings().removeClass("active");
    });

    //获取修改手机号验证码
    var code1 = new Code('code-btn1', '获取验证码', 'wl-sms-disable', 'pc-security-sms1', 60);
    var code2 = new Code('code-btn2', '获取验证码', 'wl-sms-disable', 'pc-security-sms2', 60);
    var code3 = new Code('code-btn3', '获取验证码', 'wl-sms-disable', 'pc-security-sms3', 60);

    var objClass = {
        loading: false,
        sendSmsCode: false,
        verify_code:'',
        changeMobileLoading:false,
        errr: function (msg) {
            $('#cus-changepwd-err-tip').fadeIn("slow").delay(3000).fadeOut().text(msg);
        },
        submit: function () {

            var sms_code = $('#fr-box1-sms-code').val();
            var password = $('#fr-box1-password').val();
            var password1 = $('#fr-box1-password2').val();
            $('.web-error').hide();
            if (sms_code == '') {
                $('#error2').show();
                return false;
            }else if(sms_code.length !=6 ){
                $('#error2').show().find('.web-code2').text('验证码格式错误');
            } else if (password == '') {
                $('#error3').show();
                return false;
            } else if (!redream.checkPassword(password)) {
                $('#error3').show().find('span').text('密码格式错误');
                return false;
            } else if (password1 == '') {
                $('#error4').show();
                return false;
            } else if (password != password1) {
                $('#error4').show().find('.web-code4').text('两次密码输入不一致!');
                return false;
            } else if (!this.loading) {
                $.ajax({
                    url: "/index/user/modifyPassword",
                    type: 'post',
                    data: {password: password, sms_code: sms_code},
                    dataType: 'json',
                    beforeSend: function () {
                        objClass.loading = true;
                        $('#fr-box2-btn').text('修改中...');
                    },
                    complete: function () {
                        objClass.loading = false;
                        $('#fr-box2-btn').text('立即修改');
                    },
                    success: function (res) {
                        if (res.code == 200) {
                            objClass.loading = true;
                            $('#fr-box1-sms-code').val('');
                            $('#fr-box1-password').val('');
                            $('#fr-box1-password2').val('');
                            $('#fr-box2-btn').removeClass('wl-main-bg-color').prop('disabled', true);
                            alert('恭喜您，密码修改成功！！！');
                        }else{
                            $('#error2').show().find('.web-code2').text('验证码错误');
                        }
                    }
                });
            }
        },
        sendSms1:function(){
            if(!code1.checkTime()){
                this.send(8,mobile,function(res){
                    if(res.code == 200){
                        code1.trigger();
                    }else{
                        $('#error2').show().find('.web-code2').text('验证码发送失败');
                    }
                });
            }
        },
        sendSms2:function(){
            var mobile = $('#fr-new-mobile').val();
            if (!redream.checkMobile(mobile)) {
                $('#fr-sms-code-tip1').text('手机号格式错误！');
                return false;
            }

            if(!code2.checkTime()){
                this.send(6,mobile,function(res){
                    if(res.code == 200){
                        code2.trigger();
                    }else{
                        $('#fr-sms-code-tip').text('验证码发送失败');
                    }
                });
            }
        },
        sendSms3:function(){
            if(!code3.checkTime()){
                this.send(5,mobile,function(res){
                    if(res.code == 200){
                        code3.trigger();
                    }else{
                        $('#fr-sms-code-tip').text('验证码发送失败');
                    }
                });
            }
        },
        //验证手机号
        verify1:function(){
            var code = $('#fr-sms-code1').val();
            $('.web-error').hide();
            if(code == ''){
                $('#fr-sms-code-tip').text('验证码不能为空！');
                return false;
            }else if(code.length !=6){
                $('#fr-sms-code-tip').text('验证码格式错误！');
                return false;
            }
            $.ajax({
                url: "/index/user/verifyCode",
                type: 'post',
                data: {mobile: mobile, type: 8,sms_code:code},
                dataType: 'json',
                success: function(res){
                    if(res.code == 200){
                        $('.wl-process').addClass('wl-hidden');
                        $('.wl-process').eq(1).removeClass('wl-hidden');
                        $('.web-henxian-left1').addClass('web-color');
                        $('.web-radius1').addClass('web-radius');
                        $('.web-henxian-right1').addClass('web-color');
                        objClass.verify_code = res.data.verify_code;
                    }else {
                        $('#fr-sms-code-tip').text('验证码错误！');
                    }
                }
            });
        },

        changeMobile:function(){
            var mobile = $('#fr-new-mobile').val();
            var code   = $('#fr-sms-code2').val();

            if(!redream.checkMobile(mobile)){
                $('#fr-sms-code-tip1').text('手机号格式错误！');
                return false;
            }else if(code.length !=6){
                $('#fr-sms-code-tip1').text('验证码格式错误！');
                return false;
            }else if(this.changeMobileLoading == false){
                this.changeMobileLoading = true;
                $.ajax({
                    url: "/index/user/modifyMobile",
                    type: 'post',
                    data: {mobile: mobile, sms_code: code,verify_code:this.verify_code},
                    dataType: 'json',
                    success: function(res){
                        if(res.code == 200){
                            $('.wl-process').addClass('wl-hidden');
                            $('.wl-process').eq(2).removeClass('wl-hidden');
                            $('.web-henxian-left2').addClass('web-color');
                            $('.web-radius2').addClass('web-radius');
                            setTimeout(function(){
                                window.location.reload();
                            },3000);
                        }else{
                            objClass.changeMobileLoading = false;
                            $('#fr-sms-code-tip1').text('验证码错误！');
                        }
                    },
                    error:function(){
                        objClass.changeMobileLoading = false;
                    }
                });
            }
        },

        //发送短信验证码
        send:function(type,mobile,callback){
            $.ajax({
                url: "/index/index/sendSmsCode",
                type: 'post',
                data: {mobile: mobile, type: type},
                dataType: 'json',
                success: callback
            });
        }
    };
</script>
{/block}